{% extends 'layout.twig' %}
{% block title %}Logowanie{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    <div class="row">
        <div id="box-login" class="col-sm-7">
            <h1>Logowanie do systemu</h1>

            {{ form_open({'method': 'POST', 'role': 'form', 'url': route('login'), 'class': 'form-horizontal'}) }}
                {{ forms.element(form_text('name', input_old('name'), {'class': 'form-control', 'autofocus': 'autofucs'}), 'Nazwa użytkownika', errors.first('name')) }}
                {{ forms.password('password', 'Hasło', '', errors.first('password')) }}
                {{ forms.checkbox('remember', 'Zapamiętaj mnie', 1, input_old('remember', true)) }}

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary" style="margin-right: 15px;" data-submit-state="Logowanie...">
                            Logowanie
                        </button>

                        <a href="{{ url('Password') }}">Zapomniałeś hasła?</a>
                    </div>
                </div>
            {{ form_close() }}
        </div>

        <div id="box-login-sidebar" class="col-sm-5 hidden-xs">
            <div>
                <h2>Nie masz konta?</h2>

                <blockquote>Rejestracja zajmuje tylko kilka sekund i jest darmowa. Pozwoli Ci to aktywnie korzystać z naszego serwisu</blockquote>
                <a class="btn btn-default" href="{{ route('register') }}"><i class="fa fa-sign-in"></i> Utwórz konto za darmo</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/auth.css">
{% endblock %}