{% extends 'layout' %}
{% block title %}Logowanie{{ parent() }}{% endblock %}

{% block header %}
  {# Remove header #}
{% endblock %}

{% block breadcrumbs %}
  {# Remove breadcrumbs #}
{% endblock %}

{% block fixed %}
  <div class="row mt-4">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
      {% if session_has('success') %}
        <div class="alert alert-success mt-3">
          {{ icon('alertSuccess') }}
          {{ session_get('success') }}
        </div>
      {% endif %}
      {% if session_has('error') %}
        <div class="alert alert-danger mt-3">
          {{ icon('alertDanger') }}
          {{ session_get('error') }}
        </div>
      {% endif %}
      
      {% include 'auth.oauth' %}

      {# ten kod jest tutaj na potrzeby pluginu socialize. przekazuje on w GET komunikat bledu #}
      {# niestety z jakiegos powodu nie mozna tego komunikatu przekazac w sesji #}
      {% if request().has('error') %}
        <div class="alert alert-danger">
          {{ request().get('error') }}
        </div>
      {% endif %}

      {{ form_start(form) }}
      {{ form_row(form.name) }}
      {{ form_row(form.password) }}

      <div class="form-group">
        {{ form_widget(form.submit) }}

        <a href="{{ url('Password') }}" style="margin-left: 15px">Zapomniałeś hasła?</a>
      </div>
      {{ form_end() }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {# Remove footer #}
{% endblock %}
