{% extends 'layout' %}
{% block title %}Przypominanie hasła{{ parent() }}{% endblock %}

{% import 'legacyComponents.forms' as forms %}

{% block container %}
    <div class="alert alert-warning">
        <ul style="padding-left: 10px">
            <li>Aby skorzystać z opcji przypominania hasła, prosimy wpisać swój adres e-mail podany w panelu użytkownika.</li>
            <li>Jeżeli <b>nie podałeś</b> adresu e-mail w panelu użytkownika, nie możesz skorzystać z opcji przypominania hasła.</li>
            <li>Jeżeli Twój adres e-mail <b>nie był potwierdzony</b> musisz go najpierw potwierdzić korzystając z <a class="alert-link" href="{{ url('Confirm') }}">weryfikacji adresu e-mail</a>.</li>
        </ul>

        <br />W przypadku problemów z odzyskaniem dostępu do konta prosimy o <a class="alert-link" href="{{ url('Kontakt') }}">kontakt z administracją</a>.
    </div>

    {% if errors.any %}
        <div class="alert alert-danger">
            {{ errors.first(email)|raw }}
        </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            Formularz przypominania hasła
        </div>
        <div class="card-body">
            {{ form_open({'method': 'POST', 'role': 'form', 'url': url('Password')}) }}
            {{ forms.element(form_text('email', input_old('email'), {'class': 'form-control'}), 'E-mail') }}
            {{ forms.submit('Wyślij link resetujący hasło', 'Wysyłanie...') }}
            {{ form_close() }}
        </div>
    </div>
{% endblock %}
