{% extends 'layout.twig' %}
{% block title %}Przypominanie hasła{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    <div class="alert alert-warning">
        Aby skorzystać z opcji przypominania hasła, prosimy wpisać swój login oraz e-mail podany w panelu użytkownika.<br />Jeżeli <b>nie podałeś</b> adresu e-mail w panelu użytkownika, nie możesz skorzystać z opcji przypominania hasła.<br />Jeżeli Twój adres e-mail <b>nie był potwierdzony</b> musisz go najpierw potwierdzić korzystając z <a href="/User/Confirm">weryfikacji adresu e-mail</a>.<br /><br />W przypadku problemów z odzyskaniem dostępu do konta prosimy o <a href="/Kontakt">kontakt z administracją</a>.
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Formularz przypominania hasła
        </div>
        <div class="panel-body">
            {{ form_open({'method': 'POST', 'role': 'form', 'url': '/Password', 'class': 'form-horizontal'}) }}
            {{ forms.text('email', 'E-mail', input_old('email'), errors.first('email')) }}
            {{ forms.submit('Wyślij link resetujący hasło', 'Wysyłanie...') }}
            {{ form_close() }}
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

