{% extends 'layout' %}
{% block title %}Rejestracja{{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script type="text/javascript">
    function onSubmit() {
      document.getElementById("js-register-form").submit();
    }
  </script>
{% endblock %}

{% block container %}
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <div class="row">
        <div id="box-register" class="col-sm-7">
          <div class="row">
            <div class="col-10">
              {% include 'auth.oauth' %}

              {# ten kod jest tutaj na potrzeby pluginu socialize. przekazuje on w GET komunikat bledu #}
              {# niestety z jakiegos powodu nie mozna tego komunikatu przekazac w sesji #}
              {% if request().has('error') %}
                <div class="alert alert-danger">
                  {{ request().get('error') }}
                </div>
              {% endif %}

              {{ form_start(form) }}
              {{ form_row(form.name) }}
              {{ form_row(form.password) }}
              {{ form_row(form.password_confirmation) }}
              {{ form_row(form.email) }}
              {{ form_row(form.email_confirmation) }}
              {{ form_row(form.terms) }}
              {{ form_row(form.marketing_agreement) }}
              <div class="form-group">
                <small class="form-text text-muted">
                  Administratorem danych osobowych podanych w formularzu rejestracyjnym jest Makana sp. z o.o. z
                  siedzibą przy ul.&nbsp;Krupniczej&nbsp;13 we Wrocławiu (50-075). Twoje dane osobowe będą przetwarzane
                  w celu utworzenia i dalszego utrzymywania konta w serwisie 4programmers.net, w szczególności w celu
                  umożliwienia korzystania z usługi zgodnie z <a href="/Regulamin">Regulaminem</a>. W przypadku
                  wyrażenia <a href="/Zgody">zgody</a> na otrzymywanie informacji handlowych będziemy przetwarzać Twoje
                  dane osobowe w celach marketingowych tj., w celu kierowania na podany przez Ciebie adres e-mail
                  informacji handlowych w zakresie objętym wyrażoną zgodą. Wycofanie zgody na otrzymywanie informacji
                  handlowych jest możliwe w dowolnym momencie, co nie wpływa na zgodność przetwarzania danych
                  zrealizowanego przed jej wycofaniem. Więcej informacji o przetwarzaniu danych osobowych oraz Twoich
                  prawach z tym związanych znajdziesz w naszej <a href="/Polityka_prywatności">Polityce Prywatności</a>.
                </small>
              </div>
              {{ form_row(form.submit) }}
              {{ form_end(form) }}
            </div>
          </div>
        </div>

        <div id="box-register-sidebar" class="col-sm-5 d-sm-none d-md-block p-5">
          <blockquote>
            Rejestracja zajmuje tylko kilka sekund i jest darmowa. Pozwoli Ci
            to aktywnie korzystać z naszego serwisu
          </blockquote>

          <h2>Korzyści wynikające z rejestracji konta</h2>

          <ul class="list-unstyled">
            <li>Możliwość edycji oraz pisania artykułów</li>
            <li>Obserwowanie wątków na forum</li>
            <li>Śledzenie zmian w artykułach czy komentarzach</li>
            <li>System szeregu powiadomień o aktywności na stronie</li>
            <li>Pisanie własnego mikrobloga</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
