{% extends 'layout' %}
{% block title %}Przypominanie hasła{{ parent() }}{% endblock %}

{% import 'legacyComponents.forms' as forms %}

{% block container %}
    <div class="card">
        <div class="card-header">
            Formularz odzyskiwania hasła
        </div>
        <div class="card-body">
            {{ form_open({'method': 'POST', 'role': 'form', 'url': url('password/reset')}) }}
            {{ form_hidden('token', token) }}
            {{ forms.text('email', 'E-mail', input_old('email', request('email')), {}, 'Proszę podać swój adres e-mail oraz nowe hasło do konta.') }}
            {{ forms.password('password', 'Hasło', '') }}
            {{ forms.password('password_confirmation', 'Hasło (powtórnie)', '') }}
            {{ forms.submit('Ustaw nowe hasło', 'Wysyłanie...') }}
            {{ form_close() }}
        </div>
    </div>
{% endblock %}
