{% extends 'layout.twig' %}
{% block title %}Przypominanie hasła{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Formularz przypominania hasła
        </div>
        <div class="panel-body">
            {{ form_open({'method': 'POST', 'role': 'form', 'url': '/Password/reset', 'class': 'form-horizontal'}) }}
            {{ form_hidden('token', token) }}
            {{ forms.text('email', 'E-mail', input_old('email'), errors.first('email')) }}
            {{ forms.password('password', 'Hasło', '', errors.first('password')) }}
            {{ forms.password('password_confirmation', 'Hasło (powtórnie)', '', errors.first('password_confirmation')) }}
            {{ forms.submit('Ustaw nowe hasło', 'Wysyłanie...') }}
            {{ form_close() }}
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

