<article id="entry-{{ id }}" class="microblog">
    <div class="panel panel-default panel-microblog">
        <div class="panel-body">
            <div class="media">
                <div class="media-left" style="padding-right: 15px">
                    <a href="{{ route('profile', [user_id]) }}">
                        <img class="media-object img-thumbnail" src="{{ user_photo(photo) }}" style="width: 50px; height: 50px;" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <div class="dropdown pull-right">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="microblog-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="microblog-menu">
                            <li><a href="{{ route('microblog.save', [id]) }}" class="btn-edit" data-id="{{ id }}"><i class="fa fa-edit fa-fw"></i> Edytuj</a></li>
                            <li><a href="{{ route('microblog.delete', [id]) }}" class="btn-remove" data-id="{{ id }}"><i class="fa fa-remove fa-fw"></i> Usuń</a></li>
                        </ul>
                    </div>

                    <h5 class="media-heading">{{ link_to_profile(user_id, name, is_active, is_blocked) }}</h5>
                    <a href="{{ route('microblog.view', [id]) }}#entry-{{ id }}" title="{{ created_at|format_date(false) }}" class="timestamp" data-timestamp="{{ created_at|timestamp }}">{{ created_at|format_date }}</a>

                    <div class="microblog-text">
                        {% include 'microblog/_microblog_text.twig' %}
                    </div>

                    <div class="microblog-footer">
                        <a href="{{ route('microblog.vote', [id]) }}" class="btn btn-thumbs {{ thumbs_on ? 'thumbs-on' }}" data-count="{{ votes }}" data-toggle="tooltip" data-placement="top">
                            {{ declination(votes, ['głos', 'głosy', 'głosów']) }}
                        </a>
                        <a href="{{ route('microblog.watch', [id]) }}" class="btn btn-watch {{ watch_on ? 'watch-on' }}">Obserwuj</a>
                        <a href="javascript:" class="btn btn-reply">Komentarz</a>
                    </div>

                    <div class="microblog-comments">

                        {% for comment in comments %}
                            {% include 'microblog/_comment.twig' with {'comment': comment} %}
                        {% endfor %}

                        <form class="comment-submit" method="POST" action="{{ route('microblog.comment.save') }}">
                            <div class="media form">
                                <div class="media-left">
                                    <a href="{{ route('profile', user('id')) }}">
                                        <img class="media-object" src="{{ user_photo(user('photo')) }}" style="width: 32px; height: 32px">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <input type="hidden" name="parent_id" value="{{ id }}">
                                    <input type="text" name="text" placeholder="Napisz komentarz..." class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>