<div class="col-md-3">
  <aside class="sticky-aside">
    <div class="box recommended-users">
      <h4>
        {{ icon('recommendedUsers') }}
        Zacznij obserwować
      </h4>

      <div v-cloak class="neon-tile neon-rounded p-3 mt-2">
        <div v-for="user in recommendedUsers" class="media">
          <vue-avatar
              :name="user.name"
              :photo="user.photo"
              :initials="user.initials"
              class="d-none d-xl-block i-45 me-2">
          </vue-avatar>

          <div class="media-body">
            <span class="d-block mb-1">
              <vue-username :user="user"></vue-username>
            </span>
            <vue-follow-button :user-id="user.id" class="btn-sm"></vue-follow-button>
          </div>
        </div>
      </div>
    </div>

    {% if tags.tech is not empty %}
      <div class="box mt-2">
        <h4 class="heading neon-section-heading">
          {{ icon('tagsPopularLanguage') }}
          Technologie
        </h4>
        <ul class="tag-clouds tag-clouds-md">
          {% for tag in tags.tech %}
            <li class="d-block mb-1">
              <a href="{{ route('microblog.tag', [tag.name]) }}">
                {% if tag.logo.filename %}
                  <img alt="{{ tag.name }}" src="{{ logo(tag.logo) }}"/>
                {% endif %}
                {{ tag.name }}
              </a>
              <small>&times; {{ tag.count }}</small>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </aside>
</div>
