{% extends 'layout.twig' %}
{% block title %}Mikroblogi{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}
{% import 'components/modals.twig' as modal %}

{% block container %}
    <div id="microblog" class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Wszystkie wpisy <small>({{ total }})</small></a></li>
                <li role="presentation"><a href="#">Moje <small>(0)</small></a></li>
            </ul>

            {% if auth_check() %}
                <form method="POST" class="microblog-submit" action="{{ route('microblog.save') }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left" style="padding-right: 15px">
                                    <a href="{{ route('profile', [user('id')]) }}">
                                        <img class="media-object img-thumbnail" src="{{ user_photo(user('photo')) }}" style="width: 50px; height: 50px;" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    {% include 'microblog/_form.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}

            <nav class="text-center">
                {{ pagination|raw }}
            </nav>

            {% for microblog in microblogs %}
                {% include "microblog/_microblog.twig" %}
            {% endfor %}

            <div class="text-center">
                {{ pagination|raw }}
            </div>

        </div>

        <aside class="col-md-3">
            <div id="box-popular-tags" class="box">
                <h4 class="border"><i class="fa fa-tag fa-fw"></i> Popularne tagi</h4>

                <ul class="tag-clouds">
                    {% for name, count in tags %}
                        <li><a href="{{ route('microblog.tag', [name]) }}">{{ name }} <small>({{ count }})</small></a></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="box-popular-entries" class="box">
                <h4 class="border"><i class="fa fa-star fa-fw"></i> Popularne wpisy</h4>

                {% for microblog in popular %}
                    <div class="media">
                        <div class="media-body">
                            <img class="media-object pull-left" src="{{ user_photo(microblog.photo) }}" style="width: 16px; height: 16px;" alt="">

                            <h5 class="media-heading pull-left">
                                {{ link_to_profile(microblog.user_id, microblog.name, microblog.is_active, microblog.is_blocked) }}
                            </h5>
                            <small> • {{ microblog.created_at|format_date }}</small>

                            <p>
                                <a href="{{ route('microblog.view', [microblog.id]) }}">{{ microblog.text|str_limit(250) }}</a>
                            </p>

                            <a href="{{ route('microblog.vote', [microblog.id]) }}" class="btn btn-thumbs {{ microblog.thumbs_on ? 'thumbs-on' }}" data-count="{{ microblog.votes }}" data-toggle="tooltip" data-placement="top">
                                {{ declination(microblog.votes, ['głos', 'głosy', 'głosów']) }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </aside>
    </div>

    {{ modal.alert('Nie można dodać załącznika. Być może plik ma nieprawidłowy format lub jest zbyt duży?') }}
    {{ modal.confirm('Czy na pewno usunąć ten wpis?') }}

    <script type="text/html" id="tmpl-thumbnail">
        <div class="col-sm-2">
            <a href="javascript:" class="thumbnail">
                <img src="[[src]]">

                <div class="[[class]]">
                    <i class="[[fa]]"></i>
                </div>
            </a>
        </div>
    </script>

{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/microblog.css">

    <script type="text/javascript">
        var uploadUrl = '{{ route('microblog.upload') }}';
        var promptUrl = '{{ route('user.prompt') }}';
    </script>

{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="/js/microblog.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.btn-thumbs').tooltip({html: true});
        });
    </script>
{% endblock %}