{% extends 'layout.twig' %}
{% block title %}Mikroblogi{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}
{% import 'components/modals.twig' as modal %}

{% block container %}
    <div id="microblog" class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Wszystkie wpisy <small>(1977)</small></a></li>
                <li role="presentation"><a href="#">Nowe <small>(0)</small></a></li>
                <li role="presentation"><a href="#">Obserwowani <small>(0)</small></a></li>
            </ul>

            <form method="POST" class="microblog-submit" action="{{ route('microblog.submit') }}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left" style="padding-right: 15px">
                                <a href="{{ route('profile', [user('id')]) }}">
                                    <img class="media-object img-thumbnail" src="{{ user_photo(user('photo')) }}" style="width: 50px; height: 50px;" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                {#<input type="hidden" value="0" name="parent_id" ng-model="form.parent_id" ng-init="form.parent_id=0">#}
                                <input class="input-file" type="file" name="photo" style="visibility: hidden; height: 1px">

                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea cols="110" rows="2" placeholder="Kliknij, aby dodać wpis" tabindex="1" name="text" style="height: 45px;"></textarea>
                                    </div>
                                </div>

                                <div class="row submit-area">
                                    <div class="col-xs-12">
                                        <div class="row thumbnails">

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <button title="Kliknij, aby dodać zdjęcie" class="btn btn-default btn-sm" type="button" id="btn-upload">
                                                    <i class="fa fa-camera"></i>
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button title="Kliknij, aby wysłać (Ctrl+Enter)" class="btn btn-sm btn-primary pull-right" tabindex="2" type="submit">
                                                    Opublikuj
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <nav class="text-center">
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

                {{ pagination|raw }}
            </nav>

            {% for microblog in microblogs %}
                {% include "microblog/_partial.twig" with microblog only %}
            {% endfor %}

        </div>

        <aside class="col-md-3">
            <div id="box-popular-tags" class="box">
                <h4 class="border"><i class="fa fa-tag fa-fw"></i> Popularne tagi</h4>

                <ul class="tag-clouds">
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/coyote">coyote <small>(78)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/humor">humor <small>(57)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/java">java <small>(48)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/koziolekweb">koziolekweb <small>(38)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/4programmers.net">4programmers.net <small>(35)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/blog">blog <small>(23)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/praca">praca <small>(22)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/wtf">wtf <small>(20)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/korpo">korpo <small>(17)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/esa">esa <small>(12)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/jestętrenerę">jestętrenerę <small>(12)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/guava">guava <small>(11)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/pracaholandia">pracaholandia <small>(10)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/fasadin">fasadin <small>(10)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/konferencja">konferencja <small>(9)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/interview">interview <small>(9)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/konkurs">konkurs <small>(8)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/technicalblog">technicalblog <small>(8)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/c">c <small>(7)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/unity3d">unity3d <small>(7)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/sscript">sscript <small>(7)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/suchar">suchar <small>(7)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/vaadin">vaadin <small>(7)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/windows">windows <small>(6)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/event">event <small>(6)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/4programmers">4programmers <small>(6)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/eropost">eropost <small>(6)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/java8">java8 <small>(6)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/pakistanski_ninja">pakistanski_ninja <small>(6)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/furiat-saper">furiat-saper <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/mały-wpis">mały-wpis <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/git">git <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/edukacja">edukacja <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/microsoft">microsoft <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/delphi">delphi <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/csharp">csharp <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/heheszki">heheszki <small>(5)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/cern">cern <small>(4)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/arduino">arduino <small>(4)</small></a></li>
                    <li><a href="http://4programmers.net/Mikroblogi/Tag/treestructinfo">treestructinfo <small>(4)</small></a></li>
                </ul>
            </div>

            <div id="box-popular-entries" class="box">
                <h4 class="border"><i class="fa fa-star fa-fw"></i> Popularne wpisy</h4>

                <div class="media">
                    <div class="media-body">
                        <img class="media-object pull-left" src="/img/shalom.png" style="width: 16px; height: 16px;" alt="">

                        <h5 class="media-heading pull-left"><a href="#">Shalom</a></h5>
                        <small> • 26 wrzesień 2015, 11:21</small>

                        <p>
                            <a href="http://4programmers.net/Mikroblogi/View/8771">"To nie ma sensu" - powiedział umysł. "To jest absurdalne" - powiedziało doświadczenie. "To jest nieprzydatne" - dodał zdrowy rozsądek. "Och, to jest to, tak!" - wykrzyknął zadowolony klient.</a>
                        </p>



                        <a href="#" class="btn btn-thumbs thumbs-on" data-toggle="tooltip" data-placement="top" title="Shalom<br>Adam Boduch">2 głosy</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <img class="media-object pull-left" src="/img/shalom.png" style="width: 16px; height: 16px;" alt="">

                        <h5 class="media-heading pull-left"><a href="#">Shalom</a></h5>
                        <small> • 26 wrzesień 2015, 11:21</small>

                        <p>
                            <a href="http://4programmers.net/Mikroblogi/View/8771">"To nie ma sensu" - powiedział umysł. "To jest absurdalne" - powiedziało doświadczenie. "To jest nieprzydatne" - dodał zdrowy rozsądek. "Och, to jest to, tak!" - wykrzyknął zadowolony klient.</a>
                        </p>



                        <a href="#" class="btn btn-thumbs" data-toggle="tooltip" data-placement="top" title="Shalom<br>Adam Boduch">2 głosy</a>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    {{ modal.alert('Błąd', 'Nie można dodać załącznika. Być może plik ma nieprawidłowy format lub jest zbyt duży?') }}

    <script type="text/html" id="tmpl-thumbnail">
        <div class="col-sm-2">
            <a href="javascript:" class="thumbnail">
                <img src="[[src]]">

                <div class="[[class]]">
                    <i class="[[fa]]"></i>
                </div>
            </a>
        </div>
    </script>

{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/microblog.css">

    <script type="text/javascript">
        var uploadUrl = '{{ route('microblog.upload') }}';
        var voteUrl = '{{ route('microblog.vote', ['']) }}/';
    </script>

{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="/js/microblog.js"></script>

    <script type="text/javascript">
        $(function () {
//            $('.btn-thumbs').tooltip({html: true});
            $('textarea').prompt('{{ route('user.prompt') }}').fastSubmit().autogrow();
        });
    </script>
{% endblock %}