{% extends 'layout' %}
{% block title %}{{ excerpt }}{{ parent() }}{% endblock %}
{% block description %}{{ excerpt }}{% endblock %}
{% block keywords %}{{ keywords(microblog.text)|join(',') }}{% endblock %}

{% block container %}
  <div id="js-microblog" class="row">
    <div class="col-12">
      <vue-microblog :microblog="microblog" :wrap="false"></vue-microblog>
    </div>

    <vue-notifications position="bottom right" />
  </div>

  <script>
    var microblog = {{ microblog|json_encode|raw }};
  </script>
{% endblock %}

