{% extends 'layout.twig' %}
{% block title %}{{ excerpt }}{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}
{% import 'components/modals.twig' as modal %}

{% block container %}
    <div id="microblog" class="row">
        <div class="col-md-12">
            {% include "microblog/microblog.twig" %}
        </div>
    </div>

    {{ modal.alert('Nie można dodać załącznika. Być może plik ma nieprawidłowy format lub jest zbyt duży?') }}
    {{ modal.confirm('Czy na pewno usunąć ten wpis?') }}

    <script type="text/html" id="tmpl-thumbnail">
        <div class="col-sm-2">
            <a href="javascript:" class="thumbnail">
                <img src="[[src]]">

                <div class="[[class]]">
                    <i class="[[fa]]"></i>
                </div>
            </a>
        </div>
    </script>

{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ cdn('css/microblog.css') }}">

    <script type="text/javascript">
        var uploadUrl = '{{ route('microblog.upload') }}';
    </script>

{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="{{ cdn('js/microblog.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/posting.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/modal.js') }}"></script>
{% endblock %}