{% extends 'layout' %}
{% block title %}{{ excerpt }}{{ parent() }}{% endblock %}
{% block description %}{{ excerpt }}{% endblock %}
{% block keywords %}{{ keywords(microblog.text)|join(',') }}{% endblock %}

{% import 'components.modals' as modal %}

{% block container %}
    <div id="microblog" class="row">
        <div class="col-md-12">
            {% include "microblog.partials.microblog" with {"microblogDetailsPage": true} %}
        </div>
    </div>

    <script type="text/html" id="tmpl-thumbnail">
        <div class="col-sm-2">
            <a href="javascript:" class="thumbnail">
                <img src="[[src]]">

                <div class="[[class]]">
                    <i class="[[fa]]"></i>
                </div>
            </a>
        </div>
    </script>

{% endblock %}

{% block head %}
    {{ parent() }}

    <script type="text/javascript">
        var uploadUrl = '{{ route('microblog.upload') }}';
    </script>

{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ cdn('css/microblog.css') }}">

    {{ parent() }}

    <script src="{{ cdn('js/microblog.js') }}"></script>
    <script src="{{ cdn('js/posting.js') }}"></script>
{% endblock %}
