{% extends 'layout' %}

{% block title %}{{ excerpt }} {{ parent() }}{% endblock %}
{% block description %}{{ excerpt }}{% endblock %}
{% block keywords %}{{ keywords(microblog.text)|join(',') }}{% endblock %}

{% import 'components.meta' as meta %}

{% block meta_robots %}
  {{ meta.robots('index, follow') }}
  {{ parent() }}
{% endblock %}

{% block container %}
  <div id="js-microblog" class="row">
    <div class="col-md-9">
      <vue-microblog :microblog="microblog" :wrap="false"></vue-microblog>
    </div>
    {% include 'microblog.aside' %}
    <vue-notifications position="bottom right"></vue-notifications>
  </div>

  <script>
    var microblog = {{ microblog|json_encode|raw }};
    var flags = {{ flags|json_encode|raw }};
    var popularTags = {{ popular_tags|json_encode|raw }};
    var recommendedUsers = {{ recommended_users|json_encode|raw }};
    var emojis = {{ emojis|json_encode|raw }};
  </script>
{% endblock %}
