{% extends 'adm.base' %}
{% block title %}Dodane treści {{ parent() }}{% endblock %}

{% block container %}
  <div class="mb-3 d-flex justify-content-center">
    {{ pagination }}
  </div>
  <div class="card card-default">
    <div class="card-header">
      Materiały ({{ materials.total }})
    </div>
    <div class="list-group list-group-flush">
      {% for material in materials.items %}
        <div class="list-group-item">
          <div>
            <span class="badge badge-dark">{{ material.type }}</span>
          </div>
          <div>
            {{ material.preview }}
          </div>
          <div>
            <small class="text-muted" title="{{ material.createdAt }}">
              {{ material.createdAgo }}
            </small>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
