{% extends 'adm.base' %}
{% block title %}Dodane treści {{ parent() }}{% endblock %}

{% block container %}
  <div class="col-md-10 col-lg-7 px-0">
    <form class="d-flex">
      <div class="input-group mb-2">
        <span class="input-group-text">
          {{ icon( 'adminMaterialSearch') }}
        </span>
        <input name="filter" class="form-control" value="{{ filter }}">
      </div>
      <div class="ms-2">
        <button class="btn btn-secondary">
          Szukaj
        </button>
      </div>
    </form>
  </div>

  <div class="mb-2">
    Dostępne filtry:
    {% for filter in availableFilters %}
      <code>{{ filter }}</code>{% if loop.last == false %},{% endif %}
    {% endfor %}
  </div>

  <style>
      a.material-list-item {
          color: inherit;
      }

      a.material-list-item:hover {
          text-decoration: none;
          background-color: rgb(128, 128, 128, 0.03);
      }

      a.material-list-item.report-open {
          background-color: #ffe5e5;
      }

      a.material-list-item.report-open .report-icon i {
          color: #a11414;
      }
  </style>

  <div class="card mb-3">
    <div class="card-header">
      Treści ({{ materials.total }})
    </div>
    <div class="list-group list-group-flush">
      {% for material in materials.items %}
        <a href="{{ material.adminUrl }}" class="list-group-item material-list-item {{ material.reportOpen ? 'report-open' : '' }}">
          <div class="d-flex" style="opacity:{{ material.deletedAt ? '0.4' : '1.0' }};">
            <div class="img-thumbnail me-2" style="width:40px;" title="{{ material.authorUsername }}">
              {{ user_avatar(material.authorImage, material.authorUsername) }}
            </div>
            <div class="flex-ellipsis-container">
              <p class="flex-ellipsis m-0">
                {{ material.preview }}
                &nbsp;
              </p>
              <p class="m-0 text-muted">
                <span class="badge badge-secondary">{{ material.type }}</span>
                <small>
                  <b>@{{ material.authorUsername }}</b>
                  napisał
                  <b class="text-muted" title="{{ material.createdAt.format }}">{{ material.createdAt.ago }}</b>
                  {% if material.deletedAt %}
                    (usunięto <b title="{{ material.deletedAt.format }}">{{ material.deletedAt.ago }}</b>)
                  {% endif %}
                </small>
              </p>
            </div>
            <div class="flex-grow-1 text-end text-muted report-icon">
              {% if material.reported %}
                {{ icon('adminMaterialReported') }}
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
      {% if materials.items is empty %}
        <div class="list-group-item text-center">
          <span class="text-muted">
            Nie znaleziono treści spełniających podane kryteria.
          </span>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="mb-4 d-flex justify-content-center">
    {{ pagination }}
  </div>
{% endblock %}
