{% extends 'adm.base' %}
{% block title %}Sprawy {{ parent() }}{% endblock %}

{% block container %}
  <h4 class="my-2">Podgląd</h4>
  <p class="mb-2 d-flex justify-content-between">
    <a href="{{ post.topic.href }}">{{ post.topic.label }}</a>
    <a href="{{ post.forum.href }}">{{ post.forum.label }}</a>
  </p>

  <div class="card card-post">
    <div class="card-header">
      <div class="row">
        <div class="col-2">{{ post.authorMention }}</div>
        <div class="col-10"><small>{{ post.createdAt.ago }}</small></div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <img
              class="post-avatar img-thumbnail"
              src="{{ post.author.avatarUrl }}"
              alt="{{ post.author.name }}"
          />
        </div>
        <div class="col-10">{{ post.content }}</div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10 text-right text-muted">
          <i class="fas fa-ellipsis-h mr-2"></i>
        </div>
      </div>
    </div>
  </div>

  <h4 class="my-2">
    Historia
  </h4>
  <div class="mb-4">
    {% for item in post.history %}
      <div class="d-flex mb-2">
        <i class="{{ item.icon }} fa-fw mt-1 mr-2"></i>
        <div>
          {{ item.authorMention }}
          {{ item.actionVerbPastTense }}

          <span class="badge badge-secondary">
            <i class="{{ item.icon }}"></i>
            {{ item.kind }}
          </span>

          {% if item.note %}
            z dopiskiem <code>{{ item.note }}</code>.
          {% endif %}

          <small class="d-block text-muted">
            {{ item.createdAt.format }}, {{ item.createdAt.ago }}
          </small>
        </div>
      </div>
    {% endfor %}
  </div>

  <div>
    <a href="{{ backUrl }}" class="btn btn-secondary">
      Powrót
    </a>
  </div>
{% endblock %}
