<div class="row container-xxl no-gutters">
  <div class="col-12">
    <ul class="breadcrumb text-truncate">
      <li class="breadcrumb-item">
        <a href="{{ route('home') }}" class="d-block d-sm-none">
          <i class="fas fa-home"></i>
        </a>
        <a href="{{ route('home') }}" class="d-none d-sm-inline-block">
          {{ config_get('app.name') }}
        </a>
      </li>

      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item">
          {% if loop.last %}
            <span>{{ breadcrumb.name }}</span>
          {% else %}
            <a href="{{ breadcrumb.url }}">
              {{ breadcrumb.name }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{{ schema_breadcrumb }}
