<div class="container-3xl">
  <ul class="breadcrumb pb-0">
    <li class="breadcrumb-item neon-breadcrumb">
      <a href="{{ root_href }}" class="d-none d-sm-inline-block">
        {{ root_name }}
      </a>
      <a href="{{ root_href }}" class="d-block d-sm-none">
        {{ icon('breadcrumbRoot') }}
      </a>
    </li>

    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item neon-breadcrumb">
        {% if breadcrumb.leaf %}
          {% if breadcrumb.leafWithLink %}
            <a class="leaf" href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
          {% else %}
            <span class="leaf">{{ breadcrumb.name }}</span>
          {% endif %}
        {% else %}
          <a href="{{ breadcrumb.url }}">
            {{ breadcrumb.name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{{ schema_breadcrumb }}
