<div class="media">
  <div class="me-2 d-none d-sm-block">
    <a href="{{ activity.actor.url }}">
      <div class="img-thumbnail" style="width: 38px; height: 38px;">
        {{ user_avatar(activity.actor.image, activity.actor.displayName) }}
      </div>
    </a>
  </div>

  <div class="media-body">
    <p>{{ activity.headline|raw }}</p>

    <ul class="list-inline text-muted small m-0">
      <li class="list-inline-item" title="{{ activity.created_at }}">
        {{ activity.created_at|format_date }}
      </li>
      <li class="list-inline-item" title="{{ activity.ip }}">
        {{ icon('topicLogUserIp') }}
        <a title="Kliknij, aby wyszukać" class="bubble text-muted" href="{{ route('adm.stream', {ip: activity.ip}) }}">
          {{ activity.ip }}
        </a>
      </li>
      {% if activity.browser %}
        <li class="list-inline-item" title="{{ activity.browser }}">
          {{ icon('topicLogUserAgent') }}
          <a title="Kliknij, aby wyszukać" class="bubble text-muted" href="{{ route('adm.stream', {browser: activity.browser}) }}">
            {{ activity.agent.browser }}, {{ activity.agent.platform }}
          </a>
        </li>
      {% endif %}
      {% if activity.fingerprint %}
        <li class="list-inline-item">
          {{ icon('topicLogUserFingerprint') }}
          <a title="Kliknij, aby wyszukać" class="bubble text-muted" href="{{ route('adm.stream', {fingerprint: activity.fingerprint}) }}">
            {{ activity.fingerprint[0:2] }} ... {{ activity.fingerprint[-2:2] }}
          </a>
        </li>
      {% endif %}
    </ul>
    {% if activity.excerpt %}
      <div class="card card-body bg-light p-2 mt-2 mb-2">
        {{ activity.excerpt }}
      </div>
    {% endif %}
  </div>
</div>
