{% set visited_at = user.visited_at|format_date %}
{% set created_at = user.created_at|format_date %}

<div id="vcard">
    <div id="vcard-header">
        {{ link_to_profile(user) }}
    </div>

    <div id="vcard-content">
        <div class="media">
            <div class="mr-2">
                <img src="{{ user_photo(user.photo) }}" class="img-thumbnail">
                <span class="status {{ user.is_online ?: 'offline' }}">{{ user.is_online ? 'Online' : 'Offline' }}</span>

                {% if user.group.name %}
                    <span class="badge badge-secondary">{{ user.group.name }}</span>
                {% endif %}
            </div>

            <div class="media-body">
                <ul class="list-inline">
                    <li class="list-inline-item" title="Ostatnia wizyta: {{ visited_at }}">
                        <i class="fas fa-sign-in-alt fa-fw"></i> {{ visited_at }}
                    </li>
                    <li class="list-inline-item" title="Data rejestracji: {{ created_at }}">
                        <i class="fas fa-user-plus fa-fw"></i>
                        {{ created_at }}
                    </li>
                    <li class="list-inline-item" title="Liczba postów: {{ user.posts }}">
                        <i class="far fa-comments fa-fw"></i>
                        {{ declination(user.posts, ['post', 'posty', 'postów']) }}
                    </li>
                </ul>

                <div class="box-reputation">
                    <h6><i class="fas fa-chart-line"></i> Reputacja</h6>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;">

                        </div>

                        <span class="rep"><strong>{{ user.reputation|number_format(0, '', ' ') }}</strong> <small>punktów</small></span>

                        {% if user.reputation > 0 and total_users > 0 %}
                            <span class="rank" title="Miejsce w rankingu"><strong>#{{ rank.rank }}</strong> <small>/ {{ total_users }}</small></span>
                        {% endif %}
                    </div>
                </div>

                <div class="box-buttons">
                    <a href="{{ route('forum.user', [user.id]) }}" title="Znajdź posty użytkownika" class="btn btn-sm btn-secondary">
                        <i class="fas fa-search fa-fw"></i>
                    </a>

                    <a href="{{ route('user.pm.submit', {to: user.name}) }}" title="Napisz wiadomość do tego użytkownika" class="btn btn-sm btn-secondary">
                        <i class="fas fa-envelope fa-fw"></i>
                    </a>

                    {% if can('adm-access') %}
                        <a href="{{ route('adm.firewall.save') }}?user={{ user.id }}" title="Zablokuj tego użytkownika" class="btn btn-sm btn-secondary float-right">
                            <i class="fas fa-ban fa-fw"></i>
                        </a>

                        <a href="{{ route('adm.users.save', [user.id]) }}" title="Przejdź do panelu administracyjnego" class="btn btn-sm btn-secondary float-right">
                            <i class="fas fa-cogs fa-fw"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
