<div id="vcard">
    <div id="vcard-header">
        <a href="#">{{ user.name }}</a>
    </div>

    <div id="vcard-content">
        <div class="row">
            <div class="col-xs-3">
                <img src="{{ user_photo(user.photo) }}" class="img-thumbnail">
                <span class="status {{ session_at ?: 'offline' }}">{{ session_at ? 'Online' : 'Offline' }}</span>

                {% if user.group.name %}
                    <span class="label label-default">{{ user.group.name }}</span>
                {% endif %}
            </div>

            <div class="col-xs-9">
                <ul class="list-inline">
                    <li title="Ostatnia wizyta">
                        <i class="fa fa-sign-in fa-fw"></i> {{ max(session_at, user.visited_at)|format_date }}
                    </li>
                    <li title="Data rejestracji">
                        <i class="fa fa-user-plus fa-fw"></i>
                        {{ user.created_at|format_date }}
                    </li>
                </ul>

                <div class="box-reputation">
                    <h6><i class="fa fa-line-chart"></i> Twoja reputacja</h6>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;">

                        </div>

                        <span class="rep"><strong>{{ user.reputation|number_format(0, '', ' ') }}</strong> <small>punktów</small></span>

                        {% if total_users > 0 %}
                            <span class="rank" title="Miejsce w rankingu"><strong>#{{ rank.rank }}</strong> <small>/ {{ total_users }}</small></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>