{% set visited_at = user.visited_at|format_date %}
{% set created_at = user.created_at|format_date %}

<div id="vcard">
  <div id="vcard-content">
    <div class="media">
      <div class="me-2 d-flex flex-column">
        <div class="mb-2">
          <strong>{{ user.name }}</strong>
        </div>
        <div>
          <div class="d-inline-block">
            <div class="position-relative img-thumbnail">
              <div class="vcard-avatar" style="width:55px; height:55px;">
                {{ user_avatar(user.photo, user.name) }}
              </div>
              {% if user.is_online %}
                <div class="is-online neon-is-online"></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="media-body ms-4">
        <ul class="list-inline border-bottom text-truncate mb-3">
          <li class="list-inline-item" title="Ostatnia wizyta: {{ visited_at }}">
            {{ icon('vCardLastVisitDate') }}
            {{ visited_at }}
          </li>
          <li class="list-inline-item" title="Data rejestracji: {{ created_at }}">
            {{ icon('vCardRegisterDate') }}
            {{ created_at }}
          </li>
          <li class="list-inline-item" title="Liczba postów: {{ user.posts }}">
            {{ icon('vCardPosts') }}
            {{ declination(user.posts, ['post', 'posty', 'postów']) }}
          </li>
        </ul>

        <div>
          {% if user.group.name %}
            <span class="badge badge-secondary">
              {{ user.group.name }}
            </span>
          {% endif %}

          <h6 class="mb-1 mt-2">
            {{ icon('vCardReputation') }}
            Reputacja
          </h6>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;"></div>
            <span class="rep">
              <strong>{{ user.reputation|number_format(0, '', ' ') }}</strong>
              <small>{{ declination(user.reputation, ['punkt', 'punkty', 'punktów'], true) }}</small>
            </span>
          </div>

          {% if user.location %}
            <div class="mt-3">
              <h6 class="mb-0">
                {{ icon('vCardUserResidence') }}
                Lokalizacja:
              </h6>
              <span class="text-muted">{{ user.location }}</span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="mt-4">
      <vue-follow-button :user-id="{{ user.id }}" class="btn-sm me-1"></vue-follow-button>
      <a href="{{ route('forum.user', [user.id]) }}" title="Znajdź posty użytkownika" class="btn btn-sm btn-secondary me-1">
        {{ icon('vCardUserFindPosts') }}
      </a>
      <a href="{{ route('user.pm.submit', {to: user.name}) }}" title="Napisz wiadomość do tego użytkownika" class="btn btn-sm btn-secondary me-1">
        {{ icon('vCardUserPrivateMessage') }}
      </a>
    </div>
  </div>
</div>
