<section id="box-who-is-online" class="box">
    <h4 class="border-bottom"><i class="fas fa-users fa-fw"></i> {{ total }} użytkowników online, w tym zalogowanych: {{ registered }}, gości: {{ guests }}, botów: {{ robots }}</h4>

    {% for name, users in groups %}
        {% if users|length > 0 %}
            <p><strong>{{ name }}:</strong> {{ users|join(', ')|raw }}</p>
        {% endif %}
    {% endfor %}
</section>
