<div class="box">
  <h4 class="heading">
    {% if isLocalViewers %}
      <i class="fas fa-eye fa-fw"></i>
    {% else %}
      <i class="fas fa-users fa-fw"></i>
    {% endif %}
    {{ title }}
  </h4>
</div>

<ul class="side-menu">
  <li>
    <p class="side-menu-item mb-0">
      {{ registered }} użytkowników, {{ guests }} gości
    </p>
  </li>
  {% for name, group in groups %}
    {% if group|length > 0 %}
      <li>
        <p class="side-menu-item mb-0">
          {{ name }}:
          {{ group|join(', ')|raw }}
        </p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
