<section id="box-who-is-online" class="page-online-users box text-muted">
    <h4 class="border-bottom">
      <i class="fas fa-users fa-fw"></i>
      {{ total }} użytkowników online, w tym zalogowanych: {{ registered }}, gości: {{ guests }}
    </h4>

    {% for name, group in groups %}
        {% if group|length > 0 %}
            <p class="mb-1">
              <strong>{{ name }}:</strong>
              {{ group|join(', ')|raw }}
            </p>
        {% endif %}
    {% endfor %}
</section>
