{% if user.posts > 0 %}
  <div class="box mt-4">

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <canvas id="pie-chart"></canvas>
          </div>

          <div class="col-sm-6">
            <ul id="box-stats" class="list-group row">
              <li class="list-group-item col-sm-6">Postów: <strong>{{ user.posts }}</strong></li>
              <li class="list-group-item col-sm-6">Komentarzy: <strong>{{ comments }}</strong></li>
              <li class="list-group-item col-sm-6">Głosów oddanych: <strong>{{ given_votes }}</strong></li>
              <li class="list-group-item col-sm-6">Głosów otrzymanych: <strong>{{ received_votes }}</strong></li>
              <li class="list-group-item col-sm-6">Wpisów na mikroblogu: <strong>{{ user_microblogs }}</strong></li>
              <li class="list-group-item col-sm-6">Odpowiedzi zaakceptowanych: <strong>{{ user_posts_accepted }}</strong></li>
            </ul>

            <canvas id="posts-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    new Chart(document.getElementById("pie-chart"), {
      type: 'doughnut',
      data: {
        labels: [
          {% for name, count in pie %}
          '{{ name }} ({{ ((count / posts) * 100)|round }}%)',
          {% endfor %}
        ],
        datasets: [{
          data: [
            {% for name, count in pie %}
            {{ count }},
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(255, 159, 64, 0.7)',
            'rgba(128, 164, 26, 0.7)',
            'rgba(91, 192, 222, 0.7)',
            'rgba(217, 141, 13, 0.7)',
            'rgba(92, 184, 92, 0.7)',
            'rgba(217, 83, 79, 0.7)',
            'rgba(100, 100, 102, 0.7)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(128, 164, 26, 0.2)',
            'rgba(91, 192, 222, 0.2)',
          ],
        }],
      },
      options: {
        responsive: true,
      },
    });

    new Chart(document.getElementById("posts-chart"), {
      type: 'bar',
      data: {
        labels: [
          {% for item in line %}
          '{{ item.label }}',
          {% endfor %}
        ],
        datasets: [{
          label: 'Liczba postów',
          data: [
            {% for item in line %}
            {{ item.count }},
            {% endfor %}
          ],
          backgroundColor: 'rgba(255, 159, 64, 0.2)',
          borderColor: 'rgba(255, 159, 64, 1)',
          borderWidth: 1,
        }],
      },
    });

  </script>
{% endif %}
