{% if user.reputation > 0 %}
  <div class="box pt-2 mb-4">
    <h4 class="heading mb-4">
      <i class="fa-solid fa-list-check"></i>
      Aktywność
    </h4>
    <div class="mb-4">
      <div id="wrap">
        <div id="reputation">
          {% include 'profile.partials.reputation_list' %}
        </div>
      </div>
    </div>
  </div>
  <div class="box pt-2 mb-4">
    <h4 class="heading mb-4">
      <i class="fa-solid fa-chart-line"></i>
      Historia reputacji
    </h4>
    <div style="height:280px;">
      {{ chart }}
    </div>
    <div class="chart-bar">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;">
        </div>
        <span class="rep">
          <strong>{{ user.reputation }}</strong>
          <small>{{ declination(user.reputation, ['punkt', 'punkty', 'punktów'], true) }}</small>
        </span>
      </div>
    </div>
  </div>
{% endif %}
