{% extends 'layout' %}
{% block title %}Programowanie: serwis dla programistów{% endblock %}
{% block description %}Serwis poświęcony programowaniu. Posiadamy 1 mln postów na forum dyskusyjnym, oferty pracy, artykuły i mikroblogi.{% endblock %}
{% block keywords %}programowanie, programista, c++, c, c#, php, delphi, pascal, python, javascript, node.js, css, sass, html, kurs, mysql, mongodb, postgresql, oracle{% endblock %}

{% import 'components.modals' as modal %}

{% block container %}
  {{ render_block('homepage_banner') }}

  <div class="row mt-4">
    <div class="col-12">
      <div class="box">
        <h2 class="h4">
          <i class="fas fa-star fa-fw"></i>
          Co nowego na forum?
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <main class="col-md-8">
      <section id="box-forum" class="box">
        <div class="card card-forum">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul id="forum-tabs" class="nav nav-pills nav-forum">
                  <li class="nav-item">
                    <a class="nav-link {{ settings.topicMode == 'interesting' ? 'active' }}"
                       title="Zobacz najciekawsze wątki na forum"
                       href="#interesting"
                       role="tab" data-bs-toggle="tab">
                      Najciekawsze
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ settings.topicMode == 'newest' ? 'active' }}"
                       title="Lista najnowszych wątków na forum" href="#newest"
                       role="tab" data-bs-toggle="tab">
                      Nowe wątki
                    </a>
                  </li>
                </ul>

                <div id="box-forum-headline">
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane {{ settings.topicMode == 'interesting' ? 'active' }}" id="interesting">
                      {% for topic in interesting %}
                        <div class="row">
                          <span class="display-count col-sm-2 col-lg-3 col-xl-2 d-none d-sm-block p-0">
                            <strong class="text-nowrap">{{ topic.views }}</strong>
                            <small class="text-nowrap">
                              {{ declination(topic.views, ['wyświetlenie', 'wyświetlenia', 'wyświetleń'], true) }}
                            </small>
                          </span>

                          <div class="col-12 col-sm-10 col-lg-9 col-xl-10">
                            <a title="[{{ topic.last_post_created_at|format_date }}] {{ topic.title }}"
                               href="{{ route('forum.topic', [topic.forum_slug, topic.id, topic.slug]) }}"
                               class="title">
                              {{ topic.title }}
                            </a>
                            <a href="{{ route('forum.category', [topic.forum_slug]) }}" class="category">
                              {{ topic.forum }}
                            </a>
                            <small class="float-end">
                              {{ topic.last_post_created_at|format_date }}
                            </small>
                          </div>
                        </div>
                      {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane {{ settings.topicMode == 'newest' ? 'active' }}" id="newest">
                      {% for topic in newest %}
                        <div class="row">
                          <span class="display-count col-sm-2 col-lg-3 col-xl-2 d-none d-sm-block p-0">
                            <strong class="text-nowrap">{{ topic.views }}</strong>
                            <small class="text-nowrap">
                              {{ declination(topic.views, ['wyświetlenie', 'wyświetlenia', 'wyświetleń'], true) }}
                            </small>
                          </span>

                          <div class="col-12 col-sm-10 col-lg-9 col-xl-10">
                            <a title="[{{ topic.last_post_created_at|format_date }}] {{ topic.title }}"
                               href="{{ route('forum.topic', [topic.forum_slug, topic.id, topic.slug]) }}"
                               class="title">
                              {{ topic.title }}
                            </a>
                            <a href="{{ route('forum.category', [topic.forum_slug]) }}" class="category">
                              {{ topic.forum }}
                            </a>
                            <small class="float-end">
                              {{ topic.last_post_created_at|format_date }}
                            </small>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div id="stream-wrapper" class="col-lg-6">
                <div id="stream">
                  <div class="overview">
                    {% for activity in activities %}
                      <div class="media">
                        <span class="{{ activity.object }} d-none d-sm-block" title="{{ activity.headline|striptags|unescape }}">
                        </span>

                        <div class="d-none d-sm-block me-2">
                          <a href="{{ route('profile', [activity.user_id]) }}">
                            <img class="media-object" src="{{ user_photo(activity.user.photo) }}" style="width: 38px; height: 38px;" alt="activity.user.name">
                          </a>
                        </div>
                        <div class="media-body">
                          <p>{{ activity.headline|raw }}</p>
                          <small>{{ activity.created_at|format_date }}</small>
                          <strong>{{ activity.excerpt }}</strong>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section id="js-microblog" class="box">
        <h4>
          <i class="far fa-comments fa-fw"></i>
          <a href="{{ route('microblog.home') }}">
            Popularne wpisy na mikroblogu
          </a>
        </h4>
        <vue-microblog
            v-for="microblog in microblogs" :key="microblog.id" :microblog="microblog"
            :wrap="true"></vue-microblog>
        <vue-notifications position="bottom right"/>
      </section>

      <ul class="mt-3 mb-3 d-flex justify-content-center pagination">
        <li class="page-item">
          <a class="page-link" href="{{ route('microblog.home') }}">
            Pokaż więcej
          </a>
        </li>
      </ul>
    </main>

    <div class="col-md-4 position-relative">
      <aside class="sticky-aside">
        {{ render_block('homepage_banner_side') }}

        <div class="mb-4">
          {{ viewers|raw }}
        </div>

        {{ render_block('job_ads') }}

        <section class="box mt-4">
          <h4>
            <i class="fas fa-star fa-fw"></i>
            Reputacja użytkowników
          </h4>

          <div id="reputation-tabs" class="nav nav-panel card-tabs">
            <a role="tab" data-bs-toggle="tab" href="#month"
               class="nav-item {{ settings.reputationMode == 'month' ? 'active' }}">
              <span>W tym miesiącu</span>
            </a>
            <a role="tab" data-bs-toggle="tab" href="#year"
               class="nav-item {{ settings.reputationMode == 'year' ? 'active' }}">
              <span>W tym roku</span>
            </a>
            <a role="tab" data-bs-toggle="tab" href="#total"
               class="nav-item {{ settings.reputationMode == 'total' ? 'active' }}">
              <span>Ogólnie</span>
            </a>
          </div>

          <div class="card card-default card-reputation tab-content">
            {% for mode, items in reputation %}
              <div id="{{ mode }}" role="tabpanel" class="card-body tab-pane {{ settings.reputationMode == mode ? 'active' }}">
                {% for item in items %}
                  <div class="media">
                    <div class="me-2">
                      <a href="{{ route('profile', [item.id]) }}">
                        <img src="{{ user_photo(item.photo) }}" alt="{{ item.name }}">
                      </a>
                    </div>

                    <div class="media-body">
                      <span class="mb-1 d-block">
                        <a data-user-id="{{ item.id }}" href="{{ route('profile', [item.id]) }}" class="reputation-username">
                          {{ item.name }}
                        </a>
                      </span>

                      <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ item.percentage|round }}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{ item.percentage|round }}%;"></div>

                        <span class="rep">
                          <strong>{{ item.reputation|number_format(0, '', ' ') }}</strong>
                          <small>
                            {{ declination(item.reputation, ['punkt', 'punkty', 'punktów'], true) }}
                          </small>
                        </span>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <p>
                    --
                  </p>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </section>

        {{ whats_new|raw }}
      </aside>
    </div>
    <style>
        .sticky-aside {
            position: sticky;
            padding: 15px 0;
            margin: -15px 0;
            transition: top .15s;
        }
    </style>
    <script>
      (function () {
        const stickyAside = document.querySelector(".sticky-aside");
        const navbar = document.querySelector("nav.navbar");
        const header = document.querySelector("header");

        function reposition() {
          const hasNavbar = header.classList.contains("fixed-top");
          const elementHeight = stickyAside.getBoundingClientRect().height;
          const viewportHeight = window.innerHeight;
          let navbarHeight;
          if (hasNavbar) {
            // if navbar is fixed, then `.bottom` will always be bigger
            // than 0, but we add Math.max() in case styles are changed
            // or something gets renamed
            navbarHeight = Math.max(navbar.getBoundingClientRect().bottom, 0);
          } else {
            navbarHeight = 0;
          }
          if (elementHeight > (viewportHeight - navbarHeight)) {
            stickyAside.style.top = -(elementHeight - viewportHeight) + "px";
          } else {
            stickyAside.style.top = navbarHeight + "px";
          }
        }

        window.addEventListener("resize", reposition, {passive: true});
        reposition();
        window.stickyAsideReposition = reposition;
        [0, 1000, 4000, 6000, 10000].forEach(time => setTimeout(reposition, time));
      })();
    </script>
  </div>

  <script type="text/javascript">
    var microblogs = {{ microblogs|json_encode|raw }};
    var flags = {{ flags|json_encode|raw }};
    var emojis = {{ emojis|json_encode|raw }};
  </script>
{% endblock %}
