{% extends 'layout.twig' %}
{% block title %}Strona główna{{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <main class="col-md-8">
            <section id="box-forum" class="box">
                <h4><i class="fa fa-star fa-fw"></i> Co nowego na forum?</h4>

                <div class="panel panel-forum">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="nav nav-pills">
                                    <li role="presentation" class="active"><a href="#">Najciekawsze</a></li>
                                    <li role="presentation"><a href="#">Najwyżej oceniane</a></li>
                                    <li role="presentation"><a href="#">Nowe wątki</a></li>
                                </ul>

                                <div id="box-forum-headline">
                                    <div class="row">
                                        <span class="col-sm-2 hidden-xs">
                                            <strong>843</strong>
                                            <small>wyświetleń</small>
                                        </span>
                                        <div class="col-sm-10 col-xs-12">
                                            <a title="[18 wrzesień 2015, 14:34] Responsywny layout. Prace trwają..." href="http://forum.4programmers.net/Coyote/257945-responsywny_layout_prace_trwaja?view=unread" class="title" data-category="homepage-forum-headline" data-action="most-intresting">Responsywny layout. Prace trwają...</a>
                                            <a href="http://forum.4programmers.net/Coyote" class="category">Coyote</a>
                                            <small class="pull-right">18 wrzesień 2015, 14:34</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-2 hidden-xs">
                                            <strong>390</strong>
                                            <small>wyświetleń</small>
                                        </span>
                                        <div class="col-sm-10 col-xs-12">
                                            <a title="[dzisiaj, 11:04] Tworzenie stron internetowych a dochody" href="http://forum.4programmers.net/Kariera/258281-tworzenie_stron_internetowych_a_dochody?view=unread" class="title" data-category="homepage-forum-headline" data-action="most-intresting">Tworzenie stron internetowych a dochody</a>
                                            <a href="http://forum.4programmers.net/Kariera" class="category">Kariera</a>
                                            <small class="pull-right">dzisiaj, 11:04</small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="stream-wrapper" class="col-lg-6">
                                <div id="stream">
                                    <div class="overview">
                                        {% for activity in activities %}
                                            <div class="media">
                                                <span class="{{ activity.object.objectType }} hidden-xs" title="{{ activity.headline|striptags }}"></span>

                                                <div class="media-left hidden-xs">
                                                    <a href="{{ activity.actor.url }}">
                                                        <img class="media-object" src="{{ user_photo(activity.actor.image) }}" style="width: 38px; height: 38px;" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <p>{{ activity.headline|raw }}</p>
                                                    <small>{{ activity.created_at|format_date }}</small>

                                                    <strong>{{ activity.excerpt|raw }}</strong>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="microblog" class="box">
                <h4><i class="fa fa-comments-o fa-fw"></i> <a href="#">Popularne wpisy na mikroblogu</a></h4>

                {% for microblog in microblogs %}
                    {% include "microblog/_microblog.twig" %}
                {% endfor %}
            </section>
        </main>

        <aside class="col-md-4">

            <section id="box-job-offers" class="box">
                <h4><i class="fa fa-suitcase fa-fw"></i> <a href="#">Oferty pracy</a></h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/apple-touch.png" style="width: 50px; height: 50px;" alt="Power Media S.A.">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                                <p><a href="#">Power Media S.A.</a></p>
                                <small><a href="#">Wrocław</a> • do 5000 zł</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/apple-touch.png" style="width: 50px; height: 50px;" alt="Power Media S.A.">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                                <p><a href="#">Power Media S.A.</a></p>
                                <small><a href="#">Wrocław</a> • do 5000 zł</small>
                            </div>
                        </div>

                        <div class="media">
                            <a href="#" class="text-align">Więcej ofert w pobliżu Wrocław</a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="box-reputation" class="box">
                <h4><i class="fa fa-star fa-fw"></i> Reputacja użytkowników</h4>

                <ul class="nav nav-panel">
                    <li role="presentation" class="active"><a href="#month" role="tab" data-toggle="tab">W tym miesiącu</a></li>
                    <li role="presentation"><a href="#year" role="tab" data-toggle="tab">W tym roku</a></li>
                    <li role="presentation"><a href="#total" role="tab" data-toggle="tab">Ogólnie</a></li>
                </ul>

                <div class="panel panel-default tab-content">
                    {% for key, mode in reputation %}
                        <div id="{{ key }}" role="tabpanel" class="panel-body tab-pane {{ loop.first ? 'active' }}">
                            {% for item in mode %}
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{{ url('profile', [item.id]) }}">
                                            <img class="media-object" src="{{ user_photo(item.photo) }}" style="width: 40px; height: 40px;" alt="{{ item.name }}">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a data-user-id="{{ item.id }}" href="{{ url('profile', [item.id]) }}">{{ item.name }}</a></h4>

                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.percentage }}%;">

                                            </div>

                                            <span class="rep"><strong>{{ item.reputation }}</strong> <small>punktów</small></span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section id="box-patronage" class="box">
                <div class="panel panel-patronage">
                    <h3><a title="4programmers.net patronuje wydarzeniom ze świata IT!" href="http://4programmers.net/Patronat" data-category="Patronage" data-value="Logo">Patronujemy</a></h3>

                    <div class="panel-body">
                        <h4><a href="http://4programmers.net/Patronat/Bezpłatne_Targi_Kariera_IT_w_Katowicach">Bezpłatne Targi Kariera IT w Katowicach</a></h4>

                        <h6>12 września 2015, Katowice</h6>
                        <div class="patronage-content">
                            <!--							<a href="--><!--?//= url('Patronat'); ?--><!--"><img src="--><!--?//= Url::site(); ?--><!--template/img/apple-touch.png" width="65" /></a>-->
                            <a href="http://4programmers.net/Patronat/Bezpłatne_Targi_Kariera_IT_w_Katowicach">12 września w Katowicach w Hotelu Qubus Prestige odbędzie się kolejna edycja bezpłatnych targów Kariera IT. Wydarzenie jest skierowane do specjalistów IT oraz studentów ostatnich lat kierunków informatycznych. Dla uczestników targów przygotowane są liczne atrakcje: prelekcje merytoryczne, prezentacje ofert pracy, pokazy nowinek technologicznych i konkursy z nagrodami.</a>
                        </div>

                        <div class="patronage-footer">
                            <a title="4programmers.net patronuje wydarzeniom ze świata IT!" href="http://4programmers.net/Patronat">
                                <i class="fa fa-arrow-right fa-fw"></i> Zainteresowany patronatem? Dowiedz się więcej
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="box-whats-new" class="box">

                <div class="panel panel-news">
                    <div class="panel-body">
                        <h5><a title="Zobacz zmiany w serwisie 4programmers.net" href="http://4programmers.net/Blog">Nowości w serwisie</a></h5>

                        <ul>
                            <li>
                                <small class="hidden-xs">11 maj 2015</small>

                                <a href="http://4programmers.net/Blog/Grupowanie_powiadomień_z_mikrobloga">Grupowanie powiadomień z mikrobloga</a>
                            </li>
                            <li>
                                <small class="hidden-xs">30 lis 2014</small>

                                <a href="http://4programmers.net/Blog/Wyświetlanie_kwoty_na_rękę_w_przypadku_kontraktu">Wyświetlanie kwoty na rękę w przypadku kontraktu</a>
                            </li>
                            <li>
                                <small class="hidden-xs">07 lis 2014</small>

                                <a href="http://4programmers.net/Blog/Kosmetyczne_zmiany_w_module_Praca">Kosmetyczne (?) zmiany w module Praca</a>
                            </li>
                            <li>
                                <small class="hidden-xs">13 paź 2014</small>

                                <a href="http://4programmers.net/Blog/Grupowanie_powiadomień_tego_samego_typu">Grupowanie powiadomień tego samego typu</a>
                            </li>
                            <li>
                                <small class="hidden-xs">23 kwi 2014</small>

                                <a href="http://4programmers.net/Blog/Co_nowego_na_forum_w_nieco_odmienionej_formie">"Co nowego na forum" w nieco odmienionej formie</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>

            {{ viewers|raw }}
        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/homepage.css">

    <script type="text/javascript">
        var uploadUrl = '{{ route('microblog.upload') }}';
        var promptUrl = '{{ route('user.prompt') }}';
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="/js/homepage.js"></script>
    <script type="text/javascript" src="/js/microblog.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.btn-thumbs').tooltip({html: true});
            $('#stream').perfectScrollbar();
        });
    </script>
{% endblock %}