<!DOCTYPE html>
<html lang="pl" class="{{ __dark_theme ? 'theme-dark' : 'theme-light' }} ">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ csrf_token() }}">

  {{ render_region('head') }}

  {% block head %}
    <title>{% block title %} :: 4programmers.net{% endblock %}</title>

    {% if meta_canonical %}
  <link rel="canonical" href="{{ meta_canonical }}">
    {% endif %}

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="theme-color" content="#80a41a"/>
    <meta name="robots" content="{{ meta_robots }}">

    <meta property="og:url" content="{{ meta_canonical }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pl_PL">
    <meta property="og:title" content="{{ block('ogtitle') is defined ? block('ogtitle') : block('title') }}">
    <meta property="og:description" content="{{ block('description') }}">
    <meta property="og:image" content="{{ block('logo') is defined ? block ('logo') : secure_asset('img/apple-touch.png') }}">

    <link rel="stylesheet" href="{{ cdn('css/core.css') }}">

    <script type="text/javascript">var __INITIAL_STATE = {{ __INITIAL_STATE|default('{}')|raw }};</script>
    <script type="text/javascript">var icons = {{ icons|json_encode|raw }};</script>
  {% endblock %}

  {% if __WS_URL %}
    <meta name="websocket-url" content="{{ __WS_URL }}">
  {% endif %}

  <link rel="apple-touch-icon" href="{{ asset('img/apple-touch.png?v2') }}">
  <link rel="shortcut icon" href="{{ asset('img/favicon.png?v3') }}" type="image/png">

  <link rel="stylesheet preload prefetch" href="//fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext&display=swap" as="style" crossorigin>
  <link rel="preload" href="/fonts/font-awesome/fa-light-300.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/font-awesome/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/font-awesome/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/font-awesome/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body class="{{ auth_guest() or user('allow_sticky_header') ? 'padding-top' }} {{ __dark_theme ? 'theme-dark' : 'theme-light' }}" data-color-scheme="{{ __color_scheme }}">
{{ render_region('body') }}

{% block body %}
  {% import 'components.forms' as forms %}
  {% import 'components.widgets' as widgets %}

  {{ schema_organization }}

  {% include 'components.gdpr' %}

  <script type="application/json" id="survey">{{ survey|json_encode|raw }}</script>
  <div id="js-survey"></div>

{% block header %}
  <header class="{{ auth_guest() or user('allow_sticky_header') ? ' fixed-top' }}">
    {{ form_open({url: route('logout'), name: 'logout-form'}) }}
    {{ form_close() }}

    <nav class="navbar navbar-expand-lg {{ __dark_theme ? 'navbar-dark' : 'navbar-light' }}">
      <div class="container-3xl d-flex flex-wrap">
        <a rel="home" class="navbar-brand order-0" href="{{ route('home') }}" title="4programmers.net - Strona główna">
          <img
              class="logo"
              alt="4programmers.net"
              data-src-light="{{ cdn('img/logo-light.svg') }}"
              data-src-dark="{{ cdn('img/logo-dark.svg') }}"
              src="{{ __dark_theme ? cdn('img/logo-dark.svg') : cdn('img/logo-light.svg') }}"
          />
        </a>

        <div class="collapse navbar-collapse flex-grow-0 order-4 order-lg-1 ms-2" id="mobile-menu">
          <ul class="navbar-nav">
            {% for item in __master_menu.roots() %}
              <li class="{{ item.attr.class }}">
                <a href="{{ item.url }}" class="nav-link">
                  {{ item.title|raw }}
                </a>

                {{ item.afterHTML|raw }}

                {% if item.hasChildren() %}
                  <div class="dropdown-container">
                    <div class="dropdown-menu dropdown-menu-start">
                      {% for children in item.children() %}
                        <a class="dropdown-item" href="{{ children.url }}">{{ children.title }}</a>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
            <li class="nav-item">
              <a href="/events" class="nav-link">
                Wydarzenia
              </a>
            </li>
          </ul>
        </div>

        <div id="js-searchbar" class="d-flex flex-grow-1 order-1">
          <vue-searchbar value="{{ input_get('q') }}">
          </vue-searchbar>
        </div>

        <div class="order-2" id="non-alert-controls">
        </div>

        {% if auth_check() %}
          <ul id="nav-auth" class="nav-auth navbar-nav order-2"></ul>

          <div class="dropdown nav-avatar order-2">
            <a href="#"
               class="dropdown-toggle img-thumbnail d-block i-35"
               data-bs-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
              {{ user_avatar(currentUser.photo, currentUser.name) }}
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item profile-name" href="{{ route('user.home') }}">
                {{ user('name') }}
                {% if user('is_sponsor') %}
                  {{ icon('sponsorProfile') }}
                {% endif %}
              </a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="{{ route('profile', [user('id')]) }}">
                {{ icon('userProfile') }}
                Profil
              </a>
              <a class="dropdown-item" href="{{ route('user.pm') }}">
                {{ icon('privateMessages') }}
                Wiadomości
              </a>
              <a class="dropdown-item" href="{{ route('user.home') }}">
                {{ icon('userAccount') }}
                Moje konto
              </a>
              <a class="dropdown-item" href="{{ url('Pomoc') }}">
                {{ icon('help') }}
                Pomoc
              </a>
              {% if can('adm-access') %}
                <a class="dropdown-item" href="{{ route('adm.home') }}">
                  {{ icon('adminPanel') }}
                  Panel administracyjny
                </a>
              {% endif %}

              <div class="dropdown-divider"></div>

              <a href="javascript:" onclick="document['logout-form'].submit()" class="dropdown-item btn-sign-out" rel="nofollow">
                {{ icon('logout') }}
                Wyloguj
              </a>
            </div>
          </div>
        {% else %}
          <div class="form-inline order-2 ms-auto">
            <a class="btn btn-sm btn-login me-1" href="{{ route('login') }}" style="border:none;">
              Zaloguj się
            </a>
            <a class="btn btn-sm btn-primary btn-register" href="{{ route('register') }}">
              Utwórz konto
            </a>
          </div>
        {% endif %}

        <button class="navbar-toggler shadow-none order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-menu">
          <div class="button-open">
            {{ icon('mobileMenuOpen') }}
          </div>
          <div class="button-close">
            {{ icon('mobileMenuClose') }}
          </div>
        </button>
      </div>
    </nav>
  </header>
{% endblock header %}

  <div class="container-fluid">
    {% block breadcrumbs %}
      {% if breadcrumb is defined %}
        {{ breadcrumb|raw }}
      {% endif %}
    {% endblock breadcrumbs %}

    <noscript>
      <div class="row">
        <div class="col-xs">
          <div class="alert alert-danger">
            4programmers.net works best with JavaScript enabled!
          </div>
        </div>
      </div>
    </noscript>

    {{ render_region('header') }}

    {% block fixed %}
      <div class="container-3xl">
        {% if session_has('success') %}
          <div class="row">
            <div class="col-12">
              <div class="alert alert-success mt-3">
                {{ icon('alertSuccess') }}
                {{ session_get('success') }}
              </div>
            </div>
          </div>
        {% endif %}

        {% if session_has('error') %}
          <div class="row">
            <div class="col-12">
              <div class="alert alert-danger mt-3">
                {{ icon('alertDanger') }}
                {{ session_get('error') }}
              </div>
            </div>
          </div>
        {% endif %}

        {% block container %}

        {% endblock %}
      </div>
    {% endblock %}
  </div>

{% block footer %}
  <footer class="container-fluid mt-4">
    <div class="footer-top">
      {% if breadcrumb is defined %}
        {{ breadcrumb|raw }}
      {% endif %}
    </div>
    <div class="footer-inner row">
      <div class="col-12">
        <div class="container-3xl">
          {{ render_block('footer') }}
        </div>
        <span class="scroll-top" id="scroll-to-top" title="Powrót na górę">
          {{ icon('scrollTop') }}
        </span>
      </div>
    </div>
    <div id="footer-copyright">
      <div class="container-3xl d-flex">
        <div>
          Copyright &copy; 2000-{{ year }}
          <a href="https://4programmers.net/" class="logo" title="4programmers.net - programowanie"></a>
        </div>
        <div class="ms-auto">
          Coyote {{ config('app.version') }}: {{ timer() }}
        </div>
      </div>
    </div>
  </footer>
{% endblock footer %}

  <link rel="stylesheet" href="{{ cdn('css/app.css') }}">

  <script src="{{ cdn('js/runtime.js') }}"></script>
  <script src="{{ cdn('js/vendor.js') }}"></script>
  <script src="{{ cdn('js/app.js') }}"></script>
  <script src="{{ cdn('js/common.js') }}"></script>
{% endblock body %}

{{ render_region('bottom') }}
</body>
</html>
