<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% block head %}
      <title>{%- block title -%} :: 4programmers.net{%- endblock -%}</title>

      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="keywords" content="{% block keywords %}{% endblock %}">
      <meta name="theme-color" content="#80a41a"/>

      <meta property="og:url" content="{{ current_url() }}">
      <meta property="og:type" content="website">
      <meta property="og:title" content="{{ block('ogtitle') ?: block('title') }}">
      <meta property="og:description" content="{{ block('description') }}">
      <meta property="og:image" content="{{ block('logo') is defined ? block ('logo') : secure_asset('img/apple-touch.png') }}">

      <link rel="stylesheet" href="{{ cdn('css/main.css') }}">

      <script type="text/javascript">var _config = {{ __public|default('{}')|raw }};</script>
    {% endblock %}

    <link rel="apple-touch-icon" href="{{ asset('img/apple-touch.png') }}">
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/png">

    {{ render_region('head') }}
  </head>
  <body class="{{ auth_guest() or user('allow_sticky_header') ? 'padding-top' }}">
    {{ render_region('body') }}

    {% block body %}
      {% import 'components.forms' as forms %}
      {% import 'components.widgets' as widgets %}

      <header class="container-fluid navbar-header {{ auth_guest() or user('allow_sticky_header') ? ' fixed-top' }} {{ __dark_theme ? 'navbar-dark' }}">
        <div class="navbar-border-top row"></div>

        {{ form_open({url: route('logout'), name: 'logout-form'}) }}
        {{ form_close() }}

        <div class="container-xxl d-flex align-items-center flex-wrap">
              <a rel="home" class="navbar-brand" href="{{ route('home') }}" title="4programmers.net - Strona główna">
                <img src="{{ cdn('img/logo-mobile.png') }}">
              </a>

              <ul class="nav-desktop d-none d-md-block">
                {% for item in __master_menu.roots() %}
                  <li {{ forms.attr(item.attr) }}>
                    <a href="{{ item.url }}">{{ item.title|raw }}</a>

                    {{ item.afterHTML|raw }}

                    {% if item.hasChildren() %}
                      <div class="dropdown-menu dropdown-menu-left">
                        {% for children in item.children() %}

                          <a class="dropdown-item" href="{{ children.url }}">{{ children.title }}</a>

                        {% endfor %}
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>

              <div class="nav-search d-none d-lg-flex flex-grow-1">
                <div class="search-bar search-bar-focus">
                  <i class="fas fa-search ml-2 mr-2"></i>

                  <form action="{{ search_url|default(route('search')) }}" role="search" class="flex-grow-1">

                    <input type="text" name="q" autocomplete="off" placeholder="{{ search_placeholder|default('Szukaj...') }}" value="{{ input_get('q') }}">
                  </form>

{#                  <span class="input-group-btn">#}
{#                    <button class="btn btn-link">#}
{#                        <i class="fas fa-search"></i>#}
{#                    </button>#}
{#                  </span>#}

                  <div class="search-popover">
                    <nav class="list-inline" style="margin: 10px 7px 10px 7px">
                      <a class="list-inline-item active mr-2 text-primary" href="#" style="padding: 5px; font-size: 90%; border-bottom: 2px solid #80a41a">Forum</a>
                      <a class="list-inline-item text-body" href="#" style="padding: 5px; font-size: 90%;">Praca</a>
                    </nav>

                    <ul class="list-unstyled">
                      <li class="title">Twoje wątki</li>

                      <li class="hover position-relative">
                        <a href="#">
{#                          <i class="fas fa-fw fa-external-link-alt small text-muted"></i>#}
                          <span>Które firmy IT dotknął kryzys? Sprawdź tutaj.</span>

{#                          <small class="float-right text-muted">dziś, 20:45</small>#}

                        </a>

                        <div class="position-absolute" style="right: 10px;  top: 20%;">
                          <i class="far fa-star ml-2"></i>
                          <i class="fas fa-search ml-2"></i>
                        </div>
                      </li>

                      <li>
                        <a href="#">
{#                          <i class="fas fa-fw fa-external-link-alt small text-muted"></i>#}
                          <span>Lorem ipsum lores.</span>

                          <small class="float-right text-muted">dziś, 20:45</small>
                        </a>
                      </li>

                      <li class="more">
                        <a href="#">więcej ...</a>
                      </li>

                      <li class="title">Twoje dyskusje</li>

                      <li>
                        <a href="#">
{#                          <i class="fas fa-fw fa-external-link-alt small text-muted"></i>#}
                          <span>Lorem ipsum lores.</span>

                          <small class="float-right text-muted">dziś, 20:45</small>
                        </a>
                      </li>

                      <li class="title">Ostatnie wyszukiwania</li>

                      <li>
                        <a href="#">
{#                          <i class="fas fa-fw fa-search small text-muted"></i>#}
                          <span>Lorem ipsum lores.</span>

                          <small class="float-right text-muted">dziś, 20:45</small>
                        </a>
                      </li>

                      <li class="title">Użytkownicy</li>

                      <li class="position-relative">
                        <a href="#" class="d-flex align-content-center">
                          <object data="https://4programmers.net/uploads/photo/4ccbfa1158d19" style="width: 16px; height: 16px" type="image/png" class="media-object mr-2"><img src="/img/avatar.png"></object>
                          <span>Marooned</span>

{#                          <small class="float-right text-muted">dziś, 20:45</small>#}


                        </a>

                        <div class="position-absolute" style="right: 10px;  top: 20%;">
                          <i class="far fa-user ml-2"></i>
                          <i class="far fa-comment-alt ml-2"></i>
                          <i class="fas fa-search ml-2"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="ml-auto">
                {% if auth_check() %}
                  <ul id="nav-auth" class="nav-auth list-inline d-inline-block"></ul>

                  <div class="dropdown nav-avatar d-none d-md-inline-block">
                    <a href="javascript:" class="dropdown-toggle img-thumbnail d-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 35px">
                      <img src="{{ user_photo(user('photo')) }}" style="width: 100%">
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item profile-name" href="{{ route('user.home') }}">{{ user('name') }}</a>

                      <div class="dropdown-divider"></div>

                      <a class="dropdown-item" href="{{ route('user.pm') }}"><i class="fas fa-envelope fa-fw"></i> Wiadomości</a>
                      <a class="dropdown-item" href="{{ route('user.settings') }}"><i class="fas fa-cog fa-fw"></i> Ustawienia</a>
                      <a class="dropdown-item" href="{{ route('profile', [user('id')]) }}"><i class="fas fa-user fa-fw"></i> Profil</a>
                      <a class="dropdown-item" href="{{ url('Pomoc') }}"><i class="fas fa-info-circle fa-fw"></i> Pomoc</a>

                      {% if can('adm-access') %}
                        <a class="dropdown-item" href="{{ route('adm.home') }}"><i class="fas fa-user-secret fa-fw"></i> Panel administracyjny</a>
                      {% endif %}

                      <div class="dropdown-divider"></div>

                      <a href="javascript:" class="dropdown-item js-change-menu position-relative">Nowe menu <sup class="badge badge-pill label-new">Beta</sup></a>

                      <div class="dropdown-divider"></div>

                      <a href="javascript:" onclick="document['logout-form'].submit()" class="dropdown-item btn-sign-out"><i class="fas fa-sign-out-alt fa-fw"></i> Wyloguj</a>
                    </div>
                  </div>
                {% else %}
                  <a class="btn btn-sm btn-register d-none d-sm-inline-block" href="{{ route('register') }}"><i class="fas fa-sign-in"></i> Utwórz konto</a>
                  <a class="btn btn-sm btn-login d-none d-sm-inline-block" href="{{ route('login') }}">Logowanie</a>
                {% endif %}

                <button class="navbar-toggler d-inline-block d-md-none" type="button" data-toggle="collapse" data-target="#js-nav-mobile">
                  <i class="fa fa-bars"></i>
                </button>
              </div>

              <div id="js-nav-mobile" class="collapse navbar-collapse nav-mobile pd-3 pb-3">
                {% for item in __master_menu.roots() %}
                    <a class="dropdown-link" href="{{ item.url }}">{{ item.title|raw }}</a>
                {% endfor %}

                <div class="dropdown-divider"></div>

                {% if auth_check() %}
                  <a class="dropdown-link" href="{{ route('user.settings') }}"><i class="fas fa-cog fa-fw"></i> Ustawienia</a>
                  <a class="dropdown-link" href="{{ route('profile', [user('id')]) }}"><i class="fas fa-user fa-fw"></i> Profil</a>

                  {% if can('adm-access') %}
                    <a class="dropdown-link" href="{{ route('adm.home') }}"><i class="fas fa-user-secret fa-fw"></i> Panel administracyjny</a>
                  {% endif %}

                  <div class="dropdown-divider"></div>

                  <a href="javascript:" class="dropdown-link js-change-menu position-relative">Nowe menu <sup class="badge badge-pill label-new">Beta</sup></a>

                  <div class="dropdown-divider"></div>

                  <a href="javascript:" onclick="document['logout-form'].submit()" class="dropdown-link btn-sign-out"><i class="fas fa-sign-out-alt fa-fw"></i> Wyloguj</a>
                {% else %}
                  <div class="row">
                    <div class="col-6">
                      <a class="btn d-block btn-register btn-sm" href="{{ route('register') }}"><i class="fas fa-sign-in"></i> Utwórz konto</a>
                    </div>
                    <div class="col-6">
                      <a class="btn-login d-block btn-sm d-block d-sm-none text-center" href="{{ route('login') }}">Logowanie</a>
                    </div>
                  </div>
                {% endif %}

                <div class="dropdown-divider"></div>

                <form action="{{ search_url|default(route('search')) }}" role="search">
                  <input type="text" name="q" placeholder="{{ search_placeholder|default('Szukaj...') }}" value="{{ input_get('q') }}" class="form-control form-control-sm">
                </form>
              </div>
            </div>

      </header>

      <div class="container-fluid">
        {{ breadcrumb|raw }}

        <noscript>
          <div class="row">
            <div class="col-xs">
              <div class="alert alert-danger">
                4programmers.net works best with JavaScript enabled!
              </div>
            </div>
          </div>
        </noscript>

        {{ render_region('header') }}

        {% block fixed %}
          <div class="container-xxl">
            {% if session_has('success') %}
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-success margin-md-top">
                    <i class="fas fa-check"></i>

                    {{ session_get('success') }}
                  </div>
                </div>
              </div>
            {% endif %}

            {% if session_has('error') %}
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-danger margin-md-top">
                    <i class="fas fa-exclamation-triangle"></i>

                    {{ session_get('error') }}
                  </div>
                </div>
              </div>
            {% endif %}

            {% block container %}

            {% endblock %}
          </div>
        {% endblock %}
      </div>

      <footer class="container-fluid">
        <div id="footer-top">
          <a href="https://www.facebook.com/4programmers.net" id="facebook-button" title="Zobacz nasz profil na facebooku!"></a>

          {{ breadcrumb|raw }}
        </div>

        <div id="footer-inner" class="row">
          <div class="col-12">
            <div class="container-xxl">
              {{ render_block('footer') }}
            </div>
          </div>

          <a href="#top" class="back-to-top" title="Powrót na górę"><i class="fas fa-angle-up"></i></a>
        </div>

        <div id="footer-copyright">
          <div class="row container-xxl no-gutters">
            <div>Copyright © 2000-{{ 'now'|date('Y') }} <a title="4programmers.net -- programowanie" class="logo" href="http://4programmers.net/">4programmers.net - programowanie i tworzenie stron WWW</a></div>

            <div class="ml-auto">Coyote {{ config('app.version') }}: {{ timer() }}</div>
          </div>
        </div>
      </footer>

      {{ widgets.vue() }}

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="{{ cdn('js/runtime.js') }}"></script>
      <script src="{{ cdn('js/vendor.js') }}"></script>
      <script src="{{ cdn('js/app.js') }}"></script>
      <script src="{{ cdn('js/common.js') }}"></script>
    {% endblock %}
  </body>
</html>
