<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        {% block head %}
            <title>{% block title %} :: 4programmers.net{% endblock %}</title>

            <meta name="description" content="{% block description %}{% endblock %}">
            <meta name="keywords" content="{% block keywords %}{% endblock %}">

            <link rel="stylesheet" href="{{ cdn('css/main.css') }}">

            <script type="text/javascript">var _config = {{ public|default('{}')|raw }};</script>
        {% endblock %}

        <link rel="apple-touch-icon" href="{{ cdn('img/apple-touch.png') }}">
        <link rel="shortcut icon" href="{{ cdn('img/favicon.png') }}" type="image/png">
    </head>
    <body>
        {% block body %}
        <div id="container-fluid">
            <header class="navbar-default">
                <div id="navbar-border-top"></div>

                <div class="max-width ">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" rel="home" href="{{ route('home') }}" title="4programmers.net - Strona główna">
                            <img id="logo" src="{{ cdn('img/logo.png') }}">
                            <img id="logo-mobile" src="{{ cdn('img/logo-mobile.png') }}">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-main">
                        <ul id="main-menu" class="nav navbar-nav">
                            {% import 'components/forms.twig' as forms %}

                            {% for item in menu.roots() %}
                                <li {{ forms.attr(item.attr) }}>
                                    <a href="{{ item.url }}">{{ item.title }}</a>

                                    {% if item.hasChildren() %}
                                        <ul class="dropdown-menu left">
                                            {% for children in item.children() %}
                                                <li>
                                                    <a href="{{ children.url }}">{{ children.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        <form id="navbar-header-search" class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" placeholder="Szukaj">
                            </div>
                        </form>

                        {% if auth_check()  %}
                            <div class="navbar-right dropdown avatar">
                                <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ user_photo(user('photo')) }}" class="img-thumbnail" style="width: 35px">
                                    <span class="caret"></span>
                                </a>

                                <ul id="dropdown-user" class="dropdown-menu right">
                                    <li class="dropdown-username"><a class="dropdown-userhome" href="{{ route('user.home') }}">{{ user('name')  }}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ route('user.pm') }}"><i class="fa fa-envelope fa-fw"></i> Wiadomości</a></li>
                                    <li><a href="{{ route('user.settings') }}"><i class="fa fa-cog fa-fw"></i> Ustawienia</a></li>
                                    <li><a href="{{ route('profile', [user('id')]) }}"><i class="fa fa-user fa-fw"></i> Profil</a></li>
                                    <li><a href="{{ url('Pomoc') }}"><i class="fa fa-info-circle fa-fw"></i> Pomoc</a></li>

                                    {% if can('adm-access') %}
                                        <li><a href="{{ route('adm.home') }}"><i class="fa fa-user-secret fa-fw"></i> Panel administracyjny</a></li>
                                    {% endif %}

                                    <li class="divider"></li>
                                    <li><a href="{{ route('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Wyloguj</a></li>
                                </ul>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li id="alerts" class="alerts">
                                    <a href="{{ route('user.alerts.ajax') }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {% if user('alerts_unread') %}
                                            <span class="badge">{{ user('alerts_unread') }}</span>
                                        {% endif %}

                                        <i class="fa fa-bell fa-fw"></i>
                                    </a>

                                    <div id="dropdown-alerts" class="dropdown-menu right">
                                        <div class="dropdown-header">
                                            <a title="Przejdź do listy powiadomień" href="{{ route('user.alerts') }}">Powiadomienia</a>

                                            <a id="btn-mark-read" title="Oznacz jako przeczytane" href="{{ route('user.alerts.mark') }}">
                                                <i class="fa fa-calendar-check-o"></i>
                                            </a>
                                        </div>
                                        <div class="dropdown-modal">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-spin fa-spinner"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li id="messages" class="messages">
                                    <a href="{{ route('user.pm.ajax') }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {% if user('pm_unread') %}
                                            <span class="badge">{{ user('pm_unread') }}</span>
                                        {% endif %}

                                        <i class="fa fa-envelope fa-fw"></i>
                                    </a>

                                    <div id="dropdown-messages" class="dropdown-menu right">
                                        <div class="dropdown-header">
                                            <a title="Przejdź do listy wiadomości" href="{{ route('user.pm') }}">Wiadomości</a>

                                            <a id="btn-write-message" href="{{ route('user.pm.submit') }}">
                                                Wyślij wiadomość
                                            </a>
                                        </div>
                                        <div class="dropdown-modal">
                                            <ul>
                                                <i class="fa fa-spin fa-spinner"></i>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <a class="btn btn-warning btn-sm navbar-right navbar-btn btn-register" href="{{ route('register') }}"><i class="fa fa-sign-in"></i> Utwórz konto</a>
                            <a class="btn btn-default btn-sm navbar-right navbar-btn" href="{{ route('login') }}">Logowanie</a>
                        {% endif %}
                    </div>
                </div>
            </header>

            {{ breadcrumb|raw }}

            {% block fixed %}
                <div class="row max-width">
                    <div class="col-md-12">
                        {% if session_has('success') %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-success" style="margin-top: 18px">
                                        <i class="fa fa-check"></i>

                                        {{ session_get('success') }}
                                    </div>
                                </div>

                            </div>
                        {% endif %}

                        {% block container %}

                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            <footer>
                <div id="footer-top">
                    <div class="row max-width">
                        <div class="col-xs-12">
                            <a href="http://4programmers.net/atom.xml" id="feed-button"></a>
                            <a href="https://www.facebook.com/4programmers.net" id="facebook-button"></a>
                        </div>
                    </div>

                    {{ breadcrumb|raw }}
                </div>

                <div id="footer-inner">
                    <div class="row max-width">
                        <div class="col-md-2 col-sm-4">
                            <ul>
                                <li><h6>Programowanie</h6></li>
                                <li><a title="Programowanie w Delphi. Kurs programowania oraz encyklopedia biblioteki VCL" href="http://4programmers.net/Delphi">Delphi</a></li>
                                <li><a title="Zagadnienia z dziedziny programowania w C#" href="http://4programmers.net/C_sharp">C#</a></li>
                                <li><a title="Programowanie w językach C i C++" href="http://4programmers.net/C">C++</a></li>
                                <li><a title="Programowanie Java" href="http://4programmers.net/Java">Java</a></li>
                                <li><a title="Wszystko o XHTML oraz HTML" href="http://4programmers.net/(X)HTML">(X)HTML</a></li>
                            </ul>
                        </div>

                        <div class="col-md-2 col-sm-4">
                            <ul>
                                <li><h6><a title="Forum dla programistów" href="http://forum.4programmers.net">Forum dyskusyjne</a></h6></li>
                                <li><a title="Forum dla początkujących programistów" href="http://forum.4programmers.net/Newbie">Newbie</a></li>
                                <li><a title="Forum dla programistów Javy" href="http://forum.4programmers.net/Java">Java</a></li>
                                <li><a title="Programowanie w C oraz C++" href="http://forum.4programmers.net/C_i_C++">C/C++</a></li>
                                <li><a title="Kariera programisty" href="http://forum.4programmers.net/Kariera">Kariera</a></li>
                                <li><a title="Praca dla programisty" href="http://forum.4programmers.net/Praca">Praca</a></li>

                            </ul>
                        </div>

                        <div class="col-md-2 col-sm-4">
                            <ul>
                                <li><h6>Sprawy administracyjne</h6></li>
                                <li><a title="Jeżeli znalazłeś błąd w oprogramowaniu, tu jest odpowiednie miejsce, aby to zgłosić" href="http://forum.4programmers.net/Coyote">Zgłoś błąd w oprogramowaniu</a></li>
                                <li><a rel="nofollow" title="4programmers.net na facebooku" href="https://www.facebook.com/4programmers.net">4programmers.net na facebooku</a></li>
                                <li><a title="Blog 4programmers.net" href="http://4programmers.net/Blog">Blog 4programmers.net</a></li>
                                <li><a href="http://4programmers.net/Prawa_autorskie">Prawa autorskie</a></li>
                                <li><a title="Logo 4programmers.net" href="http://4programmers.net/Pomoc/Nasze_logo">Nasze logo</a></li>
                            </ul>
                        </div>

                        <div class="col-md-2 col-sm-4">
                            <ul>
                                <li><h6>O nas</h6></li>
                                <li><a title="Kontakt z serwisem 4programmers.net" href="http://4programmers.net/Kontakt">Kontakt</a></li>
                                <li><a title="Regulamin korzystania z serwisu 4programmers.net" href="http://4programmers.net/Regulamin">Regulamin</a></li>
                                <li><a title="Zareklamuj się w serwisie 4programmers.net" href="http://4programmers.net/Reklama">Reklama</a></li>
                                <li><a title="Pomoc w korzystaniu z serwisu 4programmers.net" href="http://4programmers.net/Pomoc">Pomoc</a></li>
                                <li><a title="Odpowiedzi na najczęściej zadawane pytania" href="http://4programmers.net/Patronat">Patronat</a></li>
                            </ul>
                        </div>

                        <div class=" col-sm-4">
                            <div class="footer-bubble">
                                <h6>Skontaktuj się z nami</h6>

                                <ol>
                                    <li><a title="Skontaktuj się poprzez email" href="http://4programmers.net/Kontakt"><i class="fa fa-info-circle fa-fw"></i>  Napisz do nas</a></li>
                                    <li><a title="Skontaktuj się poprzez email" href="https://www.facebook.com/4programmers.net"><i class="fa fa-facebook fa-fw"></i> Odwiedź nas na Facebooku</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="footer-copyright">
                    <div class="row max-width">
                        <div class="col-lg-12">
                            <div class="pull-left">Copyright © 2000-2016 <a title="4programmers.net -- programowanie" class="logo" href="http://4programmers.net/">4programmers.net - programowanie i tworzenie stron WWW</a></div>

                            <div class="pull-right">Coyote 2.0: {{ timer() }}</div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="{{ cdn('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>