{% extends 'layout' %}

{% block title %}
  {{ input_get('q') ? input_get('q') ~ ' :: ' }} Szukaj
  {{ parent() }}
{% endblock %}

{% block container %}

  <div class="row">
    <div class="col-12">

      {{ tabs.asUl({class: 'nav nav-tabs'})|raw }}

      <div id="js-search">
        <vue-pagination :current-page="hits.meta.current_page" :total-pages="hits.meta.last_page"></vue-pagination>

        <component :is="getComponent()" :hits="hits.data"></component>
      </div>

{#      {% if input_get('q') and total == 0 %}#}
{#        <div class="card card-body bg-light p-2 empty-result mt-4">#}
{#          <p>#}
{#            Nie znaleźliśmy stron, które spełniają Twoje kryteria wyszukiwania.<br>#}
{#            <a href="{{ route('home') }}">Wejdź na naszą stronę główną</a>, a być może znajdziesz coś dla siebie!#}
{#          </p>#}
{#        </div>#}
{#      {% elseif total > 0 %}#}

{#        <div class="row">#}
{#          <div class="col-12 text-muted mt-3">#}
{#            Wyniki <strong>{{ pagination.firstItem() }} - {{ pagination.lastItem() }}</strong> z <strong>{{ total }}</strong> znalezione w czasie <strong>{{ took }} ms.</strong>#}
{#          </div>#}
{#        </div>#}

{#        <ul id="search-results" class="list-unstyled">#}
{#          <li>#}
{#            {% for hit in hits %}#}
{#              <h2 class="mt-4 mb-3"><a href="{{ hit.url }}">{{ hit.title|raw }}</a></h2>#}
{#              <p class="mb-1">{{ hit.excerpt|raw }}</p>#}

{#              <a href="{{ hit.url }}" class="text-truncate">{{ hit.url }}#}
{#                <small class="text-muted">[{{ hit.updated_at|format_date }}]</small>#}
{#              </a>#}
{#            {% endfor %}#}
{#          </li>#}
{#        </ul>#}

{#        <nav class="d-flex justify-content-center mt-2 mb-2">#}
{#          {{ pagination|raw }}#}
{#        </nav>#}
{#      {% endif %}#}
    </div>
  </div>
{% endblock %}

{% block head %}
  {{ parent() }}

  <script type="text/javascript">
    var hits = {{ hits|raw }};
  </script>
{% endblock %}

