{% if notifications|length > 0 %}
    {% for notification in notifications %}
        <li class="{{ (notification.read_at and notification.read_at|timestamp < session_created_at) or notification.is_clicked ? '' : 'unread' }}">
            <a href="{{ notification.url ? url(notification.url) : 'javascript:' }}" title="{{ notification.headline }}" data-url="{{ route('user.notifications.url', [notification.guid]) }}">
                <img src="{{ user_photo(notification.user.photo) }}">

                <div>
                    <header>
                        <h4>{{ notification.headline }}</h4>
                        <small>{{ notification.created_at|format_date }}</small>
                    </header>

                    <h3>{{ notification.subject }}</h3>
                    <p>{{ notification.excerpt }}</p>
                </div>
            </a>

            <a class="btn-delete-alert" href="{{ route('user.notifications.delete', [notification.id]) }}" title="Usuń">
                <i class="fa fa-remove"></i>
            </a>
        </li>
    {% endfor %}
{% else %}
    <li style="text-align: center; font-size: 11px">
        Brak powiadomień.
    </li>
{% endif %}
