{% extends 'user.base' %}
{% block title %}Powiadomienia {{ parent() }}{% endblock %}

{% block content %}
    <h2>Powiadomienia</h2>

    <div id="box-alerts" class="panel panel-default">
        <div class="panel-body">
            {% set head_date = '' %}

            <nav class="text-center">
                {{ pagination.render()|raw }}
            </nav>

            {% for notification in pagination %}
                {% if head_date != notification.created_at|date('d F Y') %}
                    <h2>{{ notification.created_at|date('d F Y') }}</h2>
                    {% set head_date = notification.created_at|date('d F Y') %}
                {% endif %}

                {% set url = route('user.notifications.url', [notification.guid]) ~ '#' ~ notification.url %}

                <div class="media {{ (notification.read_at and notification.read_at|timestamp < session_created_at) or notification.is_marked ? '' : 'unread' }}">
                    <div class="media-left">
                        <a href="{{ route('profile', [notification.user.user_id]) }}">
                            <img class="media-object" src="{{ user_photo(notification.user.photo) }}" style="width: 49px; height: 49px;" alt="{{ notification.user.name }}" title="{{ notification.user.name }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <header>
                            <h4 class="pull-left"><a href="{{ url }}">{{ notification.headline }}</a></h4>
                            <small class="pull-right">{{ notification.created_at|format_date }}</small>
                        </header>

                        <h3><a href="{{ url }}">{{ notification.subject|raw }}</a></h3>
                        <p class="excerpt"><a href="{{ url }}">{{ notification.excerpt|raw }}</a></p>
                    </div>
                </div>
            {% else %}
                <p class="alert alert-info">Brak powiadomień.</p>
            {% endfor %}

            <nav class="text-center">
                {{ pagination.render()|raw }}
            </nav>
        </div>
    </div>
{% endblock %}
