<div id="job-header-container">
    <div class="row max-width">
        <div class="col-md-9">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div id="box-search" class="col-md-8 col-sm-12 col-xs-12">
                            {{ form_open({'url': route('job.home'), 'class': 'form-inline edge', 'method': 'get'}) }}
                            <div class="form-group input-keywords col-sm-5 col-xs-6">
                                <div class="col-content">
                                    {{ form_input('search', 'q', request('q'), {'class': 'form-control', 'placeholder': 'Słowo kluczowe lub nazwa firmy'}) }}
                                </div>
                            </div>

                            <div class="form-group input-location col-sm-5 col-xs-5">
                                <div class="col-content">
                                    {#{{ form_input('search', 'city', request('city')|join(', '), {'class': 'form-control', 'placeholder': 'Nazwa miejscowości'}) }}#}
                                    <input type="search" name="city" class="form-control" placeholder="Nazwa miejscowości" value="{{ request('city')|join(', ') }}">
                                </div>
                            </div>

                            <div class="form-group col-sm-2 col-xs-1">
                                <button class="btn btn-primary btn-search" type="submit">
                                    <i class="fa fa-search"></i> <span class="hidden-xs">Szukaj</span>
                                </button>
                            </div>

                            {% for field in ['remote', 'remote_range', 'tag', 'salary', 'currency'] %}
                                {% if input_has(field) %}
                                    {% if input_get(field) is iterable %}
                                        {% for key, value in input_get(field) %}
                                            {{ form_hidden(field ~ '[' ~ key ~ ']', value) }}
                                        {% endfor %}
                                    {% else %}
                                        {{ form_hidden(field, input_get(field)) }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {{ form_close() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 hidden-sm hidden-xs">
            <section id="post-offer">
                <h4>Dla pracodawców</h4>

                <span class="edge">
                    <a href="{{ route('job.submit') }}?revalidate=1" class="btn btn-primary">Dodaj ofertę pracy</a>
                </span>

                <p><a href="{{ route('job.business') }}">Już od 30 zł / 40 dni!</a></p>
            </section>
        </div>
    </div>
</div>
