<table>
    <tbody>
    {% for job in listing %}
        {% set url = route('job.offer', [job.id, job.slug]) %}

        <tr class="{{ loop.first and show_label ? 'top-spot' }} {{ show_highlight and job.is_highlight ? 'highlight' }}">
            <td class="col-logo">
                {% if loop.first and show_label %}
                    <span class="label top-spot-badge">Promowane</span>
                {% endif %}

                <a href="{{ url }}"><img alt="{{ job.firm.name }}" src="{{ logo(job.firm.logo) }}"></a>
            </td>
            <td class="col-body">
                <h2><a href="{{ url }}" title="{{ job.title|raw }}">{{ job.title|raw }}</a></h2>

                {% if job.score >= 150 %}
                    <a href="{{ url }}" class="medal hidden-xs" title="Oferta na medal. To odznaczenie przyznawane jest ofertom, które zawierają szczegółowe informacje o pracy"></a>
                {% endif %}

                <p>
                    {% if job.firm %}
                        <a class="employer" title="Zobacz oferty pracy z firmy {{ job.firm.name }}" href="{{ route('job.firm', [job.firm.slug]) }}">{{ job.firm.name }}</a>
                    {% endif %}

                    <small class="location">
                        {% include 'job.partials.location' with {
                            locations: job.locations.pluck('city'),
                            separator: job.firm is not null
                        } %}
                    </small>
                </p>

                {% if job.salary_from or job.salary_to %}
                    <p class="salary visible-xs-inline">
                        {% include 'job.partials.salary' %}
                    </p>
                {% endif %}

                {% if job.referral_bonus %}
                    <p class="bonus visible-xs-inline">
                        <a href="{{ route('job.refer', [job.id]) }}" class="label label-bonus">{{ job.referral_bonus }} zł za polecenie</a>
                    </p>
                {% endif %}

                {% if job.tags %}
                    <ul class="tag-clouds tag-clouds-sm">
                        {% for tag in job.tags[0:5] %}
                            <li><a data-category="job-tag" data-action="offer" data-value="{{ tag }}" title="Znajdź oferty z technologii: {{ tag }}" href="{{ route('job.tag', [tag|url_encode]) }}">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td class="col-salary hidden-xs hidden-xxs">
                {% if job.salary_from or job.salary_to %}
                    <p class="salary">
                        {% include 'job.partials.salary' %}
                    </p>
                {% endif %}

                {% if job.referral_bonus %}
                    <p class="bonus">
                        <a href="{{ route('job.refer', [job.id]) }}" class="label label-bonus">{{ job.referral_bonus }} zł za polecenie</a>
                    </p>
                {% endif %}
            </td>
            <td class="col-time hidden-sm hidden-xs hidden-xxs">
                {% if diff_in_days(job.boost_at) <= 2 %}
                    <span class="label label-new">Nowe</span>
                {% else %}
                    <small class="text-muted" title="{{ job.boost_at|format_date }}">{{ job.boost_at|diff_for_humans }}</small>
                {% endif %}
            </td>
            <td class="col-fav">
                <a class="btn-subscribe {{ subscribes.contains('id', job.id) ? 'on' }}" href="{{ route('job.subscribe', [job.id]) }}" title="Dodaj lub usuń tę ofertę do ulubionych">
                    <i class="fa fa-fw fa-star-o"></i>
                    <i class="fa fa-fw fa-star"></i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="empty-result">
                <p>
                    Nie znaleźliśmy ofert, które spełniają Twoje kryteria.<br>
                    <a href="{{ route('job.home', {'tab': 'all'}) }}">Zobacz wszystkie oferty</a>, a być może znajdziesz coś dla siebie!
                </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
