<nav>
    {{ pagination|raw }}
</nav>

<section class="panel panel-wrapper">
    <div id="box-jobs" class="panel-body">
        <ul id="sort" class="hidden-xs">
            {% set sort = input_get('sort', '_score') %}

            <li>{{ link_to(app.request.path() ~ '?' ~ http_build_query(input_get()|merge({sort: '_score', order: 'desc'})), 'Trafność', {class: 'sort' ~ (sort == '_score' ? ' desc')}) }}</li>
            <li>{{ link_to(app.request.path() ~ '?' ~ http_build_query(input_get()|merge({sort: 'id', order: 'desc'})), 'Data dodania', {class: 'sort' ~ (sort == 'id' ? ' desc')}) }}</li>
            <li>{{ link_to(app.request.path() ~ '?' ~ http_build_query(input_get()|merge({sort: 'salary', order: 'desc'})), 'Wynagrodzenie', {class: 'sort' ~ (sort == 'salary' ? ' desc')}) }}</li>
        </ul>

        <a href="{{ route('job.submit') }}?revalidate=1" class="btn btn-primary btn-sm pull-right visible-xs visible-sm" style="margin-top: 6px; margin-bottom: 10px" title="Dodaj ofertę pracy zupełnie za darmo!">Dodaj ofertę pracy</a>

        <div class="clearfix"></div>

        <table>
            <tbody>
                {% for job in jobs %}
                    {% set url = route('job.offer', [job.id, job.slug]) %}

                    <tr {{ loop.first and job.boost ? 'class="top-spot"' }}>
                        <td class="col-logo">
                            {% if job.boost %}
                                <span class="label top-spot-badge">Promowana</span>
                            {% endif %}

                            <a href="{{ url }}"><img alt="{{ job.firm.name }}" src="{{ logo(job.firm.logo) }}"></a>
                        </td>
                        <td class="col-body">
                            <h2><a href="{{ url }}" title="{{ job.title|raw }}">{{ job.title|raw }}</a></h2>

                            {% if job.score >= 140 %}
                                <a href="{{ url }}"><img src="/img/medal.png" class="medal hidden-xs" title="Oferta na medal. To odznaczenie przyznawane jest ofertom, które zawierają szczegółowe informacje o pracy"></a>
                            {% endif %}

                            <p>
                                {% if job.firm %}
                                    <a class="employer" title="Zobacz oferty pracy z firmy {{ job.firm.name }}" href="{{ route('job.firm', [job.firm.name]) }}">{{ job.firm.name }}</a>
                                {% endif %}

                                <small>
                                    {% include 'job.partials.location' with {
                                        locations: job.locations.pluck('city'),
                                        separator: job.firm is not null
                                    } %}
                                </small>
                            </p>

                            {% if job.salary_from or job.salary_to %}
                                <p class="text-primary visible-xs">
                                    {% include 'job.partials.salary' %}
                                </p>
                            {% endif %}

                            {% if job.tags %}
                                <ul class="tag-clouds tag-clouds-sm">
                                    {% for tag in job.tags[0:5] %}
                                        <li><a data-category="job-tag" data-action="offer" data-value="{{ tag }}" title="Znajdź oferty z technologii: {{ tag }}" href="{{ route('job.tag', [tag|url_encode]) }}">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td class="col-salary hidden-xs hidden-xxs">
                            {% if job.salary_from or job.salary_to %}
                                <p class="text-primary">
                                    {% include 'job.partials.salary' %}
                                </p>
                            {% endif %}
                        </td>
                        <td class="col-time hidden-sm hidden-xs hidden-xxs">
                            {% if is_today(job.created_at) %}
                                <p><span class="label label-new">Nowe</span></p>
                            {% endif %}

                            <small class="text-muted" title="{{ job.created_at|format_date }}">{{ job.created_at|diff_for_humans }}</small>
                        </td>
                        <td class="col-fav">
                            <a class="btn-subscribe {{ subscribes.contains('id', job.id) ? 'on' }}" href="{{ route('job.subscribe', [job.id]) }}" title="Dodaj lub usuń tę ofertę do ulubionych">
                                <i class="fa fa-fw fa-star-o"></i>
                                <i class="fa fa-fw fa-star"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="empty-result">
                            <p>
                                Nie znaleźliśmy ofert, które spełniają Twoje kryteria.<br>
                                <a href="{{ route('job.home', {'tab': 'all'}) }}">Zobacz wszystkie oferty</a>, a być może znajdziesz coś dla siebie!
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<nav>
    {{ pagination|raw }}
</nav>
