<nav>
    {{ pagination|raw }}
</nav>

<section class="panel panel-wrapper">
    <div id="box-jobs" class="panel-body">
        <ul id="sort" class="hidden-xs">
            <li>{{ sortable('_score', 'Trafność', ['_score', 'desc']) }}</li>
            <li>{{ sortable('id', 'Data dodania', ['_score', 'desc']) }}</li>
            <li>{{ sortable('salary', 'Wynagrodzenie', ['_score', 'desc']) }}</li>
        </ul>

        <a href="{{ route('job.submit') }}?revalidate=1" class="btn btn-primary btn-sm pull-right visible-xs visible-sm" style="margin-top: 6px; margin-bottom: 10px" title="Dodaj ofertę pracy zupełnie za darmo!">Dodaj ofertę pracy</a>

        <div class="clearfix"></div>

        <table>
            <tbody>
                {% for job in jobs %}
                    {% set url = route('job.offer', [job.id, job.slug]) %}

                    <tr>
                        <td class="col-logo">
                            <a href="{{ url }}">
                                {% if job.firm.logo %}
                                    <img title="{{ job.firm.name }}" src="{{ logo(job.firm.logo) }}">
                                {% else %}
                                    <img src="{{ cdn('img/logo-gray.png') }}">
                                {% endif %}
                            </a>
                        </td>
                        <td class="col-body">
                            <h2><a href="{{ url }}" title="{{ job.title }}">{{ job.title }}</a></h2>

                            <p>
                                {% if job.firm %}
                                    <a class="employer" title="Zobacz oferty pracy z firmy {{ job.firm.name }}" href="{{ route('job.firm', [job.firm.name]) }}">{{ job.firm.name }}</a>
                                {% endif %}

                                <small>
                                    {% include 'job.partials.location' with {
                                        'locations': job.locations.lists('city'),
                                        'separator': job.firm is not null
                                    } %}
                                </small>
                            </p>

                            {% if job.tags %}
                                <ul class="tag-clouds">
                                    {% for tag in job.tags[0:5] %}
                                        <li><a data-category="job-tag" data-action="offer" data-value="{{ tag }}" title="Znajdź oferty z technologii: {{ tag }}" href="{{ route('job.tag', [tag|url_encode]) }}">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td class="col-salary hidden-xs hidden-xxs">
                            {% if job.salary_from or job.salary_to %}
                                <p class="text-primary">
                                    {% include 'job.partials.salary' with {rate_label: true} %}
                                </p>
                            {% endif %}
                        </td>
                        <td class="col-time hidden-sm hidden-xs hidden-xxs">
                            {% if diff_in_days(job.created_at) <= 1 %}
                                <p><span class="label label-new">Nowe</span></p>
                            {% endif %}

                            <small>{{ job.created_at|format_date }}</small>
                        </td>
                        <td class="col-fav">
                            <a class="btn-subscribe {{ subscribes.contains('id', job.id) ? 'on' }}" href="{{ route('job.subscribe', [job.id]) }}" title="Dodaj lub usuń tę ofertę do ulubionych">
                                <i class="fa fa-fw fa-star-o"></i>
                                <i class="fa fa-fw fa-star"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="empty-result">
                            <p>
                                Nie znaleźliśmy ofert, które spełniają Twoje kryteria.<br>
                                <a href="{{ route('job.home', {'tab': 'all'}) }}">Zobacz wszystkie oferty</a>, a być może znajdziesz coś dla siebie!
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<nav>
    {{ pagination|raw }}
</nav>
