{% import 'components.modals' as modals %}

{% if not job.is_expired %}
  <div class="row mb-5">
      <div class="col-lg-6">
        {% set attr = is_applied ? {title: 'Już aplikowałeś na tę ofertę pracy', disabled: 'disabled' } : {} %}

        {% if job.enable_apply %}
          {% set url = route('job.application', [job.id]) %}
        {% elseif is_url(job.getOriginal('recruitment')) %}
          {% set url = job.getOriginal('recruitment') %}
          {% set attr = attr|merge({'target': '_blank'}) %}
        {% else %}
          {% set url = "#apply" %}
        {% endif %}

        {{ link_to(url, 'Aplikuj', attr|merge({class: 'btn d-block btn-primary'})) }}
      </div>

      <div class="col-lg-6">
        <a class="btn d-block btn-refer" href="{{ route('job.refer', [job]) }}"><i class="fas fa-retweet"></i> Poleć znajomemu</a>
      </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <h3>Dodatkowe pytania?</h3>

      <i class="fas fa-info-circle fa-2x float-left"></i>

      <div class="float-left ml-1">
        <a href="#comments" style="font-size: 15px" class="text-muted">Zadaj pytanie dotyczace tego ogłoszenia</a>
      </div>
    </div>
  </div>
{% endif %}

<ul class="side-menu">
  <li>
    {% set labels = ['Usuń z ulubionych', 'Dodaj do ulubionych'] %}
    <a class="btn-subscribe {{ subscribed ? 'on' }}" href="{{ route('job.subscribe', [job.id]) }}" data-off="{{ labels[0] }}" data-on="{{ labels[1] }}">
      <i class="far fa-fw fa-star"></i>
      <i class="fas fa-fw fa-star"></i>

      <span>{{ labels[not subscribed] }}</span>
    </a>
  </li>

  {% if not job.is_expired and can('update', job) %}
    <li>
      <a class="btn-edit" href="{{ route('job.submit', [job.id]) }}">
        <i class="fas fa-fw fa-edit"></i>
        Edycja oferty
      </a>
    </li>
  {% endif %}

  <li>
    <a class="btn-add" href="{{ route('job.submit') }}?revalidate=1"><i class="fas fa-fw fa-pencil-alt"></i> Dodaj ofertę pracy</a>
  </li>

  {% if can('delete', job) %}
    <li>
      <a class="btn-delete" href="#modal-delete" data-toggle="modal"><i class="fas fa-fw fa-times"></i> Usuń tę ofertę pracy</a>
    </li>
  {% endif %}

  {% if auth_check() %}
    <li>
      <a class="btn-report" href="javascript:" data-url="{{ route('job.offer', [job.id, job.slug], false) }}" data-metadata="{{ {'job_id': job.id, 'permission': 'job-delete'}|encrypt }}"><i class="fas fa-fw fa-flag"></i>
        Zgłoś naruszenie</a>
    </li>
  {% endif %}
</ul>

{{ form_open({'url': route('job.delete', [job.id]) }) }}
    {{ modals.confirm('Czy chcesz usunąć tę ofertę pracy?', 'Usuwanie', 'modal-delete') }}
{{ form_close() }}
