{% import 'components.modals' as modals %}

{% if job.enable_apply and not job.is_expired %}
    <div class="box-apply hidden-sm hidden-xs margin-md-bottom">
        <span class="outline">
            <a class="btn btn-primary" href="{{ route('job.application', [job.id]) }}" {{ applied ? 'title="Już aplikowałeś na tę ofertę pracy" disabled' }}>Aplikuj na to stanowisko</a>
        </span>
    </div>
{% endif %}

<ul class="side-menu">
    <li>
        {% set labels = ['Usuń z ulubionych', 'Dodaj do ulubionych'] %}
        <a class="btn-subscribe {{ subscribed ? 'on' }}" href="{{ route('job.subscribe', [job.id]) }}" data-off="{{ labels[0] }}" data-on="{{ labels[1] }}">
            <i class="fa fa-fw fa-star-o"></i>
            <i class="fa fa-fw fa-star"></i>

            <span>{{ labels[not subscribed] }}</span>
        </a>
    </li>

    {% if not job.is_expired and can('update', job) %}
        <li>
            <a class="btn-edit" href="{{ route('job.submit', [job.id]) }}">
                <i class="fa fa-fw fa-edit"></i>
                Edycja oferty
            </a>
        </li>
    {% endif %}

    <li>
        <a class="btn-add" href="{{ route('job.submit') }}?revalidate=1"><i class="fa fa-fw fa-pencil"></i> Dodaj ofertę pracy</a>
    </li>

    {% if can('delete', job) %}
        <li>
            <a class="btn-delete" href="#modal-delete" data-toggle="modal"><i class="fa fa-fw fa-remove"></i> Usuń tę ofertę pracy</a>
        </li>
    {% endif %}

    {% if can('job-delete') %}
        <li>
            <a class="btn-move" href="{{ route('job.move', [job.id]) }}"><i class="fa fa-fw fa-arrow-circle-right"></i> Przenieś na forum</a>
        </li>
    {% endif %}

    {% if auth_check() %}
        <li>
            <a class="btn-report" href="{{ route('flag') }}" data-url="{{ route('job.offer', [job.id, job.slug], false) }}" data-metadata="{{ {'job_id': job.id, 'permission': 'job-delete'}|encrypt }}"><i class="fa fa-fw fa-flag"></i> Zgłoś naruszenie</a>
        </li>
    {% endif %}
</ul>

{{ form_open({'url': route('job.delete', [job.id]) }) }}
    {{ modals.confirm('Czy chcesz usunąć tę ofertę pracy?', 'Usuwanie', 'modal-delete') }}
{{ form_close() }}
