<ul class="list-unstyled">
  <li>
    {{ icon('errorPageBackToHomepage') }}
    <a href="{{ route('home') }}">
      Przejdź do strony głównej
    </a>
  </li>
  <li>
    {{ icon('errorPageContactUs') }}
    <a href="{{ url('Kontakt') }}">
      Skontaktuj się z nami jeżeli uważasz, że to błąd
    </a>
  </li>
  <li>
    {{ icon('errorPageNeedHelp') }}
    <a href="{{ url('Pomoc') }}">
      Potrzebujesz pomocy?
    </a>
  </li>
</ul>
