{% extends 'forum.base' %}
{% block title %}
    {% if routeName != 'forum.home' %}
        {{ tabs[routeName] }} ::
    {% endif %}

    Forum dyskusyjne{{ parent() }}
{% endblock %}

{% import 'components.forms' as forms %}

{% block container %}
    <div id="index" class="sidebar">
        <ul class="nav nav-tabs">
            {% for route, label in tabs %}
                <li role="presentation" {{ route == routeName ? 'class="active"' }}><a href="{{ route == 'forum.tag' ? route(route, tag) : route(route) }}">{{ label }}</a></li>
            {% endfor %}
        </ul>

        {% include "forum.partials.top" %}

        <main id="mainbar">
            {% block mainbar %}
                {% for name, forums in sections %}
                    {% include 'forum.partials.section' %}
                {% endfor %}
            {% endblock %}

            {{ viewers|raw }}
        </main>

        {% embed 'forum.partials.sidebar' %}
            {% block side_menu %}
                {% if topics.total() %}
                    <div id="box-count" class="box">
                        <strong>{{ topics.total()|number_format(0, '', ' ') }}</strong>
                        <span>{{ declination(topics.total(), ['wątek', 'wątki', 'wątków'], true) }}</span>
                    </div>
                {% endif %}

                <div class="box">
                    <ul class="side-menu">
                        <li class="btn-mark-read">
                            <a title="Oznacz kategorie jako przeczytane" href="{{ route('forum.mark') }}" data-category="forum-sidebar-buttons">Oznacz jako przeczytane</a>
                        </li>
                        <li class="btn-atom">
                            <a href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                        </li>
                        <li id="btn-setting">
                            <a title="Zmień kolejność wyświetlanych kategorii" href="http://4programmers.net/User/Order" data-category="forum-sidebar-buttons" data-value="setting">Personalizacja forum</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}