{% extends 'layout.twig' %}
{% block title %}
    {% if routeName != 'forum.home' %}
        {{ tabs[routeName] }} ::
    {% endif %}

    Forum dyskusyjne{{ parent() }}
{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    <div id="index" class="sidebar">
        <ul class="nav nav-tabs">
            {% for route, label in tabs %}
            <li role="presentation" {{ route == routeName ? 'class="active"' }}><a href="{{ route(route, ['']) }}">{{ label }}</a></li>
            {% endfor %}
        </ul>

        {% include "forum/top.twig" %}

        <main id="mainbar">
            {% block mainbar %}
                {% for name, forums in sections %}
                    {% include 'forum/section.twig' %}
                {% endfor %}
            {% endblock %}

            {{ viewers|raw }}
        </main>

        <aside id="sidebar">
            <div class="box">
                <ul class="side-menu">
                    <li class="btn-mark-read">
                        <a title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">Oznacz jako przeczytane</a>
                    </li>
                    <li class="btn-atom">
                        <a href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                    </li>
                    <li id="btn-setting">
                        <a title="Zmień kolejność wyświetlanych kategorii" href="http://4programmers.net/User/Order" data-category="forum-sidebar-buttons" data-value="setting">Personalizacja forum</a>
                    </li>
                </ul>
            </div>

            {% include "forum/sidebar.twig" %}
        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/forum.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="/js/forum.js" type="text/javascript"></script>
{% endblock %}