<tr>
  <td>
    <a href="javascript:" class="btn-append" data-url="{{ form.file.value.url }}" rel="nofollow">
      {{ form.name.value }}
    </a>
  </td>
  <td>{{ form.mime.value }}</td>
  <td>{{ form.created_at.value|format_date }}</td>
  <td>{{ (form.size.value / 1024)|round(2) }} kB</td>
  <td>
    <button type="button" title="Usuń załącznik" class="btn btn-secondary btn-sm btn-del">
      <i class="fas fa-trash-can"></i>
    </button>

    {{ form_widget(form.id) }}
  </td>
</tr>
