{% extends 'job.base' %}
{% block title %}
    Aplikuj na stanowisko "{{ job.title }}"
    {{ parent() }}
{% endblock %}

{% block container %}
    <div class="row" style="margin-top: 20px">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="media-heading">{{ link_to_route('job.offer', job.title, [job.id, job.slug]) }}</h1>
                    <h3>Wypełnij poniższy formularz, aby zgłosić swoją ofertę</h3>

                    <div class="alert alert-warning">
                        Serwis 4programmers.net <strong>nie przechowuje</strong> na swoich serwerach żadnych danych osobowych,
                        w tym CV oraz listu motywacyjnego.<br>

                        Informacje te są automatycznie wysyłane do potencjalnego pracodawcy/zleceniodawcy,
                        a następnie <strong>usuwane z naszych serwerów</strong>.
                    </div>

                    {{ form(form) }}
                </div>
            </div>
        </div>

        <aside class="col-md-3">
            {% include 'job.partials.sidemenu' %}
            {{ render_block('job_ads') }}
        </aside>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="{{ cdn('js/job-tinymce.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            $('input[name="cv_placeholder"]').click(function() {
                $('input[name="cv"]').click();
            });

            $(':file').change(function() {
                $(this).next().val($(this).val());
            })
        });
    </script>
{% endblock %}