{% extends 'job.base' %}

{% block title %}Nasza oferta :: Praca {{ parent() }}{% endblock %}

{% block container %}
  {% macro pricingPlan(elementClass, plan) %}
    <div class="pricing-plan {{ elementClass }}">
      <div class="pricing-plan__body">
        <div class="pricing-plan__content">
          <p class="pricing-plan__name mb-2">
            <span class="pricing-plan__name-icon">
              {{ icon('jobBoardPricingPlanName') }}
            </span>
            {{ plan.name }}
          </p>
          <p>
            <strong>{{ plan.bundleSize }}</strong>
            {{ declination(plan.bundleSize, ['opublikowana oferta', 'opublikowane oferty', 'opublikowanych ofert'], true) }}
          </p>
          <hr class="pricing-plan__divider">
          <p class="pricing-plan__price">{{ plan.price }} PLN</p>
          <p>za ogłoszenie publikowane <strong>{{ plan.durationInDays }} dni</strong></p>
          {% if plan.fullPrice %}
            <p class="mt-3">
              <strong class="pricing-plan__full-price">{{ plan.fullPrice }} PLN</strong> koszt całego pakietu
            </p>
          {% endif %}
          <hr class="pricing-plan__divider">
          <ul>
            {% for bulletPoint in plan.bulletPoints %}
              <li class="pricing-plan__bullet-item">
                <span class="pricing-plan__bullet">
                  {{ icon('jobBoardPricingPlanBulletPoint') }}
                </span>
                <span>{{ bulletPoint }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% if plan.discount %}
          <div class="pricing-plan__footer">
            Kup pakiet i zaoszczędź <strong>{{ plan.discount }}</strong>
          </div>
        {% endif %}
      </div>
      <a class="btn btn-primary mt-3" style="width:100%;" href="{{ plan.createOfferUrl }}">
        Wybierz plan
      </a>
    </div>
  {% endmacro %}
  <div class="reset">
    <div class="page-heading">
      <h1 class="page-heading__title">
        Znajdź najlepszych programistów szybciej i skuteczniej!
      </h1>
      <h2 class="page-heading__subtitle">
        4Programmers każdego miesiąca odwiedza ponad <strong>150 000+</strong> programistów.
      </h2>
    </div>
    <div class="d-xl-flex align-items-end justify-content-center">
      {% set colors = [
        "pricing-plan--gray", "pricing-plan--yellow", "pricing-plan--blue",
        "pricing-plan--violet", "pricing-plan--green"
      ] %}
      {% for plan in plans %}
        <div class="width-xl-1/5 mb-4 mb-xl-0 md-xl-0 px-md-2 {{ loop.index0 == 0 ? 'align-self-end' : 'align-self-stretch' }}">
          {{ _self.pricingPlan(colors[loop.index0] ~ ' ' ~ (loop.index0 == 0 ?: 'pricing-plan--tall'), plan) }}
        </div>
      {% endfor %}
      <div class="width-xl-3/5 pricing-package ms-xl-2 align-self-stretch">
        <div class="pricing-package__header">
          W pakietach taniej
        </div>
        <div class="d-xl-flex flex-grow-1">
          {% for plan in packagePlans %}
            <div class="width-xl-1/3 align-self-stretch {{ not loop.last ? 'mb-4 mb-xl-0 pe-xl-2' : '' }} ">
              {{ _self.pricingPlan(colors[loop.index0 + 2] ~ ' pricing-plan--tall', plan) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="page-heading">
      <h1 class="page-heading__subtitle">
        Pomogliśmy z sukcesami między innymi takim firmom jak:
      </h1>
    </div>
    <div class="text-center mt-4">
      {% set logos = [
        "/img/jobBoard/logo1.png",
        "/img/jobBoard/logo2.png",
        "/img/jobBoard/logo3.png",
        "/img/jobBoard/logo4.png",
        "/img/jobBoard/logo5.png",
        "/img/jobBoard/logo6.png",
        "/img/jobBoard/logo7.png",
        "/img/jobBoard/logo8.png",
        "/img/jobBoard/logo9.png",
        "/img/jobBoard/logo10.png",
      ] %}
      <div class="testimonials">
        {% for logo in logos %}
          <div class="testimonials__testimonial {{ loop.index0 in [0,1,3] ?: 'testimonials__testimonial--dark-invert' }}">
            <img src="{{ logo }}" style="max-width:76%; padding-left:12%;padding-right:12%;">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
