{% extends 'layout' %}

{% block title %}Płatność{{ parent() }}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block container %}
  <div class="card card-body bg-light p-2 border-0 text-center">
    <span style="font-size: 20px" class="justify-content-center ml-1"><i class="fas fa-spin fa-spinner  fa-fw"></i> Ładowanie...</span>
  </div>

  {% block wrapper %}
    {{ form_open({id: 'gateway-form', url: config('services.p24.payment_url')}) }}
    {{ form_hidden('p24_merchant_id', config('services.p24.client_id')) }}
    {{ form_hidden('p24_pos_id', config('services.p24.client_id')) }}
    {{ form_hidden('p24_session_id', payment.session_id) }}
    {{ form_hidden('p24_amount', (payment.invoice.gross_price * 100)|round) }}
    {{ form_hidden('p24_currency', 'PLN') }}
    {{ form_hidden('p24_country', 'PL') }}
    {{ form_hidden('p24_description', payment.job_id) }}
    {{ form_hidden('p24_email', payment.job.user.email) }}
    {{ form_hidden('p24_method', input_get('transfer_method')) }}
    {{ form_hidden('p24_url_return', route('job.payment.success', [payment])) }}
    {{ form_hidden('p24_url_status', route('job.payment.status')) }}
    {{ form_hidden('p24_api_version', '3.2') }}
    {{ form_hidden('p24_sign', payment.sign()) }}
    {{ form_close() }}
  {% endblock %}
{% endblock %}

{% block body %}
  {{ parent() }}

  <script>
    (function () {
      document.getElementById('gateway-form').submit();
    })();
  </script>
{% endblock %}
