{% extends 'job/base.twig' %}
{% block title %}Praca {{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <main class="col-md-9">
            {{ form_open({'id': 'box-search'}) }}
                <div class="row">
                    <div class="col-sm-5">
                        <label>Słowo kluczowe</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            {{ form_text('q', input_old('q'), {'class': 'form-control form-query', 'placeholder': 'Słowo kluczowe lub nazwa firmy'}) }}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label>Lokalizacja</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                            {{ form_text('location', input_old('location'), {'class': 'form-control form-location', 'placeholder': 'Nazwa miejscowości'}) }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-search" style="width: 100%">
                            <i class="fa fa-search"></i> Szukaj
                        </button>
                    </div>
                </div>
            {{ form_close() }}

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="{{ route('job.home') }}">Wszystkie</a></li>

                {% if auth_check() %}
                    <li role="presentation" title="Kliknij, aby zobaczyć oferty pasujące do mnie"><a href="{{ route('job.home') }}">Pasujące do mnie</a></li>
                    <li role="presentation" title="Kliknij, aby zobaczyć oferty dodane przeze mnie"><a href="{{ route('job.home') }}">Moje</a></li>
                {% endif %}
            </ul>

            <div class="row">
                <div id="box-filter" class="col-sm-3">
                    <h5><i class="fa fa-cog"></i> Technologie</h5>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#"><i class="fa fa-check-square-o"></i> <span>javascript</span> <small>(317 ofert)</small></a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class="fa fa-square-o"></i> <span>java</span> <small>(211 ofert)</small></a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class="fa fa-square-o"></i> <span>c#</span> <small>(211 ofert)</small></a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-9">
                    <nav>
                        <ul class="pagination"><li class="disabled"><span>«</span></li> <li class="active"><span>1</span></li><li><a href="http://coyote.dev/Mikroblogi?page=2">2</a></li><li><a href="http://coyote.dev/Mikroblogi?page=3">3</a></li><li><a href="http://coyote.dev/Mikroblogi?page=4">4</a></li> <li><a href="http://coyote.dev/Mikroblogi?page=2" rel="next">»</a></li></ul>
                    </nav>

                    <section class="panel panel-wrapper">
                        <div id="box-jobs" class="panel-body">
                            <ul id="sort" class="hidden-xs">
                                <li>{{ sortable('_score', 'Trafność', ['_score', 'desc']) }}</li>
                                <li>{{ sortable('id', 'Data dodania', ['_score', 'desc']) }}</li>
                                <li>{{ sortable('salary', 'Wynagrodzenie', ['_score', 'desc']) }}</li>
                            </ul>

                            <table>
                                <tbody>
                                    {% for job in jobs %}
                                        {% set url = route('job.offer', [job.id, job.path]) %}

                                        <tr>
                                            <td class="col-logo">
                                                {% if job.firm %}
                                                    <a href="{{ url }}"><img title="{{ job.firm.name }}" src="{{ cdn('storage/logo/' ~ job.firm.logo) }}" width="55"></a>
                                                {% else %}
                                                    <img src="{{ cdn('img/logo-gray.png') }}" width="55">
                                                {% endif %}
                                            </td>
                                            <td class="col-body">
                                                <h2><a href="{{ url }}">{{ job.title }}</a></h2>

                                                <p>
                                                    {% if job.firm %}
                                                        <a title="Zobacz oferty pracy z firmy {{ job.firm.name }}" href="{{ route('job.firm', [job.firm.name]) }}">{{ job.firm.name }}</a> &nbsp;•&nbsp;
                                                    {% endif %}

                                                    <small>{% include 'job.partials.location' with {'locations': job.locations} %}</small>

                                                    {% if job.is_remote %}
                                                        <small><a title="Praca zdalna jest możliwą opcją w przypadku tego ogłoszenia" href="{{ route('job.remote') }}">(praca zdalna)</a></small>
                                                    {% endif %}
                                                </p>

                                                <ul class="tag-clouds hidden-sm hidden-xs">
                                                    <li><a data-category="job-tag" data-action="offer" data-value="java" title="Znajdź oferty z technologii: java" href="http://4programmers.net/Praca/Technologia/java">java</a></li>
                                                    <li><a data-category="job-tag" data-action="offer" data-value="mobile" title="Znajdź oferty z technologii: mobile" href="http://4programmers.net/Praca/Technologia/mobile">mobile</a></li>
                                                    <li><a data-category="job-tag" data-action="offer" data-value="android" title="Znajdź oferty z technologii: android" href="http://4programmers.net/Praca/Technologia/android">android</a></li>
                                                    <li><a data-category="job-tag" data-action="offer" data-value="framework" title="Znajdź oferty z technologii: framework" href="http://4programmers.net/Praca/Technologia/framework">framework</a></li>
                                                </ul>
                                            </td>
                                            <td class="col-salary">
                                                {% if job.salary_from or job.salary_to %}
                                                    <p class="text-success">
                                                        {% include 'job.partials.salary' %}

                                                        {% if job.rate_id > 1 %}
                                                            <small>/ {{ ratesList[job.rate_id] }}</small>
                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                            </td>
                                            <td class="col-time">
                                                <p><span class="label label-new">Nowe</span></p>

                                                <small>{{ job.created_at|format_date }}</small>
                                            </td>
                                            <td class="col-fav">
                                                <a class="btn-fav" href="http://4programmers.net/Praca/Watch/205649" title="Dodaj tę ofertę do ulubionych"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <aside class="col-md-3">

            <section id="box-employers" class="box">
                <h4>Dla pracodawców</h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check"></i> Umieszczenie ogłoszenia <strong>w 100% darmowe</strong>!</li>
                            <li><i class="fa fa-check"></i> Reklama na naszym forum</li>
                            <li><i class="fa fa-check"></i> Dostęp do specjalistów IT</li>
                        </ul>

                        <a class="btn btn-primary" href="#">Dodaj nowe ogłoszenie</a>
                    </div>
                </div>
            </section>
        </aside>
    </div>
{% endblock %}

{% block fixed %}
    {{ parent() }}

    <div id="box-clients">
        <div class="row max-width">
            <div class="col-xs-12">
                <h4>Z naszych usług korzystali...</h4>

                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/wp.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/gazeta.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/allegro.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/nsn.png') }}" class="img-responsive" style="height: 25px">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/pgs-software.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/microsoft.png') }}" class="img-responsive" style="height: 25px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}