{% extends 'job.base' %}

{%- block title -%}
    Praca

    {% if firm %}
        w firmie {{ firm }}
    {% endif %}

    {% if request('q') %}
        {{ request('q') }}
    {% endif %}

    {% if input.tags %}
        {{ input.tags|join(', ') }}
    {% endif %}

    {% if input.locations %}
        {{ input.locations|join(', ') }}
    {% endif %}

    {{ parent() }}
{%- endblock -%}
{% block description %}Praca dla programistów. Pracodawco: umieść u nas swoją ofertę pracy - już od 0,75 zł za dzień. Znajdź u nas pracownika wśród 50 000 programistów.{% endblock %}
{% block keywords %}programowanie, praca, C#, Java, programista, HTML, CSS, webdesign, JavaScript, jQuery, C, C++, webmastering{% endblock %}

{% import 'components.widgets' as widgets %}

{% block container %}
    <div id="page-job">
        <div class="row">
            <form method="get" ref="searchForm" action="{{ form_url }}" @submit.prevent="search" :class="{'form-open': isFormOpen}">
                <div class="col-md-9">
                    <div class="panel panel-default search-form margin-md-top">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12">
                                    <i class="fa fa-fw fa-search"></i>

                                    <input v-model="input.q" @focus="isFormOpen = true" ref="q" name="q" type="search" class="form-control" placeholder="Szukaj po tytule, nazwie firmy">
                                </div>

                                <div class="form-group col-sm-4 col-xs-12 col-location">
                                    <i class="fa fa-fw fa-map-marker"></i>

                                    <input v-model="input.city" ref="city" name="city" type="search" class="form-control" placeholder="Nazwa miejscowości" autocomplete="off">
                                </div>

                                <div class="form-group col-sm-2 col-xs-12 col-search">
                                    <button class="btn btn-primary btn-search" type="submit">
                                        <i class="fa fa-search"></i> Szukaj
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <ul  class="nav nav-pills">
                                <li role="presentation" class="active"><a href="#location" role="tab" data-toggle="tab">Lokalizacja</a></li>
                                <li role="presentation"><a href="#tech" role="tab" data-toggle="tab">Technologia</a></li>
                                <li role="presentation"><a href="#compensation" role="tab" data-toggle="tab">Wynagrodzenie</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="location" class="tab-pane active filters">
                                    <ul v-cloak class="list-group list-group-tech">
                                        <li class="list-group-item">
                                            <input type="hidden" name="remote" :checked="input.remote">

                                            <a @click.prevent="toggleRemote" href="javascript:">
                                                <i class="fa fa-fw fa-wifi" :class="{'text-primary': input.remote !== null}"></i>

                                                Praca zdalna
                                            </a>
                                        </li>

                                        <li v-for="(location, index) in locations" :key="index" class="list-group-item">
                                            <input type="hidden" name="locations[]" :value="location" :checked="includesLocation(location)">

                                            <a @click.prevent="toggleLocation(location)" href="javascript:" :class="{'disabled': input.locations.length && !includesLocation(location)}">
                                                ${ location|capitalize }
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="tech" class="tab-pane filters">
                                    <ul class="list-group list-group-tech">
                                        <li v-for="tag in tags" :key="tag.id" class="list-group-item">
                                            <input type="hidden" name="tags[]" :value="tag.name" :checked="includesTag(tag.name)">

                                            <a @click.prevent="toggleTag(tag.name)" :href="tag.url" :class="{'disabled': input.tags.length && !includesTag(tag.name)}">
                                                <img :alt="tag.name" :src="tag.logo">

                                                ${ tag.real_name || tag.name }
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="compensation" class="tab-pane filters">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <strong>od:</strong>

                                            <input v-model="input.salary" type="text" class="form-control input-sm">
                                        </div>

                                        <div class="form-group">
                                            <select v-model="defaultCurrency" name="currency" class="form-control input-sm">
                                                <option v-for="(currency, index) in currencies" :key="index" :value="index">
                                                    ${ currency }
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-md-bottom">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                Sortuj według

                                <select v-model="defaultSort" @change="search" name="sort" class="form-control input-inline input-sm margin-sm-left" style="width: auto">
                                    <option value="boost_at">Data dodania</option>
                                    <option value="_score">Trafność</option>
                                    <option value="salary">Wynagrodzenie</option>
                                </select>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-md-3 hidden-sm hidden-xs">
                <section id="post-offer">
                    <h4>Dla pracodawców</h4>

                    <span class="edge">
                        <a href="{{ route('job.submit') }}?revalidate=1" class="btn btn-primary">Dodaj ofertę pracy</a>
                    </span>

                    <p><a href="{{ route('job.business') }}">Już od 30 zł / 40 dni!</a></p>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <vue-job v-for="(job, index) in jobs.data" :job="job" :key="job.id" :order="index"></vue-job>

                <div v-cloak v-if="jobs.data.length === 0" class="empty-result padding-sm">
                    <p>
                        Nie znaleźliśmy ofert, które spełniają Twoje kryteria.<br>
                        <a href="{{ route('job.home') }}">Zobacz wszystkie oferty</a>, a być może znajdziesz coś dla siebie!
                    </p>
                </div>

                <vue-pagination :current-page="jobs.meta.current_page" :total-pages="jobs.meta.last_page" @change="changePage"></vue-pagination>
            </div>

            <div class="col-md-3" style="margin-top: -35px">
                <section v-cloak v-if="published.length" class="box sidebar-job-offers">
                    <h4><i class="fa fa-fw fa-user-secret"></i> Moje ogłoszenia</h4>

                    <div id="panel-published" class="panel panel-default">
                        <div class="panel-body">
                            <vue-job-tiny v-for="job in published" :job="job" :key="job.id"></vue-job-tiny>
                        </div>
                    </div>
                </section>

                <section v-cloak v-if="subscribed.length" class="box sidebar-job-offers">
                    <h4><i class="fa fa-fw fa-heart"></i> Ulubione ogłoszenia</h4>

                    <div id="panel-subscribed" class="panel panel-default">
                        <div class="panel-body">
                            <vue-job-tiny v-for="job in subscribedStore" :job="job" :key="job.id"></vue-job-tiny>
                        </div>
                    </div>
                </section>

                {{ render_block('job_ads') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ widgets.vue() }}

    <script type="text/javascript">
        var data = {
            jobs: {{ jobs|json_encode|raw }},
            tags: {{ tags|json_encode|raw }},
            locations: {{ locations|json_encode|raw }},
            input: {{ input|json_encode|raw }},
            default: {{ default|json_encode|raw }},
            currencies: {{ currencies|json_encode|raw }},
            subscribed: {{ subscribed|json_encode|raw }},
            published: {{ published|json_encode|raw }},
            isFormOpen: false
        }
    </script>
{% endblock %}

{% block fixed %}

    {{ parent() }}

    <div id="clients" class="hidden-sm hidden-xs">
        <div class="row max-width">
            <div class="col-xs-12">
                <h4>Z naszych usług korzystali...</h4>

                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/wp.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/gazeta.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/allegro.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/nsn.png') }}" class="img-responsive" style="height: 25px">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/pgs-software.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/microsoft.png') }}" class="img-responsive" style="height: 25px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
