{% extends 'job/base.twig' %}
{% block title %}Praca {{ parent() }}{% endblock %}

{% set declinationOffers = ['oferta', 'oferty', 'ofert'] %}

{% block container %}
    <div id="job-main-content" class="row">
        <main class="col-lg-9 col-md-12">

            <div class="row">
                <div id="box-filter" class="col-sm-3 hidden-xs">
                    {{ form_open({'url': request().fullUrl(), 'method': 'get', 'class': 'form-horizontal'}) }}
                        {{ form_hidden('q', request('q')) }}

                        <h5><i class="fa fa-cog fa-fw"></i> Technologie</h5>

                        {% if aggregations.tags %}
                            <ul class="list-group">
                                {% for tag, count in aggregations.tags %}
                                    <li class="list-group-item">
                                        {{ form_checkbox('tag[]', tag, tag in selected.tags) }}

                                        <a href="{{ route('job.tag', [tag]) }}">
                                            <span>{{ tag }}</span>
                                            <small>({{ declination(count, declinationOffers) }})</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if aggregations.cities %}
                            <h5><i class="fa fa-map-marker fa-fw"></i> Lokalizacja</h5>

                            <ul class="list-group">
                                {% for city, count in aggregations.cities %}
                                    <li class="list-group-item">
                                        {{ form_checkbox('city[]', city, city in selected.cities) }}

                                        <a href="{{ route('job.city', [city|capitalize]) }}">
                                            <span>{{ city|capitalize }}</span>
                                            <small>({{ declination(count, declinationOffers) }})</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <h5><i class="fa fa-leaf"></i> Wynagrodzenie</h5>

                        <div class="form-group row">
                            <label for="salary-input" class="col-xs-1 control-label">od</label>

                            <div class="col-xs-4">
                                {{ form_text('salary', request('salary'), {'id': 'salary-input', 'class': 'input-sm form-control', 'placeholder': '3000'}) }}
                            </div>
                            <div class="col-xs-4" style="padding-left: 0">
                                {{ form_select('currency', currencyList, request('currency'), {'class': 'input-sm form-control'}) }}
                            </div>
                        </div>

                        <div class="form-group row form-search">
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-sm btn-primary">Szukaj</button>
                            </div>
                            <div class="col-xs-6">
                                <a href="{{ route('job.home') }}" class="pull-right btn-reset"><i class="fa fa-remove"></i> Wyczyść filtr</a>
                            </div>
                        </div>

                    {{ form_close() }}
                </div>

                <div class="col-sm-9 col-xs-12">
                    <nav>
                        {{ pagination|raw }}
                    </nav>

                    <section class="panel panel-wrapper">
                        <div id="box-jobs" class="panel-body">
                            <ul id="sort" class="hidden-xs">
                                <li>{{ sortable('_score', 'Trafność', ['_score', 'desc']) }}</li>
                                <li>{{ sortable('id', 'Data dodania', ['_score', 'desc']) }}</li>
                                <li>{{ sortable('salary', 'Wynagrodzenie', ['_score', 'desc']) }}</li>
                            </ul>

                            <table>
                                <tbody>
                                    {% for job in jobs %}
                                        {% set url = route('job.offer', [job.id, job.path]) %}

                                        <tr>
                                            <td class="col-logo">
                                                {% if job.firm.logo %}
                                                    <a href="{{ url }}"><img title="{{ job.firm.name }}" src="{{ cdn('storage/logo/' ~ job.firm.logo) }}"></a>
                                                {% else %}
                                                    <img src="{{ cdn('img/logo-gray.png') }}">
                                                {% endif %}
                                            </td>
                                            <td class="col-body">
                                                <h2><a href="{{ url }}">{{ job.title }}</a></h2>

                                                <p>
                                                    {% if job.firm %}
                                                        <a class="employer" title="Zobacz oferty pracy z firmy {{ job.firm.name }}" href="{{ route('job.firm', [job.firm.name]) }}">{{ job.firm.name }}</a> &nbsp;•&nbsp;
                                                    {% endif %}

                                                    <small>{% include 'job.partials.location' with {'locations': job.locations.lists('city')} %}</small>
                                                </p>

                                                {% if job.tags %}
                                                    <ul class="tag-clouds hidden-sm hidden-xs">
                                                        {% for tag in job.tags %}
                                                            <li><a data-category="job-tag" data-action="offer" data-value="{{ tag }}" title="Znajdź oferty z technologii: {{ tag }}" href="{{ route('job.tag', [tag]) }}">{{ tag }}</a></li>
                                                        {% endfor %}
                                                     </ul>
                                                {% endif %}
                                            </td>
                                            <td class="col-salary hidden-xs hidden-xxs">
                                                {% if job.salary_from or job.salary_to %}
                                                    <p class="text-primary">
                                                        {% include 'job.partials.salary' with {'rate_label': true} %}
                                                    </p>
                                                {% endif %}
                                            </td>
                                            <td class="col-time hidden-sm hidden-xs hidden-xxs">
                                                {% if job.diff_in_days <= 1 %}
                                                    <p><span class="label label-new">Nowe</span></p>
                                                {% endif %}

                                                <small>{{ job.created_at|format_date }}</small>
                                            </td>
                                            <td class="col-fav">
                                                <a class="btn-subscribe {{ subscribes.contains('id', job.id) ? 'on' }}" href="{{ route('job.subscribe', [job.id]) }}" title="Dodaj lub usuń tę ofertę do ulubionych"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <aside class="col-lg-3">
            <section class="box sidebar-job-offers">
                <h4 style="margin-top: 0"><i class="fa fa-star fa-fw"></i> Obserwowane oferty pracy</h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for job in subscribes %}
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{ route('job.offer', [job.id, job.path]) }}" title="{{ job.title }}">
                                        <img class="media-object" src="{{ cdn(job.logo ? 'storage/logo/' ~ job.logo : 'img/logo-gray.png') }}" style="width: 50px; height: 50px;" alt="{{ job.firm_name }}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading"><a href="{{ route('job.offer', [job.id, job.path]) }}" title="{{ job.title }}">{{ job.title }}</a></h5>
                                    <p><a class="employer" href="{{ route('job.firm', [job.firm_name]) }}">{{ job.firm_name }}</a></p>

                                    <p class="bottom">
                                        {% include 'job.partials.location' with {
                                            'locations': job.locations.lists('city')
                                        } %}

                                        {% if job.salary_from or job.salary_to %}
                                            • {% include 'job.partials.salary' %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </aside>
    </div>
{% endblock %}

{% block fixed %}
    <div id="job-header-container">
        <div class="row max-width">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div id="box-search" class="col-md-8 col-sm-12 col-xs-12">
                                {{ form_open({'url': route('job.home'), 'class': 'form-inline outline', 'method': 'get'}) }}
                                    <div class="form-group input-keywords col-sm-5 col-xs-5">
                                        <div class="col-content">
                                            {{ form_text('q', request('q'), {'class': 'form-control', 'placeholder': 'Słowo kluczowe lub nazwa firmy'}) }}
                                        </div>
                                    </div>

                                    <div class="form-group input-location col-sm-5 col-xs-5">
                                        <div class="col-content">
                                            {{ form_text('city', request('city')|join(', '), {'class': 'form-control', 'placeholder': 'Nazwa miejscowości'}) }}
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-2 col-xs-2">
                                        <button class="btn btn-primary btn-search" type="submit">
                                            <i class="fa fa-search"></i> <span class="hidden-xxs">{{ declination(count, declinationOffers) }}</span>
                                        </button>
                                    </div>

                                {{ form_close() }}
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="{{ route('job.home') }}">Wszystkie</a></li>
                    <li role="presentation" title="Kliknij, aby zobaczyć oferty pasujące do mnie"><a href="{{ route('job.home') }}">Wybrane dla mnie</a></li>

                    {% if auth_check() %}
                        <li role="presentation" title="Kliknij, aby zobaczyć oferty dodane przeze mnie"><a href="{{ route('job.home') }}">Moje</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-md-3 hidden-sm hidden-xs">
                <section id="post-offer">
                    <h4>Dla pracodawców</h4>

                    <span class="outline">
                        <a href="{{ route('job.submit') }}" class="btn btn-primary" title="Dodaj ofertę pracy zupełnie za darmo!">Dodaj ofertę pracy</a>
                    </span>

                    <p>* żadnych ukrytych kosztów!</p>
                </section>
            </div>
        </div>
    </div>

    {{ parent() }}

    <div id="clients" class="hidden-sm hidden-xs">
        <div class="row max-width">
            <div class="col-xs-12">
                <h4>Z naszych usług korzystali...</h4>

                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/wp.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/gazeta.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/allegro.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/nsn.png') }}" class="img-responsive" style="height: 25px">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/pgs-software.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/microsoft.png') }}" class="img-responsive" style="height: 25px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}