{% extends 'job.base' %}

{% import 'components.widgets' as widgets %}

{% block container %}
    <div id="page-job" class="row">
        <div class="col-md-9">

            <div class="panel panel-default search-form margin-md-top">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <i class="fa fa-fw fa-map-marker"></i>

                            <input type="search" class="form-control" placeholder="Nazwa miejscowości">
                        </div>

                        <div class="form-group col-sm-6">
                            <i class="fa fa-fw fa-search"></i>

                            <input type="search" class="form-control" placeholder="Szukaj po tytule, nazwie firmy">
                        </div>

                        <div class="form-group col-sm-2 col-xs-1">
                            <button class="btn btn-primary btn-search" type="submit">
                                <i class="fa fa-search"></i> <span class="hidden-xs">Szukaj</span>
                            </button>
                        </div>
                    </div>


                </div>

                <div class="panel-footer">
                    <ul  class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#interesting" role="tab" data-toggle="tab">Technologia <i class="fa fa-angle-down"></i></a></li>
                        <li role="presentation"><a href="#rated" role="tab" data-toggle="tab">Wynagrodzenie <i class="fa fa-angle-up"></i></a></li>
                    </ul>

                    <div class="filters">
                        <ul class="list-group list-group-tech">
                            {% for tag, count in tags %}
                                <li class="list-group-item">
                                    {{ form_checkbox('tag[]', tag, tag in selected.tags) }}

                                    <a href="{{ route('job.tag', [tag|url_encode]) }}">
                                        <img src="{{ logo(tags[tag].logo) }}">

                                        <label>{{ tags[tag].real_name|default(tag) }}</label>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <vue-job v-for="job in jobs" :job="job" :key="job.id"></vue-job>
        </div>

        <div class="col-md-3">
            <section id="post-offer">
                <h4>Dla pracodawców</h4>

                <span class="edge">
                    <a href="{{ route('job.submit') }}?revalidate=1" class="btn btn-primary">Dodaj ofertę pracy</a>
                </span>

                <p><a href="{{ route('job.business') }}">Już od 30 zł / 40 dni!</a></p>
            </section>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    {{ widgets.vue() }}

    <script type="text/javascript">
        var data = {
            jobs: {{ jobs|json_encode|raw }}
        }
    </script>
{% endblock %}

{% block fixed %}

    {{ parent() }}

    <div id="clients" class="hidden-sm hidden-xs">
        <div class="row max-width">
            <div class="col-xs-12">
                <h4>Z naszych usług korzystali...</h4>

                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/wp.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/gazeta.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/allegro.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/nsn.png') }}" class="img-responsive" style="height: 25px">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/pgs-software.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/microsoft.png') }}" class="img-responsive" style="height: 25px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
