{% extends 'job.base' %}
{%- block title -%}
    Praca

    {% if request('q') %}
        {{ request('q') }}
    {% endif %}

    {% if selected.tags %}
        {{ selected.tags|join(', ') }}
    {% endif %}

    {% if selected.cities %}
        {{ selected.cities|join(', ') }}
    {% endif %}

    {{ parent() }}
{%- endblock -%}
{% block description %}Praca dla programistów. Pracodawco: umieść u nas swoją ofertę pracy - zupełnie za darmo. Znajdź u nas pracownika wśród 50 000 programistów.{% endblock %}
{% block keywords %}programowanie, praca, C#, Java, programista, HTML, CSS, webdesign, JavaScript, jQuery, C, C++, webmastering{% endblock %}

{% block container %}
    {{ modals.alert('Błąd podczas dodawania tagów. Sprawdź proszę czy nazwa tagu jest prawidłowa.') }}

    <div id="job-main-content" class="row">
        <aside id="box-filter" class="col-lg-2 hidden-md hidden-sm hidden-xs">
            {{ form_open({'url': route('job.home'), 'method': 'get', 'class': 'form-horizontal'}) }}
            {{ form_hidden('q', input_get('q')) }}

            <h5><i class="fa fa-cog fa-fw"></i> Technologie</h5>

            {% if aggregations.tags|length > 0 %}
                <ul class="list-group">
                    {% for tag, count in aggregations.tags %}
                        <li class="list-group-item">
                            {{ form_checkbox('tag[]', tag, tag in selected.tags) }}

                            <a href="{{ route('job.tag', [tag|url_encode]) }}">
                                <span>{{ tag }}</span>
                                <small>({{ declination(count, declinationOffers) }})</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>--</p>
            {% endif %}

            <h5><i class="fa fa-map-marker fa-fw"></i> Lokalizacja</h5>

            {% if aggregations.remote[100] is not null %}
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ form_checkbox('remote', 1, selected.remote) }}

                        <a href="{{ route('job.remote') }}">
                            <span>100% pracy zdalnej</span>
                            <small>({{ declination(aggregations.remote[100], declinationOffers) }})</small>
                        </a>
                    </li>
                </ul>

                {{ form_hidden('remote_range', 100) }}
            {% endif %}

            {% if aggregations.cities|length > 0 %}
                <ul class="list-group">
                    {% for city, count in aggregations.cities %}
                        <li class="list-group-item">
                            {{ form_checkbox('city[]', city, city in selected.cities) }}

                            <a href="{{ route('job.city', [city|capitalize]) }}">
                                <span>{{ city|capitalize }}</span>
                                <small>({{ declination(count, declinationOffers) }})</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>--</p>
            {% endif %}

            <h5><i class="fa fa-leaf fa-fw"></i> Wynagrodzenie</h5>

            <div class="form-group row">
                <label for="salary-input" class="col-xs-1 control-label">od</label>

                <div class="col-xs-4">
                    {{ form_text('salary', request('salary'), {'id': 'salary-input', 'class': 'input-sm form-control'}) }}
                </div>
                <div class="col-xs-4" style="padding-left: 0">
                    {{ form_select('currency', currency_list, request('currency'), {'class': 'input-sm form-control'}) }}
                </div>
            </div>

            <div class="form-group row form-search">
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-sm btn-primary">Szukaj</button>
                </div>
                <div class="col-xs-6">
                    <a href="{{ route('job.home') }}" class="pull-right btn-reset"><i class="fa fa-remove"></i> Wyczyść filtr</a>
                </div>
            </div>

            {{ form_close() }}
        </aside>

        <main class="col-lg-10 col-md-12">
            <nav>
                {{ pagination|raw }}
            </nav>

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <section class="panel panel-wrapper">
                        <div id="box-jobs" class="panel-body">
                            <ul id="sort" class="hidden-xs">
                                {% set sort = input_get('sort', '_score') %}

                                <li>{{ link_to(app.request.path() ~ '?' ~ http_build_query(input_get()|merge({sort: '_score', order: 'desc'})), 'Trafność', {class: 'sort' ~ (sort == '_score' ? ' desc')}) }}</li>
                                <li>{{ link_to(app.request.path() ~ '?' ~ http_build_query(input_get()|merge({sort: 'id', order: 'desc'})), 'Data dodania', {class: 'sort' ~ (sort == 'id' ? ' desc')}) }}</li>
                                <li>{{ link_to(app.request.path() ~ '?' ~ http_build_query(input_get()|merge({sort: 'salary', order: 'desc'})), 'Wynagrodzenie', {class: 'sort' ~ (sort == 'salary' ? ' desc')}) }}</li>
                            </ul>

                            <a href="{{ route('job.submit') }}?revalidate=1" class="btn btn-primary btn-sm pull-right visible-xs visible-sm" style="margin-top: 6px; margin-bottom: 10px" title="Dodaj ofertę pracy zupełnie za darmo!">Dodaj ofertę pracy</a>

                            <div class="clearfix"></div>

                            {% if premium_listing|length > 0 %}
                                {% include 'job.partials.listing' with {
                                    listing: premium_listing,
                                    show_label: true
                                } %}
                            {% endif %}

                            {% include 'job.partials.listing' with {
                                listing: listing,
                                show_highlight: true
                            } %}
                        </div>
                    </section>

                    <nav>
                        {{ pagination|raw }}
                    </nav>
                </div>

                <aside class="col-md-3 hidden-sm">
                    <ul class="side-menu">
                        <li><a href="#"><i class="fa fa-fw fa-cog"></i> Preferencje wyszukiwania</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Pokaż tylko moje oferty</a></li>
                    </ul>

                    {% if subscribes|length %}
                        <section class="box sidebar-job-offers">
                            <h4><i class="fa fa-star fa-fw"></i> Obserwowane oferty pracy</h4>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% include 'components.jobs' with {jobs: subscribes} %}
                                </div>
                            </div>
                        </section>
                    {% endif %}

                    {% if auth_check() and not user('location') and not preferenecs.city and request().get('geocode').city %}
                        <section class="box">
                            <h4><i class="fa fa-map-marker fa-fw"></i> Ustaw lokalizację</h4>

                            <div class="panel panel-warning alert-warning">
                                <div class="panel-body text-center">
                                    <p class="lead">Czy pochodzisz z: <strong>{{ request().get('geocode').city }}</strong>?</p>

                                    <p class="margin-md-bottom text-justify">Ustaw swoją lokalizację w panelu użytkownika, abyśmy mogli wyświetlać oferty pracy dopasowane do Twojego regionu.</p>

                                    <a href="{{ route('user.settings') }}" class="btn btn-warning">Ustaw lokalizację</a>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                </aside>
            </div>
        </main>
    </div>

    {{ form_open({'url': route('job.preferences'), 'id': 'form-preferences'}) }}
        <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="editor-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ustawienia preferencji</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" data-column="city">
                            <label>Interesuje mnie praca w miejscowościach...</label>
                            {{ form_input('search', 'city', preferences.city, {class: 'form-control', placeholder: 'Np. Wrocław, Warszawa'}) }}
                            <span class="help-block">Nazwy miejscowości rozdzielone przecinkiem</span>

                            <div class="checkbox">
                                {{ form_checkbox('is_remote', 1, preferences.is_remote, {id: 'is-remote'}) }}

                                <label for="is-remote">
                                    Oferty z możliwą pracą zdalną
                                </label>
                            </div>
                        </div>

                        <div class="form-group" data-column="tags">
                            <label>Interesują mnie technologie</label>

                            {{ form_text('tags', preferences.tags|join(', '), {class: 'form-control', placeholder: 'Np. .net, c#', id: 'tags'}) }}
                            <span class="help-block"></span>
                        </div>

                        <div class="form-group" data-column="salary">
                            <label>Minimalne wynagrodzenie</label>

                            <div class="row">
                                <div class="col-xs-2" style="padding-right: 0">
                                    {{ form_text('salary', preferences.salary, {class: 'form-control'}) }}
                                </div>

                                <div class="col-xs-2">
                                    {{ form_select('currency_id', currency_list, preferences.currency_id, {class: 'form-control'}) }}
                                </div>
                            </div>

                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary danger" data-submit-state="Zapisywanie...">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_close() }}
{% endblock %}

{% block fixed %}
    {% include 'job.partials.header' %}

    {{ parent() }}

    <div id="clients" class="hidden-sm hidden-xs">
        <div class="row max-width">
            <div class="col-xs-12">
                <h4>Z naszych usług korzystali...</h4>

                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/wp.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/gazeta.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/allegro.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/nsn.png') }}" class="img-responsive" style="height: 25px">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/pgs-software.png') }}" class="img-responsive">
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <img src="{{ cdn('img/logo/microsoft.png') }}" class="img-responsive" style="height: 25px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

{% endblock %}
