{% extends 'job.base' %}
{% block title %}Przenieś ogłoszenie "{{ job.title }}" na forum{{ parent() }}{% endblock %}

{% block container %}
    <div class="row" style="margin-top: 20px">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h1 class="media-heading" style="margin-bottom: 20px">{{ link_to_route('job.offer', job.title, [job.id, job.slug]) }}</h1>

                    {{ form_open({url: route('job.move', [job.id]), method: 'post'}) }}
                        <div class="form-group d-flex">
                            <label for="forum-id">Kategoria forum</label>
                            {{ form_select('forum_id', forumList, preferred.id, {id: 'forum-id', class: 'form-control'}) }}
                        </div>

                        {{ form_submit('Przenieś', {class: 'btn btn-primary', 'data-submit-state': 'Przenoszenie...'}) }}
                    {{ form_close() }}
                </div>
            </div>
        </div>

        <aside class="col-md-3">
            {% include 'job.partials.sidemenu' %}
            {{ render_block('job_ads') }}
        </aside>
    </div>
{% endblock %}

