{% extends 'job.base' %}
{% block title %}
    {{ job.title }}

    {% if job.firm_id and not firm.is_agency %}
        @ {{ firm.name }}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% import 'components.modals' as modals %}

{% block container %}
    <div class="row" style="margin-top: 20px">
        <div class="col-md-9">
            <div class="panel panel-default">

                {% include 'job.partials.offer' %}
            </div>
        </div>

        <aside class="col-md-3">
            <ul class="side-menu">
                <li>
                    <a class="btn-subscribe {{ subscribed ? 'on' }}" href="{{ route('job.subscribe', [job.id]) }}">
                        <i class="fa fa-fw fa-star-o"></i>
                        <i class="fa fa-fw fa-star"></i>

                        {{ not subscribed ? 'Dodaj do ulubionych' : 'Usuń z ulubionych' }}
                    </a>
                </li>
                {% if can('update', job) %}
                    <li>
                        <a class="btn-edit" href="{{ route('job.submit', [job.id]) }}">
                            <i class="fa fa-fw fa-edit"></i>
                            Edycja oferty
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a class="btn-add" href="{{ route('job.submit') }}?revalidate=1"><i class="fa fa-fw fa-pencil"></i> Dodaj ofertę pracy</a>
                </li>
                {% if can('delete', job) %}
                    <li>
                        <a class="btn-delete" href="#modal-delete" data-toggle="modal"><i class="fa fa-fw fa-remove"></i> Usuń tę ofertę pracy</a>
                    </li>
                {% endif %}
                <li>
                    <a class="btn-move" href="javascript:"><i class="fa fa-fw fa-arrow-circle-right"></i> Przenieś na forum</a>
                </li>
                <li>
                    <a class="btn-flag" href="javascript:"><i class="fa fa-fw fa-flag"></i> Zgłoś naruszenie</a>
                </li>
            </ul>

            {% if job.firm_id and (firm.street or firm.website or firm.employees or firm.founded or firm.latitude) %}
                <section id="box-job-firm" class="box">
                    <h4><i class="fa fa-info-circle fa-fw"></i> O firmie</h4>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {% if firm.street %}
                                    <li>
                                        <i class="fa fa-home fa-fw"></i>
                                        {{ firm.street }} {{ firm.house }} {{ firm.postcode }} {{ firm.city }}
                                    </li>
                                {% endif %}
                                {% if firm.website %}
                                    <li>
                                        <i class="fa fa-link fa-fw"></i>
                                        <a href="{{ firm.website }}">{{ firm.website }}</a>
                                    </li>
                                {% endif %}
                                {% if firm.employees %}
                                    <li>
                                        <i class="fa fa-users fa-fw"></i>
                                        {{ employeesList[firm.employees] }} pracowników
                                    </li>
                                {% endif %}
                                {% if firm.founded %}
                                    <li>
                                        <i class="fa fa-calendar-o fa-fw"></i>
                                        Rok założenia: {{ firm.founded }}
                                    </li>
                                {% endif %}
                            </ul>

                            {% if firm.longitude and firm.latitude %}
                                <div id="map" style="height: 300px"></div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endif %}

            {{ render_block('job_ads') }}

        </aside>
    </div>

    {{ form_open({'url': route('job.delete', [job.id]) }) }}
    {{ modals.confirm('Czy chcesz usunąć tę ofertę pracy?', 'Usuwanie', 'modal-delete') }}
    {{ form_close() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if firm.latitude and firm.longitude %}
        <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>
        <script type="text/javascript">
            function initialize() {
                var coordinates = new google.maps.LatLng({{ firm.latitude }}, {{ firm.longitude }});
                var mapOptions = {
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    center: coordinates
                };

                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                new google.maps.Marker({
                    map: map,
                    position: coordinates
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endif %}
{% endblock %}