{% extends 'job.base' %}

{% set page_title = job.title ~ ' ' ~ (job.firm.id and not job.firm.is_agency ? '@ ' ~ job.firm.name) %}

{% block title %}{{ page_title }} :: praca dla programistów {{ parent() }}{% endblock %}

{% block ogtitle %}{{ page_title }}{% endblock %}
{% block description %}{{ excerpt(job.description) }}{% endblock %}
{% block keywords %}{{ keywords(job.description)|join(',') }}{% endblock %}
{% block logo %}{{ job.firm.logo ? logo(job.firm.logo, true) : secure_asset('img/apple-touch.png') }}{% endblock %}
{% block head %}
  {{ parent() }}

  <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>
{% endblock %}

{% block container %}
  <div class=" mt-3">
    <div id="js-flags">
      <vue-flag v-for="flag in flags" :key="flag.id" :flag="flag"></vue-flag>
    </div>

    {% if job.is_expired %}
      <div class="alert alert-warning">
        To ogłoszenie wygasło w dniu <strong>{{ job.deadline_at|format_date }}</strong>.
      </div>
    {% endif %}

    {% if is_author %}
      <ul class="nav nav-pills mb-3">
        <li class="nav-item">
          <a class="nav-link active" href="#offer" role="tab" data-bs-toggle="tab">
            Ogłoszenie
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#applications" role="tab" data-bs-toggle="tab">
            Kandydaci
            <small>({{ applications|length }})</small>
          </a>
        </li>
      </ul>
    {% endif %}
  </div>

  <div class="row">
    {% if can('job-update') or can('delete', job) %}
    {% else %}
      <div class="col-lg-1"></div>
    {% endif %}
    <div class="col-lg-10">
      {% if payment and not session_has('success') %}
        <div class="alert alert-warning">
          <h4>
            {{ icon('jobOfferPaymentRequired') }}
            Oczekiwanie na płatność.
          </h4>
          <p>
            Ogłoszenie jest już w naszej bazie. Nie możemy jednak rozpocząć wyświetlania oferty, dopóki nie uregulujesz płatności.
          </p>
          <a href="{{ route('job.payment', [payment.id]) }}" class="mt-2">
            Przejdź do płatności
          </a>
        </div>
      {% endif %}
      <div class="mb-1">
        <a href="{{ route('job.home') }}">
          <span class="neon-color-link-light">
            {{ icon('jobOfferBack') }}
          </span>
          Powrót do listy ofert
        </a>
      </div>
      <div class="tab-content">
        <div id="offer" class="tab-pane active neon-tile neon-rounded py-2 pb-4 mb-3">
          <div class="px-2" style="margin-bottom:92px;">
            <div class="section-banner px-4" style="height:80px; padding-top:80px;">
              <div class="d-flex justify-content-between align-items-center" style="height:0;">
                <div>
                  {% if job.firm.logo.filename %}
                    <a title="Zobacz wszystkie oferty {{ job.firm.name }}" href="{{ route('job.firm', [job.firm.slug]) }}">
                      <img class="size-80 neon-firmlogo-border"
                           src="{{ logo(job.firm.logo) }}"
                           alt="{{ job.firm.name }}">
                    </a>
                  {% else %}
                    <div class="neon-avatar-border">
                      <div class="neon-placeholder size-100 d-flex justify-content-center align-items-center" style="font-size:2.0em;">
                        {{ icon('jobOfferMissingLogo') }}
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div>
                  <span v-cloak id="js-sidemenu" class="me-1">
                    <div class="btn btn-secondary" @click="checkAuth(subscribe)" style="padding:0;width:33px;height:33px; display:inline-flex; align-items:center; justify-content:center;">
                      <span v-if="isSubscribed(job)">
                        {{ icon('jobOfferSubscribed') }}
                      </span>
                      <span v-else>
                        {{ icon('jobOfferSubscribe') }}
                      </span>
                    </div>
                  </span>
                  {% if auth_check() %}
                    <span
                        class="btn btn-secondary me-1"
                        style="padding:0;width:33px;height:33px; display:inline-flex; align-items:center; justify-content:center;"
                        data-url="{{ route('job.offer', [job.id, job.slug], false) }}"
                        data-metadata="{{ {"Coyote\\Job": job.id}|encrypt }}">
                      {{ icon('jobOfferReport') }}
                    </span>
                  {% endif %}
                  {% if not job.is_expired %}
                    {% if job.enable_apply %}
                      <a class="btn btn-primary px-4"
                         rel="nofollow"
                         href="{{ not preview ? route('job.application', [job.id]) : 'javascript:' }}"
                          {{ is_applied ? 'title="Już aplikowałeś na tę ofertę pracy" disabled' }}>
                        Aplikuj
                      </a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="px-2">
            <div class="px-4">
              <section class="d-lg-flex justify-content-between">
                <div>
                  <h1>
                    {{ link_to_route('job.offer', job.title, [job.id|default(0), job.slug]) }}
                  </h1>
                  {% if job.firm.name %}
                    <a class="employer text-muted"
                       title="Zobacz oferty pracy z firmy {{ job.firm.name }}"
                       href="{{ route('job.firm', [job.firm.slug]) }}">
                      {{ job.firm.name }}
                    </a>
                  {% endif %}
                </div>
                <div class="mt-4 mt-lg-0">
                  {% if job.salary_from or job.salary_to %}
                    <div class="d-lg-flex justify-content-end">
                      <p>
                        {% include 'job.partials.salary' with {net_label: true, rate_label: true} %}
                      </p>
                    </div>
                  {% endif %}
                  {% if job.locations[0].city is not empty %}
                    <ul class=" list-inline">
                      <li class="list-inline-item" title="Lokalizacja">
                        {{ icon('jobOfferLocation') }}
                        {% include 'job.partials.location' with {'locations': job.locations} %}
                      </li>
                    </ul>
                  {% endif %}
                </div>
              </section>
              <div class="row">
                <div class="col-lg-9">
                  {% if job.description %}
                    <section class="pe-3">
                      <h3 class="mt-4">
                        Opis oferty
                      </h3>
                      <div class="text">
                        {{ job.description|raw }}
                      </div>
                    </section>
                  {% endif %}

                  {% if job.features %}
                    <section>
                      <div class="pt-4">
                        <h3 class="mt-4">
                          Metodologia pracy
                        </h3>
                      </div>
                      <ul class="features list-group list-group-horizontal row">
                        {% for feature in job.features %}
                          <li class="list-group-item col-12 col-sm-6 {{ feature.pivot.checked ? 'checked' }}">
                            {% if feature.pivot.checked %}
                              {{ icon('jobOfferFeaturePresent') }}
                            {% else %}
                              {{ icon('jobOfferFeatureMissing') }}
                            {% endif %}
                            {{ feature.name }}
                            {% if feature.pivot.getAttribute('value') %}
                              <small class="text-muted"> ― {{ feature.pivot.getAttribute('value') }}</small>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </section>
                  {% endif %}

                  {% if job.firm.benefits|length %}
                    <section>
                      <div class="pt-4">
                        <h3 class="mt-4">Oferujemy</h3>
                      </div>

                      <ul class="benefits list-group list-group-horizontal row">
                        {% for benefit in job.firm.benefits %}
                          <li class="list-group-item col-12 col-sm-6 checked">
                            {{ icon('jobOfferBenefit') }}
                            {{ benefit.name }}
                          </li>
                        {% endfor %}
                      </ul>
                    </section>
                  {% endif %}

                  {% if job.firm.name and (assets|length > 0 or job.firm.youtube_url) %}
                    <section>
                      <div class="pt-4">
                        <h3 class="mt-4">
                          Praca w {{ job.firm.name }}
                        </h3>
                      </div>
                      <div id="gallery">
                        {% for asset in assets %}
                          <a href="{{ asset.url }}" data-toggle="lightbox"><img alt="{{ asset.name }}" src="{{ asset.url }}"></a>
                        {% endfor %}

                        {% if job.firm.youtube_url and assets|length > 0 %}
                          <div class="yt">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="youtube-player" src="{{ job.firm.youtube_url }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                          </div>
                        {% endif %}
                      </div>

                      {% if job.firm.youtube_url and not assets|length %}
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="youtube-player" src="{{ job.firm.youtube_url }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                      {% endif %}
                    </section>
                  {% endif %}

                  {% if job.firm.name and (job.firm.headline or job.firm.description) %}
                    <section>
                      <div class="pt-4">
                        <h3 class="mt-4">O {{ job.firm.name }}</h3>
                      </div>
                      <div class="text">
                        {% if job.firm.headline %}
                          <blockquote>{{ job.firm.headline }}</blockquote>
                        {% endif %}

                        {{ job.firm.description|raw }}
                      </div>
                    </section>
                  {% endif %}

                  {% if job.firm.longitude and job.firm.latitude %}
                    <div id="map">
                      <vue-map class="h-100" latitude="{{ job.firm.latitude }}" longitude="{{ job.firm.longitude }}">
                        <vue-marker latitude="{{ job.firm.latitude }}" longitude="{{ job.firm.longitude }}"></vue-marker>
                      </vue-map>
                    </div>
                  {% endif %}

                  {% if not job.is_expired %}
                    {% if not job.enable_apply %}
                      <div class="pt-4">
                        <h3 id="apply" class="mt-4">
                          Informacje o rekrutacji
                        </h3>
                      </div>
                      <div class="text">
                        {{ job.recruitment|raw }}
                      </div>
                    {% else %}
                      <div id="apply" class="mt-4">
                        <a class="btn btn-primary" rel="nofollow" href="{{ not preview ? route('job.application', [job.id]) : 'javascript:' }}" {{ is_applied ? 'title="Już aplikowałeś na tę ofertę pracy" disabled' }}>
                          Aplikuj na to stanowisko
                        </a>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="col-lg-3 mt-4 mt-lg-0">
                  <div class="neon-tile neon-rounded p-4 pb-1 mb-3 neon-box">
                    <ul class="list-unstyled">
                      <li>
                        <small class="text-muted">Umowa</small>
                        <p>
                          {{ icon('jobOfferContract') }}
                          {{ employment_list[job.employment] }}
                        </p>
                      </li>
                      {% if job.seniority %}
                        <li>
                          <small class="text-muted">Poziom doświadczenia</small>
                          <p>
                            {{ icon('jobOfferSeniority') }}
                            {{ seniority_list[job.seniority] }}
                          </p>
                        </li>
                      {% endif %}
                      <li title="Data opublikowania">
                        <small class="text-muted">Opublikowano</small>
                        <p>
                          {{ icon('jobOfferPublishDate') }}
                          {{ job.boost_at|format_date }}
                        </p>
                      </li>
                      {% if not job.is_expired %}
                        <div>
                          {% set attr = {} %}
                          {% if job.enable_apply %}
                            {% set url = route('job.application', [job.id]) %}
                          {% elseif is_url(job.getOriginal('recruitment')) %}
                            {% set url = job.getOriginal('recruitment') %}
                            {% set attr = attr|merge({'target': '_blank'}) %}
                          {% else %}
                            {% set url = "#apply" %}
                          {% endif %}
                          {{ link_to(url, 'Aplikuj', attr|merge({class: 'btn d-block btn-primary w-full'})) }}
                        </div>
                      {% endif %}
                    </ul>
                  </div>

                  {% if tags|length > 0 %}
                    <div class="neon-tile neon-rounded p-4 mb-3 neon-box">
                      {% for category, tags in tags %}
                        <div class="mb-3">
                          <span class="text-muted">{{ category }}</span>
                          <ul class="tag-clouds tag-clouds-md">
                            {% for tag in tags %}
                              <li>
                                <a href="{{ route('job.tag', [tag.name|url_encode]) }}" title="Znajdź oferty zawierające {{ tag.real_name|default(tag.name) }}" class="neon-tag">
                                  {{ tag.real_name|default(tag.name) }}
                                </a>
                                {% set tooltip = ['mile widziane', 'średnio zaawansowany', 'zaawansowany'][tag.pivot.priority] %}
                                {% apply spaceless %}
                                  <div class="progress-bar-dotted" title="{{ tooltip }}">
                                    {% for i in 1..3 %}
                                      {% if tag.pivot.priority >= i %}
                                        <span class="neon-color-primary">
                                          {{ icon('jobOfferRequirementRanked') }}
                                        </span>
                                      {% else %}
                                        <span>
                                          {{ icon('jobOfferRequirementRank') }}
                                        </span>
                                      {% endif %}
                                    {% endfor %}
                                  </div>
                                {% endapply %}
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if job.firm.name or job.firm.employees or job.firm.founded or job.firm.website %}
                    <div class="neon-tile neon-rounded p-4 pb-1 mb-3 neon-box">
                      <ul class="list-unstyled">
                        {% if job.firm.name %}
                          <li>
                            <small class="text-muted">Firma</small>
                            <p>
                              {{ job.firm.name }}
                            </p>
                          </li>
                        {% endif %}
                        {% if job.firm.employees %}
                          <li>
                            <small class="text-muted">Rozmiar firmy</small>
                            <p>
                              {{ icon('jobOfferCompanyEmployees') }}
                              {{ employees_list[job.firm.employees] }} pracowników
                            </p>
                          </li>
                        {% endif %}
                        {% if job.firm.founded %}
                          <li>
                            <small class="text-muted">Rok założenia firmy</small>
                            <p>
                              {{ icon('jobOfferCompanyEstablishmentYear') }}
                              {{ job.firm.founded }}
                            </p>
                          </li>
                        {% endif %}
                        {% if job.firm.website %}
                          <li>
                            <small class="text-muted">Strona</small>
                            <p style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                              {{ icon('jobOfferCompanyWebsite') }}
                              <a href="{{ job.firm.website }}" class="neon-color-link text-truncate">
                                {{ job.firm.website }}
                              </a>
                            </p>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  {% endif %}

                  {% if not job.is_expired %}
                    <div class="neon-tile neon-rounded p-4 mb-3 neon-box">
                      <span class="text-muted">Dodatkowe pytania?</span>
                      <div>
                        {{ icon('jobOfferAdditionalQuestions') }}
                        <a href="#comments">
                          Zadaj pytanie dotyczące tego ogłoszenia
                        </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if is_author %}
          <div id="applications" class="neon-tile neon-rounded p-3 mb-3 tab-pane">
            <table class="table table-striped">
              <tr>
                <th>Imię i nazwisko</th>
                <th>Adres e-mail</th>
                <th>Nr tel</th>
                <th>CV / Resume</th>
              </tr>
              {% for application in applications %}
                <tr>
                  <td>{{ application.name }}</td>
                  <td>{{ application.email }}</td>
                  <td>{{ application.phone ?: '--' }}</td>
                  <td>{{ application.cv ? link_to_route('job.application.download', application.realFilename(), [job.id, application.id]) : '--' }}</td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="3" class="text-center">Brak kandydatów dla tej oferty pracy.</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}
      </div>
      <div id="js-comments" v-cloak>
        <div class="mb-2" id="comments">
          {{ icon('jobOfferComments') }}
          Pytania i odpowiedzi
        </div>
        <vue-comment-form v-if="isAuthorized" resource-id="{{ job.id }}" resource="Coyote\Job"></vue-comment-form>
        <div v-if="commentsCount > 0" class="card">
          <div class="card-body">
            <vue-comment v-for="comment in comments" :key="comment.id" :comment="comment"></vue-comment>
          </div>
        </div>
        <vue-notifications></vue-notifications>
      </div>
    </div>

    {% if can('job-update') or can('delete', job) %}
      <aside class="col-lg-2">
        <div class="neon-tile neon-rounded p-3 pb-1 mb-3">
          <ul class="list-unstyled">
            <li>
              <small class="text-muted">Wyświetleń oferty</small>
              <p>
                {{ icon('jobOfferViews') }}
                {{ declination(job.views, ['odsłona', 'odsłony', 'odsłon']) }}
              </p>
            </li>
            {% if not job.is_expired %}
              <li title="Oferta traci ważność z dniem {{ job.deadline_at|format_date(false) }}">
                <span class="text-muted">
                  Ważność oferty
                </span>
                <p>
                  {{ icon('jobOfferExpiresInDays') }}
                  {{ job.deadline }} dni do końca
                </p>
              </li>
            {% endif %}
            <li>
              <span class="text-muted">Zarządzanie ofertą</span>
              {% if not job.is_expired and can('update', job) %}
                <div>
                  <a href="{{ route('job.submit', [job.id]) }}">
                    {{ icon('jobOfferEdit') }}
                    Edytuj ofertę
                  </a>
                </div>
              {% endif %}
              {% if can('delete', job) %}
                <div>
                  <a href="#modal-delete" data-bs-toggle="modal">
                    {{ icon('jobOfferRemove') }}
                    Usuń tę ofertę pracy
                  </a>
                </div>
              {% endif %}
            </li>
          </ul>
          {% import 'legacyComponents.modals' as modals %}
          {{ form_open({'url': route('job.delete', [job.id]) }) }}
          {{ modals.confirm('Czy chcesz usunąć tę ofertę pracy?', 'Usuwanie', 'modal-delete') }}
          {{ form_close() }}
        </div>
      </aside>
    {% endif %}
  </div>
{% endblock %}

{% block body %}
  <script>
    var comments = {{ comments|json_encode|raw }};
    var flags = {{ flags|json_encode|raw }};
    var job = {{ job|json_encode|raw }};
    var subscriptions = {{ subscriptions|json_encode|raw }};
    var emojis = {{ emojis|json_encode|raw }};
  </script>
  {{ parent() }}
{% endblock %}
