{% extends 'job.base' %}
{% block title %}
    {% spaceless %}
        {{ job.title }}

        {% if job.firm_id and not job.firm.is_agency %}
            @ {{ job.firm.name }}
        {% endif %}

        :: praca dla programistów

        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block description %}{{ excerpt(job.description) }}{% endblock %}
{% block keywords %}{{ keywords(job.description)|join(',') }}{% endblock %}

{% block container %}
    <div class="row" style="margin-top: 20px">
        <div class="col-md-9">
            {% if flag %}
                {% include 'components.flag' %}
            {% endif %}

            <div class="panel panel-default">
                {% include 'job.partials.offer' %}
            </div>
        </div>

        <aside class="col-md-3">
            {% include 'job.partials.sidemenu' %}

            {% if job.firm_id and (job.firm.street or job.firm.website or job.firm.employees or job.firm.founded or job.firm.latitude) %}
                <section id="box-job-firm" class="box">
                    <h4><i class="fa fa-info-circle fa-fw"></i> O firmie</h4>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {% if job.firm.street %}
                                    <li>
                                        <i class="fa fa-home fa-fw"></i>
                                        {{ job.firm.street }} {{ job.firm.house }} {{ job.firm.postcode }} {{ job.firm.city }}
                                    </li>
                                {% endif %}
                                {% if job.firm.website %}
                                    <li>
                                        <i class="fa fa-link fa-fw"></i>
                                        <a href="{{ job.firm.website }}">{{ job.firm.website }}</a>
                                    </li>
                                {% endif %}
                                {% if job.firm.employees %}
                                    <li>
                                        <i class="fa fa-users fa-fw"></i>
                                        {{ employees_list[job.firm.employees] }} pracowników
                                    </li>
                                {% endif %}
                                {% if job.firm.founded %}
                                    <li>
                                        <i class="fa fa-calendar-o fa-fw"></i>
                                        Rok założenia: {{ job.firm.founded }}
                                    </li>
                                {% endif %}
                            </ul>

                            {% if job.firm.longitude and job.firm.latitude %}
                                <div id="map" style="height: 300px"></div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endif %}

            {% if mlt|length %}
                <section class="box sidebar-job-offers">
                    <h4><i class="fa fa-star fa-fw"></i> Podobne oferty</h4>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% include 'components.jobs' with {'jobs': mlt} %}
                        </div>
                    </div>
                </section>
            {% endif %}

        </aside>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if user('id') == job.user_id %}
        <div class="alert alert-warning alert-popover right hidden-xs" data-id="job-sidemenu" data-containment=".btn-edit">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Kliknij, aby zamknąć"><span aria-hidden="true">&times;</span></button>
            Ofertę możesz edytować lub dodać kolejne ogłoszenie.
        </div>
    {% endif %}

    {% if job.firm.latitude and job.firm.longitude %}
        <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>
        <script type="text/javascript">
            function initialize() {
                var coordinates = new google.maps.LatLng({{ job.firm.latitude }}, {{ job.firm.longitude }});
                var mapOptions = {
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    center: coordinates
                };

                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                new google.maps.Marker({
                    map: map,
                    position: coordinates
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endif %}
{% endblock %}
