{% extends 'layout.twig' %}
{% block title %}
    {{ job.title }}

    {% if job.firm_id and not firm.is_agency %}
        @ {{ firm.name }}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block container %}
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="media">
                        {% if firm.logo %}
                            <div class="media-left">
                                <img class="media-object" src="{{ cdn('storage/logo/' ~ firm.logo) }}" style="width: 70px; height: 70px;" alt="{{ firm.name }}">
                            </div>
                        {% endif %}

                        <div id="job-offer" class="media-body">
                            <h1 class="media-heading">{{ link_to_route('job.offer', job.title, [job.id, job.path]) }}</h1>
                            {% if firm.name %}
                                <strong class="employer">{{ firm.name }}</strong>
                            {% endif %}

                            {% if job.salary_from or job.salary_to %}
                                <strong class="salary pull-right text-primary">
                                    {% include 'job.salary' %} <small>netto</small>

                                    {% if job.rate_id > 1 %}
                                        <small>/ {{ ratesList[job.rate_id] }}</small>
                                    {% endif %}
                                </strong>
                            {% endif %}

                            <ul class="metadata list-inline location">
                                <li title="Lokalizacja">
                                    <i class="fa fa-map-marker"></i>
                                    {{ job.country_name }}

                                    {% if locations|length > 0 %}
                                        • {{ locations.implode(', ')|raw }}
                                    {% endif %}

                                    {% if job.is_remote %}
                                        <a href="{{ route('job.remote') }}">(praca zdalna)</a>
                                    {% endif %}
                                </li>
                            </ul>

                            <ul class="metadata list-inline primary">
                                <li title="Data opublikowania">
                                    <i class="fa fa-calendar"></i>
                                    {{ job.created_at|format_date }}
                                </li>
                                <li class="counter">
                                    <i class="fa fa-eye"></i>
                                    3166 odsłon
                                </li>
                                <li title="Oferta traci ważność z dniem {{ job.deadline_at|format_date(false) }}">
                                    <i class="fa fa-clock-o"></i>
                                    {{ deadline }} dni do końca
                                </li>
                                <li>
                                    <i class="fa fa-pencil"></i>
                                    {{ employmentList[job.employment_id] }}
                                </li>
                            </ul>

                            <ul class="tag-clouds">
                                <li><a href="#">java</a></li>
                                <li><a href="#">jee</a></li>
                            </ul>

                            {% if job.description %}
                                <h2>Opis oferty</h2>

                                <div>
                                    {{ job.description|raw }}
                                </div>
                            {% endif %}

                            {% if firm.benefits|length %}
                                <h2>Oferujemy</h2>

                                <ul class="benefits list-group row">
                                    {% for benefit in firm.benefits %}
                                        <li class="list-group-item col-xs-6 checked"><i class="fa fa-check fa-fw"></i> {{ benefit.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if firm.name and (firm.headline or firm.description) %}
                                <h2>{{ firm.name }}</h2>

                                <div>
                                    {% if firm.headline %}
                                        <blockquote>{{ firm.headline }}</blockquote>
                                    {% endif %}

                                    {{ firm.description|raw }}
                                </div>
                            {% endif %}

                            {% if not job.enable_apply %}
                                <h2>Informacje o rekrutacji</h2>

                                <div>
                                    {{ job.recruitment|raw }}
                                </div>
                            {% else %}
                                <div id="apply">
                                    <a class="btn btn-primary" href="#">Aplikuj na to stanowisko</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <aside class="col-sm-3">
            <ul class="side-menu">
                <li class="btn-watch">
                    <a href="javascript:">Dodaj do ulubionych</a>
                </li>
                {% if can('update', job) %}
                    <li class="btn-edit">
                        <a href="{{ route('job.submit', [job.id]) }}">Edycja oferty</a>
                    </li>
                {% endif %}
                <li class="btn-add">
                    <a href="{{ route('job.submit') }}?revalidate=1">Dodaj ofertę pracy</a>
                </li>
                <li class="btn-delete">
                    <a href="javascript:">Usuń tę ofertę pracy</a>
                </li>
                <li class="btn-move">
                    <a href="javascript:">Przenieś na forum</a>
                </li>
                <li class="btn-flag">
                    <a href="javascript:">Zgłoś naruszenie</a>
                </li>
            </ul>

            {% if job.firm_id %}
                <section id="box-job-firm" class="box">
                    <h4><i class="fa fa-info-circle fa-fw"></i> O firmie</h4>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {% if firm.street %}
                                    <li>
                                        <i class="fa fa-home fa-fw"></i>
                                        {{ firm.street }} {{ firm.house }} {{ firm.postcode }} {{ firm.city }}
                                    </li>
                                {% endif %}
                                {% if firm.website %}
                                    <li>
                                        <i class="fa fa-link fa-fw"></i>
                                        <a href="{{ firm.website }}">{{ firm.website }}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <i class="fa fa-users fa-fw"></i>
                                    {{ employeesList[firm.employees] }} pracowników
                                </li>
                                {% if firm.founded %}
                                    <li>
                                        <i class="fa fa-calendar-o fa-fw"></i>
                                        Rok założenia: {{ firm.founded }}
                                    </li>
                                {% endif %}
                            </ul>

                            <div id="map" style="height: 300px"></div>
                        </div>
                    </div>
                </section>
            {% endif %}

            <section id="box-job-offers" class="box">
                <h4><a href="#">Zobacz też</a></h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/apple-touch.png" style="width: 50px; height: 50px;" alt="Power Media S.A.">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                                <p><a href="#">Power Media S.A.</a></p>
                                <small><a href="#">Wrocław</a> • do 5000 zł</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/apple-touch.png" style="width: 50px; height: 50px;" alt="Power Media S.A.">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                                <p><a href="#">Power Media S.A.</a></p>
                                <small><a href="#">Wrocław</a> • do 5000 zł</small>
                            </div>
                        </div>

                        <div class="media">
                            <a href="#" class="text-align">Więcej ofert w pobliżu Wrocław</a>
                        </div>
                    </div>
                </div>
            </section>

        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ cdn('css/job.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>

    {% if firm.latitude and firm.longitude %}
    <script type="text/javascript">
        function initialize() {
            var coordinates = new google.maps.LatLng({{ firm.latitude }}, {{ firm.longitude }});
            var mapOptions = {
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: coordinates
            };

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            new google.maps.Marker({
                map: map,
                position: coordinates
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    {% endif %}
{% endblock %}