{% extends 'job.base' %}

{% set page_title = job.title ~ ' ' ~ (job.firm.id and not job.firm.is_agency ? '@ ' ~ job.firm.name) %}

{% block title %}{{ page_title }} :: praca dla programistów {{ parent() }}{% endblock %}

{% block ogtitle %}{{ page_title }}{% endblock %}
{% block description %}{{ excerpt(job.description) }}{% endblock %}
{% block keywords %}{{ keywords(job.description)|join(',') }}{% endblock %}
{% block logo %}{{ job.firm.logo ? logo(job.firm.logo, true) : secure_asset('img/apple-touch.png') }}{% endblock %}

{% set is_author = job.enable_apply and job.user_id == auth_user().id %}

{% block head %}
  {{ parent() }}

  <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>
{% endblock %}

{% block container %}
  <div class="row mt-3">
    <div class="col-12">
      <div id="js-flags">
        <vue-flag v-for="flag in flags" :key="flag.id" :flag="flag"></vue-flag>
      </div>

      {% if job.is_expired %}
        <div class="alert alert-warning">
          To ogłoszenie wygasło w dniu <strong>{{ job.deadline_at|format_date }}</strong>.
        </div>
      {% endif %}

      {% if is_author %}
        <ul class="nav nav-pills mb-3">
          <li class="nav-item">
            <a class="nav-link active" href="#offer" role="tab" data-bs-toggle="tab">
              Ogłoszenie
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#applications" role="tab" data-bs-toggle="tab">
              Kandydaci
              <small>({{ applications|length }})</small>
            </a>
          </li>
        </ul>
      {% endif %}

      <div class="job-navlinks p-1">
        <span class="text-primary">
          {{ icon('jobOfferBack') }}
        </span>
        <a href="{{ previous_url ?: route('job.home') }}">
          Powrót do listy ofert
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      {% if payment and not session_has('success') %}
        <div class="alert alert-warning">
          <h4>
            {{ icon('jobOfferPaymentRequired') }}
            Oczekiwanie na płatność.
          </h4>
          <p>
            Ogłoszenie jest już w naszej bazie. Nie możemy jednak rozpocząć wyświetlania oferty, dopóki nie uregulujesz płatności.
          </p>
          <a href="{{ route('job.payment', [payment.id]) }}" class="mt-2">
            Przejdź do płatności
          </a>
        </div>
      {% endif %}

      <div class="tab-content">
        <div id="offer" class="tab-pane active neon-tile neon-rounded py-4 mb-3">
          {% include 'job.partials.offer' %}
        </div>

        {% if is_author %}
          <div id="applications" class="card tab-pane">
            {% include 'job.partials.applications' %}
          </div>
        {% endif %}
      </div>

      {% include 'job.partials.comments' %}
    </div>

    <aside class="col-md-3">
      {% include 'job.partials.sidemenu' %}

      {% if can('job-update') %}
        <section id="box-job-firm" class="box">
          <h4>
            {{ icon('jobOfferDetails') }}
            Informacje o ofercie
          </h4>

          <div class="card">
            <div class="card-body">
              <ul class="list-unstyled">
                <li title="Data opublikowania">
                  {{ icon('jobOfferPublishDate') }}
                  {{ job.boost_at|format_date }}
                </li>

                <li class="counter" title="Liczba odsłon">
                  {{ icon('jobOfferViews') }}
                  {{ declination(job.views, ['odsłona', 'odsłony', 'odsłon']) }}
                </li>
                {% if not job.is_expired %}
                  <li title="Oferta traci ważność z dniem {{ job.deadline_at|format_date(false) }}">
                    {{ icon('jobOfferExpiresInDays') }}
                    {{ job.deadline }} dni do końca
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </section>
      {% endif %}

      <section class="box">
        <div class="card p-3">
          {% if tags|length > 0 %}
            <section class="requirements">
              {% for category, tags in tags %}
                <div class="mb-3">
                  {{ category }}
                  <ul class="tag-clouds tag-clouds-md">
                    {% for tag in tags %}
                      <li>
                        <a href="{{ route('job.tag', [tag.name|url_encode]) }}" title="Znajdź oferty zawierające {{ tag.real_name|default(tag.name) }}" class="neon-tag">
                          {{ tag.real_name|default(tag.name) }}
                        </a>
                        {% set tooltip = ['mile widziane', 'średnio zaawansowany', 'zaawansowany'][tag.pivot.priority] %}
                        {% apply spaceless %}
                          <div class="progress-bar-dotted" title="{{ tooltip }}">
                            {% for i in 1..3 %}
                              {% if tag.pivot.priority >= i %}
                                <span class="text-primary">
                                  {{ icon('jobOfferRequirementRanked') }}
                                </span>
                              {% else %}
                                <span>
                                  {{ icon('jobOfferRequirementRank') }}
                                </span>
                              {% endif %}
                            {% endfor %}
                          </div>
                        {% endapply %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </section>
          {% endif %}
        </div>
      </section>

      {% if mlt|length %}
        <section class="box">
          <h4>
            {{ icon('jobOfferMoreLikeThis') }}
            Podobne oferty
          </h4>
          <div class="card card-media">
            <div class="card-body">
              {% include 'legacyComponents.jobs' with {'jobs': mlt} %}
            </div>
          </div>
        </section>
      {% endif %}

    </aside>
  </div>
{% endblock %}

{% block body %}
  <script>
    var comments = {{ comments|json_encode|raw }};
    var flags = {{ flags|json_encode|raw }};
    var job = {{ job|json_encode|raw }};
    var subscriptions = {{ subscriptions|json_encode|raw }};
    var emojis = {{ emojis|json_encode|raw }};
  </script>

  {{ parent() }}

{% endblock %}
