{% extends 'job.base' %}

{% block title %}Płatność{{ parent() }}{% endblock %}

{% block container %}
  <script src="https://js.stripe.com/v3/"></script>

  <div id="js-payment" class="row" v-cloak>
    <main class="col-md-9">
      <div class="card card-default">
        <div class="card-header">
          <i class="fas fa-lock fa-fw"></i> Płatność poprzez bezpieczne połączenie
        </div>

        <div class="card-body" v-show="grossPrice > 0">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a @click="setPaymentMethod('card')" :class="{'active': form.payment_method === 'card'}" href="javascript:" class="nav-link bg-white">
                <strong class="d-block mb-1">Karta kredytowa/debetowa</strong>

                <img src="/img/mastercard.png">
                <img src="/img/visa.png" style="height: 20px">
                <img src="/img/maestro.png">
              </a>
            </li>

            <li class="nav-item">
              <a @click="setPaymentMethod('p24')" :class="{'active': form.payment_method === 'p24'}" href="javascript:" class="nav-link bg-white">
                <strong class="d-block mb-1">Przelew bankowy</strong>

                <img src="/img/ipko.png" class="mr-1">
                <img src="/img/mbank.png" class="mr-1">
                <img src="/img/pekao.png" class="mr-1">

                <i class="fas fa-ellipsis-h"></i>
              </a>
            </li>
          </ul>

          <div class="mt-3 row">
            <div class="col-12">
              <div v-show="form.payment_method === 'card'" class="card card-default">
                <div class="card-body">
                  <form id="card-form">
                    <div id="card-element">
                      <!-- Elements will create input elements here -->
                    </div>

                    <!-- We'll put the error messages in this element -->
                    <div id="card-errors" role="alert"></div>
                  </form>
                </div>
              </div>

              {# v-if instade of v-show. remove invoice inputs from form if price == 0 #}
              <div class="row" v-if="grossPrice > 0">
                <div class="col-12">
                  <div class="card card-body bg-light p-2">
                    <div class="custom-control custom-checkbox">
                      <vue-checkbox v-model="enableInvoice" id="enable-invoice" class="custom-control-input"></vue-checkbox>

                      <label class="custom-control-label" for="enable-invoice">
                        Tak, chcę otrzymać fakturę
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              {# v-if instade of v-show. remove invoice inputs from form if price == 0 #}
              <div v-if="grossPrice > 0 && enableInvoice">
                <div class="row">
                  <div class="col-sm-7">
                    <vue-form-group :errors="errors['invoice.name']" label="Nazwa firmy">
                      <vue-text v-model="form.invoice.name" :is-invalid="'invoice.name' in errors" name="invoice[name]"></vue-text>
                    </vue-form-group>
                  </div>

                  <div class="col-sm-5">
                    <label class="col-form-label">NIP (opcjonalnie)</label>

                    <div class="row">
                      <vue-form-group :errors="errors['invoice.country_id']" class="col-4">
                        <vue-select :is-invalid="'invoice.country_id' in errors" :options="countries" v-model="form.invoice.country_id" name="invoice[country_id]"></vue-select>
                      </vue-form-group>

                      <vue-form-group :errors="errors['invoice.vat_id']" class="col-8">
                        <vue-text :is-invalid="'invoice.vat_id' in errors" v-model="form.invoice.vat_id" name="invoice[vat_id]"></vue-text>
                      </vue-form-group>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <vue-form-group :errors="errors['invoice.address']" label="Adres">
                      <vue-text :is-invalid="'invoice.address' in errors" v-model="form.invoice.address" name="invoice[address]"></vue-text>
                    </vue-form-group>
                  </div>

                  <div class="col-sm-3">
                    <vue-form-group :errors="errors['invoice.postal_code']" label="Kod pocztowy">
                      <vue-text :is-invalid="'invoice.postal_code' in errors" v-model="form.invoice.postal_code" name="invoice[postal_code]"></vue-text>
                    </vue-form-group>
                  </div>

                  <div class="col-sm-5">
                    <vue-form-group :errors="errors['invoice.city']" label="Miasto">
                      <vue-text :is-invalid="'invoice.city' in errors" v-model="form.invoice.city" name="invoice[city]"></vue-text>
                    </vue-form-group>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="form-navigation" class="form-group row">
            <div class="col-12">
              <a href="{{ route('job.offer', [payment.job.id, payment.job.slug]) }}" class="btn btn-secondary float-left"><i class="fas fa-angle-left"></i> Powrót do ogłoszenia</a>

              <vue-button @click.native="submitForm" :disabled="isProcessing" class="btn btn-primary float-right">Zapłać i zapisz <i class="fas fa-angle-right"></i></vue-button>
            </div>
          </div>
        </div>

        <div class="card-body" v-show="!grossPrice">
          <h1 class="text-center"><i class="fas fa-check text-primary"></i> Płatność nie jest wymagana</h1>

          <div class="d-flex justify-content-center mt-3">
            <vue-button @click.native="submitForm" :disabled="isProcessing" class="btn btn-primary btn-lg">Zapisz i zakończ</vue-button>
          </div>
        </div>
      </div>
    </main>

    <aside class="col-md-3">
      <div class="card card-default card-review" v-cloak>
        <div class="card-header">
          Twoja płatność obejmuje
        </div>

        <div class="card-body">
          <div class="mt-1 mb-1 clearfix">
            <div class="float-left">
              Publikacja ogłoszenia ({{ payment.days }} dni)
            </div>
            <div class="float-right text-right">
              ${ netPrice | money } zł
            </div>
          </div>

          <div class="mt-1 mb-1 clearfix" v-if="coupon.amount > 0">
            <div class="float-left">
              Rabat
            </div>
            <div class="float-right text-right">
              ${ coupon.amount | money } zł
            </div>
          </div>

          {# <div class="margin-xs-top margin-xs-bottom clearfix"> #}
          {# <div class="float-left"> #}
          {# VAT (${ percentageVatRate }%) #}
          {# </div> #}
          {# <div class="float-right"> #}
          {# ${ vatPrice } zł #}
          {# </div> #}
          {# </div> #}

          <hr>

          <div class="clearfix">
            <div class="float-left">
              <strong>Suma:</strong>
            </div>
            <div class="float-right">
              <strong>${ grossPrice | money } zł</strong>
            </div>
          </div>

          ${ coupon.shown }

          <hr>

          <div v-show="!coupon.code && !isCoupon">
            <span class="fa-stack">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-dollar-sign fa-stack-1x"></i>
            </span>

            <a @click="isCoupon = true" style="text-decoration: underline; font-size: 14px; cursor: pointer">Masz kupon rabatowy?</a>
          </div>

          <vue-form-group v-show="isCoupon" label="Masz kod promocyjny?" class="form-group">
            <vue-text v-model="coupon.code" :is-invalid="coupon in errors" name="coupon" class="input-sm" autocomplete="off"></vue-text>
          </vue-form-group>
        </div>

        <div class="card-footer">
          <div class="clearfix">
            <div class="float-left">
              <span>Do zapłaty:</span>
            </div>
            <div class="float-right">
              <span>${ grossPrice | money } zł</span>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <vue-notifications position="bottom right" />
  </div>

  <script>
    var stripe_key = '{{ stripe_key }}';
    var countries = {{ countries|json_encode|raw }};
    var calculator = {{ calculator|json_encode|raw }};
    var vat_rates = {{ vat_rates|json_encode|raw }};

    var form = {
      payment_method: 'card',
      invoice: {
        name: '{{ firm.name }}',
        address: '{{ firm.street ~ ' ' ~ firm.street_number }}',
        postal_code: '{{ firm.postcode }}',
        city: '{{ firm.city }}',
        vat_id: '{{ firm.vat_id }}',
        country_id: '{{ firm.country_id }}',
        email: '{{ user('email') }}'
      }
    };
  </script>
{% endblock %}

