{% extends 'job.base' %}

{% block title %}Płatność{{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-9">
            {% include 'job.submit.partials.indicator' with {'current': 4} %}
        </div>
    </div>

    <div id="payment" class="row" v-cloak>
        {{ form_start(form) }}
        {{ form_widget(form.payment_method) }}

        <main class="col-md-9">
            <div class="card card-default">
                <div class="card-heading">
                    <i class="fas fa-lock fa-fw"></i> Płatność poprzez bezpieczne połączenie
                </div>
                <div class="card-body" v-show="grossPrice > 0">
                    <div class="row">
                        <div class="col-lg-4" style="z-index: 1">
                            <ul class="nav nav-left nav-stacked">
                                <li role="presentation" :class="{'active': form.payment_method == 'card'}">
                                    <a @click="setPaymentMethod('card')" href="javascript:">
                                        <strong>Karta kredytowa/debetowa</strong>

                                        <img src="{{ cdn('img/mastercard.png') }}">
                                        <img src="{{ cdn('img/visa.png') }}">
                                        <img src="{{ cdn('img/maestro.png') }}">

                                        <small class="text-muted" style="display: block; margin-top: 9px; font-size: 10px;">Powered by PayLane</small>
                                    </a>
                                </li>

                                <li role="presentation" :class="{'active': form.payment_method == 'transfer'}">
                                    <a @click="setPaymentMethod('transfer')" href="javascript:">
                                        <strong class="margin-sm-bottom">Przelew bankowy</strong>

                                        <img src="{{ cdn('img/ipko.png') }}" class="margin-xs-right">
                                        <img src="{{ cdn('img/mbank.png') }}" class="margin-xs-right">
                                        <img src="{{ cdn('img/pekao.png') }}" class="margin-xs-right">

                                        <i class="fas fa-ellipsis-h"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-8 col-md-12">
                            <div class="card card-default">
                                <div id="card" v-show="form.payment_method === 'card'" class="card-body">
                                    {{ form_widget(form.price) }}
                                    {{ form_row(form.name) }}

                                    <div class="form-group form-group-border credit-card-container has-feedback {{ errors.has('number') ? 'has-error' }}">
                                        {{ form_label(form.number) }}

                                        {{ form_widget(form.number) }}
                                        {{ form_error(form.number) }}
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-7 {{ errors.has('exp_month') ? 'has-error' }}">
                                                <label class="control-label">Data ważności karty *</label>

                                                <div class="row">
                                                    <div class="col-7" style="padding-right: 0">
                                                        {{ form_widget(form.exp_month) }}
                                                        {{ form_error(form.exp_month) }}
                                                    </div>
                                                    <div class="col-5">
                                                        {{ form_widget(form.exp_year) }}
                                                        {{ form_error(form.exp_year) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-5">
                                                <div class="form-group has-feedback {{ errors.has('cvc') ? 'has-error' }}">
                                                    {{ form_label(form.cvc) }}

                                                    <img src="{{ cdn('img/cvc.png') }}" class="cvc">

                                                    {{ form_widget(form.cvc) }}
                                                    {{ form_error(form.cvc) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="transfer" v-show="form.payment_method === 'transfer'" class="card-body">
                                    <div class="row">
                                        <p class="has-error text-center">{{ form_error(form.transfer_method) }}</p>

                                        <div class="col-sm-3 text-center margin-sm-bottom" v-for="bank in banks">
                                            <label class="bank-logo" :class="bank._class" :for="bank._class"></label>

                                            <input type="radio" name="transfer_method" :value="bank.id" :id="bank._class">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# v-if instade of v-show. remove invoice inputs from form if price == 0 #}
                            <div class="row" v-if="grossPrice > 0">
                                <div class="col-12">
                                    <div class="well well-sm">
                                        <div class="checkbox margin-none">
                                            {{ form_widget(form.enable_invoice) }}

                                            <label for="{{ form.enable_invoice.attr.id }}">
                                                {{ form.enable_invoice.label }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# v-if instade of v-show. remove invoice inputs from form if price == 0 #}
                            <div class="invoice" v-if="grossPrice > 0">
                                <div class="row">
                                    <div class="col-sm-7">
                                        {{ form_row(form.invoice.children.name) }}
                                    </div>

                                    <div class="col-sm-5">
                                        {{ form_label(form.invoice.children.vat_id) }}

                                        <div class="row">
                                            <div class="col-4 pr-0">
                                                {{ form_widget(form.invoice.children.country_id) }}
                                            </div>
                                            <div class="col-8">
                                                {{ form_widget(form.invoice.children.vat_id) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 padding-none-right">
                                        {{ form_row(form.invoice.children.address) }}
                                    </div>

                                    <div class="col-sm-3">
                                        {{ form_row(form.invoice.children.postal_code) }}
                                    </div>

                                    <div class="col-sm-5">
                                        {{ form_row(form.invoice.children.city) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="form-navigation" class="form-group">
                        <a href="{{ route('job.offer', [payment.job.id, payment.job.slug]) }}" class="btn btn-secondary float-left"><i class="fas fa-angle-left"></i> Powrót do ogłoszenia</a>

                        <button type="submit" id="submit" class="btn btn-primary float-right" data-submit-state="Realizacja płatności...">Zapłać i zapisz <i class="fas fa-angle-right"></i></button>
                    </div>
                </div>

                <div class="card-body" v-show="grossPrice == 0">
                    <h1 class="text-center"><i class="fas fa-check text-primary"></i> Płatność nie jest wymagana</h1>

                    <div class="form-group text-center margin-md-top">
                        <button type="submit" class="btn btn-primary btn-lg" data-submit-state="Zapisywanie...">Zapisz i zakończ</button>
                    </div>
                </div>
            </div>
        </main>

        <aside class="col-md-3">
            <div class="card card-default card-review" v-cloak>
                <div class="card-heading">
                    Twoja płatność obejmuje
                </div>

                <div class="card-body">
                    <div class="margin-xs-top margin-xs-bottom clearfix">
                        <div class="float-left">
                            Publikacja ogłoszenia ({{ payment.days }} dni)
                        </div>
                        <div class="float-right text-right">
                            ${ netPrice } zł
                        </div>
                    </div>

                    <div class="margin-xs-top margin-xs-bottom clearfix" v-if="coupon.amount > 0">
                        <div class="float-left">
                            Rabat
                        </div>
                        <div class="float-right text-right">
                            ${ coupon.amount } zł
                        </div>
                    </div>

                    {#<div class="margin-xs-top margin-xs-bottom clearfix">#}
                        {#<div class="float-left">#}
                            {#VAT (${ percentageVatRate }%)#}
                        {#</div>#}
                        {#<div class="float-right">#}
                            {#${ vatPrice } zł#}
                        {#</div>#}
                    {#</div>#}

                    <hr>

                    <div class="clearfix">
                        <div class="float-left">
                            <strong>Suma:</strong>
                        </div>
                        <div class="float-right">
                            <strong>${ grossPrice } zł</strong>
                        </div>
                    </div>

                    ${ coupon.shown }

                    <hr>

                    <div v-show="!coupon.code && show_coupon === false">
                        <span class="fa-stack">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-dollar-sign fa-stack-1x"></i>
                        </span>

                        <a @click="show_coupon = true;" style="text-decoration: underline; font-size: 14px; cursor: pointer">Masz kupon rabatowy?</a>
                    </div>

                    {{ form_row(form.coupon) }}
                </div>

                <div class="card-footer">
                    <div class="clearfix">
                        <div class="float-left">
                            <span>Do zapłaty:</span>
                        </div>
                        <div class="float-right">
                            <span>${ grossPrice } zł</span>
                        </div>
                    </div>
                </div>

            </div>
        </aside>

        {{ form_end() }}
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script>
        var data = {
            countries: {{ countries|json_encode|raw }},
            calculator: {{ calculator|json_encode|raw }},
            vat_rates: {{ vat_rates|json_encode|raw }},
            default_vat_rate: {{ default_vat_rate }},
            show_coupon: false,
            coupon: {{ coupon|json_encode|raw }},
            form: {
                number: '{{ form.number.value }}',
                name: '{{ form.name.value }}',
                expiration_year: '{{ form.exp_year.value }}',
                expiration_month: '{{ form.exp_month.value }}',
                cvc: '{{ form.cvc.value }}',
                payment_method: '{{ form.payment_method.value }}',
                invoice: {
                    vat_id: '{{ form.invoice.get('vat_id').value }}',
                    country_id: '{{ form.invoice.get('country_id').value }}',
                }
            },
            banks: [
                {id: 25, _class: 'mtransfer'},
                {id: 31, _class: 'ipko'},
                {id: 20, _class: 'santander'},
                {id: 65, _class: 'pekao'},
                {id: 85, _class: 'millenium'},
                {id: 88, _class: 'alior'},
                {id: 26, _class: 'inteligo'},
                {id: 45, _class: 'credit-agricole'},
                {id: 121, _class: 't-mobile'},
                {id: 110, _class: 'deutsche-bank'},
                {id: 94, _class: 'eurobank'},
                {id: 119, _class: 'citi'},
                {id: 153, _class: 'getin'},
                {id: 33, _class: 'bgz'},
                {id: 48, _class: 'bos'},
                {id: 141, _class: 'pocztowy-24'},
                {id: 143, _class: 'bps'},
                {id: 69, _class: 'volkswagen-bank'},
                {id: 158, _class: 'noble'},
                {id: 112, _class: 'ing'},
                {id: 131, _class: 'plus'},
                {id: 222, _class: 'nest'},
                {id: 154, _class: 'blik'}
            ]
        };
    </script>
{% endblock %}
