{% extends 'job.base' %}

{% block title %}Wystaw ofertę pracy{{ parent() }}{% endblock %}

{% block container %}
  <div class="row">
    <main class="col-12">
      <div class="card card-body bg-light p-2 border-0 text-center" v-loader>
        <span class="lead justify-content-center ms-1">
          {{ icon('jobBoardLoading', {spin}) }}
          Ładowanie...
        </span>
      </div>

      <div id="js-submit-form" class="job-form" v-cloak>
        <vue-tabs @change="switchTab" :items="tabs" :current-tab="currentTab" id="js-tabs" class="mt-2 mb-2"></vue-tabs>
        <vue-job-form
            v-show="currentTab === 0"
            :job="job"
            :plan="jobPlan"
            :errors="errors"
            :currencies="currencies"
        ></vue-job-form>

        <vue-firm-form
            v-show="currentTab === 1"
            :firm="job.firm"
            :errors="errors"
            :default-benefits="defaultBenefits"
            :employees="employees"
            :firms="firms"
        ></vue-firm-form>

        <div id="form-fixed">
          <div class="container-3xl">
            <div class="row">
              <div class="col-12 col-lg-9 d-flex justify-content-end">
                <vue-button v-if="currentTab > 0" @click="switchTab(currentTab - 1,'prev')" :disabled="isSubmitting" class="btn btn-outline-primary next-tab">
                  {{ icon('jobOfferDraftTabPrev') }}
                  ${ tabs[currentTab - 1] }
                </vue-button>

                <vue-button
                    v-if="currentTab < 1"
                    @click="switchTab(currentTab + 1,'next')"
                    :disabled="isSubmitting"
                    class="btn btn-outline-primary next-tab">
                  ${ tabs[currentTab + 1] }
                  {{ icon('jobOfferDraftTabNext') }}
                </vue-button>

                <vue-button
                    v-if="job.firm.name || currentTab === 1"
                    :disabled="isSubmitting"
                    @click="submitForm"
                    class="btn btn-primary btn-save ms-2"
                    title="Zapisz tę ofertę">
                  {{ icon('jobOfferDraftSave') }}
                  Zapisz
                  <template v-if="job.firm.name">jako ${ job.firm.name }</template>
                </vue-button>
              </div>
            </div>
          </div>
        </div>
        <vue-notifications></vue-notifications>
      </div>
    </main>
  </div>

  <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false&libraries=places"></script>
  <script>
    var job = {{ job|json_encode|raw }};
    var plans = {{ plans|raw }};
    var currencies = {{ currencies|json_encode|raw }};
    var defaultBenefits = {{ default_benefits|json_encode|raw }};
    var employees = {{ employees|json_encode|raw }};
    var firms = {{ firms|json_encode|raw }};
  </script>
{% endblock %}

{% block body %}
  {{ parent() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.11/tinymce.min.js"
          integrity="sha512-3tlegnpoIDTv9JHc9yJO8wnkrIkq7WO7QJLi5YfaeTmZHvfrb1twMwqT4C0K8BLBbaiR6MOo77pLXO1/PztcLg==" crossorigin="anonymous"></script>

{% endblock %}
