{% extends 'emails.layout' %}

{% block content %}
    <p>Nowa rekomendacja na stanowisko {{ link_to_route('job.offer', job.title, [job.id, job.slug]) }}.</p>

    <p><b>Osoba polecana na to stanowisko:</b></p>

    <p>
        Imię i nazwisko: <b>{{ friend_name }}</b><br>
        E-mail: <b>{{ friend_email }}</b>
    </p>

    <p><b>Polecający:</b></p>

    <p>
        Imię i nazwisko: <b>{{ name|default('--') }}</b><br>
        E-mail: <b>{{ email|default('--') }}</b>
    </p>

    <p>Z poważaniem,<br>{{ config('app.name') }}</p>
{% endblock %}

{% block footnote %}
{% endblock %}
