{% for item in pm %}
    <li title="{{ excerpt(item.text, 100) }}" {{ not item.read_at and item.folder == 1 ? 'class="unread"' }}>
        <a href="{{ route('user.pm.show', [item.id]) }}">
            <img src="{{ user_photo(item.photo) }}">

            <div>
                <header>
                    <h4>{{ item.name }}</h4>
                    <small>{{ item.created_at|format_date }}</small>
                </header>

                <p>
                    {{ item.folder == 2 ? 'Ty: ' }}
                    {{ (excerpt(item.text, 50)|default('(kliknij, aby przeczytać)'))|raw }}
                </p>
            </div>
        </a>
    </li>
{% else %}
    <li style="text-align: center; font-size: 11px">
        Brak wiadomości.
    </li>
{% endfor %}