{% extends 'user.base' %}
{% set page_name = page_name|default('Wiadomości prywatne') %}
{% block title %}{{ page_name }} {{ parent() }}{% endblock %}

{% block content %}
  <h2>{{ page_name }}</h2>

  <div id="app-pm" class="card">
    <div class="card-body">
      <nav class="nav nav-pills card-tabs">
        <a href="{{ route('user.pm') }}" class="nav-link {{ app.make('request').path() != 'User/Pm/Submit' ? 'active' }}">
          <span>
            Wiadomości ({{ user('pm_unread') }}/{{ user('pm') }})
          </span>
        </a>
        <a href="{{ route('user.pm.submit') }}" class="nav-link {{ app.make('request').path() == 'User/Pm/Submit' ? 'active' }}">
          <span>
            Napisz wiadomość
          </span>
        </a>
      </nav>

      {% block pm %}
      {% endblock %}
    </div>
    <vue-notifications></vue-notifications>
  </div>
{% endblock %}
