{% extends 'user.base' %}
{% set page_name = page_name|default('Wiadomości prywatne') %}
{% block title %}{{ page_name }} {{ parent() }}{% endblock %}

{% block content %}
    <h2>{{ page_name }}</h2>

    <ul class="nav nav-card">
        <li role="presentation" {{ parent != 'user.pm.submit' ? 'class="active"' }}><a href="{{ route('user.pm') }}">Wiadomości ({{ user('pm_unread') }}/{{ user('pm') }})</a></li>
        <li role="presentation" {{ parent == 'user.pm.submit' ? 'class="active"' }}><a href="{{ route('user.pm.submit') }}">Napisz wiadomość</a></li>
    </ul>

    <div id="app-pm" class="card card-default">
        <div class="card-body">
            {% block pm %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
