{% extends 'user.pm.base' %}

{% block pm %}
  <nav class="text-center">
    <vue-pagination :total-pages="totalPages" :current-page="currentPage" @change="changePage"></vue-pagination>
  </nav>

  <template v-if="messages.length">
    <vue-pm
      v-for="(message, index) in messages"
      :message="message"
      :key="message.id"
      :last="false"
      :clickable-text="true"
    >
    </vue-pm>
  </template>
  <div v-cloak v-else class="text-center">Brak wiadomości prywatnych.</div>

  <nav class="text-center">
    <vue-pagination :total-pages="totalPages" :current-page="currentPage" @change="changePage"></vue-pagination>
  </nav>
{% endblock %}

{% block body %}
  <script>
    var data = {
      messages: {{ messages|json_encode|raw }},
      recipient: {},
      per_page: {{ per_page }},
      total: {{ total }},
      current_page: {{ current_page }}
    };
  </script>

  {{ parent() }}
{% endblock %}
