<div class="media {{ not item.read_at and item.folder == 1 ? 'unread' }}">
    <div class="media-left">
        <a href="{{ route('profile', [item.author_id]) }}">
            <img class="media-object" src="{{ user_photo(item.photo) }}" style="width: 50px; height: 50px;" alt="{{ item.name }}">
        </a>
    </div>
    <div class="media-body">
        <small class="pull-right">{{ item.created_at|format_date }}</small>
        <h3 class="media-heading">{{ link_to_profile(item.author_id, item.name, item.is_active, item.is_blocked) }}</h3>

        <a class="btn-delete-pm pull-right text-danger" href="{{ route('user.pm.delete', item.id) }}" title="Usuń">
            <i class="fa fa-remove"></i>
        </a>

        {{ content|raw }}
    </div>
</div>