<div class="media {{ not item.read_at and item.folder == constant('Coyote\\Pm::INBOX') ? 'unread' }}">
    <div class="media-left">
        <a href="{{ route('profile', [link_to_profile ? item.user_id : item.author_id]) }}">
            <img class="media-object" src="{{ user_photo(item.photo) }}" style="width: 50px; height: 50px;" alt="{{ item.name }}">
        </a>
    </div>
    <div class="media-body">
        <small class="pull-right">{{ item.created_at|format_date }}</small>
        <h3 class="media-heading">
            {% if link_to_profile %}
                {{ link_to_profile(item.user_id, item.name, item.is_active, item.is_blocked) }}
            {% else %}
                <a href="{{ route('user.pm.show', [item.id]) }}">{{ item.name }}</a>
            {% endif %}
        </h3>

        <a class="btn-delete-pm pull-right text-danger" href="{{ route('user.pm.delete', item.id) }}" title="Usuń">
            <i class="fa fa-remove"></i>
        </a>

        {{ content|raw }}

        {% if show_marked_date and loop.last and item.folder == constant('Coyote\\Pm::SENTBOX') and item.read_at %}
            <small class="text-muted">
                <i class="fa fa-check"></i>
                Przeczytano, {{ item.read_at|format_date }}
            </small>
        {% endif %}
    </div>
</div>
