{% extends 'user.pm.base' %}
{% set page_name = 'Rozmowa z ' ~ recipient.name %}

{% block pm %}
    <div id="wrap">
        <div id="overview">
            {% for item in talk %}
                {% include 'user.pm.message' with {
                    content: '<div class="pm-text">' ~ item.text ~ '</div>',
                    delete_link: route('user.pm.delete', item.id),
                    link_to_profile: true,
                    show_marked_date: true,
                    confirm_message: 'Czy na pewno usunąć tę wiadomość? Tej operacji nie będzie można cofnąć.'
                } %}
            {% endfor %}
        </div>
    </div>

    {{ form_open({'url': route('user.pm.submit'), 'method': 'POST', 'class': 'form-horizontal'}) }}
    {{ form_hidden('root_id', pm.root_id) }}
    {{ form_hidden('recipient', recipient.name) }}
    <div class="form-group">
        <div class="col-md-12 {{ errors.has('text') > 0 ? 'has-error' }}">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Treść</a></li>
                <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Podgląd</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="body">
                    {% include 'components.toolbar' %}
                    <textarea name="text" class="form-control" rows="2" placeholder="Kliknij, aby odpowiedzieć" data-paste-url="{{ route('user.pm.paste') }}" data-prompt-url="{{ route('user.prompt') }}">{{ input_old('text') }}</textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview"></div>
            </div>

            {% if errors.first('text') %}
                <span class="help-block">{{ errors.first('text') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-sm" data-submit-state="Wysyłanie...">
                Wyślij
            </button>
        </div>
    </div>
    {{ form_close() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="{{ cdn('js/posting.js') }}"></script>
    <script src="{{ cdn('js/wikieditor.js') }}"></script>
{% endblock %}
