{% extends 'user/pm/base.twig' %}

{% block pm %}
    <div id="wrap">
        <div id="overview">
            {% for item in talk %}
                {% include 'user/pm/message.twig' with {'content': '<div class="pm-text">' ~ item.text ~ '</div>'} %}
            {% endfor %}
        </div>
    </div>

    {{ form_open({'url': route('user.pm.submit'), 'method': 'POST', 'class': 'form-horizontal'}) }}
    {{ form_hidden('root_id', pm.root_id) }}
    {{ form_hidden('author', talk[0].name) }}
    <div class="form-group">
        <div class="col-md-12 {{ errors.has('text') > 0 ? 'has-error' }}">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Treść</a></li>
                <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Podgląd</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="body">
                    {% include 'components/toolbar' %}
                    <textarea name="text" class="form-control" rows="2" placeholder="Kliknij, aby odpowiedzieć">{{ input_old('text') }}</textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview"></div>
            </div>

            {% if errors.first('text') %}
                <span class="help-block">{{ errors.first('text') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-sm" data-submit-state="Wysyłanie...">
                Wyślij
            </button>
        </div>
    </div>
    {{ form_close() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="{{ cdn('js/perfect-scrollbar.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/animate-colors.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/posting.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/tab.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/wikieditor.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var wrap = $('#wrap');
            var overview = $('#overview');

            wrap.perfectScrollbar();
            wrap.scrollTop(overview.outerHeight());

            $('textarea[name="text"]').wikiEditor().prompt('{{ route('user.prompt') }}').fastSubmit().autogrow().pasteImage('{{ route('user.pm.paste') }}').focus();

            wrap.on('mouseenter', '.unread', function() {
                $(this).off('mouseenter');
                $(this).animate({backgroundColor: '#fff'});
            });

            var isProcessing = false;

            wrap.bind('scroll', function() {
                if (0 === $(this).scrollTop() && !isProcessing) {
                    isProcessing = true;

                    $.get('{{ route('user.pm.show', [pm.id]) }}', {'offset': $('.media', overview).length}, function(html) {
                        overview.prepend(html);

                        // jezeli nie ma wiecej wiadomosci, to ajax nie bedzie kolejny raz wyslany
                        isProcessing = $.trim(html) === '';
                    });
                }
            });
        });
    </script>
{% endblock %}