{% extends 'user.pm.base' %}
{% set parent = 'user.pm.submit' %}

{% import 'components.forms' as forms %}

{% block pm %}
    {{ form_open({'url': route('user.pm.submit'), 'method': 'POST', 'class': 'form-horizontal'}) }}

    <div class="form-group">
        <div class="col-md-12 {{ errors.has('recipient') > 0 ? 'has-error' }}">
            {{ form_text('recipient', input_old('recipient', request().get('to')), {'data-prompt-url': route('user.prompt'), class: 'form-control', placeholder: 'Odbiorca...', id: 'recipient', tabindex: 1, autofocus: 'autofocus'}) }}

            {% if errors.first('recipient') %}
                <span class="help-block">{{ errors.first('recipient') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 {{ errors.has('text') > 0 ? 'has-error' }}">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Treść</a></li>
                <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Podgląd</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="body">
                    {% include 'components.toolbar' %}

                    <textarea name="text" class="form-control" rows="5" data-paste-url="{{ route('user.pm.paste') }}" data-prompt-url="{{ route('user.prompt') }}" tabindex="2">{{ input_old('text') }}</textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview"></div>
            </div>

            {% if errors.first('text') %}
                <span class="help-block">{{ errors.first('text') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-sm" data-submit-state="Wysyłanie..." tabindex="3">
                Wyślij
            </button>
        </div>
    </div>
    {{ form_close() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="{{ cdn('js/posting.js') }}"></script>
    <script src="{{ cdn('js/wikieditor.js') }}"></script>
{% endblock %}
