{% import 'job.submit.partials.theme' as theme %}

<div id="box-edit-firm" class="panel panel-default">
    <div class="panel-heading">
        Dane firmy
    </div>

    {{ form_hidden('id', input_old('id', firm.id), {'id': 'firm-id'}) }}

    <div class="panel-body">
        {{ theme.group_open('name', 'form-group-border') }}
            <label class="control-label">Nazwa firmy <em class="text-danger">*</em></label>

            <div class="input-group">
                {{ form_text('name', input_old('name', firm.name), {'class': 'form-control'}) }}

                <div class="input-group-addon">
                    <a href="javascript:" id="btn-add-firm" title="Dodaj nową firmę"><i class="fa fa-plus"></i></a>
                </div>
            </div>

            {{ theme.error('name', 'Podając nazwę firmy, oferta staje się bardziej wiarygodna i wartościowa.') }}
        {{ theme.group_close() }}

        {% set is_agency = input_old('is_agency', firm.is_agency) %}

        <div class="form-group">
            <div class="radio">
                {{ form_radio('is_agency', 0, is_agency == 0, {'id': 'direct'}) }}

                <label for="direct">
                    Bezpośredni pracodawca
                </label>
            </div>
        </div>
        <div class="form-group form-group-border">
            <div class="radio">
                {{ form_radio('is_agency', 1, is_agency == 1, {'id': 'agency'}) }}

                <label for="agency">
                    Agencja pośrednictwa / IT outsourcing
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Logo</label>

            <div class="row">
                <div class="col-sm-2">
                    {% set logo = input_old('logo', firm.logo) %}
                    {{ form_hidden('logo', logo) }}

                    <div class="img-placeholder img-thumbnail" style="{{ logo ? 'display: none' }}">
                        <img src="{{ cdn('img/logo-gray.png') }}">
                    </div>

                    <div class="img-container img-thumbnail" style="{{ not logo ? 'display: none' }}">
                        <img src="{{ logo(logo) }}">

                        <div id="btn-delete-photo" class="btn-flush">
                            <i class="fa fa-remove fa-2x"></i>
                        </div>
                    </div>

                    <a id="btn-change-photo" href="{{ route('firm.logo') }}" class="btn btn-xs btn-upload"><i class="fa fa-upload"></i> Zmień</a>
                </div>
            </div>
        </div>

        {{ theme.group_open('website', 'form-group-border') }}
            <label class="control-label">Strona WWW</label>

            {{ form_text('website', input_old('website', firm.website), {'class': 'form-control'}) }}
            {{ theme.error('website', 'Firmowa strona WWW. Będzie ona wyświetlana przy ofercie.') }}
        {{ theme.group_close() }}

        <div class="form-group">
            <label class="control-label">Opis firmy</label>

            {{ form_textarea('description', input_old('description', firm.description), {'class': 'form-control', 'style': 'height: 60px'}) }}
            <span class="help-block">Czym zajmuje się firma, w jakich branżach działa oraz jakie technologie wykorzystuje?</span>
        </div>

        <div class="form-group form-group-border agency">
            <label class="control-label">Liczba pracowników w firmie</label>

            {{ form_select('employees', {'': ''} + employeesList, input_old('employees', firm.employees), {'class': 'form-control'}) }}
            <span class="help-block">Pozwala ocenić jak duża jest firma. Czy jest to korporacja, czy mała rodzinna firma?</span>
        </div>

        <div class="form-group form-group-border agency">
            <label class="control-label">Rok powstania</label>

            {{ form_select('founded', {'': ''} + foundedList, input_old('founded', firm.founded ?: 'now'|date('Y')), {'class': 'form-control'}) }}
            <span class="help-block">Pozwala ocenić jak duża jest firma. Czy jest to korporacja, czy mała rodzinna firma?</span>
        </div>

        <div class="form-group agency">
            <label class="control-label">Motto lub nagłówek</label>

            {{ form_text('headline', input_old('headline', firm.headline), {'class': 'form-control', 'maxlength': 100}) }}
            <span class="help-block">Pozostało <strong>{{ (100 - input_old('headline', firm.headline)|length) }}</strong> znaków.</span>
        </div>

        <div class="form-group form-group-border agency">
            <label class="control-label">Adres</label>

            {{ form_hidden('latitude', input_old('latitude', firm.latitude), {'id': 'latitude'}) }}
            {{ form_hidden('longitude', input_old('latitude', firm.longitude), {'id': 'longitude'}) }}
            {{ form_hidden('street', input_old('street', firm.street)) }}
            {{ form_hidden('city', input_old('city', firm.city)) }}
            {{ form_hidden('country', input_old('country', firm.country)) }}
            {{ form_hidden('postcode', input_old('postcode', firm.postcode)) }}
            {{ form_hidden('house', input_old('house', firm.house)) }}

            {{ form_text('address', input_old('address', firm.street ~ ' ' ~ firm.house ~ ' ' ~ firm.city), {'class': 'form-control', 'id': 'address'}) }}
            <span class="help-block">Wpisz adres i naciśnij Enter lub kliknij na mapę. Adres firmy będzie wyświetlany przy ofercie.</span>

            <div id="map"></div>
        </div>

        <div class="form-group form-group-border agency">
            <label class="control-label">Benefity</label>
            <span class="help-block">Kliknij na wybraną pozycję, aby zaznaczyć benefity jakie oferuje Twoja firma. Jeżeli nie ma go na liście, możesz dodać nową pozycję wpisując ją w polu poniżej.</span>

            {% set benefits = input_old('benefits', firm.benefits) %}

            <ol class="benefits list-group">
                {% for benefit in benefitsList %}
                    <li class="list-group-item col-sm-6 clickable {{ benefit in benefits ? 'checked' }}">
                        <i class="fa fa-check"></i> {{ benefit }}

                        <input type="checkbox" name="benefits[]" value="{{ benefit }}" {{ benefit in benefits ? 'checked' }}>
                    </li>
                {% endfor %}

                {% for benefit in benefits %}
                    {% if benefit not in benefitsList and benefit != '' %}
                        <li class="list-group-item col-xs-6 checked">
                            <i class="fa fa-check"></i>
                            <input type="text" name="benefits[]" value="{{ benefit }}" class="form-control input-sm">
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="list-group-item col-xs-6 checked">
                    <i class="fa fa-check"></i>
                    <input type="text" name="benefits[]" class="form-control input-sm">
                </li>
            </ol>

            <div class="clearfix"></div>
        </div>

        <div id="form-navigation" class="form-group">
            <a href="{{ route('job.submit') }}" class="btn btn-default pull-left"><i class="fa fa-angle-left"></i> Podstawowe informacje</a>
            <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Podgląd <i class="fa fa-angle-right"></i></button>

            <button type="submit" class="btn btn-danger pull-right btn-save" data-submit-state="Proszę czekać..."><i class="fa fa-save"></i> Zapisz i zakończ</button>
        </div>
    </div>
</div>
