<div id="comment-{{ comment.id }}" class="media">
  <div class="mr-2">
    <a href="{{ route('profile', [comment.user_id]) }}">
      <img class="media-object" src="{{ user_photo(comment.photo) }}" style="width: 32px; height: 32px">
    </a>
  </div>

  <div class="media-body">
    {% if can('update', comment) or can('delete', comment) %}
      <div class="dropdown float-right">
        <button class="btn btn-secondary btn-xs dropdown-toggle" type="button" id="comment-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="comment-menu">
          {% if can('update', comment) %}
            <a class="dropdown-item btn-sm-edit" href="javascript:" data-id="{{ comment.id }}"><i class="fas fa-edit fa-fw"></i> Edytuj</a>
          {% endif %}

          {% if can('delete', comment) %}
            <a class="dropdown-item btn-sm-remove" href="{{ route('microblog.comment.delete', [comment.id]) }}" data-id="{{ comment.id }}"><i class="fas fa-times fa-fw"></i> Usuń</a>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {{ form_open({url: route('microblog.comment.save', [comment.id]), class: 'write-content mr-4', style: 'display: none'}) }}
    <textarea name="text" placeholder="Napisz komentarz... (Ctrl+Enter aby wysłać)" class="form-control" data-prompt-url="{{ route('user.prompt') }}" rows="1">{{ comment.text }}</textarea>
    <button type="submit" class="btn btn-sm btn-submit" title="Zapisz (Ctrl+Enter)"><i class="far fa-fw fa-share-square"></i></button>
    {{ form_close() }}

    <div class="comment-body">
      <h6>{{ link_to_profile(comment.user_id, comment.name, comment.is_active, comment.is_blocked) }}</h6>
      <div class="media-content">{{ comment.html|raw }}</div>

      <ul class="list-inline list-inline-bullet text-muted small m-0">
        <li class="list-inline-item">
          <a href="{{ route('microblog.view', [microblog.id]) }}#comment-{{ comment.id }}" title="{{ comment.created_at|format_date(false) }}" class="timestamp text-muted" data-timestamp="{{ comment.created_at|timestamp }}">{{ comment.created_at|format_date }}</a>
        </li>
        <li class="list-inline-item">
          <a href="{{ route('microblog.vote', [comment.id]) }}" class="text-muted btn-sm-thumbs {{ comment.thumbs_on ? 'thumbs-on' }}" data-id="{{ comment.id }}" data-count="{{ comment.votes }}" data-toggle="tooltip" data-placement="top">
            {{ declination(comment.votes, ['głos', 'głosy', 'głosów']) }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
