<input class="input-file" type="file" name="photo" style="visibility: hidden; height: 1px">

<div class="row">
    <div class="col-12">
        <textarea cols="110" rows="2" placeholder="Kliknij, aby dodać wpis" tabindex="1" name="text" style="height: 45px;" data-paste-url="{{ route('microblog.paste') }}" data-prompt-url="{{ route('user.prompt') }}">{{ microblog.text }}</textarea>
    </div>
</div>

<div class="row submit-area">
    <div class="col-12">
        <div class="row thumbnails">
            {% for media in microblog.media %}
                <div class="col-sm-2">
                    <a href="javascript:" class="thumbnail">
                        <img src="{{ thumbnail(media) }}">

                        <div class="btn-flush">
                            <i class="fas fa-times fa-2x"></i>
                            <input type="hidden" name="thumbnail[]" value="{{ media }}">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="alert alert-warning alert-popover top d-none d-sm-block" data-id="markdown">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Kliknij, aby zamknąć"><span aria-hidden="true">&times;</span></button>
                <a class="alert-link" href="https://guides.github.com/features/mastering-markdown/">Markdown</a> jest obsługiwany. Ctrl+V wkleja obraz ze schowka (Firefox oraz Chrome).
            </div>

            <div class="col-6">
                <button title="Kliknij, aby dodać zdjęcie" class="btn btn-secondary btn-sm" type="button" id="btn-upload">
                    <i class="fas fa-camera"></i>
                </button>
            </div>
            <div class="col-6">
                <button title="Kliknij, aby wysłać (Ctrl+Enter)" class="btn btn-sm btn-primary float-right" tabindex="2" type="submit">
                    Zapisz
                </button>

                {% if microblog.id is defined %}
                    <button data-id="{{ microblog.id }}" title="Anuluj (Esc)" class="btn btn-sm btn-cancel btn-danger float-right" style="margin-right: 10px" tabindex="3">
                        Anuluj
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
