<article id="entry-{{ microblog.id }}" class="microblog">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left hidden-xs" style="padding-right: 15px">
                    <a href="{{ route('profile', [microblog.user_id]) }}">
                        <img class="media-object img-thumbnail" src="{{ user_photo(microblog.photo) }}" style="width: 50px; height: 50px;" alt="">
                    </a>
                </div>
                <div class="media-body">
                    {% if can('update', microblog) or can('delete', microblog) %}
                        <div class="dropdown pull-right">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="microblog-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="microblog-menu">
                                {% if can('update', microblog) %}
                                    <li><a href="{{ route('microblog.save', [microblog.id]) }}" class="btn-edit" data-id="{{ microblog.id }}"><i class="fas fa-edit fa-fw"></i> Edytuj</a></li>
                                {% endif %}

                                {% if can('delete', microblog) %}
                                    <li><a href="{{ route('microblog.delete', [microblog.id]) }}" class="btn-remove" data-id="{{ microblog.id }}"><i class="fas fa-times fa-fw"></i> Usuń</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}

                    <h5 class="media-heading">{{ link_to_profile(microblog.user_id, microblog.name, microblog.is_active, microblog.is_blocked) }}</h5>
                    <a href="{{ route('microblog.view', [microblog.id]) }}#entry-{{ microblog.id }}" title="{{ microblog.created_at|format_date(false) }}" class="timestamp" data-timestamp="{{ microblog.created_at|timestamp }}">{{ microblog.created_at|format_date }}</a>

                    {% if microblog.is_sponsored %}
                        &bull; <small class="text-muted" style="font-size: 11px">Sponsorowane</small>
                    {% endif %}

                    <div class="microblog-wrapper {{ not microblogDetailsPage ? 'microblog-wrapper-wrap' }}">
                        <div class="microblog-text">
                            {% include 'microblog.partials.text' %}
                        </div>
                    </div>

                    <div class="microblog-footer">
                        <a href="{{ route('microblog.vote', [microblog.id]) }}" class="btn btn-thumbs {{ microblog.thumbs_on ? 'thumbs-on' }}" data-count="{{ microblog.votes }}" data-toggle="tooltip" data-placement="top">
                            {{ declination(microblog.votes, ['głos', 'głosy', 'głosów']) }}
                        </a>

                        {% if auth_check() %}
                            <a href="{{ route('microblog.subscribe', [microblog.id]) }}" class="btn btn-subscribe {{ microblog.subscribe_on ? 'subscribe-on' }}">Obserwuj</a>
                            <a href="javascript:" class="btn btn-reply" data-login="{{ microblog.name }}">Komentuj</a>
                        {% endif %}
                    </div>

                    <div class="microblog-comments margin-sm-top">

                        <div class="microblog-comments-container">
                            {% if microblog.comments_count > microblog.comments|length %}
                                <div class="show-all">
                                    {% set total_comments = microblog.comments_count - microblog.comments|length %}
                                    <a href="{{ route('microblog.comment.show', [microblog.id]) }}">Zobacz {{ declination(total_comments, ['pozostały', 'pozostałe', 'pozostałe'], true) }} {{ declination(total_comments, ['komentarz', 'komentarze', 'komentarzy']) }}</a>
                                </div>
                            {% endif %}

                            {% for comment in microblog.comments %}
                                {% include 'microblog.partials.comment' with {'comment': comment} %}
                            {% endfor %}
                        </div>

                        {% if auth_check() %}
                            <form class="comment-form" method="POST" action="{{ route('microblog.comment.save') }}">
                                <div class="media media-darker">
                                    <div class="media-left">
                                        <a href="{{ route('profile', user('id')) }}">
                                            <img class="media-object" src="{{ user_photo(user('photo')) }}" style="width: 32px; height: 32px">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <input type="hidden" name="parent_id" value="{{ microblog.id }}">

                                        <div class="write-content">
                                            <textarea name="text" placeholder="Napisz komentarz... (Ctrl+Enter aby wysłać)" class="form-control" data-prompt-url="{{ route('user.prompt') }}" rows="1"></textarea>
                                            <button type="submit" class="btn btn-xs btn-submit" title="Zapisz (Ctrl+Enter)"><i class="far fa-fw fa-share-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
