{# powiadomienie o przeniesieniu watku #}
{% extends 'emails.layout' %}

{% block content %}
    <b>{{ sender }}</b> przeniósł wątek <b>{{ subject }}</b> do kategorii <b>{{ forum }}</b> z powodu: {{ reason_name }}.<br><br>
    Szczegóły:<br><br>

    <hr>
    {{ reason_text }}
    <hr><br>

    Link do wpisu: <a href="{{ url(url) }}">{{ url(url) }}</a>
{% endblock %}
