{% if can('wiki-admin') %}
  {% if not wiki.deleted_at %}
    <a href="#modal-delete" data-toggle="modal" class="dropdown-item"><i class="fas fa-fw fa-times"></i> Usuń stronę</a>
    {% if categories|length > 1 %}
      <a href="#modal-unlink" data-toggle="modal" title="Artykuł nie zostanie usunięty, a jedynie jego kopia" class="dropdown-item"><i class="fas fa-fw fa-chain-broken"></i> Usuń tylko tę kopię strony</a>
    {% endif %}
    <a href="{{ route('wiki.purge', [wiki.id]) }}" class="dropdown-item"><i class="far fa-fw fa-trash-alt"></i> Usuń cache</a>
    <a href="{{ route('wiki.clone', [wiki.id]) }}" class="dropdown-item"><i class="far fa-fw fa-clone"></i> Utwórz kopię</a>
    <a href="{{ route('wiki.move', [wiki.id]) }}" class="dropdown-item"><i class="fas fa-fw fa-arrow-alt-circle-right"></i> Przenieś stronę</a>
    <a href="{{ route('wiki.submit') }}?parentId={{ wiki.id }}" class="dropdown-item"><i class="fas fa-fw fa-plus"></i> Utwórz podstronę</a>
  {% else %}
    <a href="#modal-restore" data-toggle="modal" class="dropdown-item"><i class="fas fa-fw fa-undo"></i> Przywróć usuniętą wersję</a>
  {% endif %}
{% endif %}
