{% if children|length > 0 or folders|length > 0 %}
    <div id="catalog">
        {#<div id="interface">#}
        {#<div class="btn-group pull-right" role="group" aria-label="...">#}
        {#<button type="button" class="btn btn-default active"><i class="fas fa-th-large"></i> Kafelki</button>#}
        {#<button type="button" class="btn btn-default"><i class="fas fa-th-list"></i> Lista</button>#}
        {#</div>#}

        {#<div class="pull-right" style="width: 5px; height: 40px; background-color: #fafafa"></div>#}
        {#</div>#}

        {#<div class="clearfix"></div>#}

        <div class="card card-transparent">
            <div class="card-body">

                {% if folders|length > 0 %}
                    <div id="folder" class="card">
                        <div class="card-body">
                            <ol class="list-group">
                                {% for wiki in folders %}
                                    <li class="list-group-item col-sm-4">
                                        <a href="{{ url(wiki.path) }}">{{ wiki.title }} (<em>{{ wiki.children }}</em>)</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% endif %}

                <div class="text-center">
                    {{ children.links()|raw }}
                </div>

                <div class="row">
                    {% for child in children %}
                        <div class="col-md-6">
                            <div class="card card-default card-catalog">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ route('profile', [child.user_id]) }}" title="Autor: {{ child.user_name }}">
                                                <img class="media-object img-thumbnail" src="{{ user_photo(child.photo) }}" style="max-width: 45px;" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="{{ url(child.path) }}">{{ child.title }}</a></h4>

                                            <ul class="list-inline">
                                                <li class="date list-inline-item" title="{{ child.created_at|format_date(false) }}">{{ child.created_at|format_date }}</li>
                                                <li class="comments list-inline-item">{{ declination(child.comments, ['komentarz', 'komentarzy', 'komentarzy']) }}</li>
                                                <li class="views list-inline-item">{{ declination(child.views, ['odsłona', 'odsłony', 'odsłon']) }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center">
                    {{ children.links()|raw }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
