<div class="row" id="comment-{{ comment.id }}">
    <div class="col-sm-1 hidden-xs">
        <a href="{{ route('profile', [comment.user.id]) }}">
            <img src="{{ user_photo(comment.user.photo) }}" class="img-thumbnail">
        </a>
    </div>
    <div class="col-sm-11">
        <div class="panel panel-transparent">
            <div class="panel-body comment">
                <ul class="list-inline">
                    <li>
                        {{ link_to_profile(comment.user) }}
                    </li>
                    <li>
                        <a href="#comment-{{ comment.id }}" class="timestamp" data-timestamp="{{ comment.created_at|timestamp }}">{{ comment.created_at|format_date }}</a>
                    </li>
                </ul>

                <p>
                    {{ comment.text }}
                </p>
            </div>
        </div>
    </div>
</div>