{% import 'components.modals' as modals %}

<div class="row" id="comment-{{ comment.id }}">
    <div class="col-sm-1 hidden-xs">
        <a href="{{ route('profile', [comment.user.id]) }}">
            <img src="{{ user_photo(comment.user.photo) }}" class="img-thumbnail">
        </a>
    </div>
    <div class="col-sm-11">
        <div class="card card-transparent">
            <div class="card-body comment">
                {% if can('wiki-admin') or comment.user_id == user('id') %}
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="comment-menu-{{ comment.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="comment-menu-{{ comment.id }}">
                            <li class="dropdown-item"><a href="javascript:" class="btn-edit" data-id="{{ comment.id }}"><i class="fas fa-edit fa-fw"></i> Edytuj</a></li>
                            <li class="dropdown-item"><a href="javascript:" data-target="#modal-confirm-{{ comment.id }}" data-toggle="modal"><i class="fas fa-times fa-fw"></i> Usuń</a></li>
                        </ul>
                    </div>
                {% endif %}

                <ul class="list-inline">
                    <li class="list-inline-item">
                        {{ link_to_profile(comment.user) }}
                    </li>
                    <li class="list-inline-item">
                        <a href="#comment-{{ comment.id }}" class="timestamp" data-timestamp="{{ comment.created_at|timestamp }}">{{ comment.created_at|format_date }}</a>
                    </li>
                </ul>

                <div class="comment-content">
                    {{ comment.html|raw }}
                </div>

                {% if can('wiki-admin') or comment.user_id == user('id') %}
                    {{ form_open({url: route('wiki.comment.save', [wiki.id, comment.id]), class: 'comment-form'}) }}
                    {{ form_hidden('comment_id', comment.id) }}

                    <div class="form-group">
                        {{ form_widget(form.text, {value: comment.text}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.submit) }}
                        {{ form_widget(form.cancel) }}

                        <div class="clearfix"></div>
                    </div>
                    {{ form_close() }}

                    {{ form_open({url: route('wiki.comment.delete', [wiki.id, comment.id])}) }}
                    {{ modals.confirm('Czy chcesz usunąć ten komentarz?', 'Czy chcesz usunąć?', 'modal-confirm-' ~ comment.id) }}
                    {{ form_close() }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
