{% if mlt|length > 0 %}
  <section class="box related">
    <h4 class="border-bottom">
      {{ icon('wikiMoreLikeThis') }}
      Zobacz też
    </h4>
    <ul>
      {% for item in mlt %}
        <li>
          <a href="{{ url(item.path) }}" title="{{ item.title|raw }}">
            <strong>{{ item.title|raw }}</strong>
            <small>{{ item.updated_at|format_date }}</small>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <div class="clearfix"></div>
{% endif %}
