{% if related|length > 0 %}
  <section class="related box">
    <h4 class="heading">
      {{ icon('wikiRelated') }}
      Strony powiązane
    </h4>
    <ul>
      {% for item in related %}
        <li>
          <a href="{{ url(item.path) }}" title="{{ item.title }}">
            <strong>{{ item.title }}</strong>
            <small>{{ item.updated_at|format_date }}</small>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
