{% extends 'layout' %}

{% import 'legacyComponents.modals' as modals %}

{% block body %}
  <div class="container d-flex administrator-panel">
    <aside class="flex-shrink-0 navbar-default me-4 pb-4" id="adm-menu">
      <div id="box-user">
        <a href="{{ route('adm.users.show', user('id')) }}">
          <div class="img-thumbnail">
            {{ user_avatar(user('photo'), user('name')) }}
          </div>
        </a>
        <a href="{{ route('adm.users.show', user('id')) }}">
          <h3>{{ user('name') }}</h3>
        </a>
        <ol class="list-inline">
          <li class="list-inline-item">
            <a href="{{ route('adm.exit') }}">Wyloguj z panelu</a>
          </li>
        </ol>
      </div>
      {{ menu.asUl({class: 'list-unstyled navbar-nav'})|raw }}
    </aside>
    <main class="flex-grow-1 mt-4">
      {{ breadcrumb|raw }}
      {% if session_has('success') %}
        <div class="alert alert-success">
          {{ icon('alertSuccess') }}
          {{ session_get('success') }}
        </div>
      {% endif %}
      <article>
        {% block container %}
          <div class="card">
            <div class="card-body">
              {% block card %}
              {% endblock %}
            </div>
          </div>
        {% endblock %}
      </article>
    </main>
  </div>

  {{ form_open({url: '#'}) }}
  {{ modals.confirm('Czy na pewno usunąć?', 'Czy usunąć ten wpis?', 'modal-delete') }}
  {{ form_close() }}

  {% import 'legacyComponents.widgets' as widgets %}

  {{ widgets.jquery() }}

  <script src="{{ cdn('js/runtime.js') }}"></script>
  <script src="{{ cdn('js/app.js') }}"></script>
  <script src="{{ cdn('js/common.js') }}"></script>
  <script src="{{ cdn('js/vendor.js') }}"></script>

  <script type="text/javascript">
    $(function () {
      var confirmModal = document.getElementById('modal-delete');
      confirmModal.addEventListener('shown.bs.modal', function () {
        $(this).parent().attr('action', $('button[data-bs-toggle="modal"]').data('delete-url'));
      });
    });
  </script>
{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ cdn('css/stylesLazyAdm.css') }}">
{% endblock %}
