{% extends 'adm.base' %}
{% block title %}Strona główna {{ parent() }}{% endblock %}

{% block container %}
  <div class="card card-default">
    <div class="card-header">Status systemu</div>
    <ul class="list-group list-group-flush">
      {% for item in checklist %}
        <li class="list-group-item">
          {% if item.value %}
            {{ icon('adminTickMark') }}
          {% else %}
            {{ icon('adminCrossMark') }}
          {% endif %}
          <span>{{ item.label }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>

  <ul class="nav nav-pills mb-3 justify-content-end">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-weeks" type="button">ostatnie 30 tygodni</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-months" type="button">ostatnie 30 miesięcy</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-years" type="button">ostatnie 30 lat</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane show active" id="pills-weeks">
      {{ registrationsChartWeeks }}
    </div>
    <div class="tab-pane" id="pills-months">
      {{ registrationsChartMonths }}
    </div>
    <div class="tab-pane" id="pills-years">
      {{ registrationsChartYears }}
    </div>
  </div>

  <ul class="nav nav-pills mb-3 justify-content-end">
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-days-leave" type="button">ostatnie 30 dni</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-weeks-leave" type="button">ostatnie 30 tygodni</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-months-leave" type="button">ostatnie 30 miesięcy</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-years-leave" type="button">ostatnie 30 lat</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane" id="pills-days-leave">
      {{ postsCreatedChartDays }}
    </div>
    <div class="tab-pane show active" id="pills-weeks-leave">
      {{ postsCreatedChartWeeks }}
    </div>
    <div class="tab-pane" id="pills-months-leave">
      {{ postsCreatedChartMonths }}
    </div>
    <div class="tab-pane" id="pills-years-leave">
      {{ postsCreatedChartYears }}
    </div>
  </div>
{% endblock %}
