{% extends 'adm.base' %}
{% block title %}Ikony {{ parent() }}{% endblock %}

{% block card %}
  {{ form_open({url: route('adm.icons.save'), method: 'post', id: 'app'}) }}
  <div class="d-flex justify-content-end mb-3">
    <p>
      <input type="submit" value="Zapisz" class="btn btn-primary" data-submit-state="Zapisywanie...">
    </p>
  </div>
  <table class="table table-striped">
    <tr>
      <td>
        <input class="form-control" placeholder="Wyszukaj po nazwie..." v-model="searchName">
      </td>
      <td>
        <input class="form-control" placeholder="Wyszukaj po ikonie..." v-model="searchIcon">
      </td>
      <td>
        <div style="width:30px; height:35px; display:flex; align-items:center;">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th>Umiejscowienie</th>
      <th>ikona font-awesome</th>
      <th></th>
    </tr>
    <tr v-for="(icon, index) in editorIcons" v-show="visible(icon)">
      <td>
        <input :value="icon.location" class="form-control" disabled>
      </td>
      <td>
        <input
            :name="'icons[' + icon.location + ']'"
            v-model="icon.currentIcon"
            :placeholder="icon.defaultIcon"
            class="form-control"
        ></td>
      <td>
        <button
            type="button"
            @click="icon.currentIcon='';"
            class="btn btn-sm"
            :style="{visibility: icon.currentIcon ? 'visible' : 'hidden'}">
          <i class="fa-solid fa-arrow-rotate-left"></i>
        </button>
      </td>
    </tr>
  </table>
  {{ form_close() }}
{% endblock %}

{% block body %}
  {{ parent() }}
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"
      integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
  </script>
  <script>
    const editorIcons = {{ editorIcons|json_encode|raw }};
    new Vue({
      name: 'Icons',
      el: '#app',
      delimiters: ['${', '}'],
      data() {
        return {
          editorIcons: Object
            .entries(editorIcons)
            .map(([location, [defaultIcon, currentIcon]]) => {
              return {location, defaultIcon, currentIcon};
            }),
          searchName: '',
          searchIcon: '',
        };
      },
      methods: {
        visible({location, defaultIcon, currentIcon}) {
          currentIcon = currentIcon.trim();
          if (this.$data.searchName) {
            if (!containsCaseInsensitive(location, this.$data.searchName)) {
              return false;
            }
          }
          if (this.$data.searchIcon) {
            const effectiveIcon = currentIcon === '' ? defaultIcon : currentIcon;
            if (!containsCaseInsensitive(effectiveIcon, this.$data.searchIcon)) {
              return false;
            }
          }
          return true;
        },
      },
    });

    function containsCaseInsensitive(string, substring) {
      return string.toLowerCase().includes(substring.toLocaleString());
    }
  </script>
{% endblock %}
