{% extends 'adm.base' %}
{% block title %}Logi {{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ logs.links()|raw }}

                    <div class="list-group list-log">
                        {% for log in logs %}
                            <div class="list-group-item">
                                <h4>
                                    <a href="#log-{{ loop.index }}" data-toggle="collapse" title="{{ log.file }} [{{ log.line }}]">{{ log.message }}</a>
                                </h4>
                                <p>{{ log.file }} [{{ log.line }}]</p>

                                <ul class="list-inline">
                                    <li><small class="text-muted"><i class="fas fa-desktop"></i> <a title="Zobacz aktywność tego adresu IP" href="{{ route('adm.stream', {ip: log.ip}) }}">{{ log.ip }}</a></small></li>
                                    <li><small class="text-muted"><i class="fas fa-anchor"></i> <a href="{{ log.url }}">{{ log.url }}</a></small></li>
                                    <li><small class="text-muted"><i class="fas fa-calendar-alt"></i> {{ log.date }}</small></li>
                                </ul>

                                <code class="collapse" id="log-{{ loop.index }}">
                                    {{ log.stack ? log.stack|join('<br>')|raw : '--' }}
                                </code>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
