{% extends 'adm.base' %}
{% block title %}Dziennik zdarzeń {{ parent() }}{% endblock %}

{% block container %}
    {% if paginator.items() > 0 %}
        <div class="card card-default margin-md-top">
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_row(form.text) }}

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <a class="text-primary" role="button" data-toggle="collapse" href="#advance" aria-expanded="false" aria-controls="collapseExample">
                                Szukanie zaawansowane
                            </a>
                        </div>
                    </div>

                    <div class="collapse" id="advance">
                        {{ form_row(form.ip) }}
                        {{ form_row(form.browser) }}
                        {{ form_row(form.fingerprint) }}
                        {{ form_row(form.actor_displayName) }}
                    </div>

                    {{ form_row(form.submit) }}
                {{ form_end() }}

                <div class="text-center">{{ paginator.render()|raw }}</div>

                <div class="stream">
                    {% for activity in paginator %}
                        {% include 'components.stream' %}
                    {% else %}
                        <span class="empty-result">Brak rekordów spełniających Twoje kryteria.</span>
                    {% endfor %}
                </div>

                <div class="text-center">{{ paginator.render()|raw }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script>
        $(function () {
            $('a[class~="bubble"],i[class~="bubble"]').tooltip();

            $(document).on('click mousedown', '#stream-filter-form .dropdown-menu', function (e) {
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
