{% extends 'adm.base' %}
{% block title %}Cenzura {{ parent() }}{% endblock %}

{% block card %}
  {{ form_open({url: route('adm.words.save'), method: 'post', id: 'app'}) }}
  <p>
    <button class="btn btn-secondary" @click.prevent="addRow">
      <i class="fas fa-plus"></i>
      Dodaj nowy
    </button>
    <input type="submit" value="Zapisz" class="btn btn-primary" data-submit-state="Zapisywanie...">
  </p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Faza do odszukania</th>
      <th>Faza do zastąpienia</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(row, key) in rows">
      <td>${ row.id }</td>
      <td><input type="text" v-model="row.word" class="form-control" name="word[]"></td>
      <td><input type="text" v-model="row.replacement" class="form-control" name="replacement[]"></td>
      <td>
        <button class="btn btn-sm btn-danger" @click.prevent="removeRow(key)">
          <i class="far fa-fw fa-trash-can"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  {{ form_close() }}
{% endblock %}

{% block body %}
  {{ parent() }}
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"
      integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
  </script>
  <script>
    new Vue({
      name: 'Words',
      el: '#app',
      delimiters: ['${', '}'],
      data: {
        rows: {{ words|json_encode|raw }}
      },
      methods: {
        addRow: function () {
          this.rows.unshift({word: "", replacement: ""});
        },
        removeRow: function (index) {
          this.rows.splice(index, 1);
        },
      },
    });
  </script>
{% endblock %}
