<div class="grid">

    {% block header %}
        {% if create_button or button %}
            <div class="pull-left">
                {{ create_button|raw }}
                {{ button|raw }}
            </div>

            <div class="pull-right">{{ pagination|raw }}</div>
        {% else %}
            {{ pagination|raw }}
        {% endif %}
    {% endblock %}

    {% block table %}
        {{ form_open({id: 'filter-form', method: 'get'}) }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for column in columns %}
                            {{ grid_column(column) }}
                        {% endfor %}
                    </tr>
                    {% if has_filters %}
                        <tr>
                            {% for column in columns %}
                                {{ grid_filter(column) }}
                            {% endfor %}
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for row in rows %}
                        {{ grid_row(row) }}
                    {% else %}
                        <tr>
                            {{ grid_empty(grid) }}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input type="submit" style="visibility: hidden; height: 1px" />
        {{ form_close() }}
    {% endblock %}

    {% block footer %}
        {% if create_button or button %}
            <div class="pull-right">{{ pagination|raw }}</div>
        {% else %}
            {{ pagination|raw }}
        {% endif %}
    {% endblock %}
</div>
