{% extends 'layout' %}
{% block title %}{{ user.name }} - Profil {{ parent() }}{% endblock %}

{% block container %}
  <script>
    var user = {{ user|json_encode|raw }};
    var skills = {{ skills|json_encode|raw }};
    var popularTags = {{ popular_tags|json_encode|raw }};
    var emojis = {{ emojis|json_encode|raw }};
  </script>

  <div class="row">
    <div class="col-md-9">
      {% if user.is_blocked %}
        <div class="alert alert-danger">
          Konto tego użytkownika zostało zablokowane.
        </div>
      {% endif %}

      <div id="js-profile" class="card card-default">
        <div class="card-body">
          <div class="media">
            <div class="me-3">
              <div class="img-thumbnail" style="min-width:128px;">
                {{ user_avatar(user.photo, user.name) }}
              </div>
              <div>
                {% if user.id != user('id') %}
                  <a class="btn btn-secondary mt-2 w-100" href="{{ route('user.pm.submit') }}?to={{ user.name }}">
                    {{ icon('profileUserSendMessage') }}
                    <span class="ms-1">Wiadomość</span>
                  </a>
                {% endif %}
              </div>
              <div v-cloak v-if="isAuthorized">
                <vue-follow-button :user-id="{{ user.id }}" class="mt-2 w-100"></vue-follow-button>
              </div>
            </div>
            <div class="media-body">
              <div class="d-flex justify-content-between">
                <h1 class="m-0">{{ user.name }}</h1>
                <div>
                  <button class="btn btn-secondary d-block" data-bs-toggle="dropdown">
                    {{ icon('profileMenuDropdown') }}
                  </button>
                  <div class="dropdown-menu">
                    <a v-if="isBlocked(user.id)" @click="unblock(user.id)" href="javascript:" class="dropdown-item" rel="nofollow">
                      {{ icon('profileUserUnblock') }}
                      Odblokuj użytkownika
                    </a>
                    <a v-else @click="block" href="javascript:" class="dropdown-item" rel="nofollow">
                      {{ icon('profileUserBlock') }}
                      Zablokuj użytkownika
                    </a>
                  </div>
                </div>
              </div>
              <ol class="list-inline mb-0">
                {% if user.position %}
                  <li class="list-inline-item">
                    <h5 class="mb-0">
                      {{ user.position }}

                      {% if user.firm %}
                        <small class="text-muted">@ {{ user.firm }}</small>
                      {% endif %}
                    </h5>
                  </li>
                {% endif %}

                {% if user.location %}
                  <li class="list-inline-item">
                    {{ icon('profileUserResidence') }}
                    {{ user.location }}
                  </li>
                {% endif %}
              </ol>

              <ol class="metadata list-inline">
                {% if user.website %}
                  <li class="list-inline-item" title="Strona WWW">
                    {{ icon('profileUserWebsite') }}
                    <a href="{{ user.website }}">{{ user.website }}</a>
                  </li>
                {% endif %}
                {% if user.github %}
                  <li class="list-inline-item" title="Link do konta Github">
                    {{ icon('profileUserGithub') }}
                    <a href="{{ user.github }}">{{ github(user.github) }}</a>
                  </li>
                {% endif %}
                {% if user.visited_at %}
                  <li class="list-inline-item" title="Ostatnia wizyta">
                    {{ icon('profileUserLastVisitDate') }}
                    {{ user.visited_at|format_date }}
                  </li>
                {% endif %}
                <li class="list-inline-item" title="Data rejestracji">
                  {{ icon('profileUserRegisterDate') }}
                  {{ user.created_at|format_date }}
                </li>
                <li class="list-inline-item" title="Liczba wizyt">
                  {{ icon('profileUserVisits') }}
                  {{ user.visits|number_format(0, ',', ' ') }} wizyt
                </li>

                {% if user.birthyear %}
                  <li class="list-inline-item" title="Wiek">
                    {{ icon('profileUserAge') }}
                    {{ "now"|date("Y") - user.birthyear }} lat
                  </li>
                {% endif %}
              </ol>

              {% if user.bio %}
                <div class="statement">
                  {{ icon('userAboutMe') }}
                  {{ user.bio }}
                </div>
              {% endif %}

              <div v-cloak class="row">
                <div v-for="(skills, name) in groupedSkills" class="col-sm mb-2 mb-sm-0 profile-user-skill">
                  <strong class="d-block text-muted mb-3">${ name }</strong>
                  <vue-tags :tags="skills" class="tag-clouds-md"></vue-tags>
                </div>
              </div>
            </div>
          </div>
        </div>
        <vue-notifications></vue-notifications>
      </div>

      {{ chartLibraryScript }}
      <div class="box">
        <h4 class="heading mb-4">
          {{ icon('profileUserMicroblogs') }}
          {% if user.id == user('id') %}
            Twoje wpisy na mikroblogu
          {% else %}
            Wpisy {{ user.name }} na mikroblogu
          {% endif %}
        </h4>
      </div>

      <div id="js-microblog" class="row mt-3">
        {% if user.id == user('id') %}
          <div class="media mb-3">
            <div class="me-3 d-none d-sm-block">
              <a href="{{ route('profile', [user('id')]) }}">
                <div class="img-thumbnail" style="width: 50px; height: 50px;">
                  {{ user_avatar(currentUser.photo, currentUser.name) }}
                </div>
              </a>
            </div>
            <div class="media-body">
              <vue-form @save="scrollToMicroblog" :popular-tags="popularTags" :microblog="microblogDefault"></vue-form>
            </div>
          </div>
        {% endif %}
        {{ microblogModule|raw }}
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <h4 class="heading">
          {{ icon('profileActions') }}
          Poznaj
        </h4>

        <ul class="side-menu">
          {% if user.id != user('id') %}
            <li class="action-link">
              <a href="{{ route('user.pm.submit', {to: user.name}) }}">
                {{ icon('profileUserSendMessage') }}
                Wyślij wiadomość
              </a>
            </li>
          {% endif %}

          <li class="action-link">
            <a href="{{ route('forum.user', [user.id]) }}">
              {{ icon('profileUserFindPosts') }}
              Znajdź posty użytkownika
            </a>
          </li>

          {% if can('adm-access') %}
            {% if not user.is_blocked and user.id != user('id') %}
              <li class="action-link">
                <a href="{{ route('adm.firewall.save') }}?user={{ user.id }}">
                  {{ icon('profileUserBan') }}
                  Zbanuj tego użytkownika
                </a>
              </li>
            {% endif %}

            <li class="action-link">
              <a href="{{ route('adm.users.show', [user.id]) }}">
                {{ icon('profileUserShowInAdmin') }}
                Pokaż w panelu administracyjnym
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      {{ render_block('job_ads') }}

      {{ reputationModule|raw }}

      <div class="box mb-4">
        <h4 class="heading">
          {{ icon('profileUserPermissions') }}
          Uprawnienia
        </h4>
        <ul class="list-unstyled">
          {% for name, text in trans('privileges') %}
            {% set value = constant('Coyote\\Reputation::' ~ name|upper) %}

            <li class="pt-2 pb-2 row">
              <div class="col-3">
                {% if user.reputation >= value %}
                  <span class="text-primary">
                    {{ icon('profileUserPermissionGranted') }}
                  </span>
                {% else %}
                  <span class="text-danger">
                    {{ icon('profileUserPermissionDenied') }}
                  </span>
                {% endif %}
                <strong>{{ value }}</strong>
              </div>

              <div class="col-9 text-truncate small" title="{{ text }}">
                {{ text }}
              </div>
            </li>
          {% endfor %}
        </ul>
        <p>
          <a href="/Pomoc/Konto/Reputacja" class="small text-muted">
            <u>Sprawdź czym są punkty reputacji i jak możesz je zdobyć</u>
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
