{% extends 'layout' %}
{% block title %}Profil {{ parent() }}{% endblock %}

{% block container %}
    {% if user.id == user('id') %}
        {{ include('user/top', {active: 'profile'}) }}
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <div id="profile" class="panel panel-default">
                <div class="panel-body">

                    <div class="media">
                        <div class="media-left user-photo">
                            <img src="{{ user_photo(user.photo) }}" class="img-thumbnail">

                            <a class="btn btn-default btn-sm btn-pm" href="{{ route('user.pm.submit') }}?to={{ user.name }}">
                                <i class="fa fa-envelope"></i> Wiadomość
                            </a>
                        </div>

                        <div class="media-body">
                            <h1 class="media-heading">{{ user.name }}</h1>

                            <ol class="list-inline">
                                {% if user.position %}
                                    <li class="position">
                                        {{ user.position }}

                                        {% if user.firm %}
                                            <small>@ {{ user.firm }}</small>
                                        {% endif %}
                                    </li>
                                {% endif %}

                                {% if user.location %}
                                    <li class="location">
                                        <i class="fa fa-map-marker"></i>
                                        {{ user.location }}
                                    </li>
                                {% endif %}
                            </ol>

                            <ol class="metadata list-inline">
                                {% if user.website %}
                                    <li title="Strona WWW">
                                        <i class="fa fa-globe fa-fw"></i>
                                        <a href="{{ user.website }}">{{ user.website }}</a>
                                    </li>
                                {% endif %}
                                {% if user.visited_at %}
                                    <li title="Ostatnia wizyta">
                                        <i class="fa fa-sign-in fa-fw"></i>
                                        {{ user.visited_at.diffForHumans() }}
                                    </li>
                                {% endif %}
                                <li title="Data rejestracji">
                                    <i class="fa fa-user-plus fa-fw"></i>
                                    {{ user.created_at.diffForHumans() }}
                                </li>
                                <li title="Ilość wizyt">
                                    <i class="fa fa-eye fa-fw"></i>
                                    {{ user.visits|number_format(0, ',', ' ') }} wizyt
                                </li>
                            </ol>

                            {% if skills %}
                                <ul class="tag-clouds">
                                    {% for skill in skills %}
                                        <li><a href="{{ route('job.tag', [skill.name|url_encode]) }}">{{ skill.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if user.bio %}
                                <div class="statement">
                                    {{ user.bio }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a title="Zobacz najciekawsze wątki na forum" href="#interesting" role="tab" data-toggle="tab">Reputacja</a></li>
                <li role="presentation"><a title="Zobacz najwyżej oceniane wątki w ostatnim miesiącu" href="#rated" role="tab" data-toggle="tab">Posty na forum</a></li>
            </ul>

            <section id="box-reputation" class="box">
                {#<h4><i class="fa fa-line-chart"></i> Reputacja użytkownika</h4>#}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;">

                                    </div>

                                    <span class="rep"><strong>{{ user.reputation }}</strong> <small>punktów</small></span>

                                    {% if total_users > 0 %}
                                        <span class="rank" title="Miejsce w rankingu"><strong>#{{ rank.rank }}</strong> <small>/ {{ total_users }}</small></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div id="wrap">
                                    <div id="overview">
                                        {% for item in reputation %}
                                            <div class="row reputation-item">
                                                <div class="col-xs-1 point">
                                                    <p class="{{ item.value > 0 ? 'text-success' : 'text-danger' }}">{{ item.value }} pkt</p>
                                                </div>

                                                <div class="col-xs-7 content">
                                                    <strong><a href="{{ url(item.url) }}">{{ item.name }}</a></strong>
                                                    <small>{{ item.created_at|format_date }}</small>

                                                    <p class="text-muted">{{ item.excerpt }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ cdn('css/profile.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="{{ cdn('js/perfect-scrollbar.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var wrap = $('#wrap');
            var overview = $('#overview');

            wrap.perfectScrollbar();
        })
    </script>
{% endblock %}