{% extends 'layout' %}
{% block title %}{{ user.name }} - Profil {{ parent() }}{% endblock %}

{% block container %}
    {% if user.id == user('id') %}
        {{ include('user/top', {active: 'profile'}) }}
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <div id="profile" class="panel panel-default">
                <div class="panel-body">

                    <div class="media">
                        <div class="media-left user-photo">
                            <img src="{{ user_photo(user.photo) }}" class="img-thumbnail">

                            <a class="btn btn-default btn-sm btn-pm" href="{{ route('user.pm.submit') }}?to={{ user.name }}">
                                <i class="fa fa-envelope"></i> Wiadomość
                            </a>
                        </div>

                        <div class="media-body">
                            <h1 class="media-heading">{{ user.name }}</h1>

                            <ol class="list-inline">
                                {% if user.position %}
                                    <li class="position">
                                        {{ user.position }}

                                        {% if user.firm %}
                                            <small>@ {{ user.firm }}</small>
                                        {% endif %}
                                    </li>
                                {% endif %}

                                {% if user.location %}
                                    <li class="location">
                                        <i class="fa fa-map-marker"></i>
                                        {{ user.location }}
                                    </li>
                                {% endif %}
                            </ol>

                            <ol class="metadata list-inline">
                                {% if user.website %}
                                    <li title="Strona WWW">
                                        <i class="fa fa-globe fa-fw"></i>
                                        <a href="{{ user.website }}">{{ user.website }}</a>
                                    </li>
                                {% endif %}
                                {% if user.visited_at %}
                                    <li title="Ostatnia wizyta">
                                        <i class="fa fa-sign-in fa-fw"></i>
                                        {{ user.visited_at.diffForHumans() }}
                                    </li>
                                {% endif %}
                                <li title="Data rejestracji">
                                    <i class="fa fa-user-plus fa-fw"></i>
                                    {{ user.created_at.diffForHumans() }}
                                </li>
                                <li title="Ilość wizyt">
                                    <i class="fa fa-eye fa-fw"></i>
                                    {{ user.visits|number_format(0, ',', ' ') }} wizyt
                                </li>
                            </ol>

                            {% if skills %}
                                <ul class="tag-clouds">
                                    {% for skill in skills %}
                                        <li><a href="{{ route('job.tag', [skill.name|url_encode]) }}" title="Szukaj pracy w technologii: {{ skill.name }}">{{ skill.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if user.bio %}
                                <div class="statement">
                                    {{ user.bio }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a title="Zobacz najciekawsze wątki na forum" href="#interesting" role="tab" data-toggle="tab">Reputacja</a></li>
                <li role="presentation"><a title="Zobacz najwyżej oceniane wątki w ostatnim miesiącu" href="#rated" role="tab" data-toggle="tab">Posty na forum</a></li>
            </ul>

            <section id="box-reputation" class="box">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            {% if user.reputation > 0 %}
                                <div class="col-sm-6">
                                    <canvas id="chart"></canvas>

                                    <div class="chart-bar">
                                        <div class="progress">

                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;">

                                            </div>

                                            <span class="rep"><strong>{{ user.reputation }}</strong> <small>punktów</small></span>

                                            {% if total_users > 0 %}
                                                <span class="rank" title="Miejsce w rankingu"><strong>#{{ rank.rank }}</strong> <small>/ {{ total_users }}</small></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div id="wrap">
                                        <div id="overview">
                                            {% for item in reputation %}
                                                <div class="reputation-item">
                                                    <div>
                                                        <strong class="{{ item.value > 0 ? 'text-success' : 'text-danger' }}"><i class="fa fa-level-{{ item.value > 0 ? 'up' : 'down' }}"></i> {{ item.value }} pkt</strong> za
                                                        <strong><a class="headline" href="{{ url(item.url) }}">{{ item.name }}</a></strong>
                                                    </div>

                                                    <small class="text-muted">{{ item.created_at|format_date }}</small>

                                                    <p class="well well-sm">{{ item.excerpt }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-xs-12">
                                    <div class="well well-sm empty-result" style="margin-bottom: 0">
                                        <p>
                                            Użytkownik nie posiada ani jednego punktu reputacji.<br>
                                            Zobacz, <a href="/Pomoc/Moje_konto/Reputacja">czym jest reputacja</a> i jak mozna ją zdobyć.
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </section>

        </div>
        <div class="col-md-3">
            <ul class="side-menu">
                <li>
                    <a href="{{ route('user.pm.submit', {to: user.name}) }}"><i class="fa fa-fw fa-envelope"></i> Wyślij wiadomość</a>
                </li>

                <li>
                    <a href="{{ route('forum.user', [user.id]) }}"><i class="fa fa-fw fa-search"></i> Znajdź posty użytkownika</a>
                </li>

                {% if can('adm-access') %}
                    <li>
                        <a href="{{ route('adm.firewall.save') }}?user={{ user.id }}"><i class="fa fa-ban fa-fw"></i> Zablokuj tego użytkownika</a>
                    </li>
                    <li>
                        <a href="{{ route('adm.user.save', [user.id]) }}"><i class="fa fa-cogs fa-fw"></i> Przejdź do panelu administracyjnego</a>
                    </li>
                {% endif %}
            </ul>

            {{ render_block('job_ads') }}
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ cdn('css/profile.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script type="text/javascript" src="{{ cdn('js/perfect-scrollbar.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var wrap = $('#wrap');
            var overview = $('#overview');

            wrap.perfectScrollbar();
        });

        {% if user.reputation > 0 %}
            new Chart(document.getElementById("chart"), {
                type: 'line',
                data: {
                    labels: [
                        {% for item in chart %}
                        '{{ item.label }}',
                        {% endfor %}
                    ],
                    datasets: [{
                        label: 'Reputacja z ostatnich 12 miesięcy',
                        data: [
                            {% for item in chart %}
                            {{ item.value }},
                            {% endfor %}
                        ],
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    beginAtZero: true,
                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false
                            }
                        }]
                    }
                }
            });
        {% endif %}
    </script>
{% endblock %}
