{% extends 'forms.themes.horizontal.row' %}
{% set form_group_offset = is_child ? '' : form_group_offset|default('offset-md-4') %}
{% set form_group_class = form_group_class|default('col-md-6') %}

{% block label %}{% endblock %}
{% block wrap %}
  <div class="{{ form_group_class }} {{ form_group_offset }}">
    {% if not ('[]' in name) %}
      {{ form_hidden(name, unchecked_value) }}
    {% endif %}
    <div class="custom-control custom-checkbox">
      <label for="{{ attr.id }}" class="custom-control-label">
        {{ include(widget_path) }}
        <span class="label-text">
          {{ label }}
        </span>
      </label>
      {% if help %}
        <span class="form-text form-text-help">{{ help|raw }}</span>
      {% endif %}
    </div>
  </div>
{% endblock %}
