{% extends 'forum.base' %}
{% block title %}Historia edycji posta w {{ topic.subject }}{{ parent() }}{% endblock %}

{% import 'components.modals' as modal %}

{% block container %}
    <div id="index" class="sidebar">
        {% include "forum.top" %}

        <h1>{{ link_to_route('forum.topic', topic.subject, [forum.path, topic.id, topic.path]) }}</h1>

        <main id="mainbar">

            {% for log in logs %}
                <section class="panel panel-wrapper">
                    <div class="panel-body">

                        {% if log.tags %}
                            <div class="box-topic-tags hidden-xs" style="margin-bottom: 10px">
                                <ul class="tag-clouds">
                                    {% for tag in log.tags %}
                                        <li><a href="{{ route('forum.tag', [tag|url_encode]) }}">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        {% endif %}

                        <div class="post">
                            <div class="post-body">
                                <div class="row">
                                    <div class="col-xs-2 col-user">
                                        <h5 class="{{ log.session_updated_at ? 'online' : 'offline' }}" title="Użytkownik jest {{ log.session_updated_at ? 'online' : 'offline' }}">
                                            {% if log.user_id %}
                                                {{ link_to_profile(log.user_id, log.author_name, log.is_active, log.is_blocked) }}
                                            {% else %}
                                                {{ log.user_name }}
                                            {% endif %}
                                        </h5>
                                    </div>

                                    {% set url = route('forum.post.log', [log.post_id]) %}
                                    {% set ip = log.ip ~ ' ' ~ (log.host ? '(' ~ log.host ~ ')') ~ ' ' ~ log.browser %}

                                    <div class="col-xs-10 col-time">
                                        <a title="Link do tego postu" id="id{{ log.id }}" class="post-link" href="{{ url ~ '#id' ~ log.id }}"></a>

                                        <span class="timestamp" title="{{ log.created_at|format_date(false) }}" data-timestamp="{{ log.created_at|timestamp }}">{{ log.created_at|format_date }}</span>
                                        <small><a href="#" title="{{ ip }}" class="post-ip">({{ ip }})</a></small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2 col-user hidden-xss">

                                    </div>

                                    <div class="col-xs-10 col-body">
                                        {% if log.subject %}
                                            <h5>{{ log.subject }}</h5>
                                        {% endif %}

                                        <div class="post-content">
                                            {{ log.text|raw }}
                                        </div>
                                    </div>
                                </div>

                                {% if not loop.first %}
                                    <div class="row">
                                        <div class="col-xs-2 col-bottom" style="height: 32px"></div>
                                        <div class="col-xs-10 col-bottom">
                                            <a data-toggle="tooltip" data-placement="top" title="Cofnij do tej wersji" data-category="postLinks" data-action="rollback" href="{{ route('forum.post.rollback', [post.id, log.id]) }}" class="btn btn-xs btn-rollback">
                                                <i class="fa fa-undo"></i>
                                                <span class="hidden-xs">Cofnij do tej wersji</span>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </main>

        {% embed 'forum.sidebar' %}
            {% block side_menu %}
                <div class="box">
                    <ul class="side-menu">
                        <li class="btn-diff">
                            <a title="Pokaż różnice w postach" href="{{ url }}?diff=1">Pokaż różnice</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        {% endembed %}

    </div>

    {{ form_open({'url': '', 'id': 'form-rollback'}) }}
    {{ modal.confirm('Treść postu zostanie zastąpiona. Czy chcesz kontynuować?', 'Potwierdź operację', 'confirm', 'Tak, cofnij') }}
    {{ form_close() }}

{% endblock %}