{% extends 'job.base' %}

{% import 'components.widgets' as widgets %}
{% block title %}Informacje o firmie{{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <main class="col-lg-9 col-12-md">
            {% include 'job.submit.partials.indicator' with {'current': 2} %}

            {% include 'job.submit.partials.loader' %}

            {% if errors.any %}
                <p class="alert alert-danger">
                    Formularz zawiera błędy. Sprawdź poprawność wprowadzonych danych i spróbuj ponownie.
                </p>
            {% endif %}

            {{ form_start(form) }}
            {{ form_hidden('done', 0) }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    Informacje o firmie
                </div>
                <div class="panel-body">
                    {{ form_row(form.is_private) }}

                    <div class="form-group" v-show="firm.is_private == 1">
                        <a href="{{ route('job.submit') }}" class="btn btn-default pull-left"><i class="fa fa-angle-left"></i> Podstawowe informacje</a>

                        <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Podgląd <i class="fa fa-angle-right"></i></button>
                        <button type="submit" class="btn btn-danger pull-right btn-save margin-sm-right" data-submit-state="Proszę czekać..."><i class="fa fa-save"></i> Zapisz i zakończ</button>
                    </div>
                </div>

                <table class="table" v-if="firms.length > 1" v-show="firm.is_private == 0">
                    <tbody>
                        <tr v-for="item in firms">
                            <td style="width: 10%">
                                <img class="img-thumbnail" :src="item.thumbnail">
                            </td>
                            <td>
                                <h4>${ item.name }</h4>
                                <p>${ item.headline }</p>
                            </td>
                            <td class="text-center" style="vertical-align: middle">
                                <a href="javascript:" @click="selectFirm(item.id)" class="btn btn-sm text-center btn-firm" :class="[item.id == firm.id ? 'btn-primary' : 'btn-default']">Wybierz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="box-edit-firm" class="panel panel-default" v-show="firm.is_private == 0">
                <div class="panel-heading">
                    Dane firmy
                </div>

                {{ form_widget(form.id) }}

                <div class="panel-body">
                    <div class="form-group form-group-border" :class="{'has-error': isInvalid(['name'])}">
                        {{ form_label(form.name) }}

                        <div class="input-group">
                            {{ form_widget(form.name) }}

                            <div class="input-group-addon">
                                <a href="javascript:" @click="addFirm()" title="Dodaj nową firmę"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>

                        {{ form_error(form.name) }}
                    </div>

                    {{ form_row(form.is_agency) }}

                    <div class="form-group">
                        <label class="control-label">Logo</label>

                        <div class="row">
                            <div class="col-sm-2">
                                {{ form_widget(form.logo) }}

                                <div class="img-placeholder img-thumbnail" v-show="!firm.logo">
                                    <img src="{{ cdn('img/logo-gray.png') }}">
                                </div>

                                <div class="img-container img-thumbnail" v-show="firm.logo">
                                    <img :src="firm.thumbnail">

                                    <div id="btn-delete-photo" class="btn-flush">
                                        <i class="fa fa-remove fa-2x"></i>
                                    </div>
                                </div>

                                <a id="btn-change-photo" href="{{ route('firm.logo') }}" class="btn btn-xs btn-upload"><i class="fa fa-upload"></i> Zmień</a>
                            </div>
                        </div>
                    </div>

                    {{ form_row(form.website) }}
                    {{ form_row(form.industries) }}
                    {{ form_row(form.description) }}

                    <div class="form-group form-group-border" v-show="firm.is_agency == 0">
                        {{ form_label(form.gallery) }}

                        <div class="row">
                            <div class="col-sm-2" v-for="photo in firm.gallery">
                                <input type="hidden" name="gallery[]" :value="photo.file">

                                <vue-thumbnail :url="photo.url" :file="photo.file" upload-url="{{ route('firm.gallery') }}" @upload="onThumbnailUploaded" @delete="onThumbnailDeleted"></vue-thumbnail>
                            </div>
                        </div>
                    </div>

                    {{ form_row(form.youtube_url) }}
                    {{ form_row(form.employees) }}
                    {{ form_row(form.founded) }}
                    {{ form_row(form.headline) }}

                    <div class="form-group form-group-border" v-show="firm.is_agency == 0">
                        {{ form_label(form.address) }}

                        {{ form_widget(form.latitude) }}
                        {{ form_widget(form.longitude) }}
                        {{ form_widget(form.country_id) }}
                        {{ form_widget(form.street) }}
                        {{ form_widget(form.city) }}
                        {{ form_widget(form.country) }}
                        {{ form_widget(form.postcode) }}
                        {{ form_widget(form.house) }}
                        {{ form_widget(form.address) }}
                        {{ form_error(form.address) }}

                        <div id="map"></div>
                    </div>

                    <div class="form-group form-group-border" v-show="firm.is_agency == 0">
                        <label class="control-label">Benefity</label>
                        <span class="help-block">Kliknij na wybraną pozycję, aby zaznaczyć benefity jakie oferuje Twoja firma. Jeżeli nie ma go na liście, możesz dodać nową pozycję wpisując ją w polu poniżej.</span>

                        <ol class="benefits list-group">

                            <li class="list-group-item col-sm-6 clickable" v-for="benefit in default_benefits" :class="{checked: benefits.indexOf(benefit) > -1}" @click="toggleBenefit(benefit)">
                                <i class="fa fa-fw " :class="{'fa-check': benefits.indexOf(benefit) > -1, 'fa-remove': benefits.indexOf(benefit) === -1}"></i> ${ benefit }

                                <input type="checkbox" name="benefits[]" :value="benefit" :checked="benefits.indexOf(benefit) > -1">
                            </li>

                            <li class="list-group-item col-xs-6 checked" v-for="benefit in benefits" v-if="default_benefits.indexOf(benefit) === -1">
                                <i class="fa fa-fw fa-check"></i>

                                <input type="text" name="benefits[]" :value="benefit" class="form-control input-sm" @keydown.enter.prevent="updateBenefit">
                                <button class="btn btn-default btn-xs btn-delete" title="Usuń tę pozycję" @click.prevent="removeBenefit(benefit)"><i class="fa fa-minus-circle text-danger"></i></button>
                            </li>

                            <li class="list-group-item col-xs-6 checked">
                                <i class="fa fa-fw fa-check"></i>
                                <input type="text" name="benefits[]" class="form-control input-sm" @keydown.enter.prevent="addBenefit" placeholder="Naciśnij Enter, aby dodać">
                            </li>
                        </ol>

                        <div class="clearfix"></div>
                    </div>

                    <div id="form-navigation" class="form-group">
                        <a href="{{ route('job.submit') }}" class="btn btn-default pull-left"><i class="fa fa-angle-left"></i> Podstawowe informacje</a>

                        <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Podgląd <i class="fa fa-angle-right"></i></button>
                        <button type="submit" class="btn btn-danger pull-right btn-save margin-sm-right" data-submit-state="Proszę czekać..."><i class="fa fa-save"></i> Zapisz i zakończ</button>
                    </div>
                </div>
            </div>

            {{ form_end() }}
        </main>

        <aside class="col-lg-3 hidden-md hidden-sm hidden-xs">
            <div id="hint-container">
                <div id="hint-headline" class="sidebar-hint" style="display: none;">
                    <h4>Motto lub nagłówek</h4>

                    <p>
                        Opcjonalna informacja, która opisuje Twoją firmę. To zdanie będzie wyświetlane przy opisie firmy pod ofertą.
                    </p>
                </div>
            </div>
        </aside>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script>
        var data = {
            default_benefits: {{ default_benefits|json_encode|raw }},
            benefits: {{ benefits|json_encode|raw }},
            firm: {{ firm|raw }},
            firms: {{ firms|raw }},
            errors: {{ form_errors|raw }}
        };
    </script>

    {{ widgets.vue() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>

    <script src="{{ cdn('js/job-submit.js') }}"></script>

    {% include 'job.submit.partials.navigation' %}
    {% include 'job.submit.partials.chat' %}
{% endblock %}
