{% extends 'job.base' %}
{% block title %}Informacje o firmie{{ parent() }}{% endblock %}

{% import 'job.submit.partials.theme' as theme %}
{% import 'components.modals' as modal %}

{% block container %}
    <form id="upload-form" action="{{ route('firm.logo') }}">
        <input type="file" id="input-file" name="logo" style="visibility: hidden; height: 0">
    </form>

    <div class="row">
        <main class="col-md-8 col-12-sm col-12-xs">
            {% include 'job.submit.partials.indicator' with {'current': 2} %}
            {% set private = input_old('private', firm.private|default(not job.firm_id)) %}

            {% if errors.any %}
                <p class="alert alert-danger">
                    Formularz zawiera błędy. Sprawdź poprawność wprowadzonych danych i spróbuj ponownie.
                </p>
            {% endif %}

            {{ form_open({'url': route('job.submit.firm'), 'class': '', 'id': 'job-posting'}) }}
            {{ form_hidden('done', 0) }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    Informacje o firmie
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="radio">
                            {{ form_radio('private', 1, private == true, {'id': 'private'}) }}

                            <label for="private">
                                Jestem osobą prywatną
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            {{ form_radio('private', 0, private == false, {'id': 'public'}) }}

                            <label for="public">
                                Reprezentuje firmę
                            </label>
                        </div>
                    </div>

                    <div id="box-buttons" class="form-group" style="display: none">
                        <a href="{{ route('job.submit') }}" class="btn btn-default pull-left"><i class="fa fa-angle-left"></i> Podstawowe informacje</a>
                        <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Podgląd <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>

                {% if firms|length > 1 %}
                    <table id="choose-firm" class="table">
                        <tbody>
                            {% for item in firms %}
                                <tr>
                                    <td style="width: 10%">
                                        <img class="img-thumbnail" src="{{ logo(item.logo) }}">
                                    </td>
                                    <td>
                                        <h4>{{ item.name }}</h4>
                                        <p>{{ item.headline }}</p>
                                    </td>
                                    <td class="text-center" style="vertical-align: middle">
                                        <a href="{{ route('job.submit.firm.partial', [item.id]) }}" class="btn btn-sm text-center btn-firm {{ item.id == firm.id ? 'btn-primary' : 'btn-default' }}">Wybierz</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            {% include 'job.submit.partials.firm' %}

            {{ form_close() }}
        </main>

        <aside class="col-md-4 hidden-sm hidden-xs hidden-xxs">
            <div id="hint-container">
                <div id="hint-headline" class="sidebar-hint" style="display: none;">
                    <h4>Motto lub nagłówek</h4>

                    <p>
                        Opcjonalna informacja, która opisuje Twoją firmę. To zdanie będzie wyświetlane przy opisie firmy pod ofertą.
                    </p>
                </div>
            </div>

        </aside>
    </div>

    {{ modal.alert('Nie można dodać loga firmy. Proszę skontaktuj się z administratorem serwera.') }}

    <div class="modal fade" id="modal-firm" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Zmiana nazwy firmy?</h4>
                </div>
                <div class="modal-body">
                    Zamierzasz edytować nazwę tej firmy. Weź pod uwagę, że zmieniona nazwa będzie wyświetlana przy wszystkich Twoich ofertach. Czy może chcesz dodać nową firmę?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Jest OK, chce tylko zmienić nazwę</button>
                    <a href="javascript:" class="btn btn-primary">Tak, chcę dodać nową firmę</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>

    <script src="{{ cdn('js/job-tinymce.js') }}"></script>
    <script src="{{ cdn('js/job-submit.js') }}"></script>

    {% include 'job.submit.partials.navigation' %}
{% endblock %}
