{% extends 'job.base' %}

{% import 'components.widgets' as widgets %}
{% block title %}Wystaw ofertę pracy{{ parent() }}{% endblock %}

{% import 'components.modals' as modals %}

{% block container %}
    <div class="row">
        <main class="col-lg-9 col-12-md">

            {% include 'job.submit.partials.indicator' with {'current': 1} %}

            {% if errors.any %}
                <p class="alert alert-danger">
                    Formularz zawiera błędy. Sprawdź poprawność wprowadzonych danych i spróbuj ponownie.
                </p>
            {% endif %}

            {% include 'job.submit.partials.loader' %}

            {{ form_start(form) }}
                {% if not is_plan_ongoing %}
                    {{ form_widget(form.plan_id) }}

                    <vue-pricing :plans="plans" :v-model.sync="job.plan_id" email="{{ config('mail.from.address') }}"></vue-pricing>
                {% endif %}

                {{ form_widget(form.id) }}
                {{ form_widget(form.firm_id) }}
                {{ form_widget(form.slug) }}

                {{ form_hidden('done', 0) }}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Podstawowe informacje
                    </div>
                    <div class="panel-body">

                        <div class="form-group form-group-border">
                            <div class="row">
                                {{ form_row(form.title) }}
                                {{ form_row(form.seniority_id) }}
                            </div>
                        </div>

                        <div class="form-group form-group-border" :class="{'has-error': isInvalid(['city'])}">
                            <label class="control-label">Lokalizacja</label>

                            <div class="row">
                                <div class="col-sm-2">
                                    {{ form_widget(form.country_id) }}
                                </div>
                                <div class="col-sm-7" style="padding-left: 0">
                                    {{ form_widget(form.city) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        {{ form_widget(form.is_remote) }}
                                        {{ form_label(form.is_remote) }}

                                        {{ form_widget(form.remote_range) }}
                                    </div>

                                    {{ form_error(form.city) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group-border" :class="{'has-error': isInvalid(['salary_from', 'salary_to'])}">
                            <label class="control-label">Ofertowane wynagrodzenie netto i forma zatrudnienia</label>

                            <div>
                                od
                                {{ form_widget(form.salary_from) }}

                                do
                                {{ form_widget(form.salary_to) }}
                                {{ form_widget(form.currency_id) }}
                                {{ form_widget(form.is_gross) }}
                                {{ form_widget(form.rate_id) }}
                                {{ form_widget(form.employment_id) }}

                                {{ form_error(form.salary_from) }}
                                {{ form_error(form.salary_to) }}
                            </div>
                        </div>

                        <div class="form-group" :class="{'has-error': errors.tags != null}">
                            <label class="control-label">Kluczowe technologie (wymagane lub mile widziane)</label>

                            <vue-tags-dropdown id="tag" :tags="popular_tags" @change="onTagChange"></vue-tags-dropdown>

                            <span class="help-block" v-if="errors.tags != null">${ errors.tags[0] }</span>
                            <span class="help-block" v-else-if="suggestions.length === 0">Wybierz z listy lub wpisz nazwę języka/technologii i naciśnij Enter, aby dodać wymaganie.</span>
                            <span class="help-block" v-else-if="suggestions.length > 0">
                                Podpowiedź:

                                <template v-for="(suggestion, index) in suggestions">
                                    <a href="javascript:" class="tag-suggestion" @click="addTag(suggestion)">${ suggestion }</a>${ index < suggestions.length - 1 ? ', ' : '' }
                                </template>
                            </span>

                            <div id="tags-container" class="margin-md-top">
                                <ul class="tag-clouds tag-clouds-skills">
                                    <template v-for="(tag, index) in tags">
                                        <vue-tag-skill :tag.sync="tag" :tooltips="['mile widziane', 'średnio zaawansowany', 'zaawansowany']" @delete="onTagDelete"></vue-tag-skill>

                                        <input type="hidden" :name="'tags[' + index + '][name]'" :value="tag.name">
                                        <input type="hidden" :name="'tags[' + index + '][priority]'" v-model="tag.pivot.priority">
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Szczegółowe informacje
                    </div>

                    <div class="panel-body">
                        {{ form_row(form.description) }}

                        <div class="form-group form-group-border">
                            {{ form_label(form.features) }}
                            {{ form_error(form.features) }}

                            <ol class="features list-group clearfix form-horizontal">
                                <li class="list-group-item col-md-12 col-lg-6" v-for="(feature, index) in features" :class="{checked: feature.pivot.checked}">
                                    <div class="form-group">
                                        <div class="col-xs-7 control-label" @click="toggleFeature(feature)">
                                            <i class="fa fa-fw " :class="{'fa-check': feature.pivot.checked, 'fa-remove': !feature.pivot.checked}"></i>

                                            ${ feature.name }
                                        </div>

                                        <input type="hidden" :name="'features[' + index + '][id]'" :value="feature.id">
                                        <input type="hidden" :name="'features[' + index + '][name]'" :value="feature.name">
                                        <input type="hidden" :name="'features[' + index + '][default]'" :value="feature.default">
                                        <input type="hidden" :name="'features[' + index + '][checked]'" :value="feature.pivot.checked">

                                        <div class="col-xs-5" v-show="feature.pivot.checked && feature.default">
                                            <input type="text" class="form-control input-sm" :placeholder="feature.default" :name="'features[' + index + '][value]'" v-model="feature.pivot.value">
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>

                        <div class="form-group" :class="{'has-error': isInvalid(['email'])}">
                            {{ form_row(form.enable_apply.child(0), {attr: {'v-model': 'job.enable_apply'}}) }}

                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_widget(form.email, {attr: {':disabled': 'job.enable_apply == 0'}}) }}
                                    {{ form_error(form.email) }}
                                </div>

                                <div class="col-sm-6" :class="{'has-error': errors.phone != null}">
                                    {{ form_widget(form.phone, {attr: {':disabled': 'job.enable_apply == 0'}}) }}
                                    {{ form_error(form.phone) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group" :class="{'has-error': isInvalid(['recruitment'])}">
                            {{ form_row(form.enable_apply.child(1), {attr: {'v-model': 'job.enable_apply'}}) }}

                            <div v-show="job.enable_apply == 0">
                                {{ form_widget(form.recruitment) }}
                                {{ form_error(form.recruitment) }}
                            </div>
                        </div>

                        <div id="form-navigation" class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Informacje o firmie <i class="fa fa-angle-right"></i></button>

                            {% if not firm.is_private and firm.name %}
                                <button type="submit" class="btn btn-danger pull-right btn-save margin-sm-right" data-submit-state="Proszę czekać..." title="Zapisz tę ofertę"><i class="fa fa-save"></i> Zapisz jako {{ firm.name[:38] }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {{ form_close() }}
        </main>

        <aside class="col-lg-3 hidden-md hidden-sm hidden-xs">

            <div id="hint-container">
                <div id="hint-title" class="sidebar-hint">
                    <h4>Ile kosztuje dodanie ogłoszenia?</h4>

                    <p>
                        Masz możliwość wyboru jednego z trzech pakietów. Koszt najtańszego pakietu to niecałe <strong>1 zł</strong> za dzień.
                    </p>

                    <h4 class="margin-md-top">Możliwe opcje promowania oferty pracy</h4>

                    <p><i class="fa fa-check fa-fw"></i> Ogłoszenie wyświetlane nad tymi darmowymi.</p>
                    <p><i class="fa fa-check fa-fw"></i> Reklama na stronie głównej oraz forum.</p>
                    <p><i class="fa fa-check fa-fw"></i> Podświetlenie oferty.</p>
                    <p><i class="fa fa-check fa-fw"></i> 3x podbicie oferty.</p>

                    <h4 class="margin-md-top">Formy płatności</h4>

                    <p>
                        Za opcję promowania zapłacisz kartą Visa, Mastercard lub Maestro jak i również <strong>szybkim</strong> przelewem bankowym.
                        Operatorem płatności jest firma PayLane oraz serwis Przelewy24.pl.
                    </p>

                    <h4 class="margin-md-top">Faktura VAT</h4>

                    <p>
                        Fakturę VAT prześlemy Ci na e-mail. Dane do faktury podasz w ostatnim kroku.
                    </p>

                    <h4 class="margin-md-top">Kupno większej ilości pakietów</h4>

                    <p>
                        Istnieje możliwość płatności z góry za większą ilość pakietów. Jeżeli chcesz poznać więcej szczegółów,
                        napisz do nas na adres <a href="mailto:{{ config('mail.from.address') }}" style="color: #960202; text-decoration: underline">{{ config('mail.from.address') }}</a>.
                    </p>

                    <h4 class="margin-md-top">Pomoc</h4>

                    <p>
                        Jeżeli masz problem z publikacją ogłoszenia lub płatnością, chętnie Ci pomożemy! Napisz do nas na <a href="mailto:{{ config('mail.from.address') }}" style="color: #960202; text-decoration: underline">{{ config('mail.from.address') }}</a>.
                    </p>
                </div>
            </div>

        </aside>
    </div>

    {{ modals.alert('Podany tag nie jest prawidłowy.') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script>
        var data = {
            job: {{ job|raw }},
            tags: {{ form.tags.value|raw }},
            features: {{ form.features.value|raw }},
            errors: {{ form_errors|raw }},
            plans: {{ plans|raw }},
            popular_tags: {{ popular_tags|json_encode|raw }},
            suggestions: [],
            suggestionUrl: '{{ route('job.tag.suggestions') }}'
        };
    </script>

    {{ widgets.vue() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ cdn('js/job-submit.js') }}"></script>

    {% include 'job.submit.partials.navigation' %}
    {% include 'job.submit.partials.chat' %}
{% endblock %}
