{% extends 'job.base' %}
{% block title %}Wystaw ofertę pracy{{ parent() }}{% endblock %}

{% import 'components.modals' as modals %}

{% block container %}
    <div class="row">
        <main class="col-md-8 col-12-sm col-12-xs">
            <div class="jumbotron alert-popover" data-id="job-jumbotron">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Kliknij, aby zamknąć"><span aria-hidden="true">&times;</span></button>

                <h1>Zaczynamy...</h1>
                <p>Pamiętaj, że informacje zawarte w tym formularzu, możesz zmienić w każdej chwili, a ogłoszenie jest publikowane bezpłatnie.
                    Prosimy o zamieszczanie rzeczowych informacji. Frazesy w stylu <em>młoda dynamiczna firma</em> nie są dobrze widziane przez programistów.</p>

                <p><button class="btn btn-default btn-close" role="button" data-dismiss="alert" aria-label="Close">Ok, zrozumiałem</button></p>
            </div>

            {% include 'job.submit.partials.indicator' with {'current': 1} %}

            {% if errors.any %}
                <p class="alert alert-danger">
                    Formularz zawiera błędy. Sprawdź poprawność wprowadzonych danych i spróbuj ponownie.
                </p>
            {% endif %}

            {{ form_open({'url': route('job.submit'), 'class': '', 'id': 'job-posting', 'v-cloak': 'v-cloak'}) }}
                {{ form_widget(form.id) }}
                {{ form_widget(form.firm_id) }}
                {{ form_widget(form.slug) }}

                {{ form_hidden('done', 0) }}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Podstawowe informacje
                    </div>
                    <div class="panel-body">

                        {{ form_row(form.title) }}

                        <div class="form-group form-group-border" v-bind:class="{'has-error': isInvalid(['city'])}">
                            <label class="control-label">Lokalizacja</label>

                            <div class="row">
                                <div class="col-sm-2">
                                    {{ form_widget(form.country_id) }}
                                </div>
                                <div class="col-sm-7" style="padding-left: 0">
                                    {{ form_widget(form.city) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        {{ form_widget(form.is_remote) }}
                                        {{ form_label(form.is_remote) }}

                                        {{ form_widget(form.remote_range) }}
                                    </div>

                                    {{ form_error(form.city) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group-border" v-bind:class="{'has-error': isInvalid(['salary_from', 'salary_to'])}">
                            <label class="control-label">Ofertowane wynagrodzenie netto i forma zatrudnienia</label>

                            <div>
                                od
                                {{ form_widget(form.salary_from) }}

                                do
                                {{ form_widget(form.salary_to) }}
                                {{ form_widget(form.currency_id) }}
                                {{ form_widget(form.rate_id) }}
                                {{ form_widget(form.employment_id) }}

                                {{ form_error(form.salary_from) }}
                                {{ form_error(form.salary_to) }}
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label">Kluczowe technologie (wymagane lub mile widziane)</label>

                            {{ form_text('tag', '', {'id': 'tag', 'class': 'form-control', 'placeholder': 'Np. Java, MS-SQL', 'autocomplete': 'off', 'data-post-url': route('job.submit.tag'), 'data-suggestions-url': route('job.tag.suggestions')}) }}
                            <span class="help-block">Wybierz z listy lub wpisz nazwę języka/technologii i naciśnij Enter, aby dodać wymaganie.</span>
                            <span class="fa fa-tag form-control-feedback" aria-hidden="true"></span>

                            <ol class="tag-dropdown">
                                {% include 'components.tags' with {'tags': popularTags} only %}
                            </ol>

                            <div id="tags-container" class="margin-md-top">
                                <div v-for="(tag, index) in tags" class="row tag-item margin-sm-bottom">
                                    <div class="col-xs-5">
                                        <ol class="tag-clouds">
                                            <li><a href="javascript:" title="Chwyć, aby przenieść na dół lub na górę">${ tag.name }</a></li>
                                        </ol>
                                    </div>

                                    <input type="hidden" :name="'tags[' + index + '][name]'" :value="tag.name" class="tag-name">

                                    <div class="col-xs-6">
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" :name="'tags[' + index + '][priority]'" value="1" :checked="tag.pivot.priority == 1" :id="tag.name + '-must-have'">

                                            <label :for="tag.name + '-must-have'"> Wymagane </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" :name="'tags[' + index + '][priority]'" value="0" :checked="tag.pivot.priority == 0" :id="tag.name + '-nice-to-have'">

                                            <label :for="tag.name + '-nice-to-have'"> Mile widziane </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-1">
                                        <a class="btn-xs btn-remove pull-right" href="javascript:" title="Kliknij, aby usunąć tag" v-on:click="removeTag(index)">
                                            <i class="fa fa-remove text-danger"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Szczegółowe informacje
                    </div>

                    <div class="panel-body">
                        <div class="form-group form-group-border" v-bind:class="{'has-error': isInvalid(['deadline'])}">
                            {{ form_label(form.deadline) }}

                            {{ form_widget(form.deadline) }} dni
                            {{ form_error(form.deadline) }}
                        </div>

                        {{ form_row(form.description) }}

                        <div class="form-group" v-bind:class="{'has-error': isInvalid(['email'])}">
                            {#{{ form_row(form.enable_apply.child(0)) }}#}
                            {{ form_row(form.enable_apply.child(0), {attr: {'v-model': 'job.enable_apply'}}) }}

                            {{ form_widget(form.email, {attr: {':disabled': 'job.enable_apply == 0'}}) }}
                            {{ form_error(form.email) }}
                        </div>

                        <div class="form-group" v-bind:class="{'has-error': isInvalid(['recruitment'])}">
                            {#{{ form_row(form.enable_apply.child(1)) }}#}
                            {{ form_row(form.enable_apply.child(1), {attr: {'v-model': 'job.enable_apply'}}) }}

                            {#<div v-if="job.enable_apply == 0">#}
                                {#{{ form_widget(form.recruitment, {attr: {'v-if': 'job.enable_apply == 0', ':disabled': 'job.enable_apply == 1'}}) }}#}
                                {{ form_widget(form.recruitment) }}
                            {#</div>#}
                            {{ form_error(form.recruitment) }}
                        </div>

                        <div id="form-navigation" class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Informacje o firmie <i class="fa fa-angle-right"></i></button>

                            {% if job.firm_id %}
                                <button type="submit" class="btn btn-danger pull-right btn-save" data-submit-state="Proszę czekać..." title="Zapisz tę ofertę"><i class="fa fa-save"></i> Zapisz jako {{ firm.name[:38] }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {{ form_close() }}
        </main>

        <aside class="col-md-4 hidden-sm hidden-xs hidden-xxs">
            <div id="hint-container">
                <div id="hint-title" class="sidebar-hint" style="display: none;">
                    <h4>Jak tytułować oferty pracy?</h4>

                    <p>
                        Masz 60 znaków na to, aby przekonać potencjalnego kandydata, aby kliknął w Twoje ogłoszenie. Nie zapomnij zawrzeć w tytule nazwy technologii
                        oraz ewentualnie poziomu (Junior, Senior).
                    </p>
                </div>
                <div id="hint-city" class="sidebar-hint" style="display: none;">
                    <h4>Lokalizacja</h4>

                    <p>
                        Nie zapomnij napisać jakiego miasta dotyczy ogłoszenie. Jeżeli jest to praca zdalna to zaznacz
                        <em>praca zdalna</em> a pole lokalizacji pozostaw puste. <strong>Nie wpisuj</strong> w tym polu
                        nazwy dzielnicy czy dodatkowych informacji. To pole powinno zawierać jedynie nazwę miejscowości.
                        Dzięki temu będziemy w stanie wyświetlać tę ofertę użytkownikom pochodzącym z danego miasta.
                    </p>

                    <p>
                        Jeżeli oferta tyczy się kilku miast, możesz je wypisać po przecinku.
                    </p>
                </div>
                <div id="hint-salary_from" class="sidebar-hint" style="display: none;">
                    <h4>Wynagrodzenie</h4>

                    <p>
                        Zdecydowana większość programistów programistów chce wiedzieć na jakie wynagrodzenie może liczyć.
                        Podając widełki płacowe oszczędzasz czas - swój i potencjalnych kandydatów.
                    </p>
                </div>
                <div id="hint-tag" class="sidebar-hint" style="display: none;">
                    <h4>Kluczowe technologie</h4>

                    <p>
                        Określ technologie potrzebne do wykonywania pracy. Te słowa kluczowe są wyświetlane przy ofercie
                        i służą lepszemu pozycjonowaniu. Pomogą nam w lepszym doborze oferty potencjalnemu kandydatowi.
                    </p>
                </div>
            </div>

        </aside>
    </div>

    {{ modals.alert('Podany tag nie jest prawidłowy.') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script>
        var job = {{ job|raw }};
        var tags = {{ tags|raw }};
        var errors = {{ form_errors|raw }};
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="{{ cdn('js/jquery-ui.js') }}"></script>
    <script src="{{ cdn('js/job-submit.js') }}"></script>
    <script>
        $(function() {
//            $('input[name="title"]').focus();
        })
    </script>

    {% include 'job.submit.partials.navigation' %}
{% endblock %}
