{% extends 'job.base' %}
{% block title %}Wystaw ofertę pracy{{ parent() }}{% endblock %}

{% import 'job.submit.theme' as theme %}

{% block container %}
<div class="row">
    <main class="col-sm-8">
        <div class="jumbotron alert-popover" data-id="job-jumbotron">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Kliknij, aby zamknąć"><span aria-hidden="true">&times;</span></button>

            <h1>Zaczynamy...</h1>
            <p>Pamiętaj, że informacje zawarte w tym formularzu, możesz zmienić w każdej chwili i jest ono publikowane za darmo.
                Prosimy o zamieszczanie rzeczowych informacji. Frazesy w tylu <em>młoda dynamiczna firma</em> nie są dobrze widziane przez programistów.</p>

            <p><button class="btn btn-default btn-close" role="button" data-dismiss="alert" aria-label="Close">Ok, zrozumiałem</button></p>
        </div>

        {% include 'job.submit.indicator' with {'current': 1} %}

        {% if session_has('error') %}
            <p class="alert alert-danger">
                {{ session_get('error') }}
            </p>
        {% endif %}

        {% if errors.any %}
            <p class="alert alert-danger">
                Formularz zawiera błędy. Sprawdź poprawność wprowadzonych danych i spróbuj ponownie.
            </p>
        {% endif %}

        {{ form_open({'url': route('job.submit'), 'class': '', 'id': 'job-posting'}) }}
            {{ form_hidden('id', job.id) }}
            {{ form_hidden('firm_id', job.firm_id) }}
            {{ form_hidden('path', job.path) }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    Podstawowe informacje
                </div>
                <div class="panel-body">

                    {{ theme.group_open('title', 'form-group-border') }}
                        <label class="control-label">Tytuł oferty <em class="text-danger">*</em></label>

                        {{ form_text('title', input_old('title', job.title), {'class': 'form-control', 'placeholder': 'Np. Senior Java Developer', 'maxlength': 60}) }}
                        {{ theme.error('title', 'Pozostało: <strong>' ~ (60 - input_old('title', job.title)|length) ~ '</strong> znaków</span>') }}
                    {{ theme.group_close() }}

                    <div class="form-group form-group-border">
                        <label class="control-label">Lokalizacja</label>

                        <div class="row">
                            <div class="col-sm-2">
                                {{ form_select('country_id', countryList, input_old('country_id', job.country_id), {'class': 'form-control'}) }}
                            </div>
                            <div class="col-sm-7" style="padding-left: 0">
                                {{ form_text('city', input_old('city', job.city), {'class': 'form-control', 'placeholder': 'Np. Wrocław, Warszawa'}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="checkbox">
                                    {{ form_checkbox('is_remote', 1, input_old('remote', job.is_remote), {'id': 'remote'}) }}

                                    <label for="remote">
                                        Możliwa praca zdalna
                                    </label>
                                </div>

                                {{ theme.error('city') }}
                            </div>
                        </div>
                    </div>

                    {{ theme.group_open('salary_from', 'form-group-border') }}
                        <label class="control-label">Ofertowane wynagrodzenie netto i forma zatrudnienia</label>

                        <div>
                            od
                            {{ form_text('salary_from', input_old('salary_from', job.salary_from), {'class': 'form-control input-inline'}) }}

                            do
                            {{ form_text('salary_to', input_old('salary_to', job.salary_to), {'class': 'form-control input-inline'}) }}
                            {{ form_select('currency_id', currencyList, input_old('currency_id', job.currency_id), {'class': 'form-control input-inline'}) }}
                            {{ form_select('rate_id', rateList, input_old('rate_id', job.rate_id), {'class': 'form-control input-inline'}) }}
                            {{ form_select('employment_id', employmentList, input_old('employment_id', job.employment_id), {'class': 'form-control input-inline'}) }}

                            {{ theme.error('salary_from', 'Podanie tych informacji nie jest obowiązkowe, ale dzięki temu Twoja oferta zainteresuje więcej osób. Obiecujemy!') }}
                            {{ theme.error('salary_to') }}
                        </div>
                    {{ theme.group_close() }}

                    <div class="form-group has-feedback">
                        <label class="control-label">Wymagania, czyli co trzeba potrafić?</label>

                        {{ form_text('tag', '', {'class': 'form-control', 'placeholder': 'Np. Java, MS-SQL'}) }}
                        <span class="help-block">Wybierz z listy lub wpisz nazwę języka/technologii i naciśnij Enter.</span>
                        <span class="fa fa-tag form-control-feedback" aria-hidden="true"></span>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Szczegółowe informacje
                </div>

                <div class="panel-body">
                    {{ theme.group_open('deadline', 'form-group-border') }}
                        <label class="control-label">Data ważności oferty</label>

                        {% set deadline = input_old('deadline', job.deadline ?: 90) %}
                        {{ form_text('deadline', deadline, {'class': 'form-control input-inline'}) }} dni
                        {{ theme.error('deadline', 'Oferta będzie widoczna na stronie do dnia <strong>' ~ ('+' ~ deadline ~ ' days')|date('Y-m-d') ~ '</strong>') }}
                    {{ theme.group_close() }}

                    <div class="form-group">
                        <label class="control-label">Opis oferty</label>

                        {{ form_textarea('description', input_old('description', job.description), {'class': 'form-control', 'style': 'height: 140px'}) }}
                        <span class="help-block">Miejsce na szczegółowy opis oferty. Pole to jednak nie jest wymagane.</span>
                    </div>

                    {{ theme.group_open('email') }}
                        <div class="radio">
                            {{ form_radio('enable_apply', 1, job.enable_apply == true, {'id': 'apply-enable'}) }}

                            <label for="apply-enable">
                                Zezwól na wysyłanie CV poprzez serwis 4programmers.net
                            </label>
                        </div>

                        {{ form_text('email', input_old('email', job.email ?: user('email')), {'class': 'form-control'}) }}
                        {{ theme.error('email', 'Podaj adres e-mail na jaki wyślemy Ci informacje o kandydatach. Adres e-mail nie będzie widoczny dla osób postronnych.') }}
                    {{ theme.group_close() }}

                    {{ theme.group_open('recruitment') }}
                        <div class="radio">
                            {{ form_radio('enable_apply', 0, job.enable_apply == false, {'id': 'apply-disable'}) }}

                            <label for="apply-disable">
                                ...lub podaj informacje w jaki sposób kandydaci mogą aplikować na to stanowisko
                            </label>
                        </div>

                        {{ form_textarea('recruitment', input_old('recruitment', job.recruitment), {'class': 'form-control', 'style': 'height: 40px'}) }}
                        {{ theme.error('recruitment') }}
                    {{ theme.group_close() }}

                    <div id="form-navigation" class="form-group">
                        <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Informacje o firmie <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        {{ form_close() }}
    </main>

    <aside class="col-sm-4">
        <div id="hint-container">
            <div id="hint-name" class="sidebar-hint" style="display: none;">
                <h4>Jak tytułować oferty pracy?</h4>

                <p>
                    Masz 60 znaków na to, aby przekonać potencjalnego kandydata, aby kliknął w Twoje ogłoszenie. Nie zapomnij zawrzeć w tytule nazwy technologii
                    oraz ewentualnie poziomu (Junior, Senior).
                </p>
            </div>
            <div id="hint-city" class="sidebar-hint" style="display: none;">
                <h4>Lokalizacja</h4>

                <p>
                    Nie zapomnij napisać jakiego miasta dotyczy ogłoszenie. Jeżeli jest to praca zdalna to zaznacz
                    <em>praca zdalna</em> a pole lokalizacji pozostaw puste. <strong>Nie wpisuj</strong> w tym polu
                    nazwy dzielnicy czy dodatkowych informacji. To pole powinno zawierać jedynie nazwę miejscowości.
                </p>

                <p>
                    Jeżeli oferta tyczy się kilku miast, możesz je wypisać po przecinku.
                </p>
            </div>
            <div id="hint-salary_from" class="sidebar-hint" style="display: none;">
                <h4>Wynagrodzenie</h4>

                <p>
                    Zdecydowana większość programistów programistów chce wiedzieć na jakie wynagrodzenie może liczyć.
                    Podając widełki płacowe oszczędzasz czas - swój i potencjalnych kandydatów.
                </p>
            </div>
            <div id="hint-tag" class="sidebar-hint" style="display: none;">
                <h4>Kluczowe technologie</h4>

                <p>
                    Określ technologie potrzebne do wykonywania pracy. Te słowa kluczowe są wyświetlane przy ofercie
                    i służą lepszemu pozycjonowaniu. Daje to podgląd potencjalnym kandydatom jakie technologie są używane
                    w firmie.
                </p>
            </div>
        </div>

    </aside>
</div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="{{ cdn('js/job-submit.js') }}"></script>
    <script>
        $(function() {
            $('input[name="title"]').focus();
        })
    </script>

    {% include 'job.submit.navigation' %}
{% endblock %}
