{% extends 'job.base' %}
{% block title %}Wystaw ofertę pracy{{ parent() }}{% endblock %}

{% import 'components.modals' as modals %}

{% block container %}
    <div class="row">
        <main class="col-lg-9 col-12-md">

            {% include 'job.submit.partials.indicator' with {'current': 1} %}

            {% if errors.any %}
                <p class="alert alert-danger">
                    Formularz zawiera błędy. Sprawdź poprawność wprowadzonych danych i spróbuj ponownie.
                </p>
            {% endif %}

            {% include 'job.submit.partials.loader' %}

            {{ form_start(form) }}
                {% if not is_plan_ongoing %}
                    {{ form_widget(form.plan_id) }}

                    <div id="plan-table" class="clearfix margin-lg-top margin-lg-bottom">
                        <ul class="plan-benefits">
                            <li><div>Publikacja ogłoszenia na okres <strong>30 dni</strong></div></li>
                            <li>
                                <div>
                                    <strong>Reklama</strong> oferty na forum i stronie głównej

                                    <a href="javascript:" class="plan-tooltip-wrapper">
                                        <i class="fa fa-question-circle"></i>

                                        <div class="plan-tooltip"><img src="{{ cdn('img/offer-example.jpg') }}"></div>
                                    </a>
                                </div>
                            </li>
                            <li><div><strong>Wyróżnienie</strong> kolorem <i class="fa fa-question-circle" data-toggle="tooltip" title="Twoje ogłoszenie otrzyma dodatkowe tło, które odróżni je od standardowych ogłoszeń na liście."></i></div></li>
                            <li><div>Wyróżnienie ogłoszenia <strong>na górze listy</strong> wyszukiwania</div></li>
                            <li><div><strong>3x podbicie</strong> ogłoszenia <i class="fa fa-question-circle" data-toggle="tooltip" title="W okresie promowania oferty, 3 razy podbijemy Twoje ogłoszenie na górę listy. Dzięki temu więcej ludzi będzie mogło je zobaczyć."></i></div></li>
                        </ul>


                        <div class="plan" v-for="plan in plans" :class="{'selected': job.plan_id == plan.id}">
                            <div class="plan-header" @click="changePlan(plan.id)">
                                <div class="plan-price"><strong>${ plan.price * (plan.discount > 0 ? plan.discount : 1) } zł</strong> <small>netto</small></div>
                                <div class="plan-price-old" v-if="plan.discount > 0"><strong>${ plan.price } zł</strong> <small>netto</small></div>
                            </div>

                            <div class="plan-body">
                                <ul class="plan-features">
                                    <li v-for="n in 5"><i class="fa fa-fw" :class="{'fa-check-circle': plan.benefits.length >= n, 'text-primary': plan.benefits.length >= n, 'fa-remove': plan.benefits.length < n, 'text-muted': plan.benefits.length < n}"></i></li>

                                    <li class="feature-button">
                                        <button class="btn btn-default" v-if="job.plan_id != plan.id" @click.prevent="changePlan(plan.id)">Wybierz</button>
                                        <span class="text-primary" v-if="job.plan_id == plan.id"><i class="fa fa-check-circle-o fa-fw text-primary"></i> Wybrano</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {{ form_widget(form.id) }}
                {{ form_widget(form.firm_id) }}
                {{ form_widget(form.slug) }}

                {{ form_hidden('done', 0) }}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Podstawowe informacje
                    </div>
                    <div class="panel-body">

                        <div class="form-group form-group-border">
                            <div class="row">
                                {{ form_row(form.title) }}
                                {{ form_row(form.seniority_id) }}
                            </div>
                        </div>

                        <div class="form-group form-group-border" :class="{'has-error': isInvalid(['city'])}">
                            <label class="control-label">Lokalizacja</label>

                            <div class="row">
                                <div class="col-sm-2">
                                    {{ form_widget(form.country_id) }}
                                </div>
                                <div class="col-sm-7" style="padding-left: 0">
                                    {{ form_widget(form.city) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        {{ form_widget(form.is_remote) }}
                                        {{ form_label(form.is_remote) }}

                                        {{ form_widget(form.remote_range) }}
                                    </div>

                                    {{ form_error(form.city) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group-border" :class="{'has-error': isInvalid(['salary_from', 'salary_to'])}">
                            <label class="control-label">Ofertowane wynagrodzenie netto i forma zatrudnienia</label>

                            <div>
                                od
                                {{ form_widget(form.salary_from) }}

                                do
                                {{ form_widget(form.salary_to) }}
                                {{ form_widget(form.currency_id) }}
                                {{ form_widget(form.is_gross) }}
                                {{ form_widget(form.rate_id) }}
                                {{ form_widget(form.employment_id) }}

                                {{ form_error(form.salary_from) }}
                                {{ form_error(form.salary_to) }}
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label">Kluczowe technologie (wymagane lub mile widziane)</label>

                            {{ form_text('tag', '', {'id': 'tag', 'class': 'form-control', 'placeholder': 'Np. Java, MS-SQL', 'autocomplete': 'off', 'data-post-url': route('job.submit.tag'), 'data-suggestions-url': route('job.tag.suggestions')}) }}

                            <span class="help-block" v-if="suggestions.length == 0">Wybierz z listy lub wpisz nazwę języka/technologii i naciśnij Enter, aby dodać wymaganie.</span>
                            <span class="help-block" v-if="suggestions.length > 0">
                                Podpowiedź:

                                <template v-for="(suggestion, index) in suggestions">
                                    <a href="javascript:" class="tag-suggestion" @click="addTag(suggestion)">${ suggestion }</a>${ index < suggestions.length - 1 ? ', ' : '' }
                                </template>
                            </span>

                            <span class="fa fa-tag form-control-feedback" aria-hidden="true"></span>

                            <ol class="tag-dropdown">
                                {% include 'components.tags' with {'tags': popular_tags} only %}
                            </ol>

                            <div id="tags-container" class="margin-md-top">
                                <div v-for="(tag, index) in tags" class="row tag-item margin-sm-bottom">
                                    <div class="col-xs-5">
                                        <ol class="tag-clouds">
                                            <li><a href="javascript:" title="Chwyć, aby przenieść na dół lub na górę">${ tag.name }</a></li>
                                        </ol>
                                    </div>

                                    <input type="hidden" :name="'tags[' + index + '][name]'" :value="tag.name" class="tag-name">

                                    <div class="col-xs-6">
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" :name="'tags[' + index + '][priority]'" v-model="tag.pivot.priority" value="1" :id="tag.name + '-must-have'">

                                            <label :for="tag.name + '-must-have'"> Wymagane </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" :name="'tags[' + index + '][priority]'" v-model="tag.pivot.priority" value="0" :id="tag.name + '-nice-to-have'">

                                            <label :for="tag.name + '-nice-to-have'"> Mile widziane </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-1">
                                        <a class="btn-xs btn-remove pull-right" href="javascript:" title="Kliknij, aby usunąć tag" @click="removeTag(index)">
                                            <i class="fa fa-remove text-danger"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Szczegółowe informacje
                    </div>

                    <div class="panel-body">
                        {{ form_row(form.description) }}

                        <div class="form-group form-group-border">
                            {{ form_label(form.features) }}
                            {{ form_error(form.features) }}

                            <ol class="features list-group clearfix form-horizontal">
                                <li class="list-group-item col-md-12 col-lg-6" v-for="(feature, index) in features" :class="{checked: feature.pivot.checked}">
                                    <div class="form-group">
                                        <div class="col-xs-7 control-label" @click="toggleFeature(feature)">
                                            <i class="fa fa-fw " :class="{'fa-check': feature.pivot.checked, 'fa-remove': !feature.pivot.checked}"></i>

                                            ${ feature.name }
                                        </div>

                                        <input type="hidden" :name="'features[' + index + '][id]'" :value="feature.id">
                                        <input type="hidden" :name="'features[' + index + '][name]'" :value="feature.name">
                                        <input type="hidden" :name="'features[' + index + '][default]'" :value="feature.default">
                                        <input type="hidden" :name="'features[' + index + '][checked]'" :value="feature.pivot.checked">

                                        <div class="col-xs-5" v-show="feature.pivot.checked && feature.default">
                                            <input type="text" class="form-control input-sm" :placeholder="feature.default" :name="'features[' + index + '][value]'" :value="feature.pivot.value" v-model="feature.pivot.value">
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>

                        <div class="form-group" :class="{'has-error': isInvalid(['email'])}">
                            {{ form_row(form.enable_apply.child(0), {attr: {'v-model': 'job.enable_apply'}}) }}

                            {{ form_widget(form.email, {attr: {':disabled': 'job.enable_apply == 0'}}) }}
                            {{ form_error(form.email) }}
                        </div>

                        <div class="form-group" :class="{'has-error': isInvalid(['recruitment'])}">
                            {{ form_row(form.enable_apply.child(1), {attr: {'v-model': 'job.enable_apply'}}) }}

                            <div v-show="job.enable_apply == 0">
                                {{ form_widget(form.recruitment) }}
                                {{ form_error(form.recruitment) }}
                            </div>
                        </div>

                        <div id="form-navigation" class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" data-submit-state="Proszę czekać...">Informacje o firmie <i class="fa fa-angle-right"></i></button>

                            {% if not firm.is_private and firm.name %}
                                <button type="submit" class="btn btn-danger pull-right btn-save margin-sm-right" data-submit-state="Proszę czekać..." title="Zapisz tę ofertę"><i class="fa fa-save"></i> Zapisz jako {{ firm.name[:38] }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {{ form_close() }}
        </main>

        <aside class="col-lg-3 hidden-md hidden-sm hidden-xs">

            <div id="hint-container">
                <div id="hint-title" class="sidebar-hint">
                    <h4>Ile kosztuje dodanie ogłoszenia?</h4>

                    <p>
                        Masz możliwość wyboru jednego z trzech pakietów. Koszt najtańszego pakietu to jedyne <strong>1 zł netto</strong> za dzień.

                    </p>

                    <h4 class="margin-md-top">Możliwe opcje promowania oferty pracy</h4>

                    <p><i class="fa fa-check fa-fw"></i> Ogłoszenie wyświetlane nad tymi darmowymi.</p>
                    <p><i class="fa fa-check fa-fw"></i> Reklama na stronie głównej oraz forum.</p>
                    <p><i class="fa fa-check fa-fw"></i> Podświetlenie oferty.</p>
                    <p><i class="fa fa-check fa-fw"></i> 3x podbicie oferty.</p>
                    <p><i class="fa fa-check fa-fw"></i> Sam decydujesz ile dni oferta ma być promowana.</p>

                    <h4 class="margin-md-top">Formy płatności</h4>

                    <p>
                        Za opcję promowania zapłacisz kartą Visa, Mastercard lub Maestro. Jeżeli chcesz zapłacić
                        przelewem, napisz do nas na <a href="mailto:{{ config('mail.from.address') }}" style="color: #960202; text-decoration: underline">{{ config('mail.from.address') }}</a> a prześlemy Ci instrukcje.
                    </p>

                    <h4 class="margin-md-top">Faktura VAT</h4>

                    <p>
                        Fakturę VAT prześlemy Ci na e-mail. Dane do faktury podasz w ostatnim kroku.
                    </p>
                </div>
            </div>

        </aside>
    </div>

    {{ modals.alert('Podany tag nie jest prawidłowy.') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script>
        var data = {
            job: {{ job|raw }},
            tags: {{ form.tags.value|raw }},
            features: {{ form.features.value|raw }},
            errors: {{ form_errors|raw }},
            plans: {{ plans|raw }},
            suggestions: []
        };
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="{{ cdn('js/jquery-ui.js') }}"></script>
    <script src="{{ cdn('js/job-submit.js') }}"></script>

    {% include 'job.submit.partials.navigation' %}
{% endblock %}
