{% extends 'job.base' %}

{% block title %}Wystaw ofertę pracy{{ parent() }}{% endblock %}

{% import 'components.modals' as modals %}

{% block container %}
  <div class="row">
    <main class="col-lg-9 col-12-md">

      {% include 'job.submit.partials.indicator' with {'current': 1} %}

      {% include 'job.submit.partials.loader' %}

      <div id="js-submit-form" class="job-form" v-cloak>
        {% include 'job.submit.partials.error_message' %}

        {% if not is_plan_ongoing %}
          <vue-pricing :plans="plans" :value.sync="job.plan_id" email="{{ config('mail.from.address') }}"></vue-pricing>
        {% endif %}

        <vue-job-form
          :job="job"
          :errors="errors"
          :currencies="currencies"
          :popular-tags="popularTags"
        ></vue-job-form>

        <div id="form-navbar">
          <div class="container-xxl">
            <div class="row">
              <div class="col-12 col-lg-9">
                <vue-button :disabled="isSubmitting" type="submit" class="btn btn-secondary float-right">
                  Informacje o firmie <i class="fas fa-angle-right"></i>
                </vue-button>

                <vue-button :disabled="isSubmitting" @click.native="submitForm" type="submit" class="btn btn-primary float-right btn-save mr-2" title="Zapisz tę ofertę">
                  <i class="fas fa-save"></i> Zapisz jako {{ firm.name[:38] }}
                </vue-button>
              </div>
            </div>
          </div>
        </div>

        <vue-notifications position="bottom right" />
      </div>
    </main>

    <aside class="col-lg-3 hidden-md hidden-sm hidden-xs">

      <div id="hint-container">
        <div id="hint-title" class="alert alert-warning">
          <h4>Ile kosztuje dodanie ogłoszenia?</h4>

          <p>
            Masz możliwość wyboru jednego z trzech pakietów. Koszt najtańszego pakietu to niecałe <strong>1 zł</strong> za dzień.
          </p>

          <h4 class="mt-3">Możliwe opcje promowania oferty pracy</h4>

          <p><i class="fas fa-check fa-fw"></i> Ogłoszenie wyświetlane nad tymi darmowymi.</p>
          <p><i class="fas fa-check fa-fw"></i> Reklama na stronie głównej oraz forum.</p>
          <p><i class="fas fa-check fa-fw"></i> Podświetlenie oferty.</p>
          <p><i class="fas fa-check fa-fw"></i> 3x podbicie oferty.</p>

          <h4 class="mt-3">Formy płatności</h4>

          <p>
            Za opcję promowania zapłacisz kartą Visa, Mastercard lub Maestro jak i również <strong>szybkim</strong> przelewem bankowym.
            Operatorem płatności jest firma PayLane oraz serwis Przelewy24.pl.
          </p>

          <h4 class="mt-3">Faktura VAT</h4>

          <p>
            Fakturę VAT prześlemy Ci na e-mail. Dane do faktury podasz w ostatnim kroku.
          </p>

          <h4 class="mt-3">Kupno większej ilości pakietów</h4>

          <p>
            Istnieje możliwość płatności z góry za większą ilość pakietów. Jeżeli chcesz poznać więcej szczegółów,
            napisz do nas na adres <a href="mailto:{{ config('mail.from.address') }}" style="color: #960202; text-decoration: underline">{{ config('mail.from.address') }}</a>.
          </p>

          <h4 class="mt-3">Pomoc</h4>

          <p>
            Jeżeli masz problem z publikacją ogłoszenia lub płatnością, chętnie Ci pomożemy! Napisz do nas na
            <a href="mailto:{{ config('mail.from.address') }}" style="color: #960202; text-decoration: underline">{{ config('mail.from.address') }}</a>.
          </p>
        </div>
      </div>

    </aside>
  </div>

  <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false&libraries=places"></script>
  <script>
    var job = {{ job|json_encode|raw }};
    var plans = {{ plans|raw }};
    var currencies = {{ currencies|json_encode|raw }};
    var popularTags = {{ popular_tags|json_encode|raw }};

    {#var data = {#}
    {#  job: {{ job|json_encode|raw }},#}
    {#  errors: {},#}
    {#  plans: {{ plans|raw }},#}
    {#  ,#}
    {#  suggestions: [],#}
    {#  suggestion_url: '{{ route('job.tag.suggestions') }}',#}
    {#  seniority: {{ seniority|json_encode|raw }},#}
    {#  remote_range: {{ remote_range|json_encode|raw }},#}
    {#  currencies: {{ currencies|json_encode|raw }},#}
    {#  taxes: {{ taxes|json_encode|raw }},#}
    {#  rates: {{ rates|json_encode|raw }},#}
    {#  employments: {{ employments|json_encode|raw }}#}
    {#};#}
  </script>
{% endblock %}

{% block body %}
  {{ parent() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.11/tinymce.min.js" integrity="sha512-3tlegnpoIDTv9JHc9yJO8wnkrIkq7WO7QJLi5YfaeTmZHvfrb1twMwqT4C0K8BLBbaiR6MOo77pLXO1/PztcLg==" crossorigin="anonymous"></script>

{#  {% include 'job.submit.partials.chat' %}#}
{% endblock %}
