{% extends 'job.base' %}

{% block title %}Podgląd{{ parent() }}{% endblock %}

{% block container %}
  <div class="row">
    <main class="col-lg-9 col-12-md">
      {% include 'job.submit.partials.indicator' with {'current': 3} %}

      <div class="card card-default">
        <div class="card-header">
          Podgląd
        </div>
        <div class="card-body">
          {% include 'job.partials.offer' with {'preview': true} %}
        </div>
      </div>

      {{ form_open({'url': route('job.submit.save'), 'class': 'submit-form'}) }}
      <div class="card card-default">
        <div class="card-body">
          <div id="form-navbar" class="form-group">
            <a href="{{ route('job.submit.firm') }}" class="btn btn-secondary float-left"><i class="fas fa-angle-left"></i> Informacje o firmie</a>
            <button type="submit" class="btn btn-primary float-right" data-submit-state="Zapisywanie...">Opublikuj <i class="fas fa-angle-right"></i></button>
          </div>
        </div>
      </div>
      {{ form_close() }}
    </main>

    <aside class="col-lg-3 hidden-md hidden-sm hidden-xs">

    </aside>
  </div>
{% endblock %}

{% block body %}
  {{ parent() }}

  <script>
    var data = {
      firm: {{ firm|raw }},
      job: {{ job|json_encode|raw }}
    };
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.2/tinymce.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?key={{ config('services.google-maps.key') }}&sensor=false"></script>

  {% include 'job.submit.partials.chat' %}
{% endblock %}
