{% extends 'wiki.page' %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-body">
            <article>
                {{ include('wiki.partials.dropdown') }}

                <header>
                    <h1>{{ wiki.title }}</h1>
                </header>

                {{ wiki.text|raw }}
            </article>
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ cdn('css/help.css') }}">
{% endblock %}