{% extends 'adm.base' %}
{% block title %}Eksperymenty{{ parent() }}{% endblock %}

{% block container %}
  <div class="card card-default">
    <div class="card-header">Eksperyment: {{ experiment }}</div>
    <div class="card-body">
      Tytuł: {{ experiment }}
    <div class="list-group list-group-flush">
      <div class="list-group-item">
        Tytuł: {{ experiment }}
      </div>
      <div class="list-group-item user-count">
        Ilość użytkowników:
        <span>{{ experimentUserCount }}</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <a class="btn btn-secondary" href="{{ experimentsBackUrl }}">
      Powrót
    </a>
  </div>
{% endblock %}
