{% extends 'adm.base' %}
{% block title %}Eksperymenty{{ parent() }}{% endblock %}

{% block container %}
  <div class="card card-default">
    <div class="card-header">Eksperyment: {{ experiment.title }}</div>
    <div class="list-group list-group-flush">
      <div class="list-group-item">
        Tytuł: {{ experiment.title }}
      </div>
      <div class="list-group-item creation-date">
        Data utworzenia:
        <span>{{ experiment.creationDate }}</span>
      </div>
      <div class="list-group-item user-count">
        Ilość użytkowników:
        <span>{{ experiment.userCount }}</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <a class="btn btn-secondary" href="{{ experimentsBackUrl }}">
      Powrót
    </a>
  </div>
{% endblock %}
