<menu class="col-md-2">
    <ul class="side-menu">
        <li class="btn-start">
            <a href="{{ route('user.home') }}"><i class="fa fa-map-marker fa-fw"></i> Start</a>
        </li>
        <li class="btn-visits">
            <a href="{{ route('user.visits') }}"><i class="fa fa-user-md fa-fw"></i> Ostatnie wizyty</a>
        </li>
        <li class="btn-notifies">
            <a href="{{ route('user.alerts') }}"><i class="fa fa-bell-o fa-fw"></i> Powiadomienia</a>
        </li>
        <li class="btn-pm">
            <a href="{{ route('user.pm') }}"><i class="fa fa-envelope-o fa-fw"></i> Wiadomości prywatne <small>({{ user('pm_unread') }}/{{ user('pm') }})</small></a>
        </li>
        <li class="btn-favorites">
            <a href="{{ route('user.favorites') }}"><i class="fa fa-heart fa-fw"></i> Ulubione i obserwowane strony</a>
        </li>
        <li class="btn-profiles">
            <a href="{{ route('user.profiles') }}"><i class="fa fa-user fa-fw"></i> Obserwowane profile</a>
        </li>
        <li class="btn-rates">
            <a href="{{ route('user.rates') }}"><i class="fa fa-star-half fa-fw"></i> Oceny moich postów</a>
        </li>
        <li class="btn-stats">
            <a href="{{ route('user.stats') }}"><i class="fa fa-area-chart fa-fw"></i> Statystyki moich postów</a>
        </li>
        <li class="btn-accepts">
            <a href="{{ route('user.accepts') }}"><i class="fa fa-check fa-fw"></i> Zaakceptowane odpowiedzi</a>
        </li>
    </ul>
</menu>