<menu class="col-md-2">
    <ul class="side-menu">
        <li class="btn-start">
            <a href="{{ route('user.settings') }}"><i class="fa fa-cog fa-fw"></i> Podstawowa konfiguracja</a>
        </li>
        <li class="btn-visits">
            <a href="{{ route('user.skills') }}"><i class="fa fa-wrench fa-fw"></i> Umiejętności</a>
        </li>
        <li class="btn-notifies">
            <a href="{{ route('user.security') }}"><i class="fa fa-lock fa-fw"></i> Bezpieczeństwo</a>
        </li>
        <li class="btn-pm">
            <a href="{{ route('user.password') }}"><i class="fa fa-key fa-fw"></i> Zmiana hasła</a>
        </li>
        <li class="btn-favorites">
            <a href="{{ route('user.alerts.settings') }}"><i class="fa fa-bell-o fa-fw"></i> Ustawienia powiadomień</a>
        </li>
        <li class="btn-profiles">
            <a href="{{ route('user.forum') }}"><i class="fa fa-comments-o fa-fw"></i> Personalizacja forum</a>
        </li>
    </ul>
</menu>