{% extends 'layout.twig' %}
{% block title %}Powiadomienia {{ parent() }}{% endblock %}

{% block container %}
    {{ include('user/_top', {active: 'home'}) }}

    <div class="row">
        {% include 'user/_home-menu' %}

        <main class="col-md-10">
            <section class="panel panel-wrapper">
                <div class="panel-body">
                    <h2>Powiadomienia</h2>

                    <div id="box-alerts" class="panel panel-default">
                        <div class="panel-body">
                            {% set head_date = '' %}

                            {{ alerts.render() }}

                            {% for alert in alerts %}
                                {% if head_date != alert.created_at|date('d F Y') %}
                                    <h2>{{ alert.created_at|date('d F Y') }}</h2>
                                    {% set head_date = alert.created_at|date('d F Y') %}
                                {% endif %}

                                <div class="media {{ alert.read_at < session.created_at or alert.is_marked ? '' : 'unread' }}">
                                    <div class="media-left">
                                        <a href="{{ route('profile', [alert.user.id]) }}">
                                            <img class="media-object" src="{{ user_photo(alert.user.photo) }}" style="width: 49px; height: 49px;" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <header>
                                            <h4 class="pull-left"><a href="{{ url(alert.url) }}">{{ alert.headline }}</a></h4>
                                            <small class="pull-right">{{ alert.created_at|format_date }}</small>
                                        </header>
                                        <h3><a href="{{ url(alert.url) }}">{{ alert.subject }}</a></h3>
                                        <p><a href="{{ url(alert.url) }}">{{ alert.excerpt }}</a></p>
                                    </div>
                                </div>
                            {% endfor %}

                            {{ alerts.render() }}
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/user.css">
{% endblock %}