{% extends 'user.base' %}
{% block title %}Ulubione i obserwowane strony{{ parent() }}{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
  <h2>Ulubione i obserwowane strony</h2>

  <nav class="nav nav-panel nav-card">
    {% for tab in tabs.roots() %}
      <a href="{{ tab.url }}" {{ forms.attr(tab.link.attr) }}>{{ tab.title|raw }}</a>
    {% endfor %}
  </nav>

  <div class="card card-default">
    <div class="card-body">
      <nav class="d-flex justify-content-center mt-2 mb-2">{{ paginate|raw }}</nav>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tytuł</th>
            <th>Data dodania do obserwowanych</th>
          </tr>
        </thead>
        <tbody>
          {{ include(partial) }}
        </tbody>
      </table>

      <nav class="d-flex justify-content-center mt-2 mb-2">{{ paginate|raw }}</nav>
    </div>
  </div>
{% endblock %}
