{% extends 'user.base' %}
{% block title %}Obserwowane strony{{ parent() }}{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
  <h2>Obserwowane strony</h2>

  <div class="card">
    <div class="card-body">
      <ul class="nav nav-pills">
        {% for tab in tabs.roots() %}
          <li {{ forms.attr(tab.attr) }}>
            <a href="{{ tab.url }}" style="color:inherit;">
              {{ tab.title }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <nav class="d-flex justify-content-center mt-2 mb-2">
        {{ paginate|raw }}
      </nav>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Tytuł</th>
          <th>Data dodania do obserwowanych</th>
        </tr>
        </thead>
        <tbody>
        {{ include(partial) }}
        </tbody>
      </table>

      <nav class="d-flex justify-content-center mt-2 mb-2">{{ paginate|raw }}</nav>
    </div>
  </div>
{% endblock %}
