{% extends 'user.base' %}
{% block title %}Personalizacja forum {{ parent() }}{% endblock %}

{% import 'components.modals' as modals %}

{% block content %}
    <h2>Personalizacja forum</h2>

    <div class="card card-default">
        {{ form_open({url: route('user.forum'), id: 'submit-form'}) }}
            <div id="sortable" class="card-body">

                {% for name, forums in sections %}
                    <section class="card card-wrapper">
                        <div class="card-body">
                            <h2><i class="fas fa-arrows"></i> {{ name }}</h2>

                            <ul class="table-forum list-unstyled">
                                {% for forum in forums %}
                                    {% set is_hidden = forum.is_hidden|default(0) %}

                                    <li class="col-forum-description {{ is_hidden ? 'btn-hidden' }}">
                                        <h3><a title="{{ forum.name }}" href="javascript:">{{ forum.name }}</a></h3>

                                        <p>{{ forum.description }}</p>

                                        {{ form_hidden('forum[' ~ forum.id ~ '][section]', loop.index0 == 0 ? name, {class: 'section'}) }}
                                        {{ form_hidden('forum[' ~ forum.id ~ '][forum_id]', forum.id) }}
                                        {{ form_hidden('forum[' ~ forum.id ~ '][order]', forum.order, {class: 'order'}) }}
                                        {{ form_hidden('forum[' ~ forum.id ~ '][is_hidden]', is_hidden, {class: 'is_hidden'}) }}

                                        <a href="javascript:" class="btn-hide float-right" title="Pokaż lub ukryj kategorię forum">
                                            <i class="fas fa-lock"></i>
                                            <i class="fas fa-unlock"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                {% endfor %}
            </div>
        {{ form_close() }}

        {{ form_open({url: route('user.forum.restore'), id: 'restore-form'}) }}
            <div class="card-body">
                {{ form_button('Przywróć domyślne ustawienia', {class: 'btn btn-danger', id: 'btn-restore', 'data-toggle': 'modal', 'data-target': '#confirm'}) }}
            </div>
        {{ form_close() }}
    </div>

    {{ modals.confirm('Czy chcesz przywrócić ustawienia domyślne?', 'Czy chcesz kontynuować?', 'confirm', 'Tak, przywróć domyślne') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="{{ asset('js/jquery-ui.js') }}"></script>

    <script>
        $(function() {
            var form = $('#submit-form');

            var onUpdate = function() {
                $('.section').val('');

                form.find('h2').each(function() {
                    var section = $.trim($(this).text());
                    $(this).parent().find('.col-forum-description:first').children('.section').val(section);
                });

                form.submit();
            };

            form.submit(function() {
                $('.col-forum-description').each(function(index) {
                    $('.order', this).val(index + 1);
                    $('.is_hidden', this).val(+$(this).hasClass('btn-hidden'));
                });

                $.post(form.attr('action'), form.serialize());
                return false;
            });

            $('.table-forum').sortable({helper: 'clone', update: onUpdate});
            $('#sortable').sortable({update: onUpdate});

            $('.btn-hide').click(function() {
                $(this).parents('.col-forum-description').toggleClass('btn-hidden');
                form.submit();
            });

            $('#confirm').find('.btn-danger').click(function() {
                $('#restore-form').submit();
            });
        });
    </script>
{% endblock %}
