{% extends 'user.base' %}
{% block title %}Personalizacja forum {{ parent() }}{% endblock %}

{% block content %}
    <h2>Personalizacja forum</h2>

    {{ form_open({url: route('user.forum'), id: 'submit-form'}) }}
        <div class="panel panel-default">
            <div id="sortable" class="panel-body">

                {% for name, forums in sections %}
                    <section class="panel panel-wrapper">
                        <div class="panel-body">
                            <h2><i class="fa fa-arrows"></i> {{ name }}</h2>

                            <ul class="table-forum list-unstyled">
                                {% for forum in forums %}
                                    <li class="col-forum-description" data-forum-id="{{ forum.id }}">
                                        <h3><a title="{{ forum.name }}" href="javascript:">{{ forum.name }}</a></h3>

                                        <p>{{ forum.description }}</p>

                                        {% set is_hidden = forum.is_hidden|default(0) %}

                                        {{ form_hidden('forum[' ~ forum.id ~ '][section]', loop.index0 == 0 ? name, {class: 'section'}) }}
                                        {{ form_hidden('forum[' ~ forum.id ~ '][forum_id]', forum.id) }}
                                        {{ form_hidden('forum[' ~ forum.id ~ '][order]', forum.order, {class: 'order'}) }}
                                        {{ form_hidden('forum[' ~ forum.id ~ '][is_hidden]', is_hidden, {class: 'is_hidden'}) }}

                                        <a href="javascript:" class="btn-hide pull-right {{ is_hidden ? 'btn-hidden' }}" title="Pokaż lub ukryj kategorię forum">
                                            <i class="fa fa-lock"></i>
                                            <i class="fa fa-unlock"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    {{ form_close() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="{{ cdn('js/jquery-ui.js') }}"></script>
    <script>
        $(function() {
            var form = $('#submit-form');

            var onUpdate = function() {
                $('.section').val('');

                form.find('h2').each(function() {
                    var section = $.trim($(this).text());
                    $(this).parent().find('.col-forum-description:first').children('.section').val(section);
                });

                $('.col-forum-description').each(function(index) {
                    $('.order', this).val(index + 1);
                });

                $.post(form.attr('action'), form.serialize());
            };

            $('.table-forum').sortable({helper: 'clone', update: onUpdate});
            $('#sortable').sortable({update: onUpdate});

            $('.btn-hide').click(function() {
                $(this).toggleClass('btn-hidden');
                $(this).prev('.is_hidden').val($(this).hasClass('btn-hidden') ? 1 : 0);

                $.post(form.attr('action'), form.serialize());
            });
        });
    </script>
{% endblock %}