{% extends 'layout.twig' %}
{% block title %}Moje konto :: {{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <ul id="user-nav-tabs" class="nav nav-tabs">
                <li role="presentation" class="active"><a href="{{ route('user.home') }}">Moje konto</a></li>
                <li role="presentation"><a href="{{ route('user.settings') }}">Ustawienia</a></li>
                <li role="presentation"><a href="{{ route('profile', {'id': 1}) }}">Profil</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <menu class="col-md-2">
            <ul class="side-menu">
                <li class="btn-start">
                    <a href="{{ route('user.home') }}"><i class="fa fa-map-marker fa-fw"></i> Start</a>
                </li>
                <li class="btn-visits">
                    <a href="{{ route('user.visits') }}"><i class="fa fa-user-md fa-fw"></i> Ostatnie wizyty</a>
                </li>
                <li class="btn-notifies">
                    <a href="{{ route('user.alerts') }}"><i class="fa fa-bell-o fa-fw"></i> Powiadomienia</a>
                </li>
                <li class="btn-pm">
                    <a href="{{ route('user.pm') }}"><i class="fa fa-envelope-o fa-fw"></i> Wiadomości prywatne <small>(0/200)</small></a>
                </li>
                <li class="btn-favorites">
                    <a href="{{ route('user.favorites') }}"><i class="fa fa-heart fa-fw"></i> Ulubione i obserwowane strony</a>
                </li>
                <li class="btn-profiles">
                    <a href="{{ route('user.profiles') }}"><i class="fa fa-user fa-fw"></i> Obserwowane profile</a>
                </li>
                <li class="btn-rates">
                    <a href="{{ route('user.rates') }}"><i class="fa fa-star-half fa-fw"></i> Oceny moich postów</a>
                </li>
                <li class="btn-stats">
                    <a href="{{ route('user.stats') }}"><i class="fa fa-area-chart fa-fw"></i> Statystyki moich postów</a>
                </li>
                <li class="btn-accepts">
                    <a href="{{ route('user.accepts') }}"><i class="fa fa-check fa-fw"></i> Zaakceptowane odpowiedzi</a>
                </li>
            </ul>
        </menu>

        <main class="col-md-10">
            <section class="panel panel-wrapper">
                <div class="panel-body">
                    <h2>Start</h2>

                    <div id="box-start" class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-1 hidden-xs">
                                    <img src="/img/avatar.png" class="img-thumbnail">
                                    <a href="javascript:" class="btn btn-xs btn-upload"><i class="fa fa-upload"></i> Zmień</a>
                                </div>

                                <div class="col-sm-11" style="padding-left: 20px">
                                    <ul class="list-inline">
                                        <li title="Ostatnia wizyta">
                                            <i class="fa fa-sign-in fa-fw"></i> dzisiaj, 12:03
                                        </li>
                                        <li title="Twoje aktualne IP">
                                            <i class="fa fa-home fa-fw"></i>
                                            188.122.16.173
                                        </li>
                                        <li title="Data rejestracji">
                                            <i class="fa fa-user-plus fa-fw"></i>
                                            18 luty 2002, 17:35
                                        </li>
                                        <li title="Ilość wizyt">
                                            <i class="fa fa-eye fa-fw"></i>
                                            20 715
                                        </li>
                                    </ul>

                                    <div class="box-reputation">
                                        <h5><i class="fa fa-line-chart"></i> Twoja reputacja</h5>

                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">

                                            </div>

                                            <span class="rep"><strong>853</strong> <small>punktów</small></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="hidden-xs">Aktywne sesje</h2>

                    <div id="box-sessions" class="panel panel-default hidden-xs">
                        <div class="row">
                            <div class="col-xs-5">
                                <i class="fa fa-user"></i>
                                188.122.76.123
                            </div>
                            <div class="col-xs-4">
                                <i class="fa fa-clock-o"></i>
                                18 październik 2015, 20:21
                            </div>
                            <div class="col-xs-2">
                                <i class="fa fa-chrome"></i>
                                Chrome
                            </div>
                            <div class="col-xs-1 text-center" style="padding-left: 0">
                                <a href="javascript:">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <h2>Komunikaty</h2>

                    <div id="box-infobox" class="panel panel-default">
                        <div class="panel-body">
                            Augue? Odio a rhoncus elit elementum sit tristique aliquet rhoncus in? Elementum urna. Dis tincidunt cum elit elementum nec. Porta proin dapibus dignissim pulvinar porta pulvinar! Mid purus habitasse cras platea in, auctor, cursus, amet natoque! Nascetur hac phasellus, elementum lorem, in. Enim pid, vut, elit! Risus elementum, habitasse enim mid? Ut purus elementum, tristique urna enim in dapibus rhoncus rhoncus vel dolor sociis mus enim, lectus ut. Diam rhoncus duis pulvinar? Ac quis ut velit. Non placerat? Habitasse porttitor, enim purus! Eros lectus rhoncus tempor dictumst, eros, pellentesque ut et dictumst ridiculus! In urna pellentesque aliquam, aenean, mauris vut ultrices adipiscing, ridiculus vut, et montes in in urna, vut scelerisque tincidunt. Ac platea scelerisque pellentesque! A lectus nisi mattis.

                            <nav>
                                <ul class="pagination pagination-xs">
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {

        });
    </script>
{% endblock %}