{% extends 'user.base' %}
{% block title %}Moje konto{{ parent() }}{% endblock %}

{% block content %}
    <h2>Start</h2>

    <div id="box-start" class="card card-default">
        <div class="card-body">

            <div class="media">
                <div class="media-left hidden-xs">

                    <div class="img-placeholder img-thumbnail" style="{{ user('photo').filename ? 'display: none' }}">
                        <img src="{{ cdn('img/avatar.png') }}">
                    </div>

                    <div class="img-container img-thumbnail" style="{{ not user('photo').filename ? 'display: none' }}">
                        <img src="{{ user_photo(user('photo')) }}">

                        <a href="{{ route('user.photo.delete') }}" id="btn-delete-photo">
                            <i class="fas fa-times fa-2x"></i>
                        </a>
                    </div>

                    <a id="btn-change-photo" href="{{ route('user.photo.upload') }}" class="btn btn-sm btn-upload"><i class="fas fa-upload"></i> Zmień</a>
                </div>

                <div class="media-body">
                    <div class="col-sm-11" style="padding-left: 20px">
                        <ul class="metadata list-inline">
                            <li class="list-inline-item" title="Ostatnia wizyta">
                                <i class="fas fa-sign-in-alt fa-fw"></i>
                                {{ user('visited_at')|format_date }}
                            </li>
                            <li class="list-inline-item" title="Twoje aktualne IP">
                                <i class="fas fa-home fa-fw"></i>
                                {{ ip }}
                            </li>
                            <li class="list-inline-item" title="Data rejestracji">
                                <i class="fas fa-user-plus fa-fw"></i>
                                {{ user('created_at')|format_date }}
                            </li>
                            <li class="list-inline-item" title="Liczba wizyt">
                                <i class="far fa-eye fa-fw"></i>
                                {{ user('visits')|number_format(0, ',', ' ') }}
                            </li>
                        </ul>

                        <div class="box-reputation">
                            <h5><i class="fas fa-chart-line"></i> Twoja reputacja</h5>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;">

                                </div>

                                <span class="rep"><strong>{{ user('reputation')|number_format(0, '', ' ') }}</strong> <small>punktów</small></span>

                                {% if total_users > 0 %}
                                    <span class="rank" title="Miejsce w rankingu"><strong>#{{ rank.rank }}</strong> <small>/ {{ total_users }}</small></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <h2 class="hidden-xs">Aktywne sesje</h2>#}

{#    <div id="box-sessions" class="card card-default hidden-xs">#}
{#        {% for session in sessions %}#}
{#            <div class="row">#}
{#                <div class="col-xs-5">#}
{#                    <i class="fas fa-user"></i>#}
{#                    {{ session.ip }}#}
{#                </div>#}
{#                <div class="col-xs-4">#}
{#                    <i class="far fa-clock"></i>#}
{#                    {{ session.updated_at|format_date }}#}
{#                </div>#}
{#                <div class="col-xs-3">#}
{#                    <i class="fab fa-{{ session.agent.browser|lower }}"></i>#}
{#                    {{ session.agent.browser }}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

    {#<h2>Komunikaty</h2>#}

    {#<div id="box-infobox" class="card card-default">#}
        {#<div class="card-body">#}
            {#Augue? Odio a rhoncus elit elementum sit tristique aliquet rhoncus in? Elementum urna. Dis tincidunt cum elit elementum nec. Porta proin dapibus dignissim pulvinar porta pulvinar! Mid purus habitasse cras platea in, auctor, cursus, amet natoque! Nascetur hac phasellus, elementum lorem, in. Enim pid, vut, elit! Risus elementum, habitasse enim mid? Ut purus elementum, tristique urna enim in dapibus rhoncus rhoncus vel dolor sociis mus enim, lectus ut. Diam rhoncus duis pulvinar? Ac quis ut velit. Non placerat? Habitasse porttitor, enim purus! Eros lectus rhoncus tempor dictumst, eros, pellentesque ut et dictumst ridiculus! In urna pellentesque aliquam, aenean, mauris vut ultrices adipiscing, ridiculus vut, et montes in in urna, vut scelerisque tincidunt. Ac platea scelerisque pellentesque! A lectus nisi mattis.#}

            {#<nav>#}
                {#<ul class="pagination pagination-xs">#}
                    {#<li class="disabled">#}
                        {#<a href="#" aria-label="Previous">#}
                            {#<span aria-hidden="true">&laquo;</span>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="active"><a href="#">1</a></li>#}
                    {#<li><a href="#">2</a></li>#}
                    {#<li><a href="#">3</a></li>#}
                    {#<li><a href="#">4</a></li>#}
                    {#<li><a href="#">5</a></li>#}
                    {#<li>#}
                        {#<a href="#" aria-label="Next">#}
                            {#<span aria-hidden="true">&raquo;</span>#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</nav>#}
        {#</div>#}
    {#</div>#}

{% endblock %}
