{% extends 'user.base' %}
{% block title %}Moje konto{{ parent() }}{% endblock %}

{% import 'components.modals' as modal %}

{% block content %}
    <h2>Start</h2>

    <div id="box-start" class="panel panel-default">
        <div class="panel-body">

            <div class="media">
                <div class="media-left hidden-xs">
                    <div id="photo" class="img-thumbnail">
                        <img src="{{ user_photo(user('photo')) }}">

                        {% if user('photo') %}
                            <a href="{{ route('user.photo.delete') }}" id="btn-delete-photo">
                                <i class="fa fa-remove fa-2x"></i>
                            </a>
                        {% endif %}
                    </div>

                    <a id="upload" href="javascript:" class="btn btn-xs btn-upload"><i class="fa fa-upload"></i> Zmień</a>
                </div>

                <div class="media-body">
                    <form id="upload-form" action="{{ route('user.photo.upload') }}">
                        <input type="file" id="input-file" name="photo" style="visibility: hidden; height: 0">
                    </form>

                    <div class="col-sm-11" style="padding-left: 20px">
                        <ul class="metadata list-inline">
                            <li title="Ostatnia wizyta">
                                <i class="fa fa-sign-in fa-fw"></i>
                                {{ user('visited_at')|format_date }}
                            </li>
                            <li title="Twoje aktualne IP">
                                <i class="fa fa-home fa-fw"></i>
                                {{ ip }}
                            </li>
                            <li title="Data rejestracji">
                                <i class="fa fa-user-plus fa-fw"></i>
                                {{ user('created_at')|format_date }}
                            </li>
                            <li title="Ilość wizyt">
                                <i class="fa fa-eye fa-fw"></i>
                                {{ user('visits')|number_format(0, ',', ' ') }}
                            </li>
                        </ul>

                        <div class="box-reputation">
                            <h5><i class="fa fa-line-chart"></i> Twoja reputacja</h5>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ rank.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rank.percentage }}%;">

                                </div>

                                <span class="rep"><strong>{{ user('reputation')|number_format(0, '', ' ') }}</strong> <small>punktów</small></span>

                                {% if total_users > 0 %}
                                    <span class="rank" title="Miejsce w rankingu"><strong>#{{ rank.rank }}</strong> <small>/ {{ total_users }}</small></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="hidden-xs">Aktywne sesje</h2>

    <div id="box-sessions" class="panel panel-default hidden-xs">
        {% for session in sessions %}
            <div class="row">
                <div class="col-xs-5">
                    <i class="fa fa-user"></i>
                    {{ session.ip }}
                </div>
                <div class="col-xs-4">
                    <i class="fa fa-clock-o"></i>
                    {{ session.updated_at|format_date }}
                </div>
                <div class="col-xs-3">
                    <i class="fa fa-{{ session.browser|lower }}"></i>
                    {{ session.browser }}
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Komunikaty</h2>

    <div id="box-infobox" class="panel panel-default">
        <div class="panel-body">
            Augue? Odio a rhoncus elit elementum sit tristique aliquet rhoncus in? Elementum urna. Dis tincidunt cum elit elementum nec. Porta proin dapibus dignissim pulvinar porta pulvinar! Mid purus habitasse cras platea in, auctor, cursus, amet natoque! Nascetur hac phasellus, elementum lorem, in. Enim pid, vut, elit! Risus elementum, habitasse enim mid? Ut purus elementum, tristique urna enim in dapibus rhoncus rhoncus vel dolor sociis mus enim, lectus ut. Diam rhoncus duis pulvinar? Ac quis ut velit. Non placerat? Habitasse porttitor, enim purus! Eros lectus rhoncus tempor dictumst, eros, pellentesque ut et dictumst ridiculus! In urna pellentesque aliquam, aenean, mauris vut ultrices adipiscing, ridiculus vut, et montes in in urna, vut scelerisque tincidunt. Ac platea scelerisque pellentesque! A lectus nisi mattis.

            <nav>
                <ul class="pagination pagination-xs">
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    {{ modal.alert('Uups. Coś poszło nie tak w trakcie dodawania fotografii.') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#upload').click(function() {
                $('#input-file').click();
            });

            $('#input-file').change(function() {
                var file = this.files[0];

                if (file.type !== 'image/png' && file.type !== 'image/jpg' && file.type !== 'image/gif' && file.type !== 'image/jpeg') {
                    $('#alert').modal('show');
                    $('.modal-body').text('Format pliku jest nieprawidłowy. Załącznik musi być zdjęciem JPG, PNG lub GIF');
                }
                else {
                    var $form = $('#upload-form');
                    var formData = new FormData($form[0]);
                    var uploadIcon = $('#upload i');

                    $.ajax({
                        url: $form.attr('action'),
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            uploadIcon.removeClass('fa-upload').addClass('fa-spinner fa-spin');
                        },
                        success: function (data) {
                            $('#photo img, .avatar img').attr('src', data.url);
                            var deleteUrl = '{{ route('user.photo.delete') }}';

                            if (!$('#btn-delete-photo').length) {
                                $('<a href="' + deleteUrl + '" id="btn-delete-photo"><i class="fa fa-remove fa-2x"></i></a>').appendTo('#photo');
                            }
                        },
                        complete: function() {
                            uploadIcon.removeClass('fa-spinner fa-spin').addClass('fa-upload');
                        },
                        error: function (err) {
                            $('#alert').modal('show');

                            if (typeof err.responseJSON !== 'undefined') {
                                $('.modal-body').text(err.responseJSON.photo[0]);
                            }
                        }
                    }, 'json');
                }
            });

            $('#btn-delete-photo').on('click', function() {
                $.post($(this).attr('href'), function() {
                    $('#photo img, .avatar img').attr('src', '{{ cdn('img/avatar.png') }}');
                    $('#btn-delete-photo').remove();
                });

                return false;
            });
        });
    </script>
{% endblock %}