{% extends 'user.base' %}
{% block title %}Zmiana hasła {{ parent() }}{% endblock %}

{% import 'legacyComponents.forms' as forms %}

{% block content %}
  <h2>Zmiana hasła</h2>
  <div id="box-start" class="card">
    <div class="card-body">
      {{ form_open({'method': 'POST', 'role': 'form', 'url': route('user.password')}) }}
      {{ forms.password('password_old', 'Obecne hasło', '', {}, 'Ze względów bezpieczeństwa, zmiana hasła wymaga podania aktualnego.') }}
      {{ forms.password('password', 'Nowe hasło', '', {}, 'Hasło musi mieć min. 3 znaki długości.') }}
      {{ forms.password('password_confirmation', 'Powtórz hasło', '') }}
      {{ forms.submit('Zapisz', 'Zapisywanie...') }}
      {{ form_close() }}
    </div>
  </div>
{% endblock %}
