{% extends 'layout.twig' %}
{% block title %}Zmiana hasła {{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    {{ include('user/_top', {active: 'settings'}) }}

    <div class="row">
        {% include 'user/_settings-menu' %}

        <main class="col-md-10">
            <section class="panel panel-wrapper">
                <div class="panel-body">
                    <h2>Zmiana hasła</h2>

                    <div id="box-start" class="panel panel-default">
                        <div class="panel-body">
                            {{ form_open({'method': 'POST', 'role': 'form', 'url': route('user.password'), 'class': 'form-horizontal'}) }}

                            {{ forms.password('password', 'Hasło', '', errors.first('password'), {}, 'Hasło musi mieć min. 3 znaki długości') }}
                            {{ forms.password('password_confirmation', 'Hasło (powtórnie)', '', errors.first('password_confirmation'), {}, 'Jeżeli chcesz zmienić adres e-mail, na nową skrzynkę zostanie wygenerowany klucz aktywacyjny') }}
                            {{ forms.password('password_old', 'Hasło (obecne)', '', errors.first('password_old'), {}, 'Ze wzgledów bezpieczeństwa, zmiana hasła wymiana podania starego') }}

                            {{ forms.submit('Zapisz') }}
                            {{ form_close() }}
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {

        });
    </script>
{% endblock %}