{% extends 'user.base' %}
{% block title %}Zmiana hasła {{ parent() }}{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
    <h2>Zmiana hasła</h2>

    <div id="box-start" class="card card-default">
        <div class="card-body">
            {{ form_open({'method': 'POST', 'role': 'form', 'url': route('user.password'), 'class': 'form-horizontal'}) }}

            {{ forms.password('password_old', 'Obecne (stare) hasło', '', {}, 'Ze wzgledów bezpieczeństwa, zmiana hasła wymiana podania starego') }}
            {{ forms.password('password', 'Nowe hasło', '', {}, 'Hasło musi mieć min. 3 znaki długości') }}
            {{ forms.password('password_confirmation', 'Nowe hasło (powtórnie)', '') }}

            {{ forms.submit('Zapisz', 'Zapisywanie...') }}
            {{ form_close() }}
        </div>
    </div>
{% endblock %}
