{% extends 'layout.twig' %}
{% block title %}Ustawienia :: {{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    {{ include('user/top', {active: 'settings'}) }}

    <div class="row">
        {% include 'user/settings-menu' %}

        <main class="col-md-10">
            {% if errors.any %}
            <div class="alert alert-danger">
                Formularz zawiera błędy. Sprawdź poprawność wprowadzonych danych i spróbuj ponownie.
            </div>
            {% endif %}

            <section class="panel panel-wrapper">
                <div class="panel-body">
                    <h2>Podstawowa konfiguracja</h2>

                    <div id="box-start" class="panel panel-default">
                        <div class="panel-body">
                            {{ form_open({'method': 'POST', 'role': 'form', 'url': route('user.settings'), 'class': 'form-horizontal'}) }}

                            {{ forms.text('email', 'E-mail', user_input('email'), errors.first('email'), {}, 'Jeżeli chcesz zmienić adres e-mail, na nową skrzynkę zostanie wygenerowany klucz aktywacyjny') }}

                            {% if groupList|length > 1 %}
                            {{ forms.select('group_id', 'Domyślna grupa', groupList, user_input('group_id'), errors.first('group_id'), {}, 'Nazwa grupy będzie wyświetlana pod avatarem, np. na forum') }}
                            {% endif %}

                            {{ forms.select('date_format', 'Format daty', formatList, user_input('date_format')) }}
                            {{ forms.text('website', 'Strona domowa', user_input('website'), errors.first('website'), {}, 'Strona domowa, portfolio itp (Potrzebujesz min. 50 punktów reputacji aby skorzystać z tej opcji)') }}
                            {{ forms.text('location', 'Miejsce zamieszkania', user_input('location'), errors.first('location')) }}
                            {{ forms.textarea('bio', 'O sobie', user_input('bio'), errors.first('bio'), 3, {}, 'W tym polu możesz zamieścić krótką informację o sobie, czym się zajmujesz, co cię interesuje') }}
                            {{ forms.select('birthyear', 'Rok urodzenia', yearList, user_input('birthyear'), errors.first('birthyear'), {}, 'Na podstawie roku urodzenia, w Twoim profilu będzie widoczny Twój wiek') }}

                            {{ forms.checkbox('allow_count', 'Pokazuj licznik postów', 1, user_input('allow_count')) }}
                            {{ forms.checkbox('allow_smilies', 'Pokazuj emotikony w poście', 1, user_input('allow_smilies')) }}
                            {{ forms.checkbox('allow_subscribe', 'Automatycznie obserwuj wątki, w których biorę udział', 1, user_input('allow_subscribe')) }}
                            {{ forms.checkbox('allow_sig', 'Wyświetlaj sygnaturki użytkowników', 1, user_input('allow_sig')) }}
                            {{ forms.textarea('sig', 'Sygnatura', user_input('sig'), errors.first('sig'), 3, {}, 'Podpis będzie widoczny przy każdym Twoim poście. Uwaga! Użytkownicy posiadający mniej niż 50 punktów reputacji nie mogą umieszczać linków w tym polu') }}

                            {{ forms.submit('Zapisz', 'Zapisywanie...') }}
                            {{ form_close() }}
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if actEmail %}
        <script type="text/javascript" src="/js/popover.js"></script>

        <script type="text/javascript">
            $(function () {
                $('input[name="email"]').popover({content: "Na adres {{ actEmail }} wysłaliśmy link umożliwiający zmianę adresu e-mail", placement: "top"}).popover('show');
            });
        </script>
    {% endif %}
{% endblock %}