{% extends 'user.base' %}
{% block title %}Ustawienia{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block wrapper %}
    {{ form_start(form) }}
        <section class="card card-wrapper">
            <div class="card-body">
                <h2>Podstawowa konfiguracja</h2>

                <ul class="nav nav-card">
                    <li role="presentation" class="active"><a href="#basic" data-toggle="tab" role="tab">Podstawowe informacje</a></li>
                    <li role="presentation"><a href="#carieer" data-toggle="tab" role="tab">Kariera</a></li>
                    <li role="presentation"><a href="#forum" data-toggle="tab" role="tab">Forum</a></li>
                </ul>

                <div class="card card-default tab-content">
                    <div class="card-body tab-pane active" role="tabpanel" id="basic">
                        {{ form_row(form.email) }}
                        {{ form_row(form.group_id) }}
                        {{ form_row(form.date_format) }}
                        {{ form_row(form.website) }}
                        {{ form_row(form.allow_smilies) }}
                        {{ form_row(form.allow_subscribe) }}
                        {{ form_row(form.allow_sticky_header) }}
                        {{ form_row(form.submit) }}
                    </div>

                    <div class="card-body tab-pane" role="tabpanel" id="carieer">
                        {{ form_row(form.firm) }}
                        {{ form_row(form.position) }}
                        {{ form_row(form.github) }}
                        {{ form_row(form.bio) }}
                        {{ form_row(form.birthyear) }}
                        {{ form_row(form.location) }}
                        {{ form_row(form.submit) }}
                    </div>

                    <div class="card-body tab-pane" role="tabpanel" id="forum">
                        {{ form_row(form.allow_count) }}
                        {{ form_row(form.allow_sig) }}
                        {{ form_row(form.sig) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        </section>
    {{ form_close() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if email %}
        <div class="alert alert-warning alert-popover bottom" data-id="change-email" data-containment="input[name=email]">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Kliknij, aby zamknąć"><span aria-hidden="true">&times;</span></button>
            Na adres {{ email }} wysłaliśmy link umożliwiający zmianę adresu e-mail.
        </div>
    {% endif %}
{% endblock %}
