<tr>
    <td>
        {% if attachment.file|split('.')[1] in ['jpg', 'jpeg', 'gif', 'png'] %}
            <a href="javascript:" class="btn-append" data-url="{{ cdn('storage/forum/' ~ attachment.file) }}">{{ attachment.name }}</a>
        {% else %}
            {{ attachment.name }}
        {% endif %}
    </td>
    <td>{{ attachment.mime }}</td>
    <td>{{ attachment.created_at|format_date }}</td>
    <td>{{ (attachment.size / 1024)|round(2) }} kB</td>
    <td>
        <button type="button" title="Usuń załącznik" class="btn btn-default btn-xs btn-del">
            <i class="fa fa-remove"></i>
        </button>

        <input type="hidden" name="attachments[]" value="{{ attachment.file }}">
    </td>
</tr>