{% extends 'layout.twig' %}
{% set search_url = route('forum.search') %}
{% set search_placeholder = 'Szukaj na forum...' %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ cdn('css/forum.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="{{ cdn('js/forum.js') }}" type="text/javascript"></script>
{% endblock %}

{% block container %}
    <div id="index" class="{{ sidebar ? 'sidebar' }}">
        {% block content %}{% endblock %}
    </div>
{% endblock %}