{% extends 'layout.twig' %}
{% block title %}Forum dyskusyjne{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}

    <div id="index" class="sidebar">
        <h1>{{ forum.title|default(forum.name) }}</h1>

        <nav>
            {{ topics.render()|raw }}
        </nav>

        {% include "forum/_top.twig" %}

        <main id="mainbar">

            <section class="panel panel-wrapper">
                <div class="panel-body">
                    <div id="box-topics" class="box-forum">
                        <ul id="sort" class="hidden-xs">
                            <li>{{ sortable('last', 'Ostatni post', ['last', 'desc']) }}</li>
                            <li>{{ sortable('id', 'Data utworzenia', ['last', 'desc']) }}</li>
                            <li>{{ sortable('replies', 'Odpowiedzi', ['last', 'desc']) }}</li>
                            <li>{{ sortable('views', 'Wyświetleń', ['last', 'desc']) }}</li>
                            <li>{{ sortable('score', 'Głosów', ['last', 'desc']) }}</li>
                            <li class="filter"><a href="javascript:">Filtruj</a></li>
                        </ul>

                        {% if not forum.is_locked %}
                            <a href="{{ route('forum.topic.submit', [forum.path]) }}" class="btn btn-primary btn-sm pull-right">Nowy wątek</a>
                        {% endif %}
                        <div class="clearfix"></div>

                        <table>
                            {% set previous = null %}
                            {% for topic in topics %}
                                {% set url = route('forum.topic', [topic.forum_path, topic.id, topic.path]) %}

                                {% if not topic.is_sticky and previous.is_sticky  %}
                                <tr>
                                    <td colspan="4" class="sticky"></td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="col-topic-icon">
                                        {% set class = '' %}
                                        {% set title = topic.unread ? 'Kliknij, aby oznaczyć jako przeczytane' %}

                                        {% if topic.is_locked %}
                                        {% set class = 'lock' %}
                                        {% elseif topic.is_sticky %}
                                        {% set class = 'sticky' %}
                                        {% elseif topic.is_announcement %}
                                        {% set class = 'announcement' %}
                                        {% endif %}

                                        <span title="{{ title }}" class="center-block ico {{ class }} {{ topic.unread ? 'new' : 'normal' }}"></span>
                                    </td>
                                    <td class="col-subject">
                                        {% if topic.replies > 10 %}
                                            {% set pages = (topic.replies / 10)|round(0, 'floor') + 1 %}
                                            <dl class="topic-pagination hidden-xs">
                                                <dd>
                                                    <a href="{{ url }}?page=1">1</a>

                                                    {% if pages > 3 %}
                                                    ...
                                                    {% endif %}

                                                    {% for i in max(2, pages - 3)..pages %}
                                                    <a href="{{ url }}?page={{ i }}">{{ i }}</a>
                                                    {% endfor %}
                                                </dd>
                                            </dl>
                                        {% endif %}

                                        <a rel="nofollow" title="Przejdź do pierwszego nieczytanego postu" class="btn-view {{ topic.unread ? 'unread' }}" href="{{ url }}?view=unread"></a>

                                        <h5>
                                            <a title="{{ topic.subject }}" href="{{ url }}">{{ topic.subject }}</a>
                                        </h5>

                                        {% if topic.tags %}
                                        <ul class="tag-clouds pull-right hidden-sm hidden-xs">
                                            {% for tag in topic.tags %}
                                                <li><a href="{{ route('forum.tag', [tag.name]) }}">{{ tag.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}

                                        <strong>
                                            <span class="timestamp" data-timestamp="{{ topic.first_created_at|timestamp }}" title="{{ topic.first_created_at|format_date }}">{{ topic.first_created_at|format_date }}</span>

                                            {% if topic.author_id %}
                                                {{ link_to_profile(topic.author_id, topic.author_name, topic.author_is_active, topic.author_is_blocked) }}
                                            {% else %}
                                                {{ topic.first_user_name }}
                                            {% endif %}
                                        </strong>
                                    </td>
                                    <td class="col-views hidden-xs">
                                        <p title="Ilość odpowiedzi">
                                            <strong>{{ topic.replies }}</strong>

                                            {% if topic.replies != topic.replies_real and can('delete', forum) %}
                                                <small class="col-replies-real">({{ topic.replies - topic.replies_real }})</small>
                                            {% endif %}
                                            <small>odpowiedzi</small>
                                        </p>
                                        <p title="Ilość wyświetleń"><strong>{{ topic.views }}</strong> <small>wyświetleń</small></p>
                                    </td>
                                    <td class="col-last-post hidden-xs">
                                        <a href="javascript:" class="btn-watch-sm"></a>

                                        {% if topic.poster_id %}
                                            <a href="{{ route('profile', [topic.poster_id]) }}" class="hidden-sm hidden-xs">
                                                <img class="img-thumbnail" src="{{ user_photo(topic.poster_photo) }}" width="35" height="35">
                                            </a>
                                        {% else %}
                                            <img class="img-thumbnail" src="{{ asset('img/avatar.png') }}" width="35" height="35">
                                        {% endif %}

                                        <span class="timestamp" data-timestamp="{{ topic.last_created_at|timestamp }}" title="{{ topic.last_created_at|format_date(false) }}">{{ topic.last_created_at|format_date }}</span><br>

                                        {% if topic.poster_id %}
                                            {{ link_to_profile(topic.poster_id, topic.poster_name, topic.poster_is_active, topic.poster_is_blocked) }}
                                        {% else %}
                                            {{ topic.last_user_name }}
                                        {% endif %}
                                    </td>
                                </tr>

                                {% set previous = topic %}
                            {% endfor %}

                            {#<tr>#}
                                {#<td class="col-topic-icon">#}
                                    {#<img class="center-block" src="/img/topic-new.png">#}
                                {#</td>#}
                                {#<td class="col-subject">#}
                                    {#<dl class="topic-pagination hidden-xs">#}
                                        {#<dd>#}
                                            {#<a href="#">1</a> ...#}
                                            {#<a href="#">4</a>#}
                                            {#<a href="#">5</a>#}
                                            {#<a href="#">6</a>#}
                                        {#</dd>#}
                                    {#</dl>#}

                                    {#<a rel="nofollow" title="Przejdź do pierwszego nieczytanego postu" class="btn-view unread" href="/Forum/Python/Test?view=unread"></a>#}

                                    {#<h5>#}
                                        {#<a title="Jaką kawę pijecie? Co wam to daje? Dlaczego pijecie?" href="/Forum/Python/Test">Jaką kawę pijecie? Co wam to daje? Dlaczego pijecie?</a>#}
                                    {#</h5>#}

                                    {#<ul class="tag-clouds pull-right hidden-sm hidden-xs">#}
                                        {#<li><a href="#">kawa</a></li>#}
                                    {#</ul>#}
                                    {#<strong>#}
                                        {#<span class="timestamp" data-timestamp="1444559981" title="04 styczeń 2015, 19:55">04 styczeń 2015, 19:55</span>#}
                                        {#Wielki Kaczor#}
                                    {#</strong>#}
                                {#</td>#}
                                {#<td class="col-views hidden-xs">#}
                                    {#<p title="Ilość odpowiedzi"><strong>4</strong> <small>odpowiedzi</small></p>#}
                                    {#<p title="Ilość wyświetleń"><strong>196</strong> <small>wyświetleń</small></p>#}
                                {#</td>#}
                                {#<td class="col-last-post hidden-xs">#}
                                    {#<a href="javascript:" class="btn-watch-sm"></a>#}

                                    {#<a href="#" class="hidden-sm hidden-xs">#}
                                        {#<img class="img-thumbnail" src="/img/shalom.png" width="35" height="35">#}
                                    {#</a>#}

                                    {#<span class="timestamp" data-timestamp="1444572566" title="04 styczeń 2015, 19:55">04 styczeń 2015, 19:55</span><br>#}
                                    {#<a data-user-id="62278" href="#">Shalom</a>#}
                                {#</td>#}
                            {#</tr>#}

                            <tr>
                                <td colspan="4" class="col-footer-nav">
                                    <nav class="pull-left">
                                        {{ topics.render()|raw }}
                                    </nav>

                                    <a class="btn pull-right" href="#">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>

                                    {{ form_select('forum', forumList, forum.path, {'class': 'pull-right'}) }}
                                </td>
                            </tr>
                        </table>
                    </div>

                    {% if topics.count() > 10 %}
                        <a href="{{ route('forum.topic.submit', [forum.path]) }}" class="btn btn-primary btn-sm pull-right">Nowy wątek</a>
                    {% endif %}
                </div>
            </section>

            {{ viewers|raw }}
        </main>

        <aside id="sidebar">
            <div id="box-count" class="box">
                <strong>{{ topics.total() }}</strong>
                <span>{{ declination(topics.total(), ['wątek', 'wątki', 'wątków'], true) }}</span>
            </div>

            <div class="box">
                <ul class="side-menu">
                    <li class="btn-mark-read">
                        <a title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">Oznacz jako przeczytane</a>
                    </li>
                    <li class="btn-atom">
                        <a href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                    </li>
                </ul>
            </div>

            {% include "forum/sidebar.twig" %}
        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/forum.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="/js/forum.js" type="text/javascript"></script>
{% endblock %}