{% extends 'forum.base' %}
{% block title %}{{ forum.title|default(forum.name) }} :: Forum {{ parent() }}{% endblock %}
{% block description %}{{ excerpt(forum.description, 150) }}{% endblock %}
{% block keywords %}{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
  <h1>{{ link_to_route('forum.category', forum.title|default(forum.name), [forum.slug]) }}</h1>

  <nav>
    {{ topics.render()|raw }}
  </nav>

  {% include "forum.partials.top" %}

  <main id="js-forum" class="mainbar">
    <vue-section
      v-for="(section, index) in sections"
      :key="index"
      :name="section.name"
      :order="section.order"
      :categories="section.categories"
    ></vue-section>

    {% include 'forum.partials.topics' %}

    <section class="row">
      <div class="col-12">
        <div class="float-right">
          {% include 'forum.partials.per_page' with {label: 'Liczba wątków na stronę', perPage: topics.perPage()} %}
        </div>
      </div>
    </section>

    {{ viewers|raw }}
  </main>

  {% embed "forum.partials.sidebar.twig" %}
    {% block side_menu %}
      {% include 'forum.partials.post_count' %}

      <div class="box">
        <ul class="side-menu">
          <li class="btn-mark-read">
            <a title="Oznacz kategorie jako przeczytane" href="{{ route('forum.category.mark', [forum.slug]) }}" data-category="forum-sidebar-buttons">
              <i class="far fa-check-square fa-fw"></i> Oznacz jako przeczytane
            </a>
          </li>
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block body %}
  <script>
    var forums = {{ forums|json_encode|raw }};
    var topics = {{ topics|json_encode|raw }};
  </script>

  {{ parent() }}
{% endblock %}
