{% extends 'forum.base' %}
{% block title %}{{ forum.title|default(forum.name) }} :: Forum {{ parent() }}{% endblock %}
{% block description %}{{ excerpt(forum.description, 150) }}{% endblock %}
{% block keywords %}{% endblock %}

{% import 'components.forms' as forms %}

{% import 'components.meta' as meta %}
{% block meta_robots %}
  {{ meta.robots('index, follow') }}
  {{ parent() }}
{% endblock %}

{% block content %}
  <h1>{{ link_to_route('forum.category', forum.title|default(forum.name), [forum.slug]) }}</h1>

  <nav>
    {{ topics.render()|raw }}
  </nav>

  {% include "forum.partials.top" %}

  <main id="js-forum" class="mainbar">
    <vue-section
      v-for="(section, index) in sections"
      :key="index"
      :name="section.name"
      :order="section.order"
      :categories="section.categories"
    ></vue-section>

    {% include 'forum.partials.topics' %}

    <section class="row no-gutters mt-3">
      {% include 'forum.partials.per_page' with {label: 'Liczba wątków na stronę', perPage: topics.perPage()} %}
    </section>

    {{ viewers|raw }}
  </main>

  {% embed "forum.partials.sidebar.twig" %}
    {% block side_menu %}
      {% include 'forum.partials.post_count' %}

      <ul id="js-sidebar" class="side-menu">
        <li>
          <a @click="markTopics" title="Oznacz kategorie jako przeczytane">
            <i class="far fa-eye fa-fw"></i> Oznacz jako przeczytane
          </a>
        </li>
      </ul>
    {% endblock %}
  {% endembed %}

  <script>
    var forums = {{ forums|json_encode|raw }};
    var topics = {{ topics|json_encode|raw }};
    var postsPerPage = {{ postsPerPage }};
    var flags = {{ flags|json_encode|raw }};
    var groupStickyTopics = true;
    var tags = {{ tags.user|json_encode|raw }};
  </script>
{% endblock %}
