{% extends 'forum/base.twig' %}
{% block title %}{{ forum.title|default(forum.name) }} :: Forum {{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}

    <div id="index" class="sidebar">
        <h1>{{ link_to_route('forum.category', forum.title|default(forum.name), [forum.path]) }}</h1>

        <nav>
            {{ topics.render()|raw }}
        </nav>

        {% include "forum/top.twig" %}

        <main id="mainbar">
            {% for name, forums in sections %}
                {% include 'forum/section.twig' %}
            {% endfor %}

            {% include 'forum/topics.twig' %}

            <section class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        Ilość wątków na stronę
                        <span class="form-inline">
                            <select name="perPage" class="form-control input-sm" data-url="{{ url(request().path()) }}">
                                {% for i in 1..5 %}
                                    <option value="{{ i * 10 }}" {{ topics.perPage() == i * 10 ? 'selected="selected"' }}>{{ i * 10 }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>
            </section>

            {{ viewers|raw }}
        </main>

        {% embed "forum/sidebar.twig" %}
            {% block side_menu %}
                <div class="box">
                    <ul class="side-menu">
                        <li class="btn-mark-read">
                            <a title="Oznacz kategorie jako przeczytane" href="{{ route('forum.category.mark', [forum.path]) }}" data-category="forum-sidebar-buttons">Oznacz jako przeczytane</a>
                        </li>
                        <li class="btn-atom">
                            <a href="#" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}