{% extends 'forum.base' %}
{% block title %}{{ forum.title|default(forum.name) }} :: Forum {{ parent() }}{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
    <h1>{{ link_to_route('forum.category', forum.title|default(forum.name), [forum.slug]) }}</h1>

    <nav>
        {{ topics.render()|raw }}
    </nav>

    {% include "forum.partials.top" %}

    <main id="mainbar">
        {% for name, forums in sections %}
            {% include 'forum.partials.section' %}
        {% endfor %}

        {% include 'forum.partials.topics.twig' %}

        <section class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    Ilość wątków na stronę
                    {% include 'forum.partials.per_page' with {perPage: topics.perPage()} %}
                </div>
            </div>
        </section>

        {{ viewers|raw }}
    </main>

    {% embed "forum.partials.sidebar.twig" %}
        {% block side_menu %}
            <div class="box">
                <ul class="side-menu">
                    <li class="btn-mark-read">
                        <a title="Oznacz kategorie jako przeczytane" href="{{ route('forum.category.mark', [forum.slug]) }}" data-category="forum-sidebar-buttons">Oznacz jako przeczytane</a>
                    </li>
                    {#<li class="btn-atom">#}
                        {#<a href="#" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>#}
                    {#</li>#}
                </ul>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}