{% extends 'forum/base.twig' %}
{% block title %}{{ forum.title|default(forum.name) }} :: Forum {{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}

    <div id="index" class="sidebar">
        <h1>{{ link_to_route('forum.category', forum.title|default(forum.name), [forum.path]) }}</h1>

        <nav>
            {{ topics.render()|raw }}
        </nav>

        {% include "forum/top.twig" %}

        <main id="mainbar">
            {% for name, forums in sections %}
                {% include 'forum/section.twig' %}
            {% endfor %}

            {% include 'forum/topics.twig' %}

            {{ viewers|raw }}
        </main>

        <aside id="sidebar">
            <div id="box-count" class="box">
                <strong>{{ topics.total() }}</strong>
                <span>{{ declination(topics.total(), ['wątek', 'wątki', 'wątków'], true) }}</span>
            </div>

            <div class="box">
                <ul class="side-menu">
                    {% if auth_check() %}
                        <li class="btn-mark-read">
                            <a title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">Oznacz jako przeczytane</a>
                        </li>
                    {% endif %}
                    <li class="btn-atom">
                        <a href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                    </li>
                </ul>
            </div>

            {% include "forum/sidebar.twig" %}
        </aside>
    </div>
{% endblock %}