{% extends 'forum.base' %}
{% block title %}
  {{ title ? title ~ ' :: ' }}Forum dyskusyjne dla programistów{{ parent() }}
{% endblock %}
{% block description %}Ponad pół miliona postów na forum. Programowanie w językach C/C++, Java, C#, Delphi, PHP, a także na temat projektowania stron WWW. Wspieramy początkujących w nauce programowania.{% endblock %}
{% block keywords %}C/C++, C#, Delphi, PHP, WWW, webdesign, webmaster, SQL, .NET, PHP, MySQL, Oracle, PostgreSQL, algorytmy, programowanie{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
  <ul class="nav nav-tabs">
    {% for item in tabs.roots() %}
      <li {{ forms.attr(item.attr) }}>
        <a href="{{ item.url }}">{{ item.title|raw }}</a>
      </li>
    {% endfor %}
  </ul>

  {% include "forum.partials.top" %}

  <main id="page-forum" class="mainbar margin-sm-top">
    {% block mainbar %}
      <vue-section
        v-for="(section, index) in sections"
        :key="index"
        :name="section.name"
        :order="section.order"
        :categories="section.categories"
        @order="setOrder"
      ></vue-section>
    {% endblock %}

    {{ viewers|raw }}
  </main>

  {% embed 'forum.partials.sidebar' %}
    {% block side_menu %}
      {% include 'forum.partials.post_count' %}

      <div class="box">
        <ul class="side-menu">
          <li class="btn-mark-read">
            <a title="Oznacz kategorie jako przeczytane" href="{{ route('forum.mark') }}" data-category="forum-sidebar-buttons">
              <i class="far fa-check-square fa-fw"></i> Oznacz jako przeczytane
            </a>
          </li>
          <li id="btn-setting">
            <a title="Zmień kolejność wyświetlanych kategorii" href="{{ route('user.forum') }}" data-category="forum-sidebar-buttons" data-value="setting">
              <i class="fas fa-cog fa-fw"></i> Personalizacja forum
            </a>
          </li>
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block body %}


  <script>
    var data = {
      forums: {{ forums|json_encode|raw }}
    }
  </script>

  {{ parent() }}
{% endblock %}
