{% extends 'forum.base' %}
{% block title %}
  {{ title ? title ~ ' :: ' }}Forum dyskusyjne dla programistów{{ parent() }}
{% endblock %}
{% block description %}Ponad pół miliona postów na forum. Programowanie w językach C/C++, Java, C#, Delphi, PHP, a także na temat projektowania stron WWW. Wspieramy początkujących w nauce programowania.{% endblock %}
{% block keywords %}C/C++, C#, Delphi, PHP, WWW, webdesign, webmaster, SQL, .NET, PHP, MySQL, Oracle, PostgreSQL, algorytmy, programowanie{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
  {{ tabs.asUl({'class': 'nav nav-tabs mb-0'})|raw }}

  {% include "forum.partials.top" %}

  <main id="js-forum" class="mainbar">
    {% block mainbar %}
      <vue-section
        v-for="(section, index) in sections"
        :key="index"
        :name="section.name"
        :order="section.order"
        :categories="section.categories"
        :is-collapse="section.isCollapse"
        @collapse="changeCollapse"
      ></vue-section>
    {% endblock %}

    {{ viewers|raw }}
  </main>

  {% embed 'forum.partials.sidebar' %}
    {% block side_menu %}
      {% include 'forum.partials.post_count' %}

      <div id="js-sidebar">
        <ul class="side-menu">
          <li>
            <a @click="markForums" title="Oznacz kategorie jako przeczytane">
              <i class="far fa-check-square fa-fw"></i> Oznacz jako przeczytane
            </a>
          </li>
          <li>
            <a title="Zmień kolejność wyświetlanych kategorii" href="{{ route('user.forum') }}">
              <i class="fas fa-cog fa-fw"></i> Personalizacja forum
            </a>
          </li>
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block body %}
  <script>
    var forums = {{ forums|json_encode|raw }};
    var collapse = {{ collapse|json_encode|raw }};
  </script>

  {{ parent() }}
{% endblock %}
