{% extends 'forum.base' %}
{% block title %}
  {{ title ? title ~ ' :: ' }}Forum dyskusyjne dla programistów{{ parent() }}
{% endblock %}
{% block description %}Ponad pół miliona postów na forum. Programowanie w językach C/C++, Java, C#, Delphi, PHP, a także na temat projektowania stron WWW. Wspieramy początkujących w nauce programowania.{% endblock %}
{% block keywords %}C/C++, C#, Delphi, PHP, WWW, webdesign, webmaster, SQL, .NET, PHP, MySQL, Oracle, PostgreSQL, algorytmy, programowanie{% endblock %}

{% import 'components.forms' as forms %}

{% block content %}
  <ul class="nav nav-tabs">
    {% for item in tabs.roots() %}
      <li {{ forms.attr(item.attr) }}>
        <a href="{{ item.url }}">{{ item.title|raw }}</a>
      </li>
    {% endfor %}
  </ul>

  {% include "forum.partials.top" %}

  <main id="mainbar" class="margin-sm-top">
    <h2 style="margin: 0 0 10px 0; font-size: 14px; color: #646466; padding-left: 5px"><i class="fa fa-caret-down"></i>
      Podstawy programowania</h2>

    <section class="panel panel-default panel-categories">
      {% for i in 1..2 %}
        <div class="panel-body">


          <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-6">
              <i class="fa fa-poll-h fa-2x pull-left visible-lg fa-new"></i>

              <div class="wrap">
                <h3><a href="#">Newbie</a></h3>

                <p class="description hidden-sm hidden-xs hidden-md">
                  Tutaj możesz zadawać pytania o podstawy programowania, nie narażając się, że Twój temat zostanie
                  skasowany z powodu niskiego poziomu merytorycznego.
                </p>
              </div>
            </div>

            <div class="col-lg-2 col-xs-12 col-sm-6 col-lg-stat">
              <div class="row">
                <div class="col-lg-12 col-xs-6 counter">
                  <strong>2 482</strong>
                  <small class="text-muted text-wide-spacing">wątki</small>
                </div>

                <div class="col-lg-12 col-xs-6 counter">
                  <strong>14 348</strong>
                  <small class="text-muted text-wide-spacing">postów</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-xs-12 col-sm-12">
              <div class="media">
                <div class="media-left hidden-xs">
                  <a href="https://4programmers.net/Profile/101450">
                    <img class="media-object img-thumbnail" src="https://4programmers.net/uploads/photo/5d/5d0bd98d38299.png" style="width: 38px; height: 38px;" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <p style="margin-bottom: 2px"><a href="https://4programmers.net/Profile/101450">CoffeBreaker</a> w
                    <a href="https://4programmers.net/Forum/Python/333531-drzewo_bst_z_laczem_do_rodzica_petla?p=1637396#id1637396">Drzewo
                      BST z łączem do rodzica - pętla</a></p>
                  <small class="text-muted">1 minuta temu</small>

                  <div class="pull-right" style="color: #757575; font-size: 13px; border-left: 1px solid #ddd; padding-left: 10px; margin-left: 15px; margin-top: -9px;">
                    <i class="fa fa-check-square-o"></i>
                    <i class="fa fa-heart margin-sm-left"></i>
                    {#                                        <i class="fa fa-caret-up"></i>#}
                    {#                                        <i class="fa fa-caret-down"></i>#}
                  </div>

{#                  <ul class="tag-clouds tag-clouds-md pull-right hidden-lg">#}
{#                    <li>#}
{#                      <a href="https://4programmers.net/Praca/Technologia/c%23" title="Znajdź oferty zawierające c#"><img alt="c#" src="https://4programmers.net/uploads/logo/59/59f9f83fcd1ef.png">#}
{#                        C##}
{#                      </a>#}
{#                    </li>#}

{#                    <li>#}
{#                      <a href="https://4programmers.net/Praca/Technologia/python" title="Znajdź oferty zawierające python"><img alt="python" src="https://4programmers.net/uploads/logo/59/59f9f8605fd1e.png">#}

{#                        Python#}
{#                      </a></li>#}
{#                  </ul>#}


                </div>
              </div>

            </div>
          </div>


        </div>


      {% endfor %}
    </section>


    {% block mainbar %}
      {% for name, forums in sections %}
        {% include 'forum.partials.section' %}
      {% endfor %}
    {% endblock %}

    {{ viewers|raw }}
  </main>

  {% embed 'forum.partials.sidebar' %}
    {% block side_menu %}
      {% include 'forum.partials.post_count' %}

      <div class="box">
        <ul class="side-menu">
          <li class="btn-mark-read">
            <a title="Oznacz kategorie jako przeczytane" href="{{ route('forum.mark') }}" data-category="forum-sidebar-buttons">
              <i class="far fa-check-square fa-fw"></i> Oznacz jako przeczytane
            </a>
          </li>
          <li id="btn-setting">
            <a title="Zmień kolejność wyświetlanych kategorii" href="{{ route('user.forum') }}" data-category="forum-sidebar-buttons" data-value="setting">
              <i class="fas fa-cog fa-fw"></i> Personalizacja forum
            </a>
          </li>
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
