{% extends 'forum.base' %}
{% block title %}Historia edycji posta w {{ topic.title }}{{ parent() }}{% endblock %}
{% import 'components.widgets' as widgets %}
{% set url = route('forum.post.log', [post.id]) %}

{% block container %}
  <h1>
    {{ link_to_route('forum.topic', topic.title, [forum.slug, topic.id, topic.slug]) }}
  </h1>
  <div class="row">
    <div class="col-9">
      <main id="js-log">
        <template v-for="(log, index) in logs">
          <vue-log
            v-if="log.text !== oldStr(logs, index)"
            :log="log"
            :key="log.id"
            :topic-link="topicLink"
            :is-rollback-enabled="index > 0"
            :old-str="oldStr(logs, index)"
          ></vue-log>
        </template>
      </main>
    </div>
  </div>
  <script>
    var logs = {{ logs|json_encode|raw }};
    var topicLink = {{ topicLink|json_encode|raw }};
  </script>
{% endblock %}
