{% extends 'forum.base' %}
{% set declination = ['post', 'posty', 'postów'] %}

{% block title %}
  {% if response %}
    {{ declination(response.total(), declination) }} dla frazy {{ input_get('q') }}
  {% else %}
    Szukaj na forum {{ parent() }}
  {% endif %}
{% endblock %}

{% block content %}
  {% include "forum.partials.top" %}

  <main class="mainbar">
    <div class="row">
      <div id="box-search" class="col-md-7 col-12">
        {{ form_open({'method': 'GET', 'role': 'form', 'url': route('forum.search'), 'class': 'form-inline edge', 'id': 'box-search'}) }}
        <div class="form-group input-keywords col-5">
          {{ form_input('search', 'q', input_get('q'), {'class': 'form-control', 'placeholder': 'Słowa kluczowe'}) }}
        </div>

        <div class="form-group input-category col-5">
          {{ form_select('f', {'': 'Wszystkie kategorie'} + forumList, input_get('f'), {'class': 'form-control ml-1'}) }}
        </div>

        <div class="form-group col-2">
          <button class="ml-1 btn btn-primary btn-search" type="submit">
            <i class="fas fa-search"></i> <span class="d-none d-sm-inline-block">Szukaj</span>
          </button>
        </div>
        {{ form_close() }}
      </div>
    </div>

    {% if response %}
      {{ pagination|raw }}

      <section id="box-search-results" class="card card-wrapper">
        <div class="card-body">
          <ul id="sort" class="d-none d-sm-block">
            <li>{{ sortable('_score', 'Trafność', ['_score', 'desc']) }}</li>
            <li>{{ sortable('id', 'Data utworzenia', ['_score', 'desc']) }}</li>
          </ul>

          <div class="clearfix"></div>

          {% for post in response %}
            <div class="post">
              <div class="post-body">
                <div class="row">
                  <div class="col-sm-2 col-12 col-user">
                    <h5 class="{{ log.is_online ? 'online' : 'offline' }}" title="Użytkownik jest {{ log.is_online ? 'online' : 'offline' }}">
                      {% if post.user_id %}
                        {{ link_to_profile(users[post.user_id]) }}
                      {% else %}
                        {{ post.user_name }}
                      {% endif %}
                    </h5>
                  </div>

                  <div class="col-sm-10 col-12 col-subject">
                    <h5>
                      <a href="{{ route('forum.topic', [post.forum.slug, post.topic_id, post.topic.slug]) }}?p={{ post.id }}#id{{ post.id }}">{{ elastic_highlight(highlights[post.id]['topic.subject'], post.topic.subject) }}</a>
                    </h5>
                  </div>
                </div>

                <div class="row">
                  <div class="col-2 col-user d-none d-sm-block">
                    <p class="d-none d-sm-block">
                      <strong>Data:</strong>
                      <small>{{ post.created_at|format_date }}</small>
                    </p>

                    <p class="d-none d-sm-block">
                      <strong>Kategoria:</strong>
                      <small>{{ link_to_route('forum.category', post.forum.name, [post.forum.slug]) }}</small>
                    </p>

                    {% if can('forum-update') %}
                      <p class="d-none d-sm-block">
                        <strong>IP:</strong>
                        <small>{{ post.ip }}</small>
                      </p>

                      <p class="d-none d-sm-block">
                        <strong>Host:</strong>
                        <small title="{{ post.host }}">{{ post.host }}</small>
                      </p>

                      <p class="d-none d-sm-block">
                        <strong>Przeglądarka:</strong>
                        <small title="{{ post.browser }}">{{ post.browser }}</small>
                      </p>
                    {% endif %}
                  </div>

                  <div class="col-10 col-body">
                    <div class="post-content">
                      {{ elastic_highlight(highlights[post.id]['text'], post.text) }}
                    </div>

                    {% if post.tags %}
                      <ul class="tag-clouds">
                        {% for tag in post.tags %}
                          <li><a href="{{ route('forum.tag', [tag|url_encode]) }}">{{ tag }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>

                <div class="row">
                  <div class="col-2 col-bottom"></div>
                  <div class="col-10 col-bottom"></div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="post">
              <p style="text-align: center; margin-top: 9px">Brak wątków spełniających kryteria.</p>
            </div>
          {% endfor %}

        </div>
      </section>

      {{ pagination|raw }}
    {% endif %}

    {{ viewers|raw }}
  </main>

  {% embed 'forum.partials.sidebar' %}
    {% block side_menu %}
      {% if response %}
        <div id="box-count" class="box">
          <strong>{{ response.total()|number_format(0, '', ' ') }}</strong>
          <span>{{ declination(response.total(), declination, true) }}</span>
        </div>
      {% endif %}

      <div id="box-search-tips" class="box">
        <h4 class="border-bottom"><i class="fas fa-question-circle"></i> Wskazówki wyszukiwania</h4>

        <ul>
          <li><kbd>user:"Lorem ipsum"</kbd> lub <kbd>user:foo</kbd></li>

          {% if can('forum-update') %}
            <li><kbd>ip:127.0.0.1</kbd></li>
            <li><kbd>host:coyote.dev</kbd></li>
            <li><kbd>browser:"Mozilla Firefox"</kbd></li>
          {% endif %}
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="alert alert-warning alert-popover top d-none d-sm-block hidden-sm" data-id="forum-search" data-containment="#box-search input[name=q]">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Kliknij, aby zamknąć"><span aria-hidden="true">&times;</span></button>
    <strong>Wskazówka:</strong> Możesz zawęzić wyniki do postów danego użytkownika wpisując <em>user:"nazwa użytkownika"</em>
  </div>
{% endblock %}
