{% extends 'forum.base' %}
{% block title %}{{ declination(response.totalHits(), ['post', 'posty', 'postów']) }} dla frazy {{ input_get('q') }}{% endblock %}

{% block container %}
    <div id="index" class="sidebar">
        {% include "forum.partials.top" %}

        <h4>Szukaj</h4>

        <main id="mainbar">
            {{ form_open({'method': 'GET', 'role': 'form', 'url': route('forum.search'), 'class': 'form-inline', 'id': 'box-search'}) }}
                <div class="form-group">
                    {{ form_text('q', input_get('q'), {'class': 'form-control'}) }}
                </div>
                <div class="form-group">
                    {{ form_select('f', {'': 'Wszystkie kategorie'} + forumList, input_get('f'), {'class': 'form-control'}) }}
                </div>

                <button type="submit" class="btn btn-primary">Szukaj</button>
            {{ form_close() }}

            <section id="box-search-results" class="panel panel-wrapper">
                <div class="panel-body">
                    <ul id="sort" class="hidden-xs">
                        <li>{{ sortable('_score', 'Trafność', ['_score', 'desc']) }}</li>
                        <li>{{ sortable('id', 'Data utworzenia', ['_score', 'desc']) }}</li>
                    </ul>

                    <div class="clearfix"></div>

                    {% for post in response %}
                        {% set source = post['_source'] %}

                        <div class="post">
                            <div class="post-body">
                                <div class="row">
                                    <div class="col-xs-2 col-user">
                                        <h5 class="{{ log.session_updated_at ? 'online' : 'offline' }}" title="Użytkownik jest {{ log.session_updated_at ? 'online' : 'offline' }}">
                                            {% if source.user_id %}
                                                {{ link_to_profile(users[source.user_id]) }}
                                            {% else %}
                                                {{ source.user_name }}
                                            {% endif %}
                                        </h5>
                                    </div>

                                    <div class="col-xs-10 col-subject">
                                        <h5><a href="{{ route('forum.topic', [source.forum.path, source.topic_id, source.topic.path]) }}?p={{ source.id }}#id{{ source.id }}">{{ elastic_highlight(post, 'topic.subject') }}</a></h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2 col-user hidden-xss">
                                        <p class="hidden-xs">
                                            <strong>Data:</strong>
                                            <small>{{ source.created_at|format_date }}</small>
                                        </p>

                                        <p class="hidden-xs">
                                            <strong>Kategoria:</strong>
                                            <small>{{ link_to_route('forum.category', source.forum.name, [source.forum.path]) }}</small>
                                        </p>

                                        <p class="hidden-xs">
                                            <strong>Odpowiedzi:</strong>
                                            <small>{{ source.topic.replies }}</small>
                                        </p>
                                    </div>

                                    <div class="col-xs-10 col-body">
                                        <div class="post-content">
                                            {{ elastic_highlight(post, 'text') }}
                                        </div>

                                        {% if source.tags %}
                                            <ul class="tag-clouds">
                                                {% for tag in source.tags %}
                                                    <li><a href="{{ route('forum.tag', [tag|url_encode]) }}">{{ tag }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2 col-bottom"></div>
                                    <div class="col-xs-10 col-bottom"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>

            {{ viewers|raw }}
        </main>

        {% embed 'forum.partials.sidebar' %}
            {% block side_menu %}
                <div id="box-count" class="box">
                    <strong>{{ response.totalHits()|number_format(0, '', ' ') }}</strong>
                    <span>{{ declination(response.totalHits(), ['post', 'posty', 'postów'], true) }}</span>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}