{% extends 'forum.base' %}
{% block title %}Dziennik zdarzeń{{ parent() }}{% endblock %}

{% block content %}
  {% include "forum.partials.top" %}

  {% set back_url = route('forum.topic', [topic.forum.slug, topic.id, topic.slug]) %}

  <h1>{{ link_to(back_url, topic.title) }}</h1>

  <main class="mainbar">
    <div class="card tab-content">
      <div id="stream" role="tabpanel" class="card-body tab-pane active">
        <nav class="mt-3 mb-3 d-flex justify-content-center">
          {{ paginator.render()|raw }}
        </nav>
        <div class="stream">
          {% for activity in paginator %}
            {% include 'components.stream' %}
          {% endfor %}
        </div>
        <nav class="mt-3 mb-3 d-flex justify-content-center">
          {{ paginator.render()|raw }}
        </nav>
      </div>
    </div>
  </main>
{% endblock %}

{% block body %}
  <script>
    var tags = {{ tags.user|json_encode|raw }};
  </script>
  {{ parent() }}
{% endblock %}

{% block sidebar %}
  {% embed 'forum.partials.sidebar' %}
    {% block side_menu %}
      <div class="box">
        <ul class="side-menu">
          <li>
            <a title="Powrót do wątku" href="{{ back_url }}">
              {{ icon('topicLogBackToTopic') }}
              Powrót do: {{ topic.title }}
            </a>
          </li>
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
