{% extends 'layout.twig' %}
{% block title %}
    {% if post.id is null %}
        Napisz odpowiedź w wątku {{ topic.subject }}
    {% else %}
        Edycja posta
    {% endif %}

    {{ parent() }}
{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    <div id="form-wrapper" class="row">
        <div class="col-sm-9">
            {{ form_open({'method': 'POST', 'id': 'submit-form', 'role': 'form', 'url': url(request().path), 'class': 'form-horizontal'}) }}

            {% if topic is not defined or topic.first_post_id == post.id %}
                <div class="form-group {{ errors.first('subject') ? 'has-error' }}">
                    <label class="col-md-2 control-label">Temat</label>
                    <div class="col-md-10">
                        {{ form_text('subject', input_old('subject', topic.subject), {'class': 'form-control'}) }}

                        {% if errors.first('subject') %}
                            <span class="help-block">{{ errors.first('subject') }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if auth_guest() or (post.id and not post.user_id) %}
                <div class="form-group {{ errors.first('user_name') ? 'has-error' }}">
                    <label class="col-md-2 control-label">Autor</label>
                    <div class="col-md-10">
                        {{ form_text('user_name', input_old('user_name', post.user_name), {'class': 'form-control'}) }}

                        {% if errors.first('user_name') %}
                            <span class="help-block">{{ errors.first('user_name') }}</span>
                        {% else %}
                            <span class="help-block">Wpisz swoją nazwę użytkownika</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div id="text-area" class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Treść</a></li>
                        <li role="presentation"><a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Załączniki</a></li>
                        <li role="presentation"><a href="#poll" aria-controls="poll" role="tab" data-toggle="tab">Ankieta</a></li>
                        <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Podgląd</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active {{ errors.first('text') ? 'has-error' }}" id="body">
                            {% include 'components/toolbar' %}
                            <textarea name="text" class="form-control" style="height: 160px;">{{ input_old('text', post.text) }}</textarea>

                            {% if errors.first('text') %}
                                <span class="help-block">{{ errors.first('text') }}</span>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="attachments"></div>
                        <div role="tabpanel" class="tab-pane active" id="poll"></div>
                        <div role="tabpanel" class="tab-pane active" id="preview"></div>
                    </div>
                </div>
            </div>

            {% if topic is not defined or topic.first_post_id == post.id %}
                {% set error_tag = '' %}
                {% for key in errors.keys() %}
                    {% if 'tag' in key %}
                        {% set error_tag = errors.first(key) %}
                    {% endif %}
                {% endfor %}

                <div class="form-group {{ error_tag != '' ? 'has-error' }}">
                    <label class="col-md-2 control-label">Tagi</label>
                    <div class="col-md-10">
                        {{ form_text('custom_tags', input_old('tag', tags)|join(', '), {'id': 'tag', 'placeholder': forum.require_tag ? 'Minimum 1 tag jest wymagany' : 'Np. c#, .net'}) }}

                        {% if error_tag != '' %}
                            <span class="help-block">{{ error_tag }}</span>
                        {% else %}
                            <span class="help-block">Możesz opisać swój wątek słowami kluczowymi - np. c#, .net (max. 5 tagów)</span>
                        {% endif %}
                    </div>
                </div>

                {% if can('sticky', forum) %}
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <label>
                                {{ form_checkbox('is_sticky', 1, input_old('is_sticky', post.is_sticky)) }}
                                Przyklejony
                            </label>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if auth_check() %}
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <label>
                            {{ form_checkbox('subscribe', 1, input_old('subscribe', isSubscribe is defined ? isSubscribe : user('allow_subscribe'))) }}
                            Obserwuj wątek
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary" data-submit-state="Wysyłanie...">Wyślij</button>
                </div>
            </div>

            {{ form_close() }}
        </div>

        <aside class="col-sm-3">
            <div id="hint-subject" class="sidebar-hint" style="display: block;">
                <h4>Jak tytułować wątki</h4>

                <p>► Staraj się nadawać wątkom znaczące tematy!</p>
                <p>► Unikaj jednowyrazowych tematów wątków!</p>
                <p>► Wątki o temacie <cite>pomoc</cite>, <cite>pomocy</cite>, <cite>help</cite> będą usuwane!</p>
                <p>► Sprawdź w wyszukiwarce, czy wątek podobny do Twojego nie pojawił się wcześniej na forum.</p>
                <p>► Czy Twój wątek rzeczywiście pasuje do tej kategorii?</p>
                <p>► Unikaj stosowania prefiksów w tytułach wątków! Zamiast tego używaj <strong>tagów</strong>!</p>
            </div>
            <div id="hint-content" class="sidebar-hint" style="display: none;">
                <h4>Jak formatować treść postu</h4>

                <p>► Kod źródłowy umieszczaj pomiędzy znacznikami <code>&lt;code&gt;</code> a <code>&lt;/code&gt;</code> np. <code>&lt;code=php&gt; &lt;/code&gt;</code></p>
                <p>► Stosuj <code><strong>**pogrubienie**</strong> i <cite>//pochylenie//</cite></code></p>
                <p>► <code><tt>''**brak formatowania**''</tt></code></p>
                <p>► <code>`polecenia języka programowania`</code></p>
                <p>► Symbole <code>*</code> i <code>#</code> na początku linii powodują wypunktowanie i numerowanie</p>
                <p>► Zwracaj uwagę na gramatykę i ortografię!</p>
                <p>► <cite>Ctrl+Enter</cite> publikuje post.</p>
                <p>► <cite>Shift+Tab</cite> tworzy wcięcie.</p>
                <p>► <cite>Ctrl+V</cite> wkleja obrazek ze schowka (<strong>tylko Chrome oraz Firefox</strong>)</p>
            </div>
            <div id="hint-tag" class="sidebar-hint" style="display: none;">
                <h4>Jak tagować wątki</h4>

                <p>► Tagi pozwalają grupować podobne wątki.</p>
                <p>► Oddzielaj tagi spacją.</p>
                <p>► Nie używaj synonimów.</p>
                <p>► Unikaj zaimków i przyimków.</p>
                <p>► Symbol <tt>-</tt> służy do łączenia wyrazów - np. <tt>bazy-danych</tt>.</p>
            </div>
            <div id="hint-username" class="sidebar-hint" style="display: none;">
                <h4>Nazwa użytkownika</h4>

                <p>► Jesteś anonimowym użytkownikiem - <a href="http://4programmers.net/Rejestracja">zarejestruj się</a>.</p>
                <p>► Anonimowi użytkownicy nie mogą edytować ani komentować postów.</p>
                <p>► Anonimowi użytkownicy nie dostają powiadomień (o usunięciu, przeniesieniu wątku).</p>
            </div>
        </aside>
    </div>

    {% import 'components/modals.twig' as modal %}

    {{ modal.alert('Wystąpił błąd podczas dodawania tagu.') }}
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/forum.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="/js/tab.js"></script>
    <script type="text/javascript" src="/js/forum.js" ></script>
    <script type="text/javascript" src="/js/posting.js"></script>
    <script type="text/javascript" src="/js/wikieditor.js"></script>
    <script type="text/javascript" src="/js/tags.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#submit-form textarea').wikiEditor().prompt('{{ route('user.prompt') }}').fastSubmit().autogrow().focus();

            var toolTipHints = $('#hint-subject, #hint-content, #hint-tag, #hint-username');

            $('#submit-form').delegate('input[name="subject"], textarea[name="content"], input[name="username"], .tag-editor input', 'focus', function () {
                var name = typeof $(this).attr('name') == 'undefined' ? 'tag' : $(this).attr('name');

                if ('hint-' + name != $('.sidebar-hint:visible').attr('id')) {
                    toolTipHints.each(function () {
                        $(this).hide();
                    });

                    $('#hint-' + name).fadeIn(1000);
                }
            });

            $('a[href="#preview"]').click(function(e) {
                $('#preview').html('<i class="fa fa-spinner fa-spin fa-2x"></i>');

                $.post('{{ route('forum.preview') }}', {'text': $('textarea[name="text"]').val()}, function(html) {
                    $('#preview').html(html);
                });
            });

            $('#tag').tag();
        });
    </script>
{% endblock %}