{% extends 'forum.base' %}
{% block title %}
    {% spaceless %}
        {% if topic.id is null %}
            Nowy wątek
        {% elseif post.id is null %}
            Napisz odpowiedź w wątku {{ topic.subject }}
        {% else %}
            Edycja posta
        {% endif %}

    {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% import 'components.forms' as forms %}

{% block container %}
    <div id="form-wrapper" class="row">
        <div class="col-sm-9">
            {{ form_open({'method': 'POST', 'id': 'submit-form', 'role': 'form', 'url': url(request().path), 'class': 'form-horizontal'}) }}

            {% if diff_in_months(topic.last_post_created_at) >= 6 %}
                <p class="alert alert-danger">
                    Ostatni post w tym wątku datowany jest na <strong>{{ topic.last_post_created_at|format_date }}</strong>.<br>
                    Problem lub informacje w nim zawarte mogą być nieaktualne. Zastanów się, czy na pewno chcesz dodać nowy post w tym wątku?
                </p>
            {% endif %}

            {% if errors.first('_token') %}
                <p class="alert alert-danger">
                    {{ errors.first('_token') }}
                </p>
            {% endif %}

            {% if topic is not defined or topic.first_post_id == post.id %}
                <div class="form-group {{ errors.first('subject') ? 'has-error' }}">
                    <label class="col-md-2 control-label">Temat</label>
                    <div class="col-md-10">
                        {{ form_text('subject', input_old('subject', topic.subject), {'class': 'form-control', 'tabindex': 1, 'autofocus': 'autofocus'}) }}

                        {% if errors.first('subject') %}
                            <span class="help-block">{{ errors.first('subject') }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if auth_guest() or (post.id and not post.user_id) %}
                <div class="form-group {{ errors.first('user_name') ? 'has-error' }}">
                    <label class="col-md-2 control-label">Autor</label>
                    <div class="col-md-10">
                        {{ form_text('user_name', input_old('user_name', post.user_name), {'class': 'form-control', 'tabindex': 2}) }}

                        {% if errors.first('user_name') %}
                            <span class="help-block">{{ errors.first('user_name') }}</span>
                        {% else %}
                            <span class="help-block">Wpisz swoją nazwę użytkownika</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div id="text-area" class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Treść</a></li>
                        <li role="presentation"><a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Załączniki</a></li>
                        <li role="presentation"><a href="#poll" aria-controls="poll" role="tab" data-toggle="tab">Ankieta</a></li>
                        <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab" data-url="{{ route('forum.preview') }}">Podgląd</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active {{ errors.first('text') ? 'has-error' }}" id="body">
                            {% include 'components.toolbar' %}
                            <textarea name="text" class="form-control" style="height: 160px;" tabindex="3" data-paste-url="{{ route('forum.paste') }}" data-prompt-url="{{ topic.id ? route('forum.prompt', [topic.id]) : route('user.prompt') }}">{{ input_old('text', text) }}</textarea>

                            {% if errors.first('text') %}
                                <span class="help-block">{{ errors.first('text') }}</span>
                            {% endif %}
                        </div>

                        {% include 'forum.partials.attachments' %}

                        <div role="tabpanel" class="tab-pane" id="poll">
                            <div class="panel panel-forum">
                                <div class="panel-body">
                                    {{ forms.text('title', 'Tytuł ankiety', poll.title) }}
                                    {{ forms.textarea('items', 'Odpowiedzi w ankiecie', poll.items, 10, {}, 'Maksymalnie 20 odpowiedzi. Każda w nowej linii. Jeżeli chcesz usunąć pozostaw pustą linię.') }}
                                    {{ forms.text('max_items', 'Ilość możliwych odpowiedzi', poll.max_items, {}, 'odaj liczbę określającą ilość możliwych odpowiedzi.') }}
                                    {{ forms.text('length', 'Długość działania', poll.length, {}, 'Okreś długość działania ankiety (w dniach). 0 oznacza brak terminu ważności') }}
                                </div>
                            </div>
                        </div>

                        {% include 'forum.partials.preview' %}
                    </div>
                </div>
            </div>

            {% if topic.first_post_id == post.id %}
                <div class="form-group {{ errors.any('tags') ? 'has-error' }}">
                    <label class="col-md-2 control-label">Tagi</label>
                    <div class="col-md-10">
                        <input id="tags" name="tags" value="{{ input_old('tags', tags)|join(', ') }}" class="form-control" tabindex="4" placeholder="{{ forum.require_tag ? 'Minimum 1 tag jest wymagany' : 'Np. c#, .net' }}">

                        {% if errors.any('tags') %}
                            <span class="help-block">{{ errors.first('tags') }}</span>
                        {% else %}
                            <span class="help-block">Możesz opisać swój wątek słowami kluczowymi - np. c#, .net (max. 5 tagów)</span>
                        {% endif %}
                    </div>
                </div>

                {% if can('sticky', forum) %}
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <label>
                                {{ form_hidden('is_sticky', 0) }}
                                {{ form_checkbox('is_sticky', 1, input_old('is_sticky', topic.is_sticky)) }}
                                Przyklejony
                            </label>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if auth_check() %}
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <label>
                            {{ form_checkbox('subscribe', 1, input_old('subscribe', subscribe)) }}
                            Obserwuj wątek
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary" data-submit-state="Wysyłanie...">Wyślij</button>
                </div>
            </div>

            {{ form_close() }}
        </div>

        <aside class="col-sm-3">
            <div id="hint-subject" class="sidebar-hint" style="display: block;">
                <h4>Jak tytułować wątki</h4>

                <p>► Staraj się nadawać wątkom znaczące tematy!</p>
                <p>► Unikaj jednowyrazowych tematów wątków!</p>
                <p>► Wątki o temacie <cite>pomoc</cite>, <cite>pomocy</cite>, <cite>help</cite> będą usuwane!</p>
                <p>► Sprawdź w wyszukiwarce, czy wątek podobny do Twojego nie pojawił się wcześniej na forum.</p>
                <p>► Czy Twój wątek rzeczywiście pasuje do tej kategorii?</p>
                <p>► Unikaj stosowania prefiksów w tytułach wątków! Zamiast tego używaj <strong>tagów</strong>!</p>
            </div>
            <div id="hint-text" class="sidebar-hint" style="display: none;">
                <h4>Jak formatować treść postu</h4>

                <p>► Kod źródłowy umieszczaj pomiędzy znacznikami <code>&lt;code&gt;</code> a <code>&lt;/code&gt;</code> np. <code>&lt;code=php&gt; &lt;/code&gt;</code></p>
                <p>► Stosuj <code><strong>**pogrubienie**</strong> i <cite>*pochylenie*</cite></code></p>
                <p>► <code><tt>`**brak formatowania**`</tt></code></p>
                <p>► <code>`polecenia języka programowania`</code></p>
                <p>► Symbole <code>*</code> i <code>1.</code> na początku linii powodują wypunktowanie i numerowanie</p>
                <p>► Zwracaj uwagę na gramatykę i ortografię!</p>
                <p>► <cite>Ctrl+Enter</cite> publikuje post.</p>
                <p>► <cite>Shift+Tab</cite> tworzy wcięcie.</p>
                <p>► <cite>Ctrl+V</cite> wkleja obrazek ze schowka (<strong>tylko Chrome oraz Firefox</strong>)</p>
            </div>
            <div id="hint-tag" class="sidebar-hint" style="display: none;">
                <h4>Jak tagować wątki</h4>

                <p>► Tagi pozwalają grupować podobne wątki.</p>
                <p>► Oddzielaj tagi spacją.</p>
                <p>► Nie używaj synonimów.</p>
                <p>► Unikaj zaimków i przyimków.</p>
                <p>► Symbol <tt>-</tt> służy do łączenia wyrazów - np. <tt>bazy-danych</tt>.</p>
            </div>
            <div id="hint-user_name" class="sidebar-hint" style="display: none;">
                <h4>Nazwa użytkownika</h4>

                <p>► Jesteś anonimowym użytkownikiem - <a href="{{ route('register') }}">zarejestruj się</a>.</p>
                <p>► Anonimowi użytkownicy nie mogą edytować ani komentować postów.</p>
                <p>► Anonimowi użytkownicy nie dostają powiadomień (o usunięciu, przeniesieniu wątku).</p>
            </div>
        </aside>
    </div>

    {% import 'components.modals' as modal %}

    {{ modal.alert('Wystąpił błąd podczas dodawania tagu.') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="{{ cdn('js/posting.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/wikieditor.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/tags.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            var toolTipHints = $('#hint-subject, #hint-text, #hint-tag, #hint-user_name');

            $('#submit-form').delegate('input[name="subject"], textarea[name="text"], input[name="user_name"], #tag', 'focus', function () {
                var name = typeof $(this).attr('name') == 'undefined' ? 'tag' : $(this).attr('name');

                if ('hint-' + name != $('.sidebar-hint:visible').attr('id')) {
                    toolTipHints.each(function () {
                        $(this).hide();
                    });

                    $('#hint-' + name).fadeIn(1000);
                }
            }).append('<input style="display: none" type="checkbox" name="human" value="1" checked="checked">');

            $('#tags').tag({
                validateUrl: '{{ route('tag.validate') }}',
                promptUrl: '{{ route('tag.prompt') }}'
            });
        });
    </script>
{% endblock %}