{% extends 'forum.base' %}
{% block title %}
  {% spaceless %}
    {% if topic.id is null %}
      Nowy wątek
    {% elseif post.id is null %}
      Napisz odpowiedź w wątku {{ topic.subject }}
    {% else %}
      Edycja posta
    {% endif %}

    {{ parent() }}
  {% endspaceless %}
{% endblock %}

{% import 'components.forms' as forms %}

{% block container %}
  <div id="form-wrapper" class="row">
    <div class="col-sm-9">
      {{ form_start(form) }}

      {% if diff_in_months(topic.last_post_created_at) >= 6 %}
        <p class="alert alert-danger">
          Ostatni post w tym wątku datowany jest na <strong>{{ topic.last_post_created_at|format_date }}</strong>.<br>
          Problem lub informacje w nim zawarte mogą być nieaktualne. Zastanów się, czy na pewno chcesz dodać nowy post w tym wątku?
        </p>
      {% endif %}

      {% if errors.first('_token') %}
        <p class="alert alert-danger">
          {{ errors.first('_token') }}
        </p>
      {% elseif errors.any %}
        <p class="alert alert-danger">
          Formularz nie jest poprawny. Proszę sprawdzić poprawność wprowadzonych danych i spróbować ponownie.
        </p>
      {% endif %}

      {{ form_row(form.subject) }}
      {{ form_row(form.user_name) }}

      <div id="text-area" class="row">
        <div class="col-12">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#body" role="tab" data-toggle="tab">Treść</a></li>
            <li class="nav-item"><a class="nav-link" href="#attachments" role="tab" data-toggle="tab">Załączniki</a></li>

            {% if form.poll is not null %}
              <li class="nav-item"><a class="nav-link" href="#poll" role="tab" data-toggle="tab">Ankieta</a></li>
            {% endif %}

            <li class="nav-item"><a class="nav-link" href="#preview" role="tab" data-toggle="tab" data-url="{{ route('forum.preview') }}">Podgląd</a></li>
          </ul>

          <div class="tab-content">
            {{ form_row(form.text) }}
            {{ form_row(form.attachments) }}
            {{ form_row(form.poll) }}

            {% include 'forum.partials.preview' %}
          </div>
        </div>
      </div>

      {{ form_row(form.tags) }}
      {{ form_row(form.is_sticky) }}

      {{ form_row(form.subscribe) }}
      {{ form_row(form.submit) }}

      {{ form_end() }}
    </div>

    <aside class="col-sm-3">
      <div id="hint-subject" class="alert alert-warning">
        <h4>Jak tytułować wątki</h4>

        <p>► Staraj się nadawać wątkom znaczące tematy!</p>
        <p>► Unikaj jednowyrazowych tematów wątków!</p>
        <p>► Wątki o temacie <cite>pomoc</cite>, <cite>pomocy</cite>, <cite>help</cite> będą usuwane!</p>
        <p>► Sprawdź w wyszukiwarce, czy wątek podobny do Twojego nie pojawił się wcześniej na forum.</p>
        <p>► Czy Twój wątek rzeczywiście pasuje do tej kategorii?</p>
        <p>► Unikaj stosowania prefiksów w tytułach wątków! Zamiast tego używaj <strong>tagów</strong>!</p>

      </div>
      <div id="hint-text" class="alert alert-warning" style="display: none;">
        <h4>Jak formatować treść postu</h4>

        <p>► Kod źródłowy umieszczaj pomiędzy <code>```</code> a <code>```</code> (w nowej linii). Jeżeli chcesz włączyć kolorowanie składni, dodaj nazwę języka, np. <code>```php</code></p>
        <p>► Stosuj <code><strong>**pogrubienie**</strong></code> i <code><cite>*pochylenie*</cite></code></p>
        <p>► <code><tt>`**brak formatowania**`</tt></code></p>
        <p>► <code>`polecenia języka programowania`</code></p>
        <p>► Symbole <code>*</code> i <code>-</code> na początku linii powodują wypunktowanie i numerowanie</p>
        <p>► Zwracaj uwagę na gramatykę i ortografię!</p>
        <p>► <cite>Ctrl+Enter</cite> publikuje post.</p>
        <p>► <cite>Shift+Tab</cite> tworzy wcięcie.</p>
        <p>► <cite>Ctrl+V</cite> wkleja obrazek ze schowka (<strong>tylko Chrome oraz Firefox</strong>)</p>
      </div>
      <div id="hint-tags" class="alert alert-warning" style="display: none;">
        <h4>Jak tagować wątki</h4>

        <p>► Tagi pozwalają grupować podobne wątki.</p>
        <p>► Oddzielaj tagi spacją.</p>
        <p>► Nie używaj synonimów.</p>
        <p>► Unikaj zaimków i przyimków.</p>
        <p>► Symbol <tt>-</tt> służy do łączenia wyrazów - np. <tt>bazy-danych</tt>.</p>
      </div>
      <div id="hint-user_name" class="alert alert-warning" style="display: none;">
        <h4>Nazwa użytkownika</h4>

        <p>► Jesteś anonimowym użytkownikiem - <a href="{{ route('register') }}">zarejestruj się</a>.</p>
        <p>► Anonimowi użytkownicy nie mogą edytować ani komentować postów.</p>
        <p>► Anonimowi użytkownicy nie dostają powiadomień (o usunięciu, przeniesieniu wątku).</p>
      </div>
    </aside>
  </div>

  {% import 'components.modals' as modal %}

  {{ modal.alert('Wystąpił błąd podczas dodawania tagu.') }}
{% endblock %}

{#{% block body %}#}
{#  {{ parent() }}#}

{#  <script src="{{ cdn('js/wikieditor.js') }}"></script>#}

{#  <script>#}
{#    $(function () {#}
{#      var toolTipHints = $('#hint-subject, #hint-text, #hint-tags, #hint-user_name');#}

{#      $('#submit-form').delegate('input[name="subject"], textarea[name="text"], input[name="user_name"], #tags', 'focus', function () {#}
{#        var name = typeof $(this).attr('name') == 'undefined' ? 'tags' : $(this).attr('name');#}

{#        if ('hint-' + name != $('.sidebar-hint:visible').attr('id')) {#}
{#          toolTipHints.each(function () {#}
{#            $(this).hide();#}
{#          });#}

{#          $('#hint-' + name).fadeIn(1000);#}
{#        }#}
{#      }).append('<input style="display: none" type="checkbox" name="human" value="1" checked="checked">');#}

{#      $('#tags').tag({#}
{#        validateUrl: '{{ route('forum.tag.validate') }}',#}
{#        promptUrl: '{{ route('forum.tag.prompt') }}'#}
{#      });#}

{#      $('#submit-form').find('textarea, input[type="text"]').first().focus();#}
{#    });#}
{#  </script>#}
{#{% endblock %}#}
