{% extends 'forum/base.twig' %}
{% block title %}{{ topic.subject }}{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}
{% import 'components/modals.twig' as modals %}

{% set is_writeable = can('update', forum) ? true : (not (forum.is_locked or topic.is_locked)) %}

{% block container %}

    <div id="index" class="sidebar">
        {% if lock %}
            <p class="alert alert-warning">
                Wątek zablokowany {{ lock.created_at|format_date }} przez <a href="{{ url(lock.actor.url) }}">{{ lock.actor.displayName }}</a>.
            </p>
        {% endif %}

        <h1>{{ link_to_route('forum.topic', topic.subject, [forum.path, topic.id, topic.path]) }}</h1>

        <nav>
            {{ paginate|raw }}
        </nav>

        {% include "forum/top.twig" %}

        <main id="mainbar">

            <section class="panel panel-wrapper">
                <div class="panel-body">

                    <div id="box-post" class="box-forum">
                        {% if topic.tags.count() %}
                            <div id="box-topic-tags" class="hidden-xs">
                                <ul class="tag-clouds">
                                    {% for tag in topic.tags %}
                                        <li><a href="{{ route('forum.tag', [tag.name]) }}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if is_writeable %}
                            <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>
                            <a href="{{ route('forum.topic.submit', [forum.path]) }}" class="btn btn-primary btn-sm pull-right">Nowy wątek</a>
                        {% endif %}

                        <div class="clearfix"></div>

                        {% for post in posts %}
                            {{ include('forum/post.twig', {index: loop.index0}) }}
                        {% endfor %}

                        <div class="post" id="last-post">
                            <div class="col-footer-nav">
                                <nav class="pull-left">
                                    {{ paginate|raw }}
                                </nav>

                                <a id="btn-goto" class="btn pull-right" href="javascript:">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                                {{ form_select('forum', forumList, forum.path, {'class': 'pull-right', 'id': 'sel-forum-list'}) }}
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        {% if is_writeable %}
                            <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>
                            <a href="javascript:" id="btn-fast-reply" class="btn btn-primary btn-sm pull-right">Szybka odpowiedź</a>
                        {% endif %}
                    </div>
                </div>
            </section>

            {% if auth_check() and is_writeable %}
                <section id="box-fast-form" class="row">
                    <div class="col-xs-12">
                        {{ form_open({'method': 'POST', 'id': 'submit-form', 'role': 'form', 'url': route('forum.post.submit', [forum.path, topic.id]), 'class': 'form-horizontal'}) }}
                            <div class="form-group">
                                <div class="col-md-12">
                                    {% include 'components/toolbar' %}
                                    <textarea rows="1" cols="60" name="text" class="form-control" placeholder="Kliknij, aby napisać szybką odpowiedź..."></textarea>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-sm pull-right" style="display: none" data-submit-state="Wysyłanie...">Wyślij</button>
                                </div>
                            </div>
                        {{ form_close() }}
                    </div>
                </section>
            {% endif %}

            <section class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        Ilość odpowiedzi na stronę
                        <span class="form-inline">
                            <select name="perPage" class="form-control input-sm" data-url="{{ url(request().path()) }}">
                                {% for i in 1..5 %}
                                    <option value="{{ i * 10 }}" {{ paginate.perPage() == i * 10 ? 'selected="selected"' }}>{{ i * 10 }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>
            </section>

            {{ viewers|raw }}
        </main>

        <aside id="sidebar">

            <div class="box">
                <ul class="side-menu" style="margin-top: 5px">
                    {% if auth_check() %}
                        {% set subscribers = topic.subscribers().lists('topic_id', 'user_id') %}

                        <li class="btn-watch {{ subscribers[user('id')] is defined ? 'on' }}">
                            <a href="{{ route('forum.topic.subscribe', [topic.id]) }}" title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">
                                <span>
                                    {% if auth_guest() or subscribers[user('id')] is not defined %}
                                        Obserwuj wątek
                                    {% else %}
                                        Zakończ obserwację
                                    {% endif %}
                                </span>

                                {% if subscribers.count() > 0 %}
                                    <small>({{ declination(subscribers.count(), ['obserwujący', 'obserwujących', 'obserwujących']) }})</small>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}

                    <li class="btn-atom">
                        <a href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                    </li>

                    {% if can('update', forum) %}
                        <li id="btn-log"><a title="Zobacz dziennik zdarzeń" data-category="forum-sidebar-buttons" data-value="log">Dziennik zdarzeń</a></li>
                        <li id="btn-edit-subject"><a title="Kliknij, aby szybko zmienić tytuł wątku" data-category="forum-sidebar-buttons" data-value="subject">Zmień tytuł</a></li>
                    {% endif %}
                    {% if can('lock', forum) %}
                        <li id="btn-lock" {{ topic.is_locked ? 'class="on"' }}>
                            <a href="{{ route('forum.lock', [topic.id]) }}" title="Kliknij, aby zablokować wątek" data-category="forum-sidebar-buttons" data-value="lock">
                                {% if topic.is_locked %}
                                    Odblokuj wątek
                                {% else %}
                                    Zablokuj wątek
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% if can('move', forum) %}
                        <li id="btn-move">
                            <a title="Przenieść ten temat do innej kategorii forum" href="#collapse-sub" data-category="forum-sidebar-buttons" data-value="move" data-toggle="collapse">Przenieś wątek</a>

                            <ul id="collapse-sub" class="collapse">
                                {% for path, name in forumList %}
                                    {% if path == forum.path %}
                                        <li><a style="color: #ccc">{{ name|raw }}</a></li>
                                    {% else %}
                                        <li><a data-path="{{ path }}" href="{{ route('forum.move', [topic.id]) }}">{{ name|raw }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if can('sticky', forum) %}
                        <li id="btn-status"><a title="Zmień status wątku" data-category="forum-sidebar-buttons" data-value="status">Przyklej wątek</a></li>
                    {% endif %}
                </ul>
            </div>

            {% include "forum/sidebar.twig" %}
        </aside>
    </div>

    {% if auth_check() %}
        {{ modals.confirm('Post zostanie usunięty. Czy na pewno chcesz to zrobić?', 'Czy chcesz usunąć?', 'post-confirm-delete') }}
        {{ modals.confirm('Komentarz zostanie usunięty. Czy na pewno chcesz to zrobić?', 'Czy chcesz usunąć?', 'comment-confirm-delete') }}
        {{ modals.confirm('Czy na pewno chcesz przenieść wątek do innej kategorii?', 'Czy chcesz przenieść?', 'confirm-move', 'Tak, przenieś') }}
        {{ modals.alert('Wystąpił błąd podczas działania programu.') }}
    {% endif %}

{% endblock %}

{% block body %}
    {{ parent() }}

    {% if auth_check() %}
        <script type="text/javascript" src="/js/posting.js"></script>
    {% endif %}

    <script type="text/javascript">
        var promptUrl = '{{ route('forum.prompt', [topic.id]) }}';

        {% if can('delete', forum) %}
            var reasonsList = {{ reasonList.toJson()|raw }};
        {% endif %}

        $(function () {
            $('.col-bottom a').tooltip({'trigger': 'hover'});

            $('#submit-form textarea').one('focus', function() {
                var $this = $(this);
                $(':submit', $this.parents('form')).show();

                $.getScript(baseUrl + '/js/wikieditor.js', function() {
                    $this.wikiEditor().prompt(promptUrl).fastSubmit().autogrow();
                });
            });
        });
    </script>
{% endblock %}