{% extends 'forum.base' %}

{% block title %}{{ model.title ~ (paginate.currentPage() > 1 ? (' - Strona ' ~ paginate.currentPage())) }}{{ parent() }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% import 'components.forms' as forms %}
{% import 'components.modals' as modals %}

{% block content %}
  {{ schema_topic }}

  <h1 class="topic-title pe-4">
    {{ model.title }}
  </h1>

  {% if model.locked_at and model.locker.id %}
    <p class="alert alert-warning mt-2 mb-2">
      Wątek zablokowany {{ model.locked_at|format_date }} przez <a class="alert-warning" href="{{ route('profile', [model.locker.id]) }}">{{ model.locker.name }}</a>.
    </p>
  {% endif %}

  {% if model.moved_at and model.prevForum.slug %}
    <p class="alert alert-warning mt-2 mb-2">
      Wątek przeniesiony {{ model.moved_at|format_date }} z
      <a class="alert-link" href="{{ route('forum.category', {'forum': model.prevForum.slug}) }}">{{ model.prevForum.name }}</a> przez
      <a class="alert-link" href="{{ route('profile', [model.mover.id]) }}">{{ model.mover.name }}</a>.
    </p>
  {% endif %}

  {% include "forum.partials.top" %}

  <main class="mainbar pt-0">
    <div id="js-skeleton">
      <div class="page-topic-controls d-flex mb-3">
        {% if is_writeable %}
          <div class="ms-auto">
            <a href="{{ route('forum.topic.submit', [forum.slug]) }}" class="btn btn-primary btn-sm">Nowy wątek</a>
          </div>
        {% endif %}
      </div>
      {% for post in posts.data %}
        <div class="card card-post">
          <div class="card-header d-none d-lg-block">
            <div class="row">
              <div class="col-2">
                <div style="height: 20px"></div>
              </div>

              <div class="col-10 text-truncate small">
                <div style="height: 20px; width: 30%"></div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="media d-lg-none mb-2">
              <div class="media-left me-2">
                <div style="width: 35px; height: 35px"></div>
              </div>

              <div class="media-body">
                <div style="height: 20px"></div>
              </div>
            </div>

            <div class="row">
              <div class="d-none d-lg-block col-lg-2">
                <div style="width: 75px; height: 75px"></div>

                <ul class="post-stats list-unstyled" style="height: 66px">

                </ul>
              </div>

              <div class="col-12 col-lg-10">
                <div class="post-vote">
                  <strong title="Ocena posta" class="vote-count">{{ post.score }}</strong>
                </div>

                <div class="post-content">{{ post.html|raw }}</div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="row">
              <div class="d-none d-lg-block col-lg-2"></div>

              <div class="col-12 d-flex col-lg-10">
                <div>
                  <button class="btn btn-sm">
                    {{ icon('postSubscribe') }}
                    <span class="d-none d-sm-inline">Obserwuj</span>
                  </button>

                  <button class="btn btn-sm">
                    {{ icon('postShare') }}
                    <span class="d-none d-sm-inline">Udostępnij</span>
                  </button>

                  <button class="btn btn-sm">
                    {{ icon('postComment') }}
                    <span class="d-none d-sm-inline">Komentuj</span>
                  </button>
                </div>
                <div class="ms-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="js-post">
      <div class="d-flex mb-3">
        <div class="me-auto" v-if="is_mode_linear">
          <vue-pagination @change="changePage" :current-page="currentPage" :total-pages="totalPages" class="pagination-sm"></vue-pagination>
        </div>

        {% if is_writeable %}
          <div class="ms-auto">
            <a href="{{ route('forum.topic.submit', [forum.slug]) }}" class="btn btn-primary btn-sm">Nowy wątek</a>
          </div>
        {% endif %}
      </div>

      <template v-if="'id' in poll">
        <vue-poll :poll="poll"></vue-poll>
      </template>

      <template v-if="is_mode_tree">
        <div class="d-flex justify-content-end">
          <label for="tree-post-ordering" class="text-muted">
            Kolejność postów
          </label>
        </div>
        <div class="d-flex justify-content-end">
          <select
              id="tree-post-ordering"
              :value="treeTopicPostOrdering"
              @change="changeTreeTopicPostOrdering"
              class="form-control mb-4"
              style="width:initial;">
            <option value="orderByCreationDate">Chronologicznie</option>
            <option value="orderByLikes">Od największej ilości głosów</option>
          </select>
        </div>
      </template>

      <vue-post-wrapper
          v-for="post in postsInModeOrder"
          :key="post.id"
          :post="post"
          @reply="reply"
      ></vue-post-wrapper>

      <div class="page-pagination d-flex mb-3" v-if="is_mode_linear">
        <div class="page-page-selector me-auto">
          <vue-pagination @change="changePage" :current-page="currentPage" :total-pages="totalPages" class="pagination-sm"></vue-pagination>
        </div>

        <div class="page-page-size-selector">
          {% include 'forum.partials.per_page' with {label: 'Liczba odpowiedzi na stronę', perPage: paginate.perPage()} %}
        </div>
      </div>

      {% if is_writeable %}
        <vue-form
            id="js-submit-form"
            ref="js-submit-form"
            v-if="!postFormHidden"
            :tree-answer-post-id="treeAnswerPostId"
            :post="undefinedPost"
            @save="savedForm"
        ></vue-form>
        <template v-else>
          <div class="alert alert-press">
            Kliknij
            <span style="border: 1px solid rgba(119,119,119,0.3); padding:2px 2px 2px 4px; border-radius:4px; margin:0 6px 0 4px;">
              {{ icon('postAnswerQuote') }}
              Odpowiedz
            </span>
            przy wybranym poście, żeby na niego odpowiedzieć.
          </div>
          <div class="alert alert-press">
            <span style="text-decoration:underline; cursor:pointer;" @click="replyTopicPost">Kliknij tutaj</span>,
            by odpowiedzieć na główny post wątku.
          </div>
        </template>
      {% endif %}

      <section class="page-change-category d-flex my-3">
        {% if user_forums is defined %}
          <div class="ms-auto">
            {{ form_select('forum', user_forums, forum.slug, {'id': 'js-forum-list', 'class': 'form-control d-inline w-auto', 'data-url': route('forum.home')}) }}

            <a class="btn" href="javascript:" id="js-reload" rel="nofollow">
              {{ icon('forumChangeCategory') }}
            </a>
          </div>
        {% endif %}
      </section>

      {% if not auth_check() %}
        <div class="d-flex justify-content-center">
          <div>
            <div class="alert alert-info">
              <p class="mb-0">
                Zarejestruj się i dołącz do największej społeczności programistów w Polsce.
              </p>
              <p class="mb-0">
                Otrzymaj wsparcie, dziel się wiedzą i rozwijaj swoje umiejętności z najlepszymi.
              </p>
            </div>
            <div class="d-flex justify-content-end">
              <a href="{{ route('register') }}" class="btn btn-primary">
                Utwórz konto
              </a>
            </div>
          </div>
        </div>
      {% endif %}

      <vue-notifications></vue-notifications>
    </div>
  </main>

  {% embed 'forum.partials.sidebar' %}
    {% block side_menu %}
      <div id="js-sidebar" class="box mb-5" v-cloak>
        <div class="box">
          <h4 class="heading">
            {{ icon('forumActions') }}
            Akcje
          </h4>
        </div>
        <ul class="side-menu mt-2">
          <li :class="{'on': topic.is_subscribed}" class="btn-subscribe action-link" v-if="isAuthorized">
            <a @click="subscribe(topic)" href="javascript:">
              <template v-if="topic.is_subscribed">
                {{ icon('topicSubscribed') }}
                <span>Zakończ obserwację</span>
              </template>
              <template v-else>
                {{ icon('topicSubscribe') }}
                <span>Obserwuj wątek</span>
              </template>
            </a>
          </li>
          <li class="action-link">
            <a href="{{ threadStartUrl }}">
              {{ icon('topicGoToBeginning') }}
              <span>Przejdź na początek wątku</span>
            </a>
          </li>
          {% if can('update', forum) %}
            <li class="action-link">
              <a href="{{ route('forum.stream', [model.id]) }}" title="Zobacz dziennik zdarzeń">
                {{ icon('topicLog') }}
                <span>Dziennik zdarzeń</span>
              </a>
            </li>

            <li class="action-link">
              <a @click="$refs['update-modal'].open();" href="javascript:" title="Kliknij, aby szybko zmienić tytuł wątku" rel="nofollow">
                {{ icon('topicActionRename') }}
                <span>Zmień tytuł</span>
              </a>
            </li>
          {% endif %}

          {% if can('lock', forum) %}
            <li class="action-link">
              <a @click="lock" href="javascript:" title="Kliknij, aby zablokować wątek" rel="nofollow">
                <vue-icon name="topicActionUnlock" v-if="topic.is_locked"></vue-icon>
                <vue-icon name="topicActionLock" v-else></vue-icon>
                <span v-if="topic.is_locked">Odblokuj wątek</span>
                <span v-else>Zablokuj wątek</span>
              </a>
            </li>
          {% endif %}

          {% if can('move', forum) %}
            <li class="action-link">
              <a @click="$refs['forum-modal'].open();" title="Przenieść ten temat do innej kategorii forum" href="javascript:" rel="nofollow">
                {{ icon('topicActionMove') }}
                <span>Przenieś wątek</span>
              </a>
            </li>
          {% endif %}
        </ul>

        {% if can('move', forum) %}
          <vue-modal ref="forum-modal">
            <template v-slot:title>Czy chcesz przenieść?</template>

            <template v-slot:buttons>
              <button @click="$refs['forum-modal'].close()" type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
              <vue-button @click="move" :disabled="isProcessing" class="btn btn-danger danger">Tak, przenieś</vue-button>
            </template>

            <p>Czy na pewno chcesz przenieść wątek do innej kategorii?</p>

            <p>
              <select v-model="forumId" class="form-control form-control-sm">
                <option v-for="forum in sortedForums" :key="forum.id" :value="forum.id" v-html="forum.name"></option>
              </select>
            </p>

            <p>
              <vue-select name="reason_id" :options="reasons" v-model="reasonId" class="form-control-sm" placeholder="-- wybierz --"></vue-select>
            </p>
          </vue-modal>
        {% endif %}

        {% if can('update', forum) %}
          <vue-modal ref="update-modal">
            <template v-slot:title>Zmień tytuł</template>

            <template v-slot:buttons>
              <button @click="$refs['update-modal'].close()" type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
              <vue-button @click="changeTitle" :disabled="isProcessing" class="btn btn-danger danger">Zmień tytuł</vue-button>
            </template>

            <input type="text" name="title" v-model="topic.title" @keydown.enter="changeTitle" class="form-control">
          </vue-modal>
        {% endif %}
      </div>

      <div class="mb-5">
        {{ globalViewers|raw }}
      </div>
      <div class="mb-5">
        {{ localViewers|raw }}
      </div>
    {% endblock %}
  {% endembed %}

  <script>
    var pagination = {{ posts|json_encode|raw }};
    var topic = {{ topic|json_encode|raw }};
    var poll = {{ poll|json_encode|raw }};
    var forum = {{ forum|json_encode|raw }};
    var allForums = {{ all_forums|json_encode|raw }};
    var reasons = {{ reasons|json_encode|raw }};
    var tags = {{ tags.user|json_encode|raw }};
    var flags = {{ flags|json_encode|raw }};
    var emojis = {{ emojis|json_encode|raw }};
  </script>
{% endblock %}
