{% extends 'forum.base' %}



{% block title %}{{ topic.subject ~ (paginate.currentPage() > 1 ? (' - Strona ' ~ paginate.currentPage())) }}{{ parent() }}{% endblock %}
{% block description %}{{ excerpt(posts[0].text, 100) }}{% endblock %}

{% import 'components.forms' as forms %}
{% import 'components.modals' as modals %}

{% set is_locked = topic.is_locked or forum.is_locked %}

{% block content %}

  {% if topic.locked_at %}
    <p class="alert alert-warning">
      Wątek zablokowany {{ topic.locked_at|format_date }} przez <a class="alert-warning" href="{{ route('profile', [topic.locker.id]) }}">{{ topic.locker.name }}</a>.
    </p>
  {% endif %}

  {% if topic.moved_at %}
    <p class="alert alert-warning">
      Wątek przeniesiony {{ topic.moved_at|format_date }} z
      <a class="alert-link" href="{{ route('forum.category', [topic.prevForum.slug]) }}">{{ topic.prevForum.name }}</a> przez
      <a class="alert-link" href="{{ route('profile', [topic.mover.id]) }}">{{ topic.mover.name }}</a>.
    </p>
  {% endif %}

  {% if errors.first('_token') %}
    <p class="alert alert-danger">
      {{ errors.first('_token') }}
    </p>
  {% endif %}

  <h1 class="mb-0">{{ link_to_route('forum.topic', topic.subject, [forum.slug, topic.id, topic.slug]) }}</h1>

  {% include "forum.partials.top" %}

  <main id="js-post" class="mainbar">


    <div class="row no-gutters mb-3">
      <div class="mr-auto">
        {{ paginate|raw }}
      </div>

      {% if not is_locked or is_writeable %}
        <div class="ml-auto">
          <a href="{{ route('forum.topic.submit', [forum.slug]) }}" class="btn btn-primary btn-sm">Nowy wątek</a>
          <a href="{{ route('forum.post.submit', [forum.slug, topic.id]) }}" class="btn btn-primary btn-sm ml-2">Odpowiedz</a>
        </div>
      {% endif %}
    </div>

    <vue-post
      v-for="post in posts"
      :key="post.id"
      :post="post"
    ></vue-post>

    <div class="row no-gutters mb-3">
      <div class="mr-auto">
        {{ paginate|raw }}
      </div>

      <div class="ml-auto">
        {% if not is_locked or is_writeable %}
          <a href="{{ route('forum.post.submit', [forum.slug, topic.id]) }}" class="btn btn-primary btn-sm float-right ml-3">Odpowiedz</a>
        {% endif %}
      </div>
    </div>

    {% if forumList is defined %}
      <div class="row no-gutters">
        <div class="ml-auto">
          {{ form_select('forum', forumList, forum.slug, {'id': 'sel-forum-list', 'class': 'form-control d-inline w-auto', 'data-url': route('forum.home')}) }}

          <a class="btn" href="javascript:" id="btn-goto">
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    {% endif %}

    {# todo: wyswietlamy tylko gdy mozna pisac w tym watku #}
    <vue-form></vue-form>

    <section class="row no-gutters mt-3">
      {% include 'forum.partials.per_page' with {label: 'Liczba odpowiedzi na stronę', perPage: paginate.perPage()} %}
    </section>

  {#    {% include 'forum.partials.poll' %}#}


    {{ viewers|raw }}

    <vue-notifications position="bottom right" />
  </main>

  {% embed 'forum.partials.sidebar' %}
    {% block side_menu %}
      <div id="js-sidebar" class="box" v-cloak>
        <ul class="side-menu mt-2">
          <li :class="{'on': topic.is_subscribed}" class="btn-subscribe">
            <a @click="subscribe(topic)" href="javascript:">
              <i :class="{'fas': topic.is_subscribed, 'far': !topic.is_subscribed}" class="fa-star fa-fw"></i>

              <span v-if="topic.is_subscribed">Zakończ obserwację</span>
              <span v-else>Obserwuj wątek</span>

              <small v-if="topic.subscribers">(${ topic.subscribers } ${ topic.subscribers | declination(['obserwujący', 'obserwujących', 'obserwujących']) })</small>

            </a>
          </li>

          {% if can('update', forum) %}
            <li>
              <a href="{{ route('forum.stream', [topic.id]) }}" title="Zobacz dziennik zdarzeń">
                <i class="fa fa-chart-pie fa-fw"></i>

                Dziennik zdarzeń
              </a>
            </li>

            <li>
              <a @click="$refs['update-modal'].open()" href="javascript:" title="Kliknij, aby szybko zmienić tytuł wątku">
                <i class="fa fa-pencil-alt fa-fw"></i>

                Zmień tytuł
              </a>
            </li>
          {% endif %}

          {% if can('lock', forum) %}
            <li>
              <a @click="lock" href="javascript:" title="Kliknij, aby zablokować wątek">
                <i :class="{'fa-lock': !topic.is_locked, 'fa-unlock': topic.is_locked}" class="fa fa-lock fa-fw"></i>

                <span v-if="topic.is_locked">Odblokuj wątek</span>
                <span v-else>Zablokuj wątek</span>
              </a>
            </li>
          {% endif %}

          {% if can('move', forum) %}
            <li>
              <a @click="$refs['forum-modal'].open();" title="Przenieść ten temat do innej kategorii forum" href="javascript:">
                <i class="fa fa-arrow-circle-right fa-fw"></i>

                Przenieś wątek
              </a>
            </li>
          {% endif %}
        </ul>

        {% if can('move', forum) %}
          <vue-modal ref="forum-modal">
            <template v-slot:title>Czy chcesz przenieść?</template>

            <template v-slot:buttons>
              <button @click="$refs['forum-modal'].close()" type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
              <vue-button @click.native="move" :disabled="isProcessing" class="btn btn-danger danger">Tak, przenieś</vue-button>
            </template>

            <p>Czy na pewno chcesz przenieść wątek do innej kategorii?</p>

            <p><vue-select name="forum_id" :options="allForums" :value.sync="forumId" class="form-control-sm"></vue-select></p>
            <p><vue-select name="reason_id" :options="reasons" :value.sync="reasonId" class="form-control-sm" placeholder="-- wybierz --"></vue-select></p>
          </vue-modal>
        {% endif %}

        {% if can('update', forum) %}
          <vue-modal ref="update-modal">
            <template v-slot:title>Zmień tytuł</template>

            <template v-slot:buttons>
              <button @click="$refs['update-modal'].close()"  type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
              <vue-button @click.native="changeTitle" :disabled="isProcessing" class="btn btn-danger danger">Zmień tytuł</vue-button>
            </template>

            <input type="text" name="subject" v-model="topic.subject" class="form-control">
          </vue-modal>
        {% endif %}

        {% if can('merge', forum) %}
          <vue-modal ref="merge-modal">
            <template v-slot:title>Czy chcesz połączyć?</template>

            <template v-slot:buttons>
              <button @click="$refs['merge-modal'].close()"  type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
              <vue-button @click.native="merge" :disabled="isProcessing" class="btn btn-danger danger">Tak, połącz</vue-button>
            </template>

            <p>Czy chcesz połaczyć ten post z poprzednim?</p>
          </vue-modal>
        {% endif %}
      </div>
    {% endblock %}



    {% block related %}
      {% if mlt|length > 0 %}
        <section id="box-related" class="box related">
          <h4 class="border-bottom"><i class="far fa-eye fa-fw"></i> Strony pokrewne</h4>

          <div>
            <ul>
              {% for page in mlt %}
                <li>
                  <a href="{{ route('forum.topic', [page.forum.slug, page.id, page.slug]) }}" title="{{ page.subject|raw }}">
                    <strong>{{ page.subject|raw }}</strong>
                    <small>{{ page.last_post_created_at|format_date }}</small>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block body %}
  <script>
    var pagination = {{ posts|json_encode|raw }};
    var topic = {{ topic|json_encode|raw }};
    var forum = {{ forum|json_encode|raw }};
    var allForums = {{ all_forums|json_encode|raw }};
    var reasons = {{ reasons|json_encode|raw }};
  </script>

  {{ parent() }}
{% endblock %}
