{% extends 'forum.base' %}
{% block title %}{{ topic.subject }}{{ parent() }}{% endblock %}

{% import 'components.forms' as forms %}
{% import 'components.modals' as modals %}

{% set is_writeable = can('update', forum) ? true : (not (forum.is_locked or topic.is_locked)) %}

{% block container %}

    <div id="index" class="sidebar">
        {% if lock %}
            <p class="alert alert-warning">
                Wątek zablokowany {{ lock.created_at|format_date }} przez <a href="{{ url(lock.actor.url) }}">{{ lock.actor.displayName }}</a>.
            </p>
        {% endif %}

        <h1>{{ link_to_route('forum.topic', topic.subject, [forum.path, topic.id, topic.path]) }}</h1>

        <nav>
            {{ paginate|raw }}
        </nav>

        {% include "forum.partials.top" %}

        <main id="mainbar">

            <section class="panel panel-wrapper">
                <div class="panel-body">

                    <div id="box-post" class="table-forum">
                        {% if topic.tags.count() %}
                            <div class="box-topic-tags hidden-xs">
                                <ul class="tag-clouds">
                                    {% for tag in topic.tags %}
                                        <li><a href="{{ route('forum.tag', [tag.name|url_encode]) }}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if is_writeable %}
                            <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>
                            <a href="{{ route('forum.topic.submit', [forum.path]) }}" class="btn btn-primary btn-sm pull-right">Nowy wątek</a>
                        {% endif %}

                        <div class="clearfix"></div>

                        {% for post in posts %}
                            {{ include('forum.partials.post', {index: loop.index0}) }}
                        {% endfor %}

                        <div class="post" id="last-post">
                            <div class="col-footer-nav">
                                <nav class="pull-left">
                                    {{ paginate|raw }}
                                </nav>

                                <a id="btn-goto" class="btn pull-right" href="javascript:">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                                {{ form_select('forum', forumList, forum.path, {'class': 'pull-right', 'id': 'sel-forum-list'}) }}
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        {% if is_writeable %}
                            <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>

                            {% if auth_check() %}
                                <a href="javascript:" id="btn-fast-reply" class="btn btn-primary btn-sm pull-right">Szybka odpowiedź</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section>

            {% if auth_check() and is_writeable %}
                {{ form_open({'method': 'POST', 'id': 'submit-form', 'role': 'form', 'url': route('forum.post.submit', [forum.path, topic.id]), 'class': 'form-horizontal'}) }}
                    <section id="box-fast-form" class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation" class="active"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Treść</a></li>
                                        <li role="presentation"><a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Załączniki</a></li>
                                        <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab" data-url="{{ route('forum.preview') }}">Podgląd</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active {{ errors.first('text') ? 'has-error' }}" id="body">
                                            {% include 'components.toolbar' %}
                                            <textarea name="text" class="form-control" cols="60" style="height: 80px" placeholder="Kliknij, aby napisać szybką odpowiedź..." data-paste-url="{{ route('forum.paste') }}" data-prompt-url="{{ route('forum.prompt', [topic.id]) }}" required>{{ input_old('text', text) }}</textarea>

                                            {% if errors.first('text') %}
                                                <span class="help-block">{{ errors.first('text') }}</span>
                                            {% endif %}
                                        </div>

                                        {% include 'forum.partials.attachments' %}
                                        {% include 'forum.partials.preview' %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-sm pull-right" data-submit-state="Wysyłanie...">Wyślij</button>
                                </div>
                            </div>
                        </div>
                    </section>

                    {% if subscribe %}
                        {{ form_hidden('subscribe', true) }}
                    {% endif %}
                {{ form_close() }}
            {% endif %}

            <section class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        Ilość odpowiedzi na stronę
                        <span class="form-inline">
                            <select name="perPage" class="form-control input-sm" data-url="{{ url(request().path()) }}">
                                {% for i in 1..5 %}
                                    <option value="{{ i * 10 }}" {{ paginate.perPage() == i * 10 ? 'selected="selected"' }}>{{ i * 10 }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>
            </section>

            {{ viewers|raw }}
        </main>

        {% embed 'forum.partials.sidebar' %}
            {% block side_menu %}
                <div class="box">
                    <ul class="side-menu" style="margin-top: 5px">
                        {% if auth_check() %}
                            <li class="btn-watch {{ subscribers[user('id')] is defined ? 'on' }}">
                                <a href="{{ route('forum.topic.subscribe', [topic.id]) }}" title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">
                                    <span>
                                        {% if subscribers[user('id')] is not defined %}
                                            Obserwuj wątek
                                        {% else %}
                                            Zakończ obserwację
                                        {% endif %}
                                    </span>

                                    {% if subscribers.count() > 0 %}
                                        <small>({{ declination(subscribers.count(), ['obserwujący', 'obserwujących', 'obserwujących']) }})</small>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}

                        {#<li class="btn-atom">#}
                            {#<a href="#" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>#}
                        {#</li>#}

                        {% if can('update', forum) %}
                            <li id="btn-log"><a href="{{ route('forum.stream', [topic.id]) }}" title="Zobacz dziennik zdarzeń" data-category="forum-sidebar-buttons" data-value="log">Dziennik zdarzeń</a></li>
                            <li id="btn-edit-subject"><a href="javascript:" title="Kliknij, aby szybko zmienić tytuł wątku" data-category="forum-sidebar-buttons" data-value="subject">Zmień tytuł</a></li>
                        {% endif %}

                        {% if can('lock', forum) %}
                            <li id="btn-lock" {{ topic.is_locked ? 'class="on"' }}>
                                <a href="{{ route('forum.lock', [topic.id]) }}" title="Kliknij, aby zablokować wątek" data-category="forum-sidebar-buttons" data-value="lock">
                                    {% if topic.is_locked %}
                                        Odblokuj wątek
                                    {% else %}
                                        Zablokuj wątek
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}

                        {% if can('move', forum) %}
                            <li id="btn-move">
                                <a title="Przenieść ten temat do innej kategorii forum" href="#collapse-sub" data-category="forum-sidebar-buttons" data-value="move" data-toggle="collapse">Przenieś wątek</a>

                                <ul id="collapse-sub" class="collapse">
                                    {% for path, name in forumList %}
                                        {% if path == forum.path %}
                                            <li><a style="color: #ccc">{{ name|raw }}</a></li>
                                        {% else %}
                                            <li><a data-path="{{ path }}" href="javascript:">{{ name|raw }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {#{% if can('sticky', forum) %}#}
                            {#<li id="btn-status"><a title="Zmień status wątku" data-category="forum-sidebar-buttons" data-value="status">Przyklej wątek</a></li>#}
                        {#{% endif %}#}
                    </ul>
                </div>
            {% endblock %}
        {% endembed %}
    </div>

    {% if auth_check() %}
        {{ modals.confirm('Komentarz zostanie usunięty. Czy na pewno chcesz to zrobić?', 'Czy chcesz usunąć?', 'modal-comment-delete') }}

        {{ form_open({'url': '#'}) }}
            <div class="modal fade" id="modal-post-delete" tabindex="-1" role="dialog" aria-labelledby="modal-post-delete" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Czy chcesz usunąć?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Post zostanie usunięty. Czy na pewno chcesz to zrobić?</p>

                            {% if reasonList %}
                                {{ form_select('reason', {0: '-- Wybierz --'} + reasonList, 0, {'class': 'form-control input-sm'}) }}
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-danger danger" data-submit-state="Usuwanie...">Tak, usuń</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_close() }}

        {% if can('move', forum) %}
            {{ form_open({'url': route('forum.move', [topic.id])}) }}
                <div class="modal fade" id="modal-move" tabindex="-1" role="dialog" aria-labelledby="modal-move" aria-hidden="true">
                    {{ form_hidden('path') }}

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Czy chcesz przenieść?</h4>
                            </div>
                            <div class="modal-body">
                                <p>Czy na pewno chcesz przenieść wątek do innej kategorii?</p>
                                {{ form_select('reason', {0: '-- Wybierz --'} + reasonList, 0, {'class': 'form-control input-sm'}) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                <button type="submit" class="btn btn-danger danger" data-submit-state="Przenoszenie...">Tak, przenieś</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_close() }}
        {% endif %}

        {{ modals.alert('Wystąpił błąd podczas działania programu.') }}
    {% endif %}

    {% if can('update', forum) %}
        {{ form_open({'url': route('forum.topic.subject', [topic.id])}) }}
            <div class="modal fade" id="modal-subject" tabindex="-1" role="dialog" aria-labelledby="modal-subject" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Zmień tytuł wątku</h4>
                        </div>
                        <div class="modal-body">
                            {{ form_text('subject', topic.subject, {'class': 'form-control', 'required': 'required'}) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-danger danger" data-submit-state="Wysyłanie...">Zmien tytuł</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_close() }}
    {% endif %}

    {% if can('delete', forum) %}
        {{ modals.confirm('Czy chcesz zamknąć ten raport?', 'Zamknięcie raportu', 'modal-report', 'Tak, zamknij') }}
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if auth_check() %}
        <script type="text/javascript" src="{{ cdn('js/posting.js') }}"></script>
        <script type="text/javascript" src="{{ cdn('js/wikieditor.js') }}"></script>
    {% endif %}

    <script type="text/javascript">
        var uploadUrl = '{{ route('forum.upload') }}';

        $(function () {
            $('.col-bottom a').tooltip({'trigger': 'hover'});
        });
    </script>
{% endblock %}