{% extends 'layout.twig' %}
{% block title %}Forum dyskusyjne{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}

    <div id="index" class="sidebar">
        <h1>{{ topic.subject }}</h1>

        <nav>
            {{ paginate|raw }}
        </nav>

        {% include "forum/_top.twig" %}

        <main id="mainbar">

            <section class="panel panel-wrapper">
                <div class="panel-body">

                    <div id="box-post" class="box-forum">
                        {% if topic.tags %}
                            <div id="box-topic-tags" class="hidden-xs">
                                <ul class="tag-clouds">
                                    {% for tag in topic.tags %}
                                        <li><a href="#">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>
                        <a href="{{ route('forum.topic.submit', [forum.path]) }}" class="btn btn-primary btn-sm pull-right">Nowy wątek</a>

                        <div class="clearfix"></div>

                        {% for post in posts %}
                            {{ include('forum/post.twig', {index: loop.index0}) }}
                        {% endfor %}

                        <div class="post" id="last-post">
                            <div class="col-footer-nav">
                                <nav class="pull-left">
                                    {{ paginate|raw }}
                                </nav>

                                <a class="btn pull-right" href="#">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                                {{ form_select('forum', forumList, forum.path, {'class': 'pull-right'}) }}
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>
                        <a href="#" class="btn btn-primary btn-sm pull-right">Szybka odpowiedź</a>
                    </div>
                </div>
            </section>


            <section id="box-quick-form" class="row">
                <div class="col-xs-12">
                    {{ form_open({'method': 'POST', 'id': 'submit-form', 'role': 'form', 'url': '#', 'class': 'form-horizontal'}) }}
                    <textarea rows="2" cols="60" name="content" class="form-control" placeholder="Kliknij, aby napisać szybką odpowiedź..."></textarea>
                    {{ form_close() }}
                </div>
            </section>

            <section class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        Ilość odpowiedzi na stronę
                        <span class="form-inline">
                            <select name="page" class="form-control"><option value="10" selected="selected">10</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option></select>
                        </span>
                    </div>
                </div>
            </section>

            {{ viewers|raw }}
        </main>

        <aside id="sidebar">

            <div class="box">
                <ul class="side-menu" style="margin-top: 5px">
                    <li class="btn-watch on">
                        <a title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">
                            Obserwuj wątek
                            <small>(1 obserwujący)</small>
                        </a>
                    </li>
                    <li class="btn-atom">
                        <a href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                    </li>

                    <li id="btn-log"><a title="Zobacz dziennik zdarzeń" data-category="forum-sidebar-buttons" data-value="log">Dziennik zdarzeń</a></li>
                    <li id="btn-edit-subject"><a title="Kliknij, aby szybko zmienić tytuł wątku" data-category="forum-sidebar-buttons" data-value="subject">Zmień tytuł</a></li>
                    <li id="btn-lock"><a title="Kliknij, aby zablokować wątek" data-category="forum-sidebar-buttons" data-value="lock">Zablokuj wątek</a></li>
                    <li id="btn-move">
                        <a title="Przenieść ten temat do innej kategorii forum" href="#collapse-sub" data-category="forum-sidebar-buttons" data-value="move" data-toggle="collapse">Przenieś wątek</a>

                        <ul id="collapse-sub" class="collapse">
                            {% for path, name in forumList %}
                                <li><a href="{{ path }}">{{ name|raw }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li id="btn-status"><a title="Zmień status wątku" data-category="forum-sidebar-buttons" data-value="status">Przyklej wątek</a></li>
                </ul>
            </div>

            {% include "forum/sidebar.twig" %}
        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/forum.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="/js/forum.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('.col-bottom a').tooltip();
        });
    </script>
{% endblock %}