{% extends 'layout.twig' %}
{% block title %}Forum dyskusyjne{{ parent() }}{% endblock %}

{% import 'components/forms.twig' as forms %}

{% block container %}

    <div id="index" class="sidebar">
        <h1>{{ topic.subject }}</h1>

        <nav>
            {{ paginate|raw }}
        </nav>

        {% include "forum/_top.twig" %}

        <main id="mainbar">

            <section class="panel panel-wrapper">
                <div class="panel-body">

                    <div id="box-post" class="box-forum">
                        {% if topic.tags %}
                            <div id="box-topic-tags" class="hidden-xs">
                                <ul class="tag-clouds">
                                    {% for tag in topic.tags %}
                                        <li><a href="#">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>
                        <a href="{{ route('forum.topic.submit', [forum.path]) }}" class="btn btn-primary btn-sm pull-right">Nowy wątek</a>

                        <div class="clearfix"></div>

                        {% for post in posts %}
                            {{ include('forum/post.twig', {index: loop.index0}) }}
                        {% endfor %}

                        <div class="post" id="last-post">
                            <div class="col-footer-nav">
                                <nav class="pull-left">
                                    {{ paginate|raw }}
                                </nav>

                                <a class="btn pull-right" href="#">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                                {{ form_select('forum', forumList, forum.path, {'class': 'pull-right'}) }}
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <a href="{{ route('forum.post.submit', [forum.path, topic.id]) }}" class="btn btn-primary btn-sm pull-right" style="margin-left: 15px">Odpowiedz</a>
                        <a href="#" class="btn btn-primary btn-sm pull-right">Szybka odpowiedź</a>
                    </div>
                </div>
            </section>


            <section id="box-quick-form" class="row">
                <div class="col-xs-12">
                    {{ form_open({'method': 'POST', 'id': 'submit-form', 'role': 'form', 'url': '#', 'class': 'form-horizontal'}) }}
                    <textarea rows="2" cols="60" name="content" class="form-control" placeholder="Kliknij, aby napisać szybką odpowiedź..."></textarea>
                    {{ form_close() }}
                </div>
            </section>

            <section class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        Ilość odpowiedzi na stronę
                        <span class="form-inline">
                            <select name="page" class="form-control"><option value="10" selected="selected">10</option><option value="20">20</option><option value="30">30</option><option value="40">40</option><option value="50">50</option></select>
                        </span>
                    </div>
                </div>
            </section>

            {{ viewers|raw }}
        </main>

        <aside id="sidebar">

            <div class="box">
                <ul class="side-menu" style="margin-top: 5px">
                    <li class="btn-watch on">
                        <a title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">
                            Obserwuj wątek
                            <small>(1 obserwujący)</small>
                        </a>
                    </li>
                    <li class="btn-atom">
                        <a href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">Pobierz w formacie Atom</a>
                    </li>

                    <li id="btn-log"><a title="Zobacz dziennik zdarzeń" data-category="forum-sidebar-buttons" data-value="log">Dziennik zdarzeń</a></li>
                    <li id="btn-edit-subject"><a title="Kliknij, aby szybko zmienić tytuł wątku" data-category="forum-sidebar-buttons" data-value="subject">Zmień tytuł</a></li>
                    <li id="btn-lock"><a title="Kliknij, aby zablokować wątek" data-category="forum-sidebar-buttons" data-value="lock">Zablokuj wątek</a></li>
                    <li id="btn-move">
                        <a title="Przenieść ten temat do innej kategorii forum" href="#collapse-sub" data-category="forum-sidebar-buttons" data-value="move" data-toggle="collapse">Przenieś wątek</a>

                        <ul id="collapse-sub" class="collapse">
                            <li title="Przenieś wątek do kategorii 'Newbie'"><a href="#@forum/Newbie">Newbie</a></li>
                            <li title="Przenieś wątek do kategorii 'Delphi i Pascal'"><a href="#@forum/Delphi_Pascal">Delphi i Pascal</a></li>
                            <li title="Przenieś wątek do kategorii 'C/C++'"><a href="#@forum/C_i_C++">C/C++</a></li>
                            <li title="Przenieś wątek do kategorii 'C# i .NET'"><a href="#@forum/C_i_.NET">C# i .NET</a></li>
                            <li title="Przenieś wątek do kategorii 'Java'"><a href="#@forum/Java">Java</a></li>
                            <li title="Przenieś wątek do kategorii 'Python'"><a href="#@forum/Python">Python</a></li>
                            <li title="Przenieś wątek do kategorii 'PHP'"><a href="#@forum/PHP">PHP</a></li>
                            <li title="Przenieś wątek do kategorii 'Webmastering'"><a href="#@forum/Webmastering">Webmastering</a></li>
                            <li title="Przenieś wątek do kategorii 'Inne języki programowania'"><a href="#@forum/Inne">Inne języki programowania</a></li>
                            <li title="Przenieś wątek do kategorii 'Bazy danych'"><a href="#@forum/Bazy_danych">Bazy danych</a></li>
                            <li title="Przenieś wątek do kategorii 'Algorytmy i struktury danych'"><a href="#@forum/Algorytmy">Algorytmy i struktury danych</a></li>
                            <li title="Przenieś wątek do kategorii 'Inżynieria oprogramowania'"><a href="#@forum/Inzynieria_oprogramowania">Inżynieria oprogramowania</a></li>
                            <li title="Przenieś wątek do kategorii 'Nietuzinkowe tematy'"><a href="#@forum/Nietuzinkowe_tematy">Nietuzinkowe tematy</a></li>
                            <li title="Przenieś wątek do kategorii 'Oferty pracy'"><a href="#@forum/Praca">Oferty pracy</a></li>
                            <li title="Przenieś wątek do kategorii 'Edukacja'"><a href="#@forum/Edukacja">Edukacja</a></li>
                            <li title="Przenieś wątek do kategorii 'Kariera'"><a href="#@forum/Kariera">Kariera</a></li>
                            <li title="Przenieś wątek do kategorii 'Szkolenia i konferencje'"><a href="#@forum/Szkolenia_i_konferencje">Szkolenia i konferencje</a></li>
                            <li title="Przenieś wątek do kategorii 'Magazyn Programista'"><a href="#@forum/Magazyn_Programista">Magazyn Programista</a></li>
                            <li title="Przenieś wątek do kategorii 'Off-Topic'"><a href="#@forum/Off-Topic">Off-Topic</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oceny i recenzje'"><a href="#@forum/Off-Topic/Oceny_i_recenzje">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oceny i recenzje</a></li>
                            <li title="Przenieś wątek do kategorii 'Hardware/Software'"><a href="#@forum/Hardware_Software">Hardware/Software</a></li>
                            <li title="Przenieś wątek do kategorii 'Moderatorzy'"><a href="#@forum/Moderatorzy">Moderatorzy</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kapownik'"><a href="#@forum/Moderatorzy/Kapownik">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kapownik</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administracja'"><a href="#@forum/Moderatorzy/Administracja">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administracja</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kartoteka'"><a href="#@forum/Moderatorzy/Kartoteka">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kartoteka</a></li>
                            <li title="Przenieś wątek do kategorii 'Społeczność'"><a href="#@forum/Spolecznosc">Społeczność</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Perełki'"><a href="#@forum/Spolecznosc/Perelki">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Perełki</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projekty Forumowe'"><a href="#@forum/Spolecznosc/Projekty">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projekty Forumowe</a></li>
                            <li title="Przenieś wątek do kategorii 'Flame'"><a href="#@forum/Flame">Flame</a></li>
                            <li title="Przenieś wątek do kategorii 'Ogłoszenia drobne'"><a href="#@forum/Ogłoszenia_drobne">Ogłoszenia drobne</a></li>
                            <li title="Przenieś wątek do kategorii 'Coyote'"><a href="#@forum/Coyote">Coyote</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Test'"><a href="#@forum/Coyote/Test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Test</a></li>
                            <li title="Przenieś wątek do kategorii 'Archiwum'"><a href="#@forum/Archiwum">Archiwum</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yosemite'"><a href="#@forum/Archiwum/Yosemite">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yosemite</a></li>
                            <li title="Przenieś wątek do kategorii '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RoadRunner'"><a href="#@forum/Archiwum/RoadRunner">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RoadRunner</a></li>
                            <li title="Przenieś wątek do kategorii 'Kosz'"><a href="#@forum/Kosz">Kosz</a></li>
                        </ul>
                    </li>

                    <li id="btn-status"><a title="Zmień status wątku" data-category="forum-sidebar-buttons" data-value="status">Przyklej wątek</a></li>
                </ul>
            </div>

            {% include "forum/_sidebar.twig" %}
        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/forum.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="/js/forum.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('.col-bottom a').tooltip();
        });
    </script>
{% endblock %}