{% extends 'adm.base' %}
{% block title %}Użytkownicy :: {{ user.name }} :: {{ parent() }}{% endblock %}

{% block container %}
  {{ activity.chartLibrarySource }}

  <div class="card card-default">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <span>Użytkownik: {{ activity.mention }}</span>
        <span>
          <i class="fas fa-eye fa-fw"></i>
          Podgląd aktywności
        </span>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between">
        <span><b>Utworzenie konta</b>: {{ activity.accountCreatedAt }}</span>
        <span class="text-muted">{{ activity.createdAgo }}</span>
      </li>
    </ul>
  </div>

  <div class="card card-default">
    <div class="card-header">
      Okres
    </div>

    <div class="card-body">
      <div class="btn-group">
        <a href="?" class="btn btn-secondary">
          <i class="far fa-calendar-check"></i>
          Wszystko
        </a>
        <a href="?last=year" type="button" class="btn btn-secondary">
          <i class="far fa-calendar fa-fw"></i>
          Ostatnie 365 dni
        </a>
        <a href="?last=month" type="button" class="btn btn-secondary">
          <i class="fas fa-calendar-alt fa-fw"></i>
          Ostatnie 31 dni
        </a>
        <a href="?last=week" type="button" class="btn btn-secondary">
          <i class="fas fa-calendar-week fa-fw"></i>
          Ostatnie 7 dni
        </a>
        <a href="?last=day" type="button" class="btn btn-secondary">
          <i class="fas fa-calendar-day fa-fw"></i>
          Ostatnie 24h
        </a>
      </div>
    </div>
  </div>

  {% if activity.hasAnyPosts %}
    <div class="d-xl-flex">
      <div class="col-xl-6 px-0">
        <div class="card card-default align-self-start">
          <div class="card-header">
            Ostatnie posty i wątki od {{ activity.mention }}
          </div>
          <ul class="list-group list-group-flush">
            {% for post in activity.posts %}
              <li class="list-group-item post-list-item {{ post.deleted ? 'deleted' : '' }}" style="overflow:visible;">
                <div class="d-flex justify-content-between">
                  <p class="mb-0">
                    {% if post.isThread %}
                      <i class="far fa-comments"></i>
                      <span class="ml-1 badge badge-secondary">Wątek</span>
                    {% else %}
                      <i class="far fa-comment"></i>
                      <span class="ml-1 badge badge-secondary">Post</span>
                    {% endif %}
                    {% if post.deleted %}
                      <span class="ml-1 badge badge-secondary">Usunięty</span>
                    {% endif %}
                    <small class="text-muted ml-1">
                      {{ post.dateString }}
                    </small>
                  </p>
                  <p class="mb-0 text-right">
                    <a href="{{ post.forumUrl }}" class="text-nowrap">
                      {{ post.forumName }}
                    </a>
                  </p>
                </div>
                <a href="{{ post.postUrl }}">
                  <b>{{ post.topicTitle }}</b>
                </a>
                {% if not post.isLong %}
                  <div>
                    <div class="d-inline-block post-content-excerpt mt-1 rounded p-2 post-preview">
                      {{ post.contentHtml }}
                    </div>
                  </div>
                {% else %}
                  <div class="content-parent">
                    <div class="content-preview" style="display:block;">
                      <div class="flex-grow-1 post-content-excerpt rounded p-2 post-preview">
                        {{ post.previewHtml }}
                      </div>
                      <div class="text-right">
                        <button class="btn btn-secondary text-nowrap mt-1 btn-show-preview">
                          <i class="fas fa-eye"></i>
                          Pokaż całość
                        </button>
                      </div>
                    </div>
                    <div class="content-full" style="display:none;">
                      <div class="flex-grow-1 post-content-excerpt rounded p-2 post-preview">
                        {{ post.contentHtml }}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-xl-6 px-0 pl-xl-3">
        <div class="card card-default">
          <div class="card-header">
            Ilość usuniętych postów
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Wszystkich postów: <b>{{ activity.postsStatistic.all }}</b>
            </li>
            <li class="list-group-item">
              Postów usuniętych przez siebie:
              <b> {{ activity.postsStatistic.deletedBySelf }}</b>
              <span class="text-muted">
                {{ activity.postsStatistic.deletedBySelfProportion }}
              </span>
            </li>
            <li class="list-group-item">
              Postów usuniętych przez moderatora:
              <b>{{ activity.postsStatistic.deletedByModerator }}</b>
              <span class="text-muted">
                {{ activity.postsStatistic.deletedByModeratorProportion }}
              </span>
            </li>
          </ul>
        </div>

        <div class="card card-default">
          <div class="card-header">
            Powody usunięć postów
          </div>
          <div class="card-body">
            {% if activity.hasDeleteReasons %}
              {{ activity.deleteReasonsChart }}
              <p class="mb-0 mt-4 text-right">
                Posty usunięte <b>przez siebie</b> nie są brane pod uwagę.
              </p>
            {% else %}
              Żaden post nie został usunięty przez moderatora w zadanym zakresie.
            {% endif %}
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            Posty dodawane w kategoriach
          </div>
          <div class="card-body">
            {{ activity.categoriesChart }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if not activity.hasAnyPosts %}
    <div class="card card-default">
      <div class="card-header">
        Posty użytkownika
      </div>
      <div class="card-body">
        Użytkownik darmozjad nie dodał <b>żadnych</b> postów w podanym zakresie.
      </div>
    </div>
  {% endif %}

  <style>
      small {
          font-size: 0.75em;
      }

      img.img-smile {
          height: 1em;
      }

      .post-content-excerpt p {
          margin: 0;
      }

      .deleted {
          opacity: 0.5;
      }

      .deleted:hover {
          opacity: 0.9;
      }

      body.theme-dark .post-preview {
          background-color: #111111;
          border-color: #333333;
      }

      .post-preview {
          background-color: #eee;
          border: 1px solid #ccc;
      }
  </style>

  <script>
    (function () {
      Array.from(document.querySelectorAll('.btn-show-preview'))
        .forEach(button => {
          button.addEventListener('click', function (event) {
            const button = event.target;

            const contentParent = button.closest('.content-parent');
            contentParent.querySelector('.content-preview').style.display = 'none';
            contentParent.querySelector('.content-full').style.display = 'block';
          });
        })
    })();
  </script>
{% endblock %}
