{% extends 'adm.base' %}
{% block title %}Użytkownicy :: {{ user.name }} :: {{ parent() }}{% endblock %}

{% block container %}
  {{ activity.chartLibrarySource }}

  <div class="card">
    <div class="card-header">
      Użytkownik: {{ navigation.mention }}
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between">
        <span><b>Utworzenie konta</b>: {{ accountCreated.ago }}</span>
        <span class="text-muted">{{ accountCreated.format }}</span>
      </li>
      <li class="list-group-item">
        <a class="btn btn-secondary" href="{{ navigation.profile }}">
          {{ icon('adminUserShowProfile') }}
          Pokaż profil
        </a>
        <a class="btn btn-secondary" href="{{ navigation.stream }}">
          {{ icon('adminUserFindInLog') }}
          Znajdź w dzienniku zdarzeń
        </a>
        <button class="btn btn-secondary" disabled title="Funkcjonalność jeszcze nie jest gotowe">
          {{ icon('adminUserFindFingerprints') }}
          Znajdź fingerprinty
        </button>
      </li>

      <li class="list-group-item">
        <p class="mb-2">Treści użytkownika:</p>
        <a class="btn btn-secondary" href="{{ navigation.posts }}">
          {{ icon('adminUserPosts') }}
          Napisane posty
        </a>
        <a class="btn btn-secondary" href="{{ navigation.microblogs }}">
          {{ icon('adminUserMicroblogs') }}
          Napisane mikroblogi
        </a>
        <a class="btn btn-secondary" href="{{ navigation.comments }}">
          {{ icon('adminUserPostComments') }}
          Napisane komentarze
        </a>
        <a class="btn btn-secondary" href="{{ navigation.receivedFlags }}">
          {{ icon('adminUserReportReceived') }}
          Otrzymane raporty
        </a>
        <button class="btn btn-secondary" disabled title="Przekierowanie jeszcze nie jest gotowe">
          {{ icon('adminUserReportSent') }}
          Wysłane raporty
        </button>
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header">
      {{ icon('adminUserStatistics') }}
      Statystyki użytkownika {{ navigation.mention }}
    </div>
    <div class="card-body">
      <div class="btn-group mb-4">
        <a href="?" class="btn btn-secondary">
          {{ icon('adminUserStatisticsAllTime') }}
          Wszystko
        </a>
        <a href="?last=year" type="button" class="btn btn-secondary">
          {{ icon('adminUserStatisticsLastYear') }}
          Ostatnie 365 dni
        </a>
        <a href="?last=month" type="button" class="btn btn-secondary">
          {{ icon('adminUserStatisticsLastMonth') }}
          Ostatnie 31 dni
        </a>
        <a href="?last=week" type="button" class="btn btn-secondary">
          {{ icon('adminUserStatisticsLastWeek') }}
          Ostatnie 7 dni
        </a>
        <a href="?last=day" type="button" class="btn btn-secondary">
          {{ icon('adminUserStatisticsLastDay') }}
          Ostatnie 24h
        </a>
      </div>

      <div class="d-lg-flex">
        <div class="col-lg-6 px-0">
          <div class="card">
            <div class="card-header">
              Posty dodawane w kategoriach ({{ activity.postsStatistic.all }})
            </div>
            <div class="card-body">
              {% if not activity.categoriesChart.empty %}
                {{ activity.categoriesChart }}
              {% else %}
                Użytkownik nie napisał żadnego postu w zadanym zakresie.
              {% endif %}
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              Głosy otrzymane w kategoriach
            </div>
            <div class="card-body">
              {% if not activity.categoriesChartLikes.empty %}
                {{ activity.categoriesChartLikes }}
              {% else %}
                Użytkownik nie otrzymał żadnego głosu w zadanym zakresie.
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-0 ps-lg-3">
          <div class="card">
            <div class="card-header">
              Usunięte posty
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Postów usuniętych przez siebie:
                <b> {{ activity.postsStatistic.deletedBySelf }}</b>
                <span class="text-muted">
                  {{ activity.postsStatistic.deletedBySelfProportion }}
                </span>
              </li>
              <li class="list-group-item">
                Postów usuniętych przez moderatora:
                <b>{{ activity.postsStatistic.deletedByModerator }}</b>
                <span class="text-muted">
                  {{ activity.postsStatistic.deletedByModeratorProportion }}
                </span>
                {% if not activity.deleteReasonsChart.empty %}
                  <div class="mt-3">
                    {{ activity.deleteReasonsChart }}
                  </div>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="card">
            <div class="card-header">
              Powody zgłoszeń na posty użytkownika
            </div>
            <div class="card-body">
              {% if not activity.reportReasonsChart.empty %}
                <div class="mt-3">
                  {{ activity.reportReasonsChart }}
                </div>
              {% else %}
                Użytkownik nie otrzymał zgłoszeń w zadanym zakresie.
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      {{ icon('adminUserSettings') }}
      Ustawienia użytkownika {{ navigation.mention }}
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          <a class="btn btn-secondary" href="{{ navigation.settings }}">
            {{ icon('adminUserAccountSettings') }}
            Ustawienia konta
          </a>
          <button class="btn btn-secondary" disabled title="Przekierowanie jeszcze nie jest gotowe">
            {{ icon('adminUserGroupSettings') }}
            Dodaj lub usuń z grupy
          </button>
        </div>
      </li>
    </ul>
  </div>

  <a class="btn btn-secondary" href="{{ navigation.users }}">
    Powrót
  </a>
{% endblock %}
