{% extends 'wiki.page' %}

{% block container %}
    <div class="row">
        <div id="blog" class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ include('wiki.partials.dropdown') }}

                    {% for child in children %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ url(child.path) }}">{{ child.title }}</a></h4>

                                <ul class="metadata list-inline">
                                    <li title="Data opublikowania" class="date" itemprop="datePublished" content="{{ child.created_at|iso_8601 }}">
                                        <i class="far fa-calendar-alt"></i>
                                        {{ child.created_at }}
                                    </li>
                                    <li class="comment">
                                        <a href="{{ url(child.path) }}#box-comment" title="Zobacz komentarze" itemprop="interactionCount" value="UserComments:{{ child.comments }}">
                                            <i class="fas fa-comments"></i>
                                            {{ declination(child.comments|length, ['komentarz', 'komentarze', 'komentarzy']) }}
                                        </a>
                                    </li>
                                    <li class="counter" itemprop="interactionCount" value="UserPageVisits:{{ child.views }}">
                                        <i class="far fa-eye"></i>
                                        {{ declination(child.views, ['odsłona', 'odsłony', 'odsłon']) }}
                                    </li>
                                </ul>

                                <div class="blog-text">{{ child.text|raw }}</div>
                            </div>
                        </div>
                    {% endfor %}

                    <nav class="text-center">
                        {{ children|raw }}
                    </nav>
                </div>
            </div>
        </div>

        <aside id="blog-sidebar" class="col-sm-3">
            <h4>Blog 4programmers.net</h4>

            <a href="{{ url('Kontakt') }}" class="btn btn-primary">Kontakt z nami</a>

            {{ render_block('blog_sidebar') }}
        </aside>
    </div>
{% endblock %}
