{% extends 'wiki.page' %}

{% import 'components/forms.twig' as forms %}

{% block container %}
    <div class="box">
        <ul class="nav nav-panel">
            <li role="presentation" class="active"><a href="{{ url(wiki.path) }}"><i class="fa fa-paragraph"></i></a></li>

            {% if can('wiki-admin') or not wiki.is_locked %}
                <li role="presentation">
                    <a href="{{ route('wiki.submit', [wiki.id]) }}" title="Kliknij, aby edytować ten artykuł">
                        Edycja
                        {% if wiki.is_locked %}
                            (strona zablokowana)
                        {% endif %}
                    </a>
                </li>
            {% endif %}

            <li role="presentation"><a href="{{ route('wiki.submit') }}?pathId={{ wiki.path_id }}" title="Dodaj nową stronę w tej kategorii">Napisz nowy artykuł w tym dziale</a></li>
            <li role="presentation">
                {% set labels = ['Usuń z ulubionych', 'Dodaj do ulubionych'] %}
                <a href="{{ route('wiki.subscribe', [wiki.id]) }}" class="btn-subscribe {{ subscribed ? 'on' }}" data-off="{{ labels[0] }}" data-on="{{ labels[1] }}" title="Obserwując tę stronę będziesz otrzymywał powiadomienia o jej zmianach"><span>{{ labels[not subscribed] }}</span></a>
            </li>

            <li role="presentation"><a href="#">Historia i autorzy</a></li>
        </ul>

        <div class="panel panel-default">
            <div class="panel-body">
                <article>
                    <header>
                        <h1>{{ wiki.title }}</h1>
                    </header>

                    {{ wiki.text|raw }}
                </article>
            </div>
        </div>

        <div id="catalog">
            <div id="interface">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default active"><i class="fa fa-th-large"></i> Kafelki</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-th-list"></i> Lista</button>
                </div>

                <div class="pull-right" style="width: 5px; height: 40px; background-color: #fafafa"></div>
            </div>

            <div class="clearfix"></div>

            <div class="panel panel-transparent">
                <div class="panel-body">

                    {% if folders|length > 0 %}
                        <div id="folder" class="panel">
                            <div class="panel-body">
                                <ol class="list-group">
                                    {% for wiki in folders %}
                                        <li class="list-group-item col-sm-4">
                                            <a href="{{ url(wiki.path) }}">{{ wiki.title }} (<em>{{ wiki.children }}</em>)</a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    {% endif %}

                    <div class="text-center">
                        {{ children.links()|raw }}
                    </div>

                    <div class="row">
                        {% for child in children %}
                            <div class="col-md-6">
                                <div class="panel panel-default panel-catalog">
                                    <div class="panel-body">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="{{ route('profile', [child.user_id]) }}" title="Autor: {{ child.user_name }}">
                                                    <img class="media-object img-thumbnail" src="{{ user_photo(child.photo) }}" style="max-width: 45px;" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="{{ url(child.path) }}">{{ child.title }}</a></h4>

                                                <ul class="list-inline">
                                                    <li class="date" title="{{ child.created_at|format_date(false) }}">{{ child.created_at|format_date }}</li>
                                                    <li class="comments">{{ declination(wiki.comments|length, ['komentarz', 'komentarzy', 'komentarzy']) }}</li>
                                                    <li class="views">164 odsłony</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="text-center">
                        {{ children.links()|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}