{% extends 'wiki.base' %}
{% block title %}
    Historia zmian strony {{ wiki.title }}{{ parent() }}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-10">
            <div class="box">
                <h4><i class="far fa-calendar-o"></i> Ostatnie zmiany w {{ wiki.title }}</h4>
            </div>

            <div class="card card-default">
                <div class="card-body wiki-log">
                    {{ grid(grid) }}
                </div>
            </div>

            {% if diff %}
                <div class="box">
                    <h4><i class="far fa-calendar-o"></i> Różnica wersji</h4>
                </div>

                <pre><code id="diff"></code></pre>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if diff %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
      <script src="https://raw.githubusercontent.com/arnab/jQuery.PrettyTextDiff/master/jquery.pretty-text-diff.min.js" crossorigin="anonymous" type="application/json"></script>


        <script>
            var diff = {{ diff|json_encode|raw }};

            $(function() {
                $('body').prettyTextDiff({
                    originalContent: diff['after'],
                    changedContent: diff['before'],
                    diffContainer: '#diff'
                });
            });
        </script>
    {% endif %}
{% endblock %}
