{% extends 'wiki.page' %}

{% import 'components.modals' as modals %}

{% block container %}
    <div class="row">
        <div class="col-sm-9">
            {% if wiki.deleted_at %}
                <div class="alert alert-danger">
                    <strong>Uwaga!</strong> Ta strona została usunięta. Możesz ją przywrócić jeżeli chcesz, aby była widoczna dla innych użytkowników.
                </div>
            {% endif %}

            <div class="panel panel-default" style="margin-top: 13px">
                <div class="panel-heading">
                    <h2 class="box-header">
                        {% for parent in parents %}
                            <a title="{{ parent.long_title|default(parent.title) }}" href="{{ url(parent.path) }}">{{ parent.title }}</a>

                            {% if not loop.last %}
                                <span class="hidden-xs">»</span>
                            {% endif %}
                        {% endfor %}
                    </h2>
                </div>

                <div class="panel-body">
                    <article itemscope itemtype="http://schema.org/Article">
                        <header>
                            <h1 itemprop="name"><a href="{{ url(wiki.path) }}">{{ wiki.title }}</a></h1>
                            <h5>{{ link_to_profile(author) }}</h5>

                            <ul class="metadata list-inline">
                                <li title="Data opublikowania" class="date" itemprop="datePublished" content="{{ wiki.created_at|iso_8601 }}">
                                    <i class="fa fa-calendar"></i>
                                    {{ wiki.created_at }}
                                </li>
                                <li title="Data ostatniej zmiany" class="edit-date" itemprop="dateModified" content="{{ wiki.updated_at|iso_8601 }}">
                                    <i class="fa fa-calendar-o"></i>
                                    {{ wiki.updated_at }}
                                </li>
                                <li class="comment">
                                    <a href="#comments" title="Zobacz komentarze" itemprop="interactionCount" value="UserComments:0">
                                        <i class="fa fa-comments"></i>
                                        0 komentarzy
                                    </a>
                                </li>
                                <li class="counter" itemprop="interactionCount" value="UserPageVisits:3166">
                                    <i class="fa fa-eye"></i>
                                    3166 odsłon
                                </li>
                            </ul>
                        </header>

                        {% if wiki.excerpt %}
                            <p><strong>{{ wiki.excerpt }}</strong></p>
                        {% endif %}

                        <div itemprop="articleBody">
                            {{ wiki.text|raw }}
                        </div>
                    </article>
                </div>
            </div>

            <div id="box-comment">
                <h4>0 komentarzy</h4>

                <div class="row">
                    <div class="col-sm-1 hidden-xs">
                        <a href="#">
                            <img src="/img/shalom.png" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-sm-11">
                        <div class="panel panel-transparent">
                            <div class="panel-body comment">
                                {{ form_open() }}

                                <div class="form-group">
                                    <textarea name="content" class="form-control" placeholder="Kliknij, aby dodać nowy komentarz" required></textarea>
                                    {#<span class="help-block">Formatowanie Markdown jest włączone</span>#}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-primary pull-right">Dodaj komentarz</button>
                                    <div class="clearfix"></div>
                                </div>

                                {{ form_close() }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1 hidden-xs">
                        <a href="#">
                            <img src="/img/shalom.png" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-sm-11">
                        <div class="panel panel-transparent">
                            <div class="panel-body comment">
                                <ul class="list-inline">
                                    <li>
                                        <a data-user-id="71123" href="#">Shalom</a>
                                    </li>
                                    <li>
                                        <a href="#" class="timestamp" data-timestamp="1442898090">dzisiaj, 07:01</a>
                                    </li>
                                </ul>

                                <p>
                                    Augue rhoncus sociis proin, rhoncus augue mus nec? Et arcu, et rhoncus, lundium proin magna habitasse. Duis dis adipiscing odio urna eros nunc porta. Lacus porta est non! Et cursus, nunc placerat? Nisi non, phasellus sociis. Lundium arcu lundium a, pellentesque adipiscing nisi tincidunt vut dolor placerat aliquam phasellus est tristique. Rhoncus, massa, lacus amet nec odio in amet sit elementum ac lacus? Adipiscing montes ac, pellentesque!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <aside class="col-sm-3">
            {% if not wiki.deleted_at %}
                <section id="box-maintain">
                    <a href="{{ route('wiki.submit', [wiki.id]) }}" class="btn btn-sm btn-default" title="Kliknij, aby edytować ten artykuł">Edycja</a>
                    <a href="{{ route('wiki.submit') }}?pathId={{ wiki.path_id }}" class="btn btn-sm btn-primary" title="Dodaj nową stronę w tej kategorii">Nowa strona</a>
                </section>
            {% endif %}

            <ul class="side-menu">
                <li class="btn-watch">
                    <a href="javascript:">Dodaj do ulubionych</a>
                </li>
                <li class="btn-history">
                    <a href="javascript:">Historia i autorzy</a>
                </li>

                {% if can('wiki-admin') %}
                    {% if not wiki.deleted_at %}
                        <li class="btn-delete">
                            <a href="#modal-delete" data-toggle="modal">Usuń artykuł</a>
                        </li>
                        <li class="btn-purge">
                            <a href="javascript:">Usuń cache</a>
                        </li>
                    {% else %}
                        <li class="btn-restore">
                            <a href="#modal-restore" data-toggle="modal">Przywróć usuniętą wersję</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            {% if author.bio %}
                <section id="box-author" class="box">
                    <h4 class="border"><i class="fa fa-male fa-fw"></i> O autorze</h4>

                    <div class="media">
                        <div class="media-left">
                            <a href="{{ route('profile', [author.id]) }}">
                                <img class="media-object img-thumbnail" src="{{ user_photo(author.photo) }}" style="width: 65px; height: 65px;" alt="{{ author.name }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <blockquote>
                                {{ author.bio }}
                            </blockquote>
                        </div>
                    </div>
                </section>
            {% endif %}

            <section id="box-authors" class="box">
                <h4 class="border"><i class="fa fa-users fa-fw"></i> Stronę współtworzą</h4>

                <ul>
                    <li>
                        <a title="Udział w procesie tworzenia strony: 57.8603716%" href="#" data-user-id="1">
                            <small>57,86%</small>

                            <img src="/img/avatar.png" width="24" height="24">

                            Adam Boduch
                        </a>
                    </li>
                    <li>
                        <a title="Udział w procesie tworzenia strony: 41.9889502%" href="#" data-user-id="9688">
                            <small>41,99%</small>

                            <img src="/img/avatar.png" width="24" height="24">

                            rk7771
                        </a>
                    </li>
                    <li>
                        <a title="Udział w procesie tworzenia strony: 0.150678%" href="#" data-user-id="43956">
                            <small>0,15%</small>

                            <img src="/img/shalom.png" width="24" height="24">

                            TomRiddle
                        </a>
                    </li>
                </ul>
            </section>
            <div class="clearfix"></div>

            <section id="box-related" class="box related">
                <h4 class="border"><i class="fa fa-eye fa-fw"></i> Zobacz też</h4>

                <ul>
                    <li>
                        <a data-category="related" href="http://4programmers.net/Delphi/Artykuły/IntraWeb_jako_ISAPI" title="IntraWeb jako ISAPI">
                            <strong>IntraWeb jako ISAPI</strong>
                            <small>09 listopad 2003, 15:06</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://forum.4programmers.net/Delphi_Pascal/123350-MYSQL_i_IntraWEB" title="MYSQL i IntraWEB">
                            <strong>MYSQL i IntraWEB</strong>
                            <small>14 marzec 2008, 16:16</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://forum.4programmers.net/Delphi_Pascal/37891-IntraWeb" title="intraWeb">
                            <strong>intraWeb</strong>
                            <small>15 kwiecień 2003, 17:01</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://forum.4programmers.net/Delphi_Pascal/88732-Przekazywanie_danych_przez_zmianne_w_IntraWeb" title="przekazywanie danych przez zmianne w IntraWeb">
                            <strong>przekazywanie danych przez zmianne w IntraWeb</strong>
                            <small>26 lipiec 2009, 20:41</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://4programmers.net/Delphi/NET/Aplikacje_sieciowe" title="Aplikacje sieciowe">
                            <strong>Aplikacje sieciowe</strong>
                            <small>22 styczeń 2006, 11:18</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://forum.4programmers.net/Delphi_Pascal/90548-Polaczenie_ssl_w_IntraWeb" title="połączenie ssl w IntraWeb">
                            <strong>połączenie ssl w IntraWeb</strong>
                            <small>06 maj 2006, 01:09</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://forum.4programmers.net/Delphi_Pascal/119257-IntraWeb_czy_PHP" title="IntraWeb czy PHP?">
                            <strong>IntraWeb czy PHP?</strong>
                            <small>05 wrzesień 2010, 19:33</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://forum.4programmers.net/Delphi_Pascal/60941-Isapi_+_serwer_IntraWeb" title="Isapi + serwer IntraWeb">
                            <strong>Isapi + serwer IntraWeb</strong>
                            <small>12 listopad 2004, 17:53</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://forum.4programmers.net/Delphi_Pascal/32905-Delphi_w_html" title="Delphi w html">
                            <strong>Delphi w html</strong>
                            <small>26 lipiec 2009, 20:20</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="related" href="http://4programmers.net/Delphi/Kompendium/Rozdział_18" title="Rozdział 18. Delphi a Internet">
                            <strong>Rozdział 18. Delphi a Internet</strong>
                            <small>30 wrzesień 2013, 09:05</small>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="clearfix"></div>

            <section class="related box">
                <h4 class="border"><i class="fa fa-thumb-tack fa-fw"></i> Strony powiązane</h4>

                <ul>
                    <li>
                        <a data-category="linked" href="http://4programmers.net/Delphi">
                            <strong>Programowanie w języku Delphi</strong>
                            <small>26 wrzesień 2013, 23:17</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="linked" href="http://4programmers.net/Delphi/Kompendium">
                            <strong>Delphi 7. Kompendium programisty</strong>
                            <small>10 maj 2011, 19:24</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="linked" href="http://4programmers.net/Delphi/Interface">
                            <strong>Interface</strong>
                            <small>08 kwiecień 2006, 11:45</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="linked" href="http://4programmers.net/Delphi/Program">
                            <strong>Program</strong>
                            <small>28 styczeń 2006, 14:20</small>
                        </a>
                    </li>
                    <li>
                        <a data-category="linked" href="http://4programmers.net/Delphi/Library">
                            <strong>Library</strong>
                            <small>09 sierpień 2006, 09:53</small>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
    </div>

    {% if can('wiki-admin') %}
        {{ form_open({url: route('wiki.delete', [wiki.id])}) }}
        {{ modals.confirm('Czy chcesz usunąć ten artykuł?', 'Usuń artykuł', 'modal-delete') }}
        {{ form_close() }}

        {{ form_open({url: route('wiki.restore', [wiki.id])}) }}
        {{ modals.confirm('Czy chcesz przywrócić ten artykuł? Będzie on wówczas dostępny dla innych użytkowników.', 'Przywróć artykuł', 'modal-restore', 'Tak, przywróć') }}
        {{ form_close() }}
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <script src="{{ cdn('js/modal.js') }}"></script>
{% endblock %}