{% extends 'wiki.base' %}
{% block title %}
    {% spaceless %}
        {% if wiki.id is not null %}
            Edycja strony {{ wiki.title }}
        {% else %}
            Dodaj nową stronę
        {% endif %}

        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-9">
            {% if not wiki.id and user('reputation') < 1 %}
                <p class="alert alert-danger">
                    <strong>Uwaga!</strong> Zamierzasz dodac nową stronę w serwisie 4programmers.net.<br>
                    Potrzebujesz minimum <a title="Zobacz, czym jest reputacja" href="{{ url('Pomoc/Moje_konto/Reputacja') }}" style="text-decoration: underline">1 punktu reputacji</a>, aby dodac nową stronę w serwisie.
                    <br><br>

                    Być może najpierw mógłbyć pomóc w rozwoju już istniejących stron?
                </p>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    Zarządzanie stroną
                </div>
                <div class="panel-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="{{ cdn('js/posting.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/wikieditor.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/tab.js') }}"></script>

    <script>
        $(function() {
            $('textarea[name="text"]').wikiEditor().fastSubmit().autogrow();

            $('.nav').find('a[href="#preview"]').click(function() {
                $.post('{{ route('wiki.preview') }}', {text: $('textarea[name="text"]').val()}, function(html) {
                    $('#preview').html(html);
                });
            });
        })
    </script>
{% endblock %}