{% extends 'wiki.base' %}
{% block title %}
    {% spaceless %}
        {% if wiki.id is not null %}
            Edycja strony {{ wiki.title }}
        {% else %}
            Dodaj nową stronę
        {% endif %}

        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Zarządzenie stroną
                </div>
                <div class="panel-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <script type="text/javascript" src="{{ cdn('js/posting.js') }}"></script>
    <script type="text/javascript" src="{{ cdn('js/wikieditor.js') }}"></script>
{% endblock %}