<div id="comment-{{ comment.id }}" data-comment-id="{{ comment.id }}" {{ comment.deleted_at ? 'class="deleted"' }} {{ post.comments|length > 6 and loop.index0 < (post.comments|length - 5) ? 'style="display: none"' }}>
    {{ comment.text|raw }} -

    {{ creator_badge(link_to_profile(comment.user_id, comment.name, comment.is_active, comment.is_blocked), comment.user_id == author_id) }}
    <a href="#comment-{{ comment.id }}" class="timestamp small" data-timestamp="{{ comment.created_at|timestamp }}" title="{{ comment.created_at|format_date(false) }}">{{ comment.created_at|format_date }}</a>

    {% if is_writeable %}
        {% if can('update', comment, forum) %}
            <a href="{{ route('forum.comment.save', [comment.id]) }}" title="Edytuj ten komentarz" class="btn-comment-edit">
                <i class="fas fa-pencil-alt"></i>
            </a>
        {% endif %}

        {% if can('delete', comment, forum) %}
            <a href="{{ route('forum.comment.delete', [comment.id]) }}" title="Usuń ten komentarz" class="btn-comment-del">
                <i class="fas fa-times"></i>
            </a>
        {% endif %}
    {% endif %}
</div>
