{% spaceless %}
    {{ form_start(form) }}
    {{ form_hidden('human', 1) }}

    {% for attachment in form.attachments.children %}
        {{ form_widget(attachment.get('id')) }}
    {% endfor %}

    {% for tag in form.tags.children %}
        {{ form_widget(tag) }}
    {% endfor %}

    {{ form_widget(form.user_name, {type: 'hidden'}) }}
    {{ form_widget(form.subject, {type: 'hidden'}) }}
    {{ form_widget(form.subscribe, {type: 'hidden'}) }}
    {{ form_widget(form.is_sticky, {type: 'hidden'}) }}
    {{ form_widget(form.text, {attr: {rows: 3, tabindex: 1}}) }}
    {{ form_widget(form.submit, {attr: {title: 'Kliknij, aby wysłać (Ctrl+Enter)', class: 'btn-sm float-right', tabindex: 2}}) }}

    <button class="btn btn-sm btn-danger float-right btn-reset margin-sm-right">Anuluj</button>
    {{ form_end() }}
{% endspaceless %}
