{% spaceless %}
    {{ form_start(form) }}
    {{ form_hidden('human', 1) }}

    {% for attachment in form.attachments.children %}
        {{ form_widget(attachment.get('id')) }}
    {% endfor %}

    {% for tag in form.tags.children %}
        {{ form_widget(tag) }}
    {% endfor %}

    {{ form_widget(form.subject, {type: 'hidden'}) }}
    {{ form_widget(form.subscribe, {type: 'hidden'}) }}
    {{ form_widget(form.text, {attr: {rows: 3}}) }}
    {{ form_widget(form.submit, {attr: {title: 'Kliknij, aby wysłać (Ctrl+Enter)', class: 'btn-xs pull-right'}}) }}

    <button class="btn btn-xs btn-danger pull-right btn-reset" style="margin-right: 10px">Anuluj</button>
    {{ form_end() }}
{% endspaceless %}
