<div role="tabpanel" class="tab-pane" id="preview">

    <section class="card card-wrapper">
        <div class="card-body">

            <div class="table-forum margin-xs-top">

                <div class="post">
                    <div class="post-body">
                        <div class="row">
                            <div class="col-2 col-user">
                                <h5 class="online" title="Użytkownik jest online">
                                    {% if auth_check() %}
                                        {{ link_to_profile(user('id'), user('name'), true, false) }}
                                    {% else %}
                                        Anonim
                                    {% endif %}
                                </h5>
                            </div>

                            <div class="col-10 col-time">
                                <a title="Link do tego postu" class="post-link" href="javascript:"></a>

                                <span class="timestamp" title="{{ 'now'|format_date(false) }}">{{ 'now'|format_date }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 col-user hidden-xss">
                                {% if auth_check() %}
                                    <div class="avatar">
                                        <img class="img-fluid" src="{{ user_photo(user('photo')) }}" {{ not user('photo') ? 'style="max-width: 75px"' }}>
                                    </div>

                                    <p class="hidden-xs">
                                        <strong>Rejestracja:</strong>
                                        <small>{{ user('created_at')|format_date }}</small>
                                    </p>
                                    <p class="hidden-xs">
                                        <strong>Ostatnio:</strong>
                                        <small>{{ 'now'|format_date }}</small>
                                    </p>

                                    {% if user('location') %}
                                        <p class="hidden-xs">
                                            <strong>Lokalizacja:</strong>
                                            <small>{{ user('location') }}</small>
                                        </p>
                                    {% endif %}

                                    {% if user('allow_count') %}
                                        <p class="hidden-xs">
                                            <strong>Postów:</strong>
                                            <small>{{ user('posts')|number_format }}</small>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-10 col-body">
                                <div class="post-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
