

<section class="card card-wrapper">
    <div class="card-body">
        <h2 class="float-left">{{ name }}</h2>

        <a class="float-right toggle {{ not collapse[forums[0].id] ? 'in' }}" data-toggle="collapse" href="#{{ forums[0].id }}" aria-expanded="true">
            <i class="far fa-minus-square"></i>
            <i class="far fa-plus-square"></i>
        </a>

        <div class="clearfix"></div>

        <div class="table-forum collapse {{ not collapse[forums[0].id] ? 'in' }}" id="{{ forums[0].id }}">
            <table>
                <tbody>
                {% for forum in forums %}
                    <tr id="forum-{{ forum.id }}">
                        <td class="col-icon hidden-xxs">
                            {% if forum.is_locked %}
                                <span class="ico lock" title="Forum zablokowane"></span>
                            {% elseif forum.forum_unread %}
                                <a href="{{ route('forum.category.mark', [forum.slug]) }}"
                                   class="ico {{ forum.is_locked ? 'lock' }} {{ forum.forum_unread ? 'new' }}"
                                   title="{{ forum.is_locked ? 'Forum zablokowane' : 'Kliknij, aby oznaczyć jako przeczytane' }}"></a>
                            {% else %}
                                <span class="ico normal" title="Brak nowych postów"></span>
                            {% endif %}
                        </td>
                        <td class="col-forum-description">
                            <h3><a title="{{ forum.name }}" data-category="Forum-Name" href="{{ route('forum.category', [forum.slug]) }}">{{ forum.name }}</a></h3>

                            <p class="hidden-xs">{{ forum.description }}</p>

                            {% if not forum.url %}
                                <ul class="list-stats list-inline d-block d-sm-none">
                                    <li class="list-inline-item">Wątków: <strong>{{ forum.topics|number_format(0, ',', ' ') }}</strong></li>
                                    <li class="list-inline-item">Postów: <strong>{{ forum.posts|number_format(0, ',', ' ') }}</strong></li>
                                </ul>
                            {% endif %}

                            {% if forum.children %}
                                <ul class="list-sub list-unstyled">
                                    {% for child in forum.children %}
                                        <li {{ child.forum_unread ? 'class="sub-unread"' }}>
                                            <a href="{{ route('forum.category', [child.slug]) }}">{{ child.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td class="col-stats hidden-sm hidden-xs">
                            {% if not forum.url %}
                                <p title="Liczba wątków"><strong>{{ forum.topics|number_format(0, ',', ' ') }}</strong> <small>{{ declination(forum.topics, ['wątek', 'wątki', 'wątków'], true) }}</small></p>
                                <p title="Liczba postów"><strong>{{ forum.posts|number_format(0, ',', ' ') }}</strong> <small>{{ declination(forum.posts, ['post', 'posty', 'postów'], true) }}</small></p>
                            {% endif %}
                        </td>
                        <td class="col-avatar hidden-md hidden-sm hidden-xs">
                            {% if not forum.url and forum.last_post_id %}
                                {% if forum.user_id %}
                                    <a href="{{ route('profile', [forum.user_id]) }}">
                                        <img class="img-thumbnail" src="{{ user_photo(forum.photo) }}">
                                    </a>
                                {% else %}
                                    <img class="img-thumbnail" src="{{ cdn('img/avatar.png') }}">
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="col-post-preview">
                            {% if forum.url %}
                                <p class="text-center">Liczba przekierowań: {{ forum.redirects }}</p>
                            {% elseif forum.last_post_id %}
                                <p>
                                    <a rel="nofollow" title="Przejdź do pierwszego nieczytanego postu" class="btn-view {{ forum.topic_unread  ? 'unread' }}" href="{{ forum.route }}?view=unread"></a>

                                    <a title="{{ forum.subject }}" href="{{ forum.route }}?p={{ forum.last_post_id }}#id{{ forum.last_post_id }}">{{ forum.subject }}</a>
                                </p>
                                <p>
                                    <span class="timestamp" data-timestamp="{{ forum.created_at|timestamp }}" title="{{ forum.created_at|format_date(false) }}">{{ forum.created_at|format_date }},</span>

                                    {% if forum.user_id %}
                                        {{ link_to_profile(forum.user_id, forum.user_name, forum.is_active, forum.is_blocked) }}
                                    {% else %}
                                        {{ forum.anonymous_name }}
                                    {% endif %}
                                </p>
                            {% else %}
                                <p class="text-center">--</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    import Select from "../../../assets/js/components/forms/select";
    export default {
        components: {Select}
    }
</script>
