{{ post.text|raw }}

{% if post.attachments|length > 0 %}
    <ul class="list-unstyled list-attachments">
        {% for attachment in post.attachments %}
            <li>
                <i class="fas fa-download"></i>

                <a href="{{ route('forum.download', [attachment.id]) }}">{{ attachment.name }}</a>
                <small>({{ (attachment.size / 1024 / 1024)|round(2) }} MB) - <em>ściągnięć: {{ attachment.count }}</em></small>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if post.sig %}
    <hr>
    <footer>{{ post.sig|raw }}</footer>
{% endif %}
