<ul id="sort" class="d-none d-sm-block mt-2">
  <li>{{ sortable('last', 'Ostatni post', ['last', 'desc']) }}</li>
  <li>{{ sortable('id', 'Data utworzenia', ['last', 'desc']) }}</li>
  <li>{{ sortable('replies', 'Odpowiedzi', ['last', 'desc']) }}</li>
  <li>{{ sortable('views', 'Wyświetleń', ['last', 'desc']) }}</li>
  <li>{{ sortable('score', 'Głosów', ['last', 'desc']) }}</li>
</ul>

{% if forum is defined and not forum.is_locked %}
  <a href="{{ route('forum.topic.submit', [forum.slug]) }}" class="btn btn-primary btn-sm float-end mt-1 mb-3 neon-primary-button">
    Nowy wątek
  </a>
{% endif %}

<div class="clearfix"></div>

<div v-for="topics in groups" class="card card-topics neon-collapsable-section">
  <vue-topic
      v-for="topic in topics"
      :key="topic.id"
      :topic="topic"
      :highlight="containsUserTags(topic)"
      :posts-per-page="postsPerPage"
      :show-category-name="showCategoryName"
  ></vue-topic>
</div>

<div class="d-flex mb-3">
  <div class="me-auto">
    {{ topics.render()|raw }}
  </div>

  {% if forumList is defined %}
    <div class="ms-auto">
      {{ form_select('forum', forumList, forum.slug, {'id': 'js-forum-list', 'class': 'form-control d-inline w-auto'}) }}

      <a class="btn" href="javascript:" id="js-reload" rel="nofollow">
        {{ icon('forumChangeCategory') }}
      </a>
    </div>
  {% endif %}
</div>

{% if topics.count() > 10 and forum is defined and not forum.is_locked %}
  <a href="{{ route('forum.topic.submit', [forum.slug]) }}" class="btn btn-primary btn-sm float-end neon-primary-button">
    Nowy wątek
  </a>
  <div class="clearfix"></div>
{% endif %}
