<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Invoice</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      * {
        font-family: "DejaVuSans", sans-serif;
      }

      body {
        background: #fff;
        background-image: none;
        font-size: 12px;
        width: 100%;
      }

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
      }

      .container {
        padding-top: 30px;
      }

      .invoice-head td {
        padding: 0 8px;
      }

      .table th {
        vertical-align: bottom;
        font-weight: bold;
        padding: 8px;
        line-height: 20px;
        border: 1px solid #dddddd;
        background-color: #f8f8f8;
      }

      .table td {
        padding: 8px;
        line-height: 20px;
        vertical-align: top;
        border: 1px solid #dddddd;
      }

      .table td.empty-cell {
        /*border-left: none;*/
        /*border-right: none;*/
        /*border-bottom: none;*/
        border: none;
      }

      img {
        width: 300px;
      }

      .row-1 {
        border-bottom: 1px solid #ddd;
        padding-bottom: 30px;
        margin-bottom: 30px;
        width: 50%;
      }

      .row-2 {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 50%;
      }

      .padding-sm {
        padding: 2px 10px 2px 0;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <table style="margin-left: auto; margin-right: auto" width="700">
        <tr>
          <td class="row-1">
            <br><br>
            <h3>Invoice / Faktura: {{ invoice.number }}</h3><br>

            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="padding-sm">Invoice issue date / Data wystawienia:</td>
                <td class="padding-sm">{{ invoice.created_at|date('Y-m-d') }}</td>
              </tr>
              <tr>
                <td class="padding-sm">Purchase date / Data sprzedaży</td>
                <td class="padding-sm">{{ invoice.created_at|date('Y-m-d') }}</td>
              </tr>
            </table>
          </td>

          <td class="row-1">
            <img src="{{ url('img/logo-about.png') }}">
          </td>
        </tr>
        <tr>
          <td class="left row-2">
            <h3>Seller / Sprzedawca</h3><br>

            <strong>{{ vendor.name }}</strong><br>
            {{ vendor.address }}<br>
            {{ vendor.postal_code }} {{ vendor.city }}<br>
            {{ vendor.country }}<br>
            VAT ID / NIP: {{ vendor.vat_id }}
          </td>

          <!-- Organization Name / Image -->
          <td class="left row-2">
            <h3>Buyer / Nabywca</h3><br>

            <strong>{{ invoice.name }}</strong><br>
            {{ invoice.address }}<br>
            {{ invoice.postal_code }} {{ invoice.city }}<br>

            {% set reverse_charge = invoice.vat_id and invoice.country.vat_rate == 1 %}

            {% if invoice.vat_id %}
              VAT ID / NIP: {{ reverse_charge ? invoice.country.code : ''  }}{{ invoice.vat_id }}
            {% endif %}
          </td>
        </tr>
        <tr valign="top" style="margin-top: 40px">
          <td colspan="2">
            <!-- Invoice Table -->
            <table width="100%" class="table" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <th class="left">Description / Opis</th>
                <th class="right">Quantity / Ilość</th>
                <th class="right">Unit price / Cena jedn.</th>

                {% if not reverse_charge %}
                  <th class="right">VAT rate / Stawka VAT</th>
                  <th class="right">VAT amount / Wartość VAT</th>
                  <th class="right">Gross amount / Wartość brutto</th>
                {% endif %}
              </tr>

              <!-- Display The Invoice Items -->
              {% for item in invoice.items %}
                <tr>
                  <td class="left">{{ item.description }}</td>
                  <td class="right">1</td>
                  <td class="right">{{ item.price }} {{ currency }}</td>

                  {% if not reverse_charge %}
                    <td class="right">{{ (item.vat_rate * 100) - 100 }}%</td>
                    <td class="right">{{ item.gross_price - item.price }} {{ currency }}</td>
                    <td class="right">{{ item.gross_price }} {{ currency }}</td>
                  {% endif %}
                </tr>
              {% endfor %}

              <!-- Display The Final Total -->
              <tr style="border-top:2px solid #000;">
                <td class="empty-cell">&nbsp;</td>

                {% if not reverse_charge  %}
                  <td class="empty-cell">&nbsp;</td>
                  <td class="empty-cell">&nbsp;</td>
                  <td class="empty-cell">&nbsp;</td>
                {% endif %}

                <td class="right"><strong>Total / Razem</strong></td>
                <td class="right"><strong>{{ invoice.gross_price }} {{ currency }}</strong></td>
              </tr>

              <tr style="border-top:2px solid #000;">
                <td class="empty-cell">&nbsp;</td>

                {% if not reverse_charge  %}
                  <td class="empty-cell">&nbsp;</td>
                  <td class="empty-cell">&nbsp;</td>
                  <td class="empty-cell">&nbsp;</td>
                {% endif %}

                <td class="right"><strong>Paid amount / Zapłacono</strong></td>
                <td class="right"><strong>{{ invoice.gross_price }} {{ currency }}</strong></td>
              </tr>

              <tr style="border-top:2px solid #000;">
                <td class="empty-cell">&nbsp;</td>

                {% if not reverse_charge  %}
                  <td class="empty-cell">&nbsp;</td>
                  <td class="empty-cell">&nbsp;</td>
                  <td class="empty-cell">&nbsp;</td>
                {% endif %}

                <td class="right"><strong>Balance Due / Do zapłaty</strong></td>
                <td class="right"><strong>0 {{ currency }}</strong></td>
              </tr>

              {% if reverse_charge %}
                <tr>
                  <td class="pt-4" style="font-size: 14px; font-style: italic;" colspan="3">Do rozliczenia podatku VAT zobowiązany jest nabywca usługi (odwrotne obciążenie)</td>
                </tr>
              {% endif %}
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
