{% for job in jobs %}
  <div class="media text-truncate">
    <a class="media-link" href="{{ route('job.offer', [job.id, job.slug]) }}" title="{{ job.title ~ (job.firm ? " @ #{job.firm.name}" ) }}">
      <div class="me-2 i-45 d-none d-xl-inline-block">
        {% if job.firm.hasLogo %}
          <img src="{{ logo(job.firm.logo) }}" alt="{{ job.firm.name }}">
        {% else %}
          <div class="neon-placeholder h-100 d-flex justify-content-center align-items-center">
            {{ icon('jobOfferMissingLogo') }}
          </div>
        {% endif %}
      </div>

      <div class="media-body">
        <h5 class="mb-1">{{ job.title|raw }}</h5>

        <p>
          <span class="employer">{{ job.firm.name }}</span>

          <small class="text-muted">
            {% include 'job.partials.location' with {
              locations: job.locations,
              linkable: false
            } %}
          </small>
        </p>

        <p>
          {% if job.salary_from or job.salary_to %}
            {% include 'job.partials.salary' %}
          {% endif %}
        </p>

        {% if job.tags %}
          <ul class="tag-clouds tag-clouds-xs">
            {% for tag in job.tags[0:3] %}
              <li><span class="{{ tag in inverse_tags ? 'inverse' }}">{{ tag }}</span></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}
