{% macro confirm(message, title='Czy chcesz kontynuować?', id='confirm', okLabel='Tak, usuń') %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    {{ message|raw }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-danger danger">{{ okLabel }}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro alert(message, title='Błąd', id='alert') %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="alert-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    {{ message|raw }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
