{% include 'legacyComponents.forms' %}

<div id="wiki-toolbar" class="row">
  <div class="col-12">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-sm btn-secondary" data-open="**" data-close="**" title="Pogrubienie">
        {{ icon('wikiEditorActionBold') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary" data-open="*" data-close="*" title="Kursywa">
        {{ icon('wikiEditorActionItalics') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary" data-open='<u>' data-close="</u>" title="Przekreślenie">
        {{ icon('wikiEditorActionUnderline') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary" data-open="`" data-close="`" title="Instrukcja kodu">
        {{ icon('wikiEditorActionInlineCode') }}
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm btn-secondary" data-open="<br>" data-close="## " title="Nagłówek h2">
        {{ icon('wikiEditorActionHeading') }}
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm btn-secondary" data-open="<br>" data-close="*" title="Wypunktowanie">
        {{ icon('wikiEditorActionListUnordered') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary" data-open="<br>" data-close="1. " title="Numerowanie">
        {{ icon('wikiEditorActionListOrdered') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary" data-open="![title" data-close="](http://)" title="Obraz">
        {{ icon('wikiEditorActionImage') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary" data-open="[" data-close="](http://)" title="Link">
        {{ icon('wikiEditorActionAnchor') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary" data-open="<br>Nagłówek 1 | Nagłówek 2<br>---------------- | -------------------<br>Kolumna1 | Kolumna 2<br>" data-close="" title="Tabela">
        {{ icon('wikiEditorActionTable') }}
      </button>
      <button type="button" class="btn btn-sm btn-secondary btn-quote" title="Wstaw cytat">
        {{ icon('wikiEditorActionQuote') }}
      </button>
      <div id="select-menu" class="btn-group">
        <button type="button" class="btn btn-sm btn-secondary" data-open="```<br>" data-close="<br>```" title="Kod źródłowy">
          {{ icon('wikiEditorActionCodeBlock') }}
        </button>
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu select-menu">
          <div class="select-menu-search dropdown-item">
            {{ form_text('q', '', {class: 'form-control form-control-sm', placeholder: 'Filtruj...', autocomplete: 'off'}) }}
          </div>
          <div class="select-menu-wrapper dropdown-item">
            <ul class="list-unstyled"></ul>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-secondary float-end" data-bs-toggle="collapse" data-bs-target="#wiki-help" aria-expanded="false" aria-controls="wiki-help">
      {{ icon('wikiEditorHelp') }}
    </button>
  </div>
</div>

<div id="wiki-help" class="row collapse">
  <div class="col-12">
    <div class="card card-info">
      <div class="card-header">Pomoc</div>
      <div class="card-body">
        <h2>Pogrubienie, kursywa...</h2>

        <p>
          Możesz używać pogrubienia czy kursywy, aby usprawnić czytelność tekstu: <code>**to jest pogrubienie**</code>,
          a to <code>*kursywa*</code>.
        </p>

        <h2>Kod źródłowy</h2>

        <p>Wszelkie jednolinijkowe instrukcje języka programowania (fragmenty kodu) powinny być zawarte pomiędzy obrócone
          apostrofy
          lub podwójny cudzysłów, czyli: <code>`kod instrukcji języka programowania`</code>.</p>

        <p><code>```</code> umożliwia kolorowanie większych fragmentów kodu. Możemy nadać nazwę języka
          programowania,
          aby system użył konkretnych ustawień kolorowania składnii:
          <br/><br/>
          <code>
            ```javascript<br/>
            &nbsp;&nbsp;document.write('Hello World');<br/>
            ```<br/>
          </code></p>

        <h2>Nagłówki</h2>

        <p>
          <code>## Nagłówek 2</code><br/>
          <code>### Nagłówek 3</code><br/>
          <code>#### Nagłówek 4</code>
        </p>

        <h2>Wypunktowanie i numerowanie</h2>

        <p>Możliwe jest tworzenie listy numerowanych oraz wypunktowanych. Wystarczy, że pierwszym znakiem linii będzie
          <code>*</code> lub <code>1. </code></p>

        <p>
          <code>1. Lista numerowana</code><br/>
          <code>2. Lista numerowana</code><br/>
        </p>
        <p></p>
        <p>
          <code>* Lista wypunktowana</code><br/>
          <code>* Lista wypunktowana</code><br/>
          <code>** Lista wypunktowana (drugi poziom)</code><br/>
        </p>

        <h2>Linki</h2>

        <p>URL umieszczony w tekście zostanie przez system automatycznie wykryty i zamieniony na znacznik <code>
            &lt;a&gt;</code>.<br/>
          Jeżeli chcesz, możesz samodzielnie sformatować link: <code>&lt;a href="http://4programmers.net">kliknij tutaj&lt;/a&gt;</code>
        </p>

        <p>Możesz umieścić odnośnik do wewnętrznej podstrony, używając następującej składnii: <code>[[Delphi/Kompendium]]</code>
          lub <code>[[Delphi/Kompendium|kliknij, aby przejść do kompendium]]</code></p>

        <h2>Znaczniki HTML</h2>

        <p>Dozwolone jest używanie podstawowych znaczników HTML: &lt;a&gt;, &lt;b&gt;, &lt;i&gt;, &lt;del&gt;, &lt;strong&gt;,
          &lt;tt&gt;, &lt;dfn&gt;, &lt;ins&gt;, &lt;pre&gt;, &lt;blockquote&gt;, &lt;hr&gt;, &lt;sub&gt;, &lt;sup&gt;, &lt;img&gt;</p>

        <h2>Indeks górny oraz dolny</h2>

        <p>Przykład: wpisując <code>m&lt;sub&gt;2&lt;/sub&gt;,, i m&lt;sup&gt;2&lt;/sup&gt;</code> otrzymasz: m<sub>2</sub> i m<sup>2</sup>.</p>

        <h2>Składnia Tex</h2>

        <p><code>&lt;tex&gt;arcctg(x) = argtan(\frac{1}{x}) = arcsin(\frac{1}{\sqrt{1+x^2}})&lt;/tex&gt;</code></p>
      </div>
    </div>
  </div>
</div>
